.previewVideo,
.previewImg {
    height: 25vh;
}

.customVideo video{
    width: 100%;
    max-height: 400px;
}

.customTable {
    padding-top: 2%;
}

.customButton {
    margin-left: 16%;
    margin-bottom: 6%;
}
.picImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mp0 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media (max-width: 575px) {
    .picImg {
        width: 50%;
        height: 150px;
    }
}

@media (max-width: 360px) {
    .picImg {
        width: 50%;
        height: 120px;
    }
}