<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Your Orders</h2>
            </div>

        </div>
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added From</label>
                    <div class="rounded-0 p-0 border-top shadow-none">
                        <input class="form-control formfocusStyle"
                            type="text" id="fromDate" name="fromDate" placeholder="YYYY/MM/DD">
                    </div>
                </div>

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added To</label>
                    <div class="rounded-0 p-0 border-top shadow-none">
                        <input class="form-control formfocusStyle"
                            type="text" id="toDate" name="toDate" placeholder="YYYY/MM/DD"   >

                    </div>
                </div>

                <button (click)="applyFilter()" type="button"
                    class="bg-purple text-white px-5 py-2 h-100 mt-2 border-0 ">Apply</button>


            </div>
        </div>
        <div class="row my-3" >
            <div class="col-md-5 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select   name="page_size"
                        class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">                       
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <!-- <option *ngFor="let count of this.pageCounts" value="{{count}}">{{count}}</option> -->

                    </select>
                </div>
            </div>
            <div class="col-md-7 justify-content-end d-flex flex-row flex-wrap">
                <button type='button' 
                    class="bg-paret-green text-white border-0 px-3 py-1 mr-2 mt-2"><i class="fa fa-file-excel-o mr-2"
                        aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive" >
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 1 </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="courseTitle">
                        <mat-header-cell *matHeaderCellDef> Course Title </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            ZatchUp ID
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateBought">
                        <mat-header-cell *matHeaderCellDef> Date Bought </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="color-lightBlue">
                            Name
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="boughtBy">
                        <mat-header-cell *matHeaderCellDef> Bought By </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            School ID
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="downloadInvoice">
                        <mat-header-cell *matHeaderCellDef>Download Invoice </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            <button type="button" 
                                class="bg-paret-green rounded text-white border-0 py-1 px-2 commonFontSize mediumFont letterspacing">
                                <i class="fa fa-download mr-1 text-white" aria-hidden="true"></i> Download</button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
            <div class="row" >
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">Records not found.</p>
                </div>
            </div>
            <pagination-controls
                class="eiPaginationTag"></pagination-controls>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                <p style="color: white">Please Wait. </p>
            </ngx-spinner>
        </div>
    </div>
