<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>
</div>
<div class="container landingPageWidth">
    <div class="row landingDiv">
        <div class="col-12 ">
            <h4 class="commonFontSize semiBoldFont text-center mb-4">Project Details</h4>
            <!-- <div class="story-1"> -->

            <div class="story-1 p-1 mb-3">

                <div class="card form-control-inputDiv border-0 bg-white mb-5">
                    <div class="card-header bg-white ">
                        <div class="row align-items-center ">
                            <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0">
                                <img src="assets/images/userWebsite/study_student.png" class="img-fluid border-0 rounded-circle ">
                            </div>
                            <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10  col-8">
                                <h4 class="commonFontSize semiBoldFont">Simmi Sharma</h4>
                            </div>
                            <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 text-right">
                                <img src="assets/images/userWebsite/menu.png" class="img-fluid border-0 w-25 "></div>

                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-12">
                            <h4 class="commonFontSize semiBoldFont pl-3">Title of the Project</h4>
                        </div>

                    </div>
                    <img class=" img-fluid border-radius img-container" src="assets/images/userWebsite/loreal.jpg" alt="Card image">
                    <div class="card-body">
                        <p class="commonFontSize regularFont">Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
                        <p class="commonFontSize semiBoldFont">Funding Required : <span class=" color-purple">&#8377;
                                3,00,000</span></p>
                        <p class="commonFontSize semiBoldFont">Funding Collected : <span class="color-purple">&#8377;
                                1,00,000</span></p>
                        <p class="commonFontSize semiBoldFont">Funding Required to Start : <span class="color-purple">&#8377; 1,00,000</span></p>
                        <p class="commonFontSize regularFont">Reviewed by : <span class="semiBoldFont">Ashish
                                Gupta</span>(CA)</p>
                        <div class="fundRequired row pl-3 mb-3">
                            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8 form-control-inputDiv">
                                <input type="text" name="fund" class="form-control-input form-control form-control-sm" placeholder="Enter Amount">
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4 text-right">
                                <button type="button" class="common-btn  btn-green fund-btn">Fund</button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-4">
                                <span class="badge commonFontSize lightFont color-purple">30</span>
                                <img src="assets/images/userWebsite/like-active-icon.png" class="img-fluid border-0 w-25">

                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-4 pr-0">
                                <span class="badge commonFontSize lightFont">665</span>
                                <img src="assets/images/userWebsite/message-icon.png" class="img-fluid border-0 w-25">

                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-4 pr-0">
                                <span class="badge commonFontSize lightFont">Share</span>
                                <img src="assets/images/userWebsite/share-icon.png" class="img-fluid border-0 w-25">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-1 p-0">
                        <img src="assets/images/userWebsite/highest_level_education_image.png" class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11  col-11">
                        <h5 class="m-0 labelTextLandingPage semiBoldFont">Raushel </h5>
                        <p class="mb-1 commonFontSize regularFont">Lorem IpsuRaushel m is simply dummy text of the printing and type setting 10- industry. </p>
                        <p class="text-right m-0"><a href="#" class=" color-purple text-decoration-none commonFontSize mediumFont">Reply</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-1 p-0">
                        <img src="assets/images/userWebsite/study_student.png" class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11  col-11">
                        <h5 class="m-0 labelTextLandingPage semiBoldFont">Nikhil </h5>
                        <p class="mb-1 commonFontSize regularFont"> Lorem Ipsum is simply dummy text of the printing & type is setting industry. </p>
                        <p class="text-right m-0"><a href="#" class="commonFontSize mediumFont   color-purple text-decoration-none">Reply</a></p>
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <a href="#" class="textUnderlineStyle color-purple commonFontSize mediumFont ml-3">Read
                            More...</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control form-control-textarea form-control-input commonFontSize regularFont" rows="2" placeholder="Write here ... "></textarea>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

<app-user-footer></app-user-footer>