<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Create Group Chat</h2>
            </div>
            <!-- <div class="col-md-7 col-12 d-flex justify-content-end"> 
                <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="search" placeholder="Search Teacher">
                </div>
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 ">Apply</button>
                <button type="button" class="bg-yellow text-white px-3  h-100 ml-2 border-0"><i class="fa fa-cog" aria-hidden="true"></i></button>
            </div> -->
        </div>

        <div class="bg-light-gray px-3 pt-3 pb-4 mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="commonFontSize semiBoldFont m-0">Add Teacher</h3>
                    <div class="form-control-inputDiv rounded p-0 shadow-none mt-2 position-relative">
                        <input [(ngModel)]="modelteacher.search" (keyup)="getTeacherList('')" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing pl-5" type="search" placeholder="Search Teacher">
                        <span class="position-absolute position-ppin"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                    <h3 class="commonFontSize semiBoldFont mt-2">Add Teacher List</h3>

                    <div class="teacherChatList bg-white border rounded">
                        <div class="row align-items-center border-bottom" *ngFor="let teacher of teacherList; ">
                            <div class="col-lg-2 col-md-2 col-2 text-center">
                                <img src="{{teacher.profile_pic?teacher.profile_pic:'./assets/images/userWebsite/profile-image.png'}}" alt="profile-pick" class="pickSize"/>
                            </div>
                            <div class="col-lg-8 col-md-8 col-8 pt-1 pb-1">
                                <h4 class="m-0 semiBoldFont color-black">{{teacher.first_name}} {{teacher.last_name}}</h4>
                                <p class="small-text-2 m-0">Employee ID: {{teacher.employee_num}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 text-center">
                                <button type="button" class="btn bg-paret-green color-white px-1 py-0 rounded small-text-2">Add</button>
                            </div>
                        </div>

                        
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                 
                  
                   
                    <h3 class="commonFontSize semiBoldFont m-0">Add Student List</h3>

                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="form-control-inputDiv rounded p-0 shadow-none mt-2 position-relative">
                            <input (keyup)="getGetVerifiedStudent('','')" [(ngModel)]="model.search" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing pl-5" type="search" placeholder="Search Student">
                            <span class="position-absolute position-ppin"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <h4 class="commonFontSize semiBoldFont mt-2">Select Class</h4>


                        <div class="form-group row mb-1 ">
                            <!-- <div class="col-md-6 ">
                                <mat-checkbox [required]="!model.ismoduleaccessclass" [disabled]="model.ismoduleaccessclass" (change)="changeAddClass($event,'allstudent')"
                                    name="Student" [(ngModel)]="model.ismoduleaccessstudent" class="addStudent-check mediumFont commonFontSize letterspacing ">All Students</mat-checkbox>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.Student"></div>
                            </div> -->
                            <div class="col-md-6 ">
                                <mat-checkbox [required]="!model.ismoduleaccessstudent" [disabled]="model.ismoduleaccessstudent" [(ngModel)]="model.ismoduleaccessclass"
                                    name="Class" (change)="changeAddClass($event,'addclass')" class="addStudent-check mediumFont commonFontSize letterspacing ">Add Class</mat-checkbox>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.Class"></div>
                            </div>


                        </div>
                        <div *ngIf="model.ismoduleaccessclass" class="d-flex flex-wrap align-items-end">

                            <div class="widthFull mr-3 mt-3 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                                <mat-checkbox *ngFor="let course of courseListModuleAccess" (change)="displayStandardListModuleAccess(course.id);" required value="{{course.id}}" [(ngModel)]="model.course"  name="course" class="addStudent-check mediumFont commonFontSize letterspacing ">{{course.course_name}}</mat-checkbox>
                                <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                                    <!-- <select (change)="displayStandardListModuleAccess(model.course);getGetVerifiedStudent('', '');" id="course_id" [(ngModel)]="model.course"
                                        name="course" required class="custom-select  form-control-input" required>
                                        <option value=""> Select Course</option>
                                        <option value="{{course.id}}" *ngFor="let course of courseListModuleAccess">{{course.course_name}}
                                        </option>

                                    </select> -->
                                    
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.course">
                                </div>
                            </div>
                            <div class="widthFull mr-3 mt-3 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                                <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                                    <mat-checkbox *ngFor="let standard of standardListModuleAccess[course.id]" (change)="displayClassListModuleAccess(model.standard);" required value="{{standard.id}}" [(ngModel)]="model.standard"  name="standard" class="addStudent-check mediumFont commonFontSize letterspacing ">{{standard.standard_name}}</mat-checkbox>
                                    <!-- <select (change)="displayClassListModuleAccess(model.standard);getGetVerifiedStudent('', '');" id="standard_id" [(ngModel)]="model.standard"
                                        name="standard" required class="custom-select  form-control-input" required>
                                        <option value=""> Select Standard</option>
                                        <option value="{{standard.id}}" *ngFor="let standard of standardListModuleAccess[model.course]">
                                            {{standard.standard_name}}</option>

                                    </select> -->
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.standard">
                                </div>
                            </div>
                            <div class="widthFull mr-3 mt-3 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                                <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                                    <mat-checkbox *ngFor="let class of classListModuleAccess[standard.id]" (change)="displayClassListModuleAccess(standard.id);"  id="class_id" [(ngModel)]="model.teaching_class" name="class" required class="addStudent-check mediumFont commonFontSize letterspacing ">{{class.class_name}}</mat-checkbox>
                                    <!-- <select (change)=" getGetVerifiedStudent('', '');" id="class_id" [(ngModel)]="model.teaching_class" name="class" required
                                        class="custom-select  form-control-input" required>
                                        <option value=""> Select Class</option>
                                        <option value="{{class.id}}" *ngFor="let class of classListModuleAccess[model.standard]">{{class.class_name}}</option>

                                    </select> -->
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.class">
                                </div>
                            </div>





                        </div>
                   
                      
                     

                        
                        <!-- <div class="tableDiv mt-3">
                            <div class="mat-elevation-z1 table-responsive" *ngIf="studentList.length>0">
                                <mat-table #table [dataSource]="dataSource | paginate: config">

                                    
                                    <ng-container matColumnDef="checked">
                                        <mat-header-cell *matHeaderCellDef>

                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-checkbox [disabled]="!model.teaching_class" (change)="getStudentBycheckboxClickForStudentBulkAction(element.student_id,$event)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="SNo">
                                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ZatchUpID">
                                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.zatchupID}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="color-lightBlue">
                                            {{element.name}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="userID">
                                        <mat-header-cell *matHeaderCellDef> School ID </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.userID}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="roll_no">
                                        <mat-header-cell *matHeaderCellDef> Roll No </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.roll_no}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Gender">
                                        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                                        <mat-cell *matCellDef="let element ">
                                            {{getGender(element)}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Age">
                                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                                        <mat-cell *matCellDef="let element "> {{element.age}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="class">
                                        <mat-header-cell *matHeaderCellDef> Class Alias </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{element.alias_class}}
                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                                </mat-table>

                            </div>
                            <div class="row" *ngIf="studentList.length==0 && model.teaching_class">
                                <div class="col-12 pt-2 pb-2">
                                    <p class="text-center dataNotFound pt-4 pb-4">Records not found.</p>
                                </div>
                            </div>
                            <pagination-controls *ngIf="studentList.length>0" (pageChange)="getGetVerifiedStudent($event,'')" class="eiPaginationTag"></pagination-controls>
                            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                                <p style="color: white">Please Wait. </p>
                            </ngx-spinner>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn bg-paret-green color-white px-4 mt-3 rounded-0">Create</button>
        </div>
    </div>

</div>