.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .teacherChatList {
      height: 220px;
      overflow-x: hidden;
      overflow-y: scroll;
  }
  .groupChatList {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
  }
  .studentbulkTable th, tr, td {
    padding: 8px;
    border: 0px solid #dee2e6 !important;
  }
  .position-ppin{
    top: 9px;
    left: 10px;
    font-size: 18px;
    color: #666;
}
  @media (max-width: 767px){
    .teacherChatList {
        height: 300px;
        overflow-x: auto;
        overflow-y: scroll;
    }
  }