<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="AlumniProf-div bg-white border border-gray px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12">
                <h2 class="commonFontSize semiBoldFont m-0">Active Advertisements Details</h2>
            </div>
            <!-- <div class="col-md-6 SearchDiv d-flex flex-row">
                <button type="button" class="bg-yellow text-white px-4 h-100 ml-2 border-0 ">Onboarding Conversation Comments</button>
                <button type="button" class="bg-blue text-white px-4 h-100 ml-2 border-0 ">History</button>
            </div> -->
        </div>

        <div class="border-0 mx-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Advertisement ID</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Advertisement Title</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Advertisement Type</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Uploaded Image/Vedeo</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Caption</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Creation Date</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Activation Date</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Number of Clicks Bought</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Number of Clicks Expired</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Age Group</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Locations</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Targeted Profession</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Added By</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Approved By</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Advertiser Details</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p> </p>
                        </div>

                        <div class="col-12 small-text-2 ml-2">
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Name </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> EI ZatchUp ID </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> User's ZatchUp ID </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Customer Details (Billing Details)</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p> </p>
                        </div>

                        <div class="col-12 small-text-2 ml-2">
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Name of the Client </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Email id </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Phone Number </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> GST Number </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Address </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Payment Details</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p> </p>
                        </div>

                        <div class="col-12 small-text-2 ml-2">
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Advertising Cost Gross  </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Coupon Applied </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Advertising Cost Net </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Payment Method </p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Audience</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p>
                                <span class="mr-3">:</span> 
                                <span class="textUnderlineStyle color-blue"> View </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="AlumniProf-div bg-white border border-gray px-3 py-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12">
                <h2 class="commonFontSize semiBoldFont m-0">Audience Summary</h2>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="commonFontSize semiBoldFont m-0 text-center pt-2 pb-2">Age Wise</h3>
                        <div class="pie-color-row d-flex justify-content-center align-self-center small-text-2">
                            <div class="mr-1"><span class="pie-grid mr-1 bg-red"></span> <span>10-20%</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-blue"></span> <span>10-25</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-yellow"></span> <span>And So</span></div>
                        </div>

                        <div class="pie-circle mt-2 mb-2">
                            <div class="bg-red pie-age1"></div>
                            <div class="bg-blue pie-age1"></div>
                            <div class="bg-yellow pie-age1"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="commonFontSize semiBoldFont m-0 text-center pt-2 pb-2">Locations Wise</h3>
                        <div class="pie-color-row d-flex justify-content-center align-self-center small-text-2">
                            <div class="mr-1"><span class="pie-grid mr-1 bg-red"></span> <span>City 1</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-blue"></span> <span>City 2</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-yellow"></span> <span>City 3</span></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="commonFontSize semiBoldFont m-0 text-center pt-2 pb-2">Profession Wise/Current Education</h3>
                        <div class="pie-color-row d-flex justify-content-center align-self-center small-text-2">
                            <div class="mr-1"><span class="pie-grid mr-1 bg-red"></span> <span>Audience 1</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-blue"></span> <span>Audience 2</span></div>
                            <div class="mr-1"><span class="pie-grid mr-1 bg-yellow"></span> <span>Audience 3</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>