<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid kycVerificationleftImage mt-5 mb-5 pb-5 pt-5"
                src="assets/images/userWebsite/kyc_verification_leftimage.png">
        </div>
        <div class="col-md-4 pl-0 pr-5 mobilePR">
            <div class="form-group row mt-5 mb-5 pb-5 pt-5 mobilePTB">
                <div class="col-sm-12 form-control-inputDiv">
                    <div class="text-center pr-5 mt-3 pl-5 mb-4 mobilePLR">
                        <h2 class="mb-4 semiBoldFont">Congratulations! </h2>
                        <p class="regularFont" *ngIf="params.check_school_info_on_zatchup==1">Your school is Onboarded on ZatchUp (Onboarded). </p>
                        <p class="regularFont" *ngIf="params.check_school_info_on_zatchup==2">Your School is in ZatchUp DataBase (Non - Onboarded including Pending Approval). </p>
                        <!-- <p class="regularFont">Congratulations for e-connecting with your educational institute.</p> -->
                    </div>
                </div>

                <button type="submit" class="btn common-btn regularFont mt-4 mr-2" (click)="goToUserAddEiPage()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->