<div class="container-fluid">
    <div class="row px-5 py-5 align-items-center">
        <div class="col-md-8 order-2 text-center">
            <img class="img-fluid left-Image" src="assets/images/userWebsite/kyc_verification_leftimage.png">
        </div>
        <div class="col-md-4 order-1 order-sm-6">
            <div class="form-group row">
                <div class="col-sm-12 form-control-inputDiv">
                    <div class="text-center py-4 px-5">
                        <h2 class="mb-4 semiBoldFont">Welcome to ZatchUp </h2>
                        <p class="regularFont">{{studentsConfirmation.message}}. </p>
                        <p class="regularFont">If this is you, please press Continue, If this is not you, please click not me.</p>
                        <button (click)="continue()" type="submit" class="btn btn-green text-white regularFont mt-4 mr-2">Continue</button>
                        <button (click)="notMe()" type="submit" class="btn btn-red-outline regularFont mt-4">Not Me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 

