.left-Image {
    width: 80%;
}
@media (max-width: 414px){    

    .pl-5, .px-5 {
        padding-left: .5rem!important;
    }
    .pr-5, .px-5 {
        padding-right: .5rem!important;
    } 
    .left-Image {
        width: 100%;
    }
}