<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid kycVerificationleftImage mt-5 mb-5 pb-5 pt-5"
                src="assets/images/userWebsite/kyc_verification_leftimage.png">
        </div>
        <div class="col-md-4 pl-0 pr-5 mobilePR">
            <div class="form-group row mt-5 mb-5 pb-5 pt-5 mobilePTB">
                <div class="col-sm-12 form-control-inputDiv">
                    <div class="text-center pr-5 mt-3 pl-5 mb-3 mobilePLR">
                        <h2 class="mb-4 semiBoldFont">Welcome to ZatchUp </h2>
                        <p class="regularFont">{{studentsConfirmation.name_of_school}} has registered you as their student as <span class="mediumFont">{{studentsConfirmation.first_name}} {{studentsConfirmation.last_name}}</span> studying in {{studentsConfirmation.class_name}}.</p>
                        <p class="regularFont">If this is you, please press confirm, If this is not you, please click not me and sign up as <span class="mediumFont">New user</span></p>
                        <button (click)="continue()" type="submit" class="btn common-btn btn-green regularFont mt-4 mr-2"
                        >Continue</button>
                        <button (click)="notMe()" type="submit" class="btn common-btn btn-red-outline regularFont mt-4">Not Me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 

