<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subadmin-Access-div bg-white border border-gray px-3 py-3 mb-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont mb-0">Sub Admin</h2>
            </div>
        </div>

        <div class="bg-extra-light-gray mt-3">
            <h3 class="commonFontSize semiBoldFont mb-0 border-bottom px-3 py-1">Add Subadmin</h3>
            <form id="addstudent" class="p-3">
                <div class="form-group mt-1 ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> User's Unique ZatchUp ID </label>
                    <div class="form-control-inputDiv rounded p-0  shadow-none">
                        <input (keyup)="isValid()" [(ngModel)]="model.zatchup_id" name="zatchup_id"
                            [required]="!model.username" id="zatchup_id" name="zatchup_id"
                            class="form-control-input form-control  commonFontSize regularFont letterspacing"
                            type="text" placeholder="User's Unique ZatchUp ID">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.zatchup_id"></div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12 ">
                        <h2 class="or-cirle "><span class="commonFontSize regularFont letterspacing">OR</span></h2>
                    </div>
                </div>

                <div class="form-group row  mt-3">
                    <div class="col-sm-12 MobileCol6MB">
                        <label for="" class=" mediumFont commonFontSize letterspacing">Email ID / Phone Number</label>
                        <div class="form-control-inputDiv rounded p-0 shadow-none">
                            <input maxlength="{{maxlength}}" id="email_id_or_mobile_number" (keyup)="isValid()"
                                (keydown)="isCheckEmailOrPhone($event)" [(ngModel)]="model.username"
                                name="email_id_or_mobile_number" [required]="!model.zatchup_id"
                                class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                type="{{type}}" placeholder="Enter Email ID / Phone Number">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.email_id_or_mobile_number"></div>
                    </div>
                </div>
                <button type="button" (click)="addSubadmin()" data-dismiss="modal" aria-label="Close "
                    class="bg-paret-green border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing mt-1">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>