<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-5" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-4 pl-0">
            <div class="row">
                <div class="col-9">
                    <h2 class="mb-4 textSpace">Education profile </h2>
                </div>
                <div class="col-3 text-right">
                </div>
            </div>


            <form>
                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Select Course</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <select (change)="displayStandardList(model.course_id) " name="course"
                            [(ngModel)]="model.course_id" class="custom-select form-control-input" required>
                            <option value="">Select Course </option>
                            <option value="{{courseObj.id}}" *ngFor="let courseObj of courseList">
                                {{courseObj.course_name}}</option>

                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.course"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 pr-0 ">
                        <label for="" class="mediumFont commonFontSize letterspacing">Course joining date</label>
                        <div class="form-control-inputDiv mobile-input-6">
                            <input required bsDatepicker autocomplete="off" [minDate]="maxDate" [maxDate]="minDate" placeholder="DD-MM-YYYY"
                                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" name="date_of_joining"
                                [(ngModel)]="model.date_joining" class="form-control-input form-control form-control-sm"
                                type="text">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.date_of_joining"></div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Joining standard</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <select (change)="displayJoinStandardBseCurrentStandard(model.join_standard_id)" name="join_standard" [(ngModel)]="model.join_standard_id"
                            class="custom-select form-control-input" required>
                            <option value="">Select Join Standard </option>
                            <option value="{{standardObj.id}}" *ngFor="let standardObj of standardList">
                                {{standardObj.standard_name}}</option>
                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.join_standard"></div>
                </div>
                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Current standard</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <select (change)="displayClassList(model.current_standard_id)" name="current_standard"
                            [(ngModel)]="model.current_standard_id" class="custom-select form-control-input" required>
                            <option value="">Select Curent Standard </option>
                            <option value="{{standardObj.id}}" *ngFor="let standardObj of leftStandardList">
                                {{standardObj.standard_name}}</option>

                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.current_standard"></div>
                </div>

                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Select Class</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <select name="class" [(ngModel)]="model.class_id" class="custom-select form-control-input"
                            required>
                            <option value="">Select Class</option>
                            <option value="{{classObj.id}}" *ngFor="let classObj of classList">{{classObj.class_name}}
                            </option>
                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.class"></div>
                </div>
                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">School ID Number or Admission
                        Number</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input required name="admission_number" [(ngModel)]="model.admission_no"
                            class="form-control-input form-control form-control-sm" type="text"
                            placeholder="Enter El ID Number or Admission Number  ">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.admission_number"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 pl-0">
                        <label for="" class="mediumFont commonFontSize letterspacing">Roll Number</label>
                        <div class="form-control-inputDiv mobile-input-6 mobForm-name">
                            <input required name="roll_no" [(ngModel)]="model.roll_no"
                                class="form-control-input form-control form-control-sm" type="number"
                                placeholder="Roll Number">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.roll_no"></div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Course Description</label>
                    <div class="col-sm-12 p-0 form-control-inputDiv ">
                        <textarea name="comments" [(ngModel)]="model.comment"
                            class="form-control form-control-textarea form-control-input" rows="2"
                            placeholder="Enter Course Description(Optional)"></textarea>
                    </div>

                </div>

                <button type="submit" class="btn common-btn regularFont textSpace"
                    (click)="addCourseData()">Submit</button>

            </form>
        </div>
    </div>

</div>