<app-user-header></app-user-header>

<div class="container contentTopSpaceLanding landingPageWidth">
    <div class="landingDiv">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <tabset class="searchTab">
                <tab heading="People" class="mt-3" (selectTab)="getfilteredData($event)">
                    <div class="row">
                        <div class="col-md-3 p-0 my-1">
                            <div class="shadow-none">
                                <select class="custom-select border rounded" name="state" required [(ngModel)]="stateId" (change)="getCities()">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of allStates" [value]="state.id">{{state.state}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 my-1">
                            <div class="shadow-none">
                                <select class="custom-select border rounded" name="city" required [(ngModel)]="cityId" (change)="getSearchData()">
                                    <option value=""> Select City</option>
                                    <option *ngFor="let city of allCities" [value]="city.id">{{city.city}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 p-0 my-1">
                            <input-search [config]="currentSchoolSearchConfig" [value]="currentSchoolName" (searchResult)="getCurrentSchoolSearchResult($event)"
                                class="h-100"></input-search>
                        </div>
                        <div class="col-md-3 pr-0 my-1">
                            <input-search [config]="pastSchoolSearchConfig" [value]="pastSchoolName" (searchResult)="getPastSchoolSearchResult($event)"
                                class="h-100"></input-search>
                        </div>
                    </div>
                    <div class="pt-3" *ngIf="dataSource">
                        <div class="row paddingStyle bg-white mt-3" *ngFor="let people of dataSource">
                            <!-- <div> -->
                            <div (click)="userProfile(people.id)" class="cursorStyle col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                                <img *ngIf="!people.profile_pic" src="assets/images/profile-default.png" class="img-fluid border-0 rounded-circle ">
                                <img *ngIf="people.profile_pic" src="{{people.profile_pic}}" class="img-fluid border-0 rounded-circle ">
                            </div>
                            <div (click)="userProfile(people.id)" class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont cursorStyle">
                                <div class="commonFontSize semiBoldFont">{{people.display}}
                                    <!-- <span class="small-text-2 regularFont">Student</span> -->
                                </div>
                                <!-- <p class="regularFont issueDateFontSize color-gray batchDetail">Batchmates 2009-10</p> -->
                            </div>
                            <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto"
                                (click)="goToMyBuddiesPage()">
                                <button type="button" class="common-btn btn-green-outline regularFont w-100">Add
                                    Buddy</button>
                            </div> -->
                            <!-- </div> -->

                        </div>
                    </div>
                    <div class="row pt-3" *ngIf="!dataSource">
                        <div class="col-12 pt-2 pb-2">
                            <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
                        </div>
                    </div>
                </tab>

                <tab heading="School" class="mt-3" (selectTab)="getfilteredData($event)">
                    <div class="row">
                        <div class="col-md-6 p-0 my-1">
                            <div class="shadow-none">
                                <select class="custom-select border rounded" name="state" required [(ngModel)]="stateId" (change)="getCities()">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of allStates" [value]="state.id">{{state.state}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 my-1 pr-0">
                            <div class="shadow-none">
                                <select class="custom-select border rounded" name="city" required [(ngModel)]="cityId" (change)="getSearchData()">
                                    <option value=""> Select City</option>
                                    <option *ngFor="let city of allCities" [value]="city.id">{{city.city}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="pt-3" *ngIf="dataSource">
                        <div class="row paddingStyle bg-white mt-3" *ngFor="let people of dataSource">
                            <div (click)="schoolProfile(people.school_id)" class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center cursorStyle">
                                <img *ngIf="!people.profile_pic" src="assets/images/profile-default.png" class="img-fluid border-0 rounded-circle ">
                                <img *ngIf="people.profile_pic" src="{{people.profile_pic}}" class="img-fluid border-0 rounded-circle ">
                            </div>
                            <div (click)="schoolProfile(people.school_id)" class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont cursorStyle">
                                <div class="commonFontSize semiBoldFont">{{people.display}}</div>
                                <!-- <p class="regularFont issueDateFontSize color-gray batchDetail">Batchmates 2009-10</p> -->
                            </div>
                            <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto"
                                (click)="goToMyBuddiesPage()">
                                <button type="button" class="common-btn btn-green-outline regularFont w-100">Add
                                    Buddy</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="row pt-3" *ngIf="!dataSource">
                        <div class="col-12 pt-2 pb-2">
                            <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
                        </div>
                    </div>
                </tab>
            </tabset>


        </div>
    </div>
</div>