<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="Payment-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont mb-1">Payment</h2>
        <div class="row m-0">
            <div class="col-xl-6 col-lg-7 col-md-8 col-12 bg-offwhite">
                <div class="row border-bottom">
                    <div class="col-12">
                        <h2 class="commonFontSize mediumFont my-2">Payment Details</h2>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="" class=" mediumFont commonFontSize letterspacing">Amount To Be Paid</label>
                        <div class="form-control-inputDiv rounded p-0 shadow-none">
                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" id="paidAmount" placeholder="Rs. 1,500">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="" class=" mediumFont commonFontSize letterspacing w-100 d-flex justify-content-between"><span>Debit / Credit Card</span><span>Add Card</span></label>
                        <div class="form-control-inputDiv rounded p-0 shadow-none p-3 bg-white">

                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="commonFontSize semiBoldFont">xxxx xxxx xxxx xx50</mat-radio-button>
                            </mat-radio-group>
                            <div class="row cardDetails">
                                <div class="col-xl-8 col-lg-8 col-7">
                                    <p class="commonFontSize regularFont mb-0">Card Holder Name</p>
                                    <p class="commonFontSize semiBoldFont">Rusian Hussain</p>

                                </div>
                                <div class="col-xl-4 col-lg-4  col-5">
                                    <p class="commonFontSize regularFont mb-0">Expiry Date</p>
                                    <p class="commonFontSize semiBoldFont">05/25</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <button type="button" class="bg-paret-green text-white py-2 px-4 border-0 mb-4">Confirm And Pay</button></div>

                </div>
                <!--col-7 end-->
                <div class="col-xl-7">
                </div>
            </div>

        </div>
    </div>