<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-5" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-4 pl-0">
            <h2 class="mb-4 textSpace">Please enter your Past El</h2>

            <form>

                <div class="form-group row mb-1">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input (blur)="getDataByZatchupId()" [(ngModel)] ="modelZatchup.zatchup_id" name ="zatchup_id"  class="form-control-input form-control form-control-sm" type="text" placeholder="Enter your ZatchUp ID">
                    </div>
                    
                </div>
                <div class="form-group row mb-1">
                    <div class="col-sm-12">
                        <p class="text-center m-0 p-0 mt-1 mb-1 form-control-input">OR</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 pl-0 pr-1">
                        <div class="form-control-inputDiv mobile-input-6 mobForm-name ">
                            <select (change)="getCityByState(model.state)" [(ngModel)] ="model.state" name ="state" required class="custom-select form-control-input down-arrow-6" required>
                                <option value=""> Select State </option>
                                <option value="{{stateObj.state}}" *ngFor="let stateObj of stateList;">{{stateObj.state}} </option>
                                
                            </select>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.state"></div>
                    </div>

                    <div class="col-sm-6 pr-0 pl-1">
                        <div class="form-control-inputDiv mobile-input-6 ">
                            <select (change)="getSchoolListBycityId(model.city)" [(ngModel)] ="model.city" name ="city" required class="custom-select form-control-input down-arrow-6" required>
                                <option value="">City </option>
                                <option value="{{cityObj.city}}"  *ngFor="let cityObj of cityList;">{{cityObj.city}} </option>
                            </select>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.city"></div>
                    </div>
                </div>

                <div class="form-group row">
                   
                        <div class="col-sm-12 p-0 form-control-inputDiv rounded shadow-none">
                            
                            <div >
                                <select (change)="changeSchool(name_of_school_first)" id="school_name" [(ngModel)]="name_of_school_first"
                                    name="school_name" class="custom-select form-control-input" required>
                                    <option value="">Select School</option>
                                    <option *ngFor="let school of schoolList" value="{{school.name_of_school}}">
                                        {{school.name_of_school}}</option>
                                    <option value="Others">Others</option>

                                </select>
                            </div>
                            <div class="required errorMsg" *ngIf="name_of_school_first!='Others'"
                                [innerHtml]="errorDisplay.school_name"></div>
                       
                     
                
                </div>
                <div *ngIf="name_of_school_first=='Others'" class="form-group row ml-0 mr-0 w-100 mt-3">
                    <div class="col-sm-12 p-0 form-control-inputDiv rounded shadow-none">

                        

                            <input required (keyup)="isValid($event)" id="name_of_school" [(ngModel)]="name_of_school_others" name="name_of_school_"
                                class="form-control-input form-control w-100 commonFontSize regularFont letterspacing"
                                type="text" placeholder="Enter School Name">
                        
                        
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.name_of_school"></div>
                </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv ">
                        <textarea [(ngModel)]="model.address1" name="address" required class="form-control form-control-textarea form-control-input" rows="3" placeholder="Address"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <!-- <select class="custom-select form-control-input" required>
                            <option value="">Select Board/Univertsity </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> -->
                        <input [(ngModel)] ="model.university" name ="university" required class="form-control-input form-control form-control-sm" type="text" placeholder="Enter your Board/University">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.university"></div>
                </div>
                <button type="submit" class="btn common-btn regularFont textSpace" (click)="goToUserQualificationPage()">Submit</button>
                <!-- <button type="submit" class="btn common-btn regularFont textSpace" (click)="goToUserEiProfileNotOnboardPage()">Submit</button> -->
            </form>
        </div>
    </div>

</div>

<!-- <app-user-footer></app-user-footer> -->