<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-8 d-flex justify-content-start flex-wrap">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Courses</h2>
            </div>
        </div>
 <div class="row p-t-2">
            <div class="col-md-12 bg-light-gray pt-2 pb-3">
                <h3 class="mediumFont semiBoldFont newCourseTitle">Create New Course</h3>
                <form class="w-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course Name </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.course_name" name="course_name" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Course Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Level Of Education </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.level_of_education" name="level_of_education" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Level Of Education">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course Preview</label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input  [(ngModel)]="model.course_preview" name="course_preview" type="file" (change)="handleFileInput($event.target.files)" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="file" placeholder="Enter Course Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course Image</label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input  [(ngModel)]="model.course_image" name="course_image" type="file" (change)="handleFileImage($event.target.files)" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="file" placeholder="Enter Course Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Field </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.field" name="field" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Field Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Standard </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.standard" name="standard" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Standard Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Subject </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.subject" name="subject" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Subject Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Faculty Details </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.faculty_details" name="faculty_details" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Faculty Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Topic Cover </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input [(ngModel)]="model.topic_cover" name="topic_cover" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Topic Name">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-12" *ngIf="planDetails">
                            <div class="customRow" *ngFor="let details of planDetails">
                                <div class="row bg-Gainsboro p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> Plan Name</div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> {{details.plan_name}} </label>
                                    </div>
                                   
                                </div>
                                <div class="row bg-dark-grey p-t-2">
                                    <div class="col-md-3 d-flex align-self-center MobileCol6MB">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Enter Price for the Plan </label>                                    
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none MobileCol6MB">                                        
                                            <input [(ngModel)]="details.price" (keyup)="setPriceAllPlan(details)" name="price" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row bg-light-gray p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> View Per Lecture </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> {{details.views_per_lecture}} </label>
                                    </div>
                                   
                                </div>
                                <div class="row bg-light-secondary p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Validity </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> {{details.validity}} </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-2 mt-2">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Description </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100  border-top shadow-none">
                                    <textarea [(ngModel)]="model.description" name="description" class="form-control-input form-control  commonFontSize regularFont letterspacing" rows="4" col="80" type="textarea"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
    
                    <div class="row justify-content-center d-flex">
                        <button type="button" class="bg-paret-green border-0 w-90 text-white text-center p-2 commonFontSize mediumFont letterspacing" (click)="createCourse()">Create</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>