<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 ">
                <h2 class="commonFontSize semiBoldFont m-0">Courses</h2>
            </div>
        </div>

        <div class="row p-t-2">
            <div class="col-md-12 bg-light-gray pt-2 pb-3">
                <h3 class="mediumFont semiBoldFont newCourseTitle">Create New Course</h3>
                <form class="w-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Level of Education</label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <select class="custom-select  form-control-input" required>
                                        <option value=""> Select Education</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course Preview</label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="file" placeholder="Enter Course Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Field </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Field Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Standard </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Standard Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Subject </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Subject Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Faculty Details </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Faculty Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Topic Cover </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Topic Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="customRow">
                                <div class="row bg-Gainsboro p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Plan 1 </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Plan 2 </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Plan 3 </label>
                                    </div>
                                </div>
                                <div class="row bg-dark-grey p-t-2">
                                    <div class="col-md-3 d-flex align-self-center MobileCol6MB">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Enter Price for the Plan </label>                                    
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none MobileCol6MB">                                        
                                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3">                                    
                                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none MobileCol6MB">                                            
                                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none MobileCol6MB">                                            
                                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row bg-light-gray p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> View Per Lecture </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 5 </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 10 </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 15 </label>
                                    </div>
                                </div>
                                <div class="row bg-light-secondary p-t-2">
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Validity </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 365 days </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 365 days </label>
                                    </div>
                                    <div class="col-md-3 MobileCol6MB"> 
                                        <label for="" class="mediumFont commonFontSize letterspacing"> 365 days </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-2 mt-2">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Description </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100  border-top shadow-none">
                                    <textarea class="form-control-input form-control  commonFontSize regularFont letterspacing" rows="4" col="80" type="textarea"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
    
                    <div class="row justify-content-center d-flex">
                        <button type="button" class="bg-paret-green border-0 w-90 text-white text-center p-2 commonFontSize mediumFont letterspacing">Create</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>