<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="User-management-div bg-white px-4 pt-3 pb-4">
        <h2 class="commonFontSize semiBoldFont m-0">User Reported History</h2>

        <div class="tableDiv table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Total Reports</th>
                        <th rowspan="2">Unresolved Reports</th>
                        <th colspan="3" class="text-center">Resolved Reports</th>
                    </tr>

                    <tr>
                        <th>Total Reports</th>
                        <th>Unresolved Reports</th>
                        <th>Resolved Reports</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Profile Reports </th>
                        <td> 90 </td>
                        <td><span class="color-blue">50</span> </td>
                        <td>20 </td>
                        <td>20 </td>
                        <td><span class="color-blue">40</span> </td>
                    </tr>
                    <tr>
                        <th>Post Reports </th>
                        <td> 75 </td>
                        <td><span class="color-blue">40</span> </td>
                        <td>15 </td>
                        <td>20 </td>
                        <td><span class="color-blue">36</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>