.paddingLHeading{
    padding-left: 15px;
}
.hrTopMargin{
    margin-top: 0.2rem!important;
}
p.cursorStyle.ng-star-inserted {
    border-bottom: 1px solid #ddd;
    padding: 10px;
   
}
p.cursorStyle.ng-star-inserted:hover {
    background-color: #ddd;
}
.suggestions{
    z-index: 999999;
    background: #ccc;
    border-radius: 5px;
    
}

.eyeIcon {
    position: absolute;
    right: 15px;
    bottom: 16px;
}
@media only screen and (max-width: 414px) {
    .pl-5, .px-5 {
        padding-left: .5rem!important;
    }
    .pr-5, .px-5 {
        padding-right: .5rem!important;
    } 

}

.SocialIcon {
    position: absolute;
    right: 15px;
    bottom: 16px;
}