<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row mb-3">
            <div class="col-md-6"><h2 class="commonFontSize semiBoldFont mb-3 m-0"><span class="bg-Gainsboro py-1">Manage Courses</span> Offered by EI</h2></div>
            <div class="col-md-6">
                <div class="button-div d-flex justify-content-end">
                    <button type="button" class="bg-dark text-white py-2 px-3 border-0" (click)="goToCourseHistoryPage()">History</button>
                    <button type="button" class="bg-dark text-white py-2 px-3 ml-3 border-0" (click)="goToManageCourseAddPage()">Add Course</button>
                </div>
            </div>
        </div>

        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource | paginate: config">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef> Course Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="startYear">
                        <mat-header-cell *matHeaderCellDef> Start Year </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.startYear}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="endYear">
                        <mat-header-cell *matHeaderCellDef> End Year </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.endYear}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfStandards">
                        <mat-header-cell *matHeaderCellDef> Number Of Standards </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.noOfStandards}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfClass">
                        <mat-header-cell *matHeaderCellDef>Number Of Class </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.noOfClass}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfStudents">
                        <mat-header-cell *matHeaderCellDef>Number Of Students </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.noOfStudents}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfAlumni">
                        <mat-header-cell *matHeaderCellDef> Number Of Alumni </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.noOfAlumni}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg cursorStyle" aria-hidden="true" (click)="goToEiManageCoursesDetailsPage(element.id)"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>
                <pagination-controls *ngIf="courseList.length>0"  (pageChange)="getCourseList($event,'')" class="eiPaginationTag"></pagination-controls>
            </div>
        </div>
    </div>

</div>