<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="KYC-management-div bg-white px-3 pt-2 pb-3">
        <div class="row topDiv mb-1">
            <div class="col-md-5 ">
                <h2 class="commonFontSize semiBoldFont m-0">Advertisement Management</h2>
            </div>
            <div class="col-md-7 SearchDiv d-flex flex-row">
                <button type="button" class="bg-paret-green color-white px-3 commonFontSize mediumFont py-2 border-0">
                    Add Advertisement</button>
                <button type="button" class="bg-blue color-white px-3 commonFontSize mediumFont py-2 border-0 ml-2">
                    Configure Advertisement Rates</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize">Pending Advertisements For Approval</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0">Pending Advertisements For Approval:<span class="ml-2">50</span></p>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 mediumFont commonFontSize">Active Advertisements</p>
                    <h2 class="countFontSize text-center semiBoldFont">
                        25
                    </h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0 ">Count of Active Advertisements: <span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize">Approved and Expired Advertisements</p>
                    <h2 class="countFontSize text-center semiBoldFont">35</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0 ">Approved and Expired Advertisements: <span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize">Rejected Advertisements</p>
                    <h2 class="countFontSize text-center semiBoldFont">35</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last3Content d-flex flex-column bg-light-secondary">
                        <p class="mb-0">Rejected Advertisements:<span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="KYC-signUp-div bg-white px-2 py-2 mt-3">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-end">
                <div class="MobileCol6MB">
                    <label for="" class="commonFontSize mediumFont letterspacing">Date From</label>
                    <div class="form-control-inputDiv rounded p-1 shadow-none mx-1">
                        <input class="form-control-input form-control commonFontSize regularFont letterspacing"
                            type="date" placeholder="MM/DD/YYYY">
                    </div>
                </div>
                <div class="MobileCol6MB">
                    <label for="" class="commonFontSize mediumFont letterspacing">Date To</label>
                    <div class="form-control-inputDiv rounded p-1 shadow-none mx-1">
                        <input class="form-control-input form-control commonFontSize regularFont letterspacing"
                            type="date" placeholder="MM/DD/YYYY">
                    </div>
                </div>
                <div class="MobileCol6MB">
                    <button type="button" class="bg-dark border-0 col-flex text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center">Submit</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize">New Advertisements Added</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0">New Advertisements Added:<span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize">New Advertisements Rejected</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0">New Advertisements Rejected:<span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize">Advertisements Revenue Earned</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0">Advertisements Revenue Earned:<span class="ml-2">50</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="KYC-retrigged-div bg-white px-2 py-2 mt-3">
        <h2 class="commonFontSize semiBoldFont mb-2">History</h2>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="bg-Gainsboro border-0 px-3 py-2"> Advertisement History </button>
            </div>
        </div>
    </div>

</div>