<app-user-header></app-user-header>

<div class="container contentTopSpaceLanding containerScrolling landingPageWidth">
    <div class="landingDiv">       
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Pending Requests</h2>
            </div>
        </div>
        
        <div class="tableDiv mt-3">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="name_of_school">
                        <mat-header-cell *matHeaderCellDef>School name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.name_of_school}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef>State </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.state}}
                        </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef>City </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.city}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="course_name">
                        <mat-header-cell *matHeaderCellDef> Course name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.course_name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="joining_standard_name">
                        <mat-header-cell *matHeaderCellDef>Joining standard </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.joining_standard_name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="last_standard_name">
                        <mat-header-cell *matHeaderCellDef>Last standard </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.last_standard_name}}
                        </mat-cell>
                    </ng-container>
                     <ng-container matColumnDef="class_name">
                        <mat-header-cell *matHeaderCellDef> Class name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.class_name}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="new_value">
                        <mat-header-cell *matHeaderCellDef> New Value </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.new_value}}
                        </mat-cell>
                    </ng-container> -->

                  

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>