<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <!---->
        <div class="row topDiv">
            <div class="col-6 ">
                <h2 class="commonFontSize semiBoldFont m-0">View Candidatures</h2>
            </div>
            <!-- <div class="col-6 text-right">
                <button type="button" class="bg-dark text-white px-4 py-2 ml-2 border-0 ">History</button>
            </div> -->
        </div>
        <div class="mt-2 border-0 mx-0">
            <!-- start Div for banner-->

            <!--Start div for oView Course Details-->
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Request Title</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Category</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Qualification Required</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Total Number of Requirments</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                        <div class="col-md-12 ml-4">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                                    <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                    <p>Number of Female Candidates</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                                    <p><span class="mr-3">:</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Date of Posting Request</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Target Audience</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Honorarium Offered</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>

                </div>
            </div>
            <!--End div for oView Course Details-->
        </div>

    </div>

    <div class="courseLecture-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">All Candidates</h2>

        <div class="filterDiv">
            <div class="d-flex flex-wrap align-items-end"> 
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">Age</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Age</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">Gender</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Gender</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Profession </label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="currentEI" required>
                            <option value=""> Select Profession</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="3">D</option>
                            <option value="3">E</option>
                            <option value="3">Unspecified</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">Verification Status</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Status</option>
                            <option value="1">Profession1</option>
                            <option value="2">Profession2</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">Honorarium Amount</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Amount</option>
                            <option value="1">Profession1</option>
                            <option value="2">Profession2</option>
                            <option value="3">Three</option>

                        </select>
                    </div>
                </div>
                <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 ">Apply</button>
            </div>
        </div>

        <!--Start html for "table Course Lecture" and Export Button-->
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Number of Candidates Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>

        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="alumniZatchupId">
                        <mat-header-cell *matHeaderCellDef> Alumni ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.alumniZatchupId}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="alumnuName">
                        <mat-header-cell *matHeaderCellDef> Alumni Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.alumnuName}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.age}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.gender}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="qualification">
                        <mat-header-cell *matHeaderCellDef> Qualification </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.qualification}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profession">
                        <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.profession}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.email}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.phoneNumber}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            <button type='button' class="bg-paret-green text-white border-0 rounded">{{element.status}}</button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="honorariumAsked">
                        <mat-header-cell *matHeaderCellDef> Honorarium Asked </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.honorariumAsked}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewProfile">
                        <mat-header-cell *matHeaderCellDef> View Profile </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="text-center">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg cursorStyle" aria-hidden="true"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <!--End html for " table Course Lecture" and Export Button-->
    </div>
</div>