<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="User-management-div bg-white px-3 pt-3 pb-4">
        <div class="row topDiv mb-1">
            <div class="col-md-6 ">
                <h2 class="commonFontSize semiBoldFont m-0">User Management</h2>
            </div>
            <div class="col-md-6 SearchDiv d-flex flex-row">
                <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input
                        class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing"
                        type="text" placeholder="Search..." [(ngModel)]="search" minlength="1" maxlength="20">
                </div>
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 "
                    (click)="searchRoute()">Apply</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none" (click)="signupUsers()">
                    <p class="p-2 semiBoldFont commonFontSize">Signed Up Users On ZatchUp</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.signup_user_zatchup_count}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last align-items-start bg-light-secondary">
                        Total Signed Up Users On ZatchUp Platform:<span class="ml-2"
                            *ngIf="dashboardData">{{dashboardData.signup_user_zatchup_count}}</span></p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none "
                    (click)="kycVerifiedUsers()">
                    <p class="p-2 semiBoldFont commonFontSize">KYC Verified Users On ZatchUp</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.total_kyc_verified_count}}</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last bg-light-secondary">
                        <p class="mb-0 ">Total KYC Verified Users On ZatchUp Platform:
                            <span class="ml-2" *ngIf="userDashboard">{{userDashboard.total_kyc_verified_count}}</span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none"
                    (click)="kycVerifiedByEi()">
                    <p class="p-2 semiBoldFont commonFontSize">Users Verified By School</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.user_verified_by_ei}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last align-items-start bg-light-secondary">
                        Total Number Of Users Verified By At Least One School:<span class="ml-2"
                            *ngIf="dashboardData">{{dashboardData.user_verified_by_ei}}</span></p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none" (click)="activeUsers()">
                    <p class="p-2 semiBoldFont commonFontSize">Active Users</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.active_users_count}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last align-items-start bg-light-secondary">
                        Total Active Users (Last Login
                        < 7 Days):<span class="ml-2" *ngIf="userDashboard">{{userDashboard.active_users_count}}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none" (click)="dormantUsers()">
                    <p class="p-2 semiBoldFont commonFontSize">Dormant Users</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.dormant_users_count}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last align-items-start bg-light-secondary">
                        Total Dormant Users (Last Login >7 Days):
                        <span class="ml-2" *ngIf="userDashboard">{{userDashboard.dormant_users_count}}</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="User-unverified-dashboard-div bg-white px-3 pt-3 pb-4 mt-3">
        <form autocomplete="off" autocapitalize="off">
            <div class="row">

                <div class="col-12 d-flex align-items-end flex-wrap">
                    <div class="widthFull MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing"> From Date</label>
                        <div class="rounded shadow-none ">
                            <input class="form-control formfocusStyle commonFontSize regularFont letterspacing"
                                type="text" placeholder="MM/DD/YYYY" id="fromDate" name="fromDate"
                                placeholder="MM/DD/YYYY" bsDatepicker [maxDate]="maxDate"
                                [(ngModel)]="userManagement.filterFromDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>

                    <div class="widthFull MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing">To Date </label>
                        <div class="rounded  shadow-none ">
                            <input class="form-control formfocusStyle commonFontSize regularFont letterspacing "
                                type="text" id="toDate" name="toDate" placeholder="MM/DD/YYYY" bsDatepicker
                                [maxDate]="maxDate" [(ngModel)]="userManagement.filterToDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">
                        </div>
                    </div>
                    <!-- <div class="medium-filter-box widthFull MobileCol6MB mr-2">
                        <label for="" class="mediumFont commonFontSize letterspacing">Select State</label>
                        <div class="form-control-inputDiv rounded  shadow-none  border-top">
                            <select class="custom-select form-control-input" id="state" name="state"
                                [(ngModel)]="userManagement.stateId" (change)="getCities()">
                                <option value=""> Select State</option>
                                <option *ngFor="let state of userManagement.allStates" [value]="state.id">
                                    {{state.state}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="medium-filter-box widthFull MobileCol6MB mr-2">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Select City</label>
                        <div class="form-control-inputDiv rounded  shadow-none  border-top ">
                            <select class="custom-select form-control-input" id="city" name="city"
                                [(ngModel)]="userManagement.cityId">
                                <option value=""> Select City</option>
                                <option *ngFor="let city of userManagement.allCities" [value]="city.id">{{city.city}}
                                </option>
                            </select>
                        </div>
                    </div> -->
                    <div class="border-0 p-0 shadow-none  MobileCol6MB">
                        <button type="button"
                            class="bg-purple border-0 col-flex school-Dashboard-btn text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center">
                            Submit
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 semiBoldFont commonFontSize">Users Added On The Platform</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.total_users_added}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont Btn-lg-last align-items-start commonFontSize bg-light-secondary">
                        Total Number Of Users Added On The Platform:<span class="ml-2"
                            *ngIf="userDashboard">{{userDashboard.total_users_added}}</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 semiBoldFont commonFontSize">Unverified Users, Verified By At Least One School </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.total_unverified_users}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont Btn-lg-last align-items-start commonFontSize bg-light-secondary">
                        Total Number Of Unverified Users, Verified By At Least One School:<span class="ml-2"
                            *ngIf="userDashboard">{{userDashboard.total_unverified_users}}</span></p>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 semiBoldFont commonFontSize">Unresolved User's Profile Reports </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.total_unresolved_userprofile_reports}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont Btn-lg-last align-items-start commonFontSize bg-light-secondary">
                        Total Number Of Unresolved User's Profile Reports:<span class="ml-2"
                            *ngIf="userDashboard">{{userDashboard.total_unresolved_userprofile_reports}}</span></p>
                </div>
            </div> -->
        </div>
    </div>

    <div class="User-unresolved-dashboard-div bg-white px-3 pt-3 pb-4 mt-3">
        <div class="row">
            <div class="col-md-5">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 semiBoldFont commonFontSize">Number Of Unresolved User's Profile </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.total_unresolved_userprofile}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary Btn-lg-last">Total Number Of
                        Unresolved User's Profile:
                        <span class="ml-2" *ngIf="userDashboard">{{userDashboard.total_unresolved_userprofile}}</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- <form autocapitalize="off" autocomplete="off">
            <div class="row mt-3">
                <div class="col-12 d-flex align-items-end flex-wrap">
                    <div class="widthFull MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing "> From Date</label>
                        <div class="rounded shadow-none ">
                            <input class="formfocusStyle form-control commonFontSize regularFont letterspacing "
                                type="text" placeholder="MM/DD/YYYY" id="fromDate2" name="fromDate"
                                placeholder="MM/DD/YYYY" bsDatepicker [maxDate]="maxDate"
                                [(ngModel)]="userManagement.fromDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">

                        </div>
                    </div>
                    <div class="widthFull MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing widthFull">To Date</label>
                        <div class="rounded shadow-none ">
                            <input class="formfocusStyle form-control commonFontSize regularFont letterspacing "
                                type="text" id="toDate2" name="toDate" placeholder="MM/DD/YYYY" bsDatepicker
                                [maxDate]="maxDate" [(ngModel)]="userManagement.toDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">

                        </div>
                    </div>
                    <div class="border-0 p-0 shadow-none ">
                        <button type="button"
                            class="bg-purple border-0 col-flex school-Dashboard-btn text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center align-self-center">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form> -->



        <!-- <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 semiBoldFont commonFontSize">New Reports Reporting User's Profile</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.new_user_profile_reports}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last bg-light-secondary">
                        Total Number Of New Reports Reporting User's Profile :<span class="ml-2"
                            *ngIf="userDashboard">{{userDashboard.new_user_profile_reports}}/{{userDashboard.new_user_reported}}</span>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-control-inputDiv h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 semiBoldFont commonFontSize">New Users Reported </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="userDashboard">
                        {{userDashboard.new_user_reported}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last bg-light-secondary">
                        Total Number Of New Users Reported:<span class="ml-2"
                            *ngIf="userDashboard">{{userDashboard.new_user_reported}}</span></p>
                </div>
            </div>
        </div> -->
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- AddStudentModel  -->
<!-- <div class="modal fade" id="AddStudentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center border-0 pb-0 pl-0">
                <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Add Students</h2>
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true ">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body px-0 py-0">
                <p class="regularFont letterspacing text-center pt-2 pb-3">
                    <button type="button " class="bg-Gainsboro px-3 py-2 border-0 mr-3 modalAddStudentsBtn mediumFont letterspacing">Add Individual Students</button>
                    <button type="button" class="bg-Gainsboro py-2 px-3 border-0  modalAddStudentsBtn mediumFont">Add Bulk Students</button>
                </p>
            </div>
        </div>
    </div>
</div> -->