<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8 ">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/kyc_verification_leftimage.png">
        </div>
        <div class="col-md-4">
            <div class="skipbtndiv">
                <h2 class="mb-3 textSpace">KYC Verification</h2>                
            </div>

            <form id="form1" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <select (change)="checkIdValidation()" [(ngModel)]="model.kyc_type" name ="kyc_type" class="custom-select form-control-input" required>
                            <option value="">Select your ID</option>
                            <option value="Aadhar">Aadhaar Card</option>
                            <option value="Dl">Driving License</option>
                            <option value="Passport">Passport Number</option>
                        </select>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_type"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input autocomplete="off" required maxlength="{{maxLength}}" (keyup)="isValid($event)" pattern="{{pattran}}" id="kyc_id_no" [(ngModel)]="model.kyc_id_no" name ="kyc_id_no" class="form-control-input form-control form-control-sm" type="text" placeholder="{{placeholder}}">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_id_no"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input required (keyup)="isValid($event)" [(ngModel)]="model.kyc_name" name ="kyc_name" class="form-control-input form-control form-control-sm" type="text" placeholder="Enter Your Name">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_name"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 ">
                        <h4 class="mb-2 textSpace color-gray">Date Of Birth</h4>
                        <div class="row">
                            <div class="col-3 px-0 mr-1 form-control-inputDiv">
                                <select required (change)="isValid($event)" [(ngModel)]="dateModel" name ="dateModel" class="custom-select form-date-col  border-0 pr-2">
                                    <option value="" [selected]='true'>Date</option>
                                    <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                   
                                </select>
                            </div>
                            <div class="col-4 mx-1 px-0 form-control-inputDiv">
                                <select required (change)="isValid($event)" [(ngModel)]="monthModel" name ="monthModel" class="custom-select border-0 form-month-col">
                                    <option value="" selected>Month</option>
                                    <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                    
                                </select>
                            </div>
                            <div class="col-4 mx-1 px-0 form-control-inputDiv">
                                <select required [(ngModel)]="yearModel" (change)="isValid($event)" name ="yearModel" class="custom-select  border-0 form-month-col">
                                    <option value="" selected>Year</option>
                                    <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                   
                                </select>
                            </div>
                           
                        </div>
                    </div>
					<input type="hidden" required name="kyc_dob" [(ngModel)]="model.kyc_dob" value="{{model.kyc_dob}}"/> 
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_dob"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 ">
                        <div (click)="fileInput.click()" class="row form-control-file">
                            <div class="col-xl-2 col-lg-3  col-md-4 col-sm-2 col-xs-2 form-control-fileDiv p-0">
                                <button class="fileBtn"><img src="assets/images/userWebsite/upload_icons.png" class="img-fluid"></button>
                                <input  #fileInput required (change)="handleFileInput($event.target.files)"  [(ngModel)]="model.kyc_document" name ="kyc_document" type="file" name="kyc_document" />
                            </div>
                            <div class="col-xl-10 col-md-8 col-sm-10 col-xs-10 text-left pl-1">
                                <p class="m-0 text-dark mediumFont commonMaterialFontSize">Upload photo</p>
                                <p class="text-secondary regularFont commonMaterialFontSize m-0">As per selection above</p>
								<p *ngIf="filename" class="text-secondary regularFont commonMaterialFontSize m-0">{{filename}}</p>
								 
                            </div>
                        </div>

                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_document"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 ">
                        <div (click)="fileInput1.click()" class="row form-control-file">
                            <div class="col-xl-2 col-lg-3  col-md-4 col-sm-2 col-xs-2 form-control-fileDiv p-0">
                                <button class="fileBtn"><img src="assets/images/userWebsite/upload_icons.png" class="img-fluid"></button>
                                <input  #fileInput1 [required]="model.kyc_type=='Aadhar'" (change)="handleFileInputForBackPhoto($event.target.files)"  [(ngModel)]="model.kyc_document_back" name ="kyc_document_back" type="file" />
                            </div>
                            <div class="col-xl-10 col-md-8 col-sm-10 col-xs-10 text-left pl-1">
                                <p class="m-0 text-dark mediumFont commonMaterialFontSize">Upload Back photo{{model.kyc_type=='Aadhar'?'':'(optional)'}}</p>
                                <p class="text-secondary regularFont commonMaterialFontSize m-0">As per selection above</p>
								<p *ngIf="filename1" class="text-secondary regularFont commonMaterialFontSize m-0">{{filename1}}</p>
								 
                            </div>
                        </div>

                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.kyc_document_back"></div>
                </div>
                <button type="submit" class="btn common-btn regularFont textSpace mt-1" (click)="goToUserQualificationPage()">Submit</button>

            </form>
        </div>
    </div>

</div>
<!-- currentStatusModel -->
<div class="modal fade" id="currentStatusModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                <form class="pl-5 pr-5">
                    <p class="color-black semiBoldFont commonFontSize">Are you currently a student? </p>
                    <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/study_student.png">

                    <div class="form-group row mt-2 model-row-nowrap">
                        <div class="col-sm-6 form-control-inputDiv  border-danger mr-1 p-0 text-left">
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label commonFontSize " for="studentRadio1">
                                    <input class="custom-control-input" [(ngModel)]="isStudent" (change)="areYouCurrentlyStudentFunction(0)"  type="radio" name="student" id="studentRadio1"
                                        value="no">
                                    <span class="checkmark checkmarkRed"></span>
                                    <span class="commonFontSize text-danger radioValuetext font-weight-normal">No</span>
                                </label>

                            </div>
                        </div>
                        <div class="col-sm-6 form-control-inputDiv ml-1 p-0 text-left">
                            <div class="custom-control custom-radio custom-control-inline ">
                                <label class="custom-label" for="studentRadio2">
                                    <input class="custom-control-input" [(ngModel)]="isStudent" type="radio" (change)="areYouCurrentlyStudentFunction(1)"  name="student" id="studentRadio2"
                                        value="yes">
                                    <span class="checkmark checkmarkGreen"></span>
                                    <span
                                        class="commonFontSize text-success radioValueText2 font-weight-normal">Yes</span></label>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn common-model-Btn mt-4" (click)="goToUserQualificationPage();">Next
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
<!-- <app-user-footer></app-user-footer> -->