<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">


    <div class="Subscription-div bg-white border border-gray px-3 pt-2 pb-3 mt-3">
        <h2 class="commonFontSize semiBoldFont mb-1">Subscription </h2>
        <div class="row px-3">
            <div class="col-md-6 SubscriptionColDetail">
                <!-- <img class=" img-fluid img-container mb-2" src="assets/images/userWebsite/loreal.jpg " alt="Card image "> -->
                <div class="row pb-2 mx-0 mt-2 subscriptionBorderBottomStyle">
                    <div
                        class="col-xl-4 col-lg-4 col-md-4 col-4 p-0 commonFontSize mediumFont d-flex flex-row align-items-start">
                        Plan Duration
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 p-0 commonFontSize regularFont">
                        <span class="mr-3">:</span> {{subscriptionDetails?.name}}
                    </div>
                </div>
                <div class="row pb-2 mx-0 mt-2 subscriptionBorderBottomStyle">
                    <div
                        class="col-xl-4 col-lg-4 col-md-4 col-4 p-0 commonFontSize mediumFont d-flex flex-row align-items-start">
                        Amount
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 p-0 commonFontSize regularFont">
                        <span class="mr-3">:</span> {{subscriptionDetails?.current_amount}}
                    </div>
                </div>
                <div class="row pb-2 mx-0 mt-2 subscriptionBorderBottomStyle">
                    <div
                        class="col-xl-4 col-lg-4 col-md-4 col-4 p-0 commonFontSize mediumFont d-flex flex-row align-items-start">
                        Activated From
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 p-0 commonFontSize regularFont">
                        <span class="mr-3">:</span> {{subscriptionDetails?.start_date | date: 'dd MMM yyyy'}}
                    </div>
                </div>
                <div class="row pb-2 mx-0 mt-2 subscriptionBorderBottomStyle">
                    <div
                        class="col-xl-4 col-lg-4 col-md-4 col-4 p-0 commonFontSize mediumFont d-flex flex-row align-items-start">
                        Expiring On
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 p-0 commonFontSize regularFont">
                        <span class="mr-3">:</span> {{subscriptionDetails?.end_date | date: 'dd MMM yyyy'}}
                    </div>
                </div>
                <!-- <div>
                    <h4 class="commonFontSize semiBoldFont mt-2 mb-1">Benefits </h4>
                    <p class="commonFontSize regularFont">
                        At vero was N accusamus et iusto oclio dignissimos ducimus qui blandniis praesentium voluptatum
                        deleniti alque corrupt quos dolores N quas molestias exsspturi sint occaecati cupid...
                    </p>
                </div> -->
                <div class="col-12 text-center mt-4">
                    <button type="button" class="bg-purple text-white border-0 mr-3 py-2 px-4 commonFontSize regularFont letterspacing" (click)="renewSubscription()">Renew</button>
                    <!-- <button type="button" class="bg-paret-green text-white border-0  py-2 px-4 commonFontSize regularFont letterspacing" (click)="updateSubscription()">Update</button> -->
                </div>

            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>