.SubscriptionColDetail{
    padding: 2%;
    border: 1px solid #c7cbd1;
    outline: none;
}
.subscriptionBorderBottomStyle{
    border-bottom: 1px solid #c7cbd1;
}
.img-container {
    min-height: 32vh;
    max-height: 32vh;
    height: 32vh;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .pr-5, .pl-5, .px-5 {
        padding-right: .5rem!important;
        padding-left: .5rem!important;
    } 
}