<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <!-- <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Sign Up Pending List</h2>
            </div>

        </div> -->
        
        <!-- <h2 class="commonFontSize semiBoldFont m-0">Approval Pending List</h2> -->

        <!-- <div class="filterDiv">
            
            <div class="d-flex flex-wrap align-items-end">
                <div class="widthFull mr-4 mt-3 ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added From</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img" type="text" id="fromDate" name="fromDate"
                        placeholder="MM/DD/YYYY" bsDatepicker [maxDate]="signUpEi.maxDate" [(ngModel)]="signUpEi.filterFromDate" #fromDate="ngModel"
                        [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">

                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added To</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img" type="text" id="toDate" name="toDate"
                        placeholder="MM/DD/YYYY" bsDatepicker [maxDate]="signUpEi.maxDate" [(ngModel)]="signUpEi.filterToDate" #toDate="ngModel"
                        [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">

                    </div>
                </div>
                <div class="widthFull mr-4 mt-3 dropdown-lg-Div ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" id="pastEI" required
                        [(ngModel)]="signUpEi.course_id" (change)="getAllStandard()">
                        <option value=""> Select Course</option>
                        <option *ngFor="let course of signUpEi.allCourses " [value]="course.id">{{course.course_name}}</option>
                    </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" id="pastEi" required
                        [(ngModel)]="signUpEi.standard_id" (change)="getAllClasses()">
                        <option value=""> Select Standard</option>
                       <option *ngFor="let standard of signUpEi.allStandard" [value]="standard.id">{{standard.standard_name}}</option>
                    </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" id="pastEi" required
                        [(ngModel)]="signUpEi.class_id">
                        <option value=""> Select Subsection</option>
                        <option *ngFor="let class of signUpEi.allClasses" [value]="class.id">{{class.class_name}}</option>
                    </select>
                    </div>
                </div>


                <button type="button" class="bg-purple text-white px-5 py-2 h-100  border-0 mt-3"
                (click)="getSignUpEi('')">Apply</button>


            </div>
        </div> -->
        <div class="row my-3" *ngIf="signUpEi.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mobile-w-35  mr-2 mb-0"> Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                    (change)="getSignUpEi('1')" [(ngModel)]="signUpEi.pageSize">
                             
                            <option *ngFor="let count of signUpEi.pageCounts" value="{{count}}">{{count}}</option>
                        </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExcel()"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>

        <div class="tableDiv " *ngIf="signUpEi.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="signUpEi.dataSource | paginate: signUpEi.config ">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index"> {{i + signUpEi.startIndex}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="zatchup_id">
                        <mat-header-cell *matHeaderCellDef>Zatchup id </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.zatchup_id}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                     <!-- Name Column -->
                     <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.phone}} 
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="added_by">
                        <mat-header-cell *matHeaderCellDef>Added by </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.added_by}} </mat-cell>
                    </ng-container>
                     <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                             
                            <i (click)="deleteRow(element.id)" class="fa fa-trash text-red color-red cursorStyle mr-3"></i>
                            
                        </mat-cell>
                    </ng-container>

                   
                    <!-- <ng-container matColumnDef="emailID">
                        <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.email
                            }}
                        </mat-cell>
                    </ng-container> -->
                    <!-- Weight Column -->
                    <!-- <ng-container matColumnDef="userID">
                        <mat-header-cell *matHeaderCellDef>EI Admission Number / ID Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.admission_no}}
                        </mat-cell>
                    </ng-container> -->

                    <!-- Symbol Column -->
                    <!-- <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef>Current Class </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.class_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rollNumber">
                        <mat-header-cell *matHeaderCellDef>Roll Number</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.roll_no}} </mat-cell>
                    </ng-container> -->
                    <!-- <ng-container matColumnDef="gender">
                        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.gender}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.age}} </mat-cell>
                    </ng-container> -->

                   
<!-- 
                    <ng-container matColumnDef="unverifyStudent">
                        <mat-header-cell *matHeaderCellDef> Un-Verify Stuent </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i class="fa fa-edit text-green fa-lg color-green mr-3 cursorStyle"></i>
                            <i class="fa fa-retweet text-primary fa-lg cursorStyle" aria-hidden="true"></i>
                            {{element.unverifyStudent}}
                        </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="signUpEi.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: signUpEi.displayedColumns; "></mat-row>
                 </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="signUpEi.dataSource" (pageChange)="getSignUpEi($event)"
        class="eiPaginationTag">
    </pagination-controls>
    <div class="row" *ngIf="!signUpEi.dataSource">
        <div class="col-12 pt-2 pb-2">
            <p class="text-center dataNotFound pt-4 pb-4">Records Not Found</p>
        </div>
    </div>
    </div>
</div>
