<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h1 class="commonFontSize semiBoldFont m-0">Create Group Chat</h1>
            </div>
        </div>
        <form>
        <div class="row mt-3 border-bottom pb-3 align-items-center">
            <div  class="col-4 col-md-1">
                <div class="addChatProfile rounded-circle border border-primary position-relative"
                    [ngStyle]="model.group_icon ? {'background-image': 'url(' + model.group_icon + ')'} : { 'background-image' : 'url(' + 'assets/images/userWebsite/users.png' + ')'}">
                    <div class="upload-dp">
                        <app-image-uploader (imageData)="getProfilePicUrl($event)" [uploadInfo]="uploadInfo">
                        </app-image-uploader>
                    </div>
                </div>
            </div>

            <div class="col-8 col-md-11">
                <div class="form-control-inputDiv rounded p-0 shadow-none w-50">
                    <input name="group_title" required [(ngModel)]="model.group_title" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" maxlength="30" type="text" placeholder="Group Title">
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="commonFontSize">Number of Participants: {{noOfUsers}}</h2>
                    </div>
                    <div class="col-md-6">
                        <div (click)="addMoreRecepient()" class="d-flex align-items-center justify-content-end cursorStyle">
                            <div class="bg-purple addParticipants mr-2">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <span>Add More</span>
                        </div>
                    </div>
                </div>
                <ul class="participantsList">
                    <li *ngFor="let user of groupUserLists" class="user-blkrow cursorStyle">
                        <img src="{{user.profile_pic}}" alt="profile-pick" class="pickSize mr-3 border"/> 
                        <span class="text-capitalize">{{user.isadded?user.first_name:""}} {{user.isadded?user.last_name:""}} {{!user.isadded?user.name:""}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <button (click)="createGroup()" type="button" class="btn bg-paret-green color-white px-4 mt-3">Create group</button>
    </form>
    </div>

</div>