<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Create Group Chat</h2>
            </div>
        </div>

        <div class="row mt-3 border-bottom pb-3 align-items-center">
            <div class="col-3 col-md-2 col-lg-1">
                <div class="addChatProfile">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-9 col-md-10 col-lg-11">
                <div class="form-control-inputDiv rounded p-0 shadow-none w-50">
                    <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="search" placeholder="Search Teacher">
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12">
                <h2 class="commonFontSize">Number of Participants: 06</h2>
                <ul class="participantsList">
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aashish</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aaditya</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aadarsh</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ravi</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Lokesh</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ajay</span></li>
                    <li><div class="bg-purple addParticipants cursorStyle"><i class="fa fa-plus" aria-hidden="true"></i></div> <span>Add More</span></li>
                </ul>
            </div>
        </div>
    </div>

</div>