<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Create Group Chat</h2>
            </div>
        </div>
<form>
        <div class="row mt-3 border-bottom pb-3 align-items-center">
            <div (click)="file.click()" class="col-3 col-md-2 col-lg-1">
                <div class="addChatProfile">
                    <img src="{{model.group_icon}}" *ngIf="!model.group_icon">
                    <i class="fa fa-camera" *ngIf="!model.group_icon" aria-hidden="true"></i>
                    <input #file type="file" style="display:none;" (change)="fileUploadDocument($event.target.files)"/>
                </div>
            </div>
            <div class="col-9 col-md-10 col-lg-11">
                
                <div class="form-control-inputDiv rounded p-0 shadow-none w-50">
                    <input name="group_title" required [(ngModel)]="model.group_title" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Group title">
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-12">
                <h2 class="commonFontSize">Number of Participants: {{noOfUsers}}</h2>
                <ul class="participantsList">
                    <li *ngFor="let user of groupUserLists"><img src="{{user.profile_pic}}" alt="profile-pick" class="pickSize"/> <span>{{user.isadded?user.first_name:""}} {{user.isadded?user.last_name:""}} {{!user.isadded?user.name:""}}</span></li>
                    <!-- <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aaditya</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aadarsh</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ravi</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Lokesh</span></li>
                    <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ajay</span></li> -->
                    <li (click)="addMoreRecepient()"><div class="bg-purple addParticipants cursorStyle"><i class="fa fa-plus" aria-hidden="true"></i></div> <span>Add More</span></li>
                </ul>
            </div>
        </div>
        <button (click)="createGroup()" type="button" class="btn bg-paret-green color-white px-4 mt-3">Create group</button>
    </form>
    </div>

</div>