ul {
    list-style-type: none;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 0px;
}
.addChatProfile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.upload-dp {
    line-height: 1;
    font-size: 14px;
}
.pickSize {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}
ul.participantsList li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
/* ul.participantsList li {
    display: inline-block;
    margin: 10px 15px 10px;
    text-align: center;
} */
ul.participantsList span {
    display: block;
    margin-top: 5px;
}
li.user-blkrow {
    padding: 12px 20px;
}
li.user-blkrow:hover {
    background: #e2e2e2;;
}

span.group-admin {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    top: 4px;
}

span.group-admin-green {
    border: 1px solid #3fa83f;
    color: #3fa83f;
}
span.group-member{
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    bottom: 4px;
    display: none;
}

.addParticipants {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    font-size: 11px;
}
    /* .containerScrolling {
    height: 100vh;
    overflow-y: scroll;
} */
   
.btn_position-absolute {
    position: absolute;
    top: 5px;
    left: 5px;
}

.landingDiv {
    padding-top: 0;
}

.profileDivLeft {
    position: relative;
}

.tick-img {
    position: absolute;
    bottom: 80px;
    left: 125px;
}

.w-like-comment {
    width: 18%;
}

.w-12 {
    width: 12%;
}

.border-radius-25 {
    border-radius: 25px;
}

.dpImgDiv {
    /* background: url('/assets/images/userWebsite/share-my-profile-icon.png') #efefef; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 15%;
    background-position-x: center;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: -50px;
    padding: 0.4rem;
    min-width: 100px;
    min-height: 100px;
    background: #fff;
}

.upload-dp {
    top: 65%;
    bottom: 0;
    left: 0%;
    right: 0;
    background: rgb(133, 132, 127, 0.5);
}

.proj-title {
    color: #5790c2;
}

.addBuddyBtn {
    background: #f7f7f7;
    border: 1px solid #c7cbd1;
}

.editIcon {
    width: 7%;
}

.bannerDiv {
    height: 180px;
    overflow: hidden;
}
.bannerDiv img{
    max-width: 100% !important;
    /* width: auto !important; */
    margin: 0px auto;
    display: block;
}

.img-container {
    min-height: 110px;
    max-height: 110px;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .addBuddyBtn {
        width: 100%!important;
    }
    
    .img-container-col6 {
        min-height: 16vh!important;
        max-height: 16vh!important;
        height: 16vh!important;
    }
}

@media only screen and (max-width: 414px) {
    
    .profileDivLeft {
        flex-direction: column;
        padding-left: 0!important;
        align-items: center;
    }
    .profileDivLeft p {
        text-align: center!important;
    }
    .profileDivRight {
        padding-left: 0!important;
        margin-top: 5%;
    }
    .profileDivRight p {
        font-size: 0.8rem;
        text-align: center;
    }
    .padding-0 {
        padding: 0;
    }
    .addBuddyBtn {
        width: 100%!important;
    }
    .colLeftPost {
        margin-top: 2%;
    }
    .mtStyle{
        margin-top: 2rem;
    }
    .tick-img {
        position: absolute;
        left: 60%;
    }

    .img-container {
        min-height: 90px;
        max-height: 90px;
        height: 100%;
    }
}
@media (max-width: 767px){
    .w-50{
        width: 100% !important;
    }
  }