.custom-select {
    width: 100%;
    background-position: 96%;
    background-size: 7%;
}

.medium-filter-box {
    flex: 0 0 18%;
}


/**********mat table**********/

.mat-column-noOfVerifiedUserPro,
.mat-column-noOfEducationPro {
    min-width: 150px;
}