<div class="container-fluid thankyouContainer">
    <div class="row">
        <div class="col-md-8 text-center order-sm-6 order-2">
            <img class="img-fluid kycVerificationleftImage thankYouImg"
                src="assets/images/userWebsite/login-success-image.png">
        </div>
        <div class="col-md-4 mobilePR order-1 order-sm-6 MobileCol6MB">
            <div class="form-group row mobilePTB">
                <div class="col-sm-12">
                    <div class="text-center bg-white pr-5 py-3 mt-4 pl-5 mb-4 mobilePLR">
                        <img class="img-fluid SuccessfullImage mt-2 mb-4"
                            src="assets/images/userWebsite/profile-image.png">
                            <p class="semiBoldFont">Profile Created Successfully </p>
                        <p class="mediumFont color-purple letterspacing">Your profile is sent to your educational institutions for approval...
                        </p>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn common-btn regularFont mr-2" (click)="goToUserLandingPage()">Continue</button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

 