<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="eiMangPendingForApproval-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle ">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0"> {{couponList.title}} Coupons </h2>
            </div>
        </div>
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <form autocomplete="off" autocapitalize="off">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Coupon Type</label>
                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                            <select class="custom-select  form-control-input" id="coupon_type" name="coupon_type"
                                [(ngModel)]="couponList.couponType">
                                <option value=""> Select Coupon Type</option>
                                <option value="Onboarding Fees"> Onboarding Fees </option>
                                <option value="Subscription Fees"> Subscription Fees </option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="bg-purple text-white px-5 py-2 h-100  border-0 mt-3"
                        (click)="getCouponList('1')">Apply</button>
                </div>

            </form>
        </div>

        <!--Start html for "select no of Onboarding Fees in database info per page" and Export Button-->
        <div class="row my-3" *ngIf="couponList.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing  mr-2 mb-0">Count
                    Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getCouponList('1')"
                        class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        [(ngModel)]="couponList.pageSize">
                        <option *ngFor="let count of couponList.pageCounts" value="{{count}}">{{count}}</option>
                        <!-- <option value="10">10</option>
                        <option value="15">15</option> -->
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExvel()"><i
                        class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <!--End html for "select no of Onboarding Fees in database info per page" and Export Button-->

        <!--Start html for EI Database information table-->
        <div class="tableDiv" *ngIf="couponList.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="couponList.dataSource | paginate: couponList.config">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> {{i + couponList.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="couponPorpuse">
                        <mat-header-cell *matHeaderCellDef> Coupon Purpose </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.coupon_type}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="couponCode">
                        <mat-header-cell *matHeaderCellDef>Coupon Code </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="activationDate">
                        <mat-header-cell *matHeaderCellDef> Activation Date </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.created_on | date: 'yyyy-MM-dd'}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="createdBy">
                        <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.added_by}}
                        </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="minimumOrderValue">
                        <mat-header-cell *matHeaderCellDef> Minimum Order Value </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.minimum_order_value}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="discount">
                        <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.discount_amount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="discount_type">
                        <mat-header-cell *matHeaderCellDef> Discount Type </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.discount_type == 'flat' ? 'Flat' : 'Percent'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="MaximumDiscountAmount">
                        <mat-header-cell *matHeaderCellDef> Maximum Discount Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.maximum_discount_amount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="couponCodeApplied">
                        <mat-header-cell *matHeaderCellDef> Number of Times Coupon Code Applied </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.no_of_times}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalDiscountGiven">
                        <mat-header-cell *matHeaderCellDef> Total Discount Given </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.maximum_discount_amount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="couponExpirationdate">
                        <mat-header-cell *matHeaderCellDef> Coupon Expiration Date </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.enddate}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="expireCouponButton">
                        <mat-header-cell *matHeaderCellDef> Expire Coupon Button </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i (click)="expireCoupon(element)" class="fa fa-exclamation-triangle mr-2 color-red fa-lg cursorStyle"
                                aria-hidden="true"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="couponList.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: couponList.displayedColumns; "></mat-row>
                </mat-table>
            </div>

        </div>
        <pagination-controls *ngIf="couponList.dataSource" (pageChange)="getCouponList($event)" class="eiPaginationTag">
        </pagination-controls>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner>
        <div class="row" *ngIf="!couponList.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
        <!--End html for EI database information table-->
    </div>
</div>