.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Btn-lg-last {
    height: 100%;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.countFontSize {
    font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Btn-lg-last {
        height: 65px;
    }
}