<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="post-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">EI Posts</h2>
        <div class="">
            <div class="images">
                <div class="  card  border-0 bg-white mt-3 ">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 MobileCol6MB">
                            <div class="form-control-inputDiv  border-0">
                                <div class="card-header p-0 bg-white ">
                                    <div class="row align-items-center m-0 py-2">
                                        <div class=" col-xl-2 col-lg-2 col-md-2 col-sm-2  col-2 p-0">
                                            <img src="assets/images/userWebsite/study_student.png" class="img-fluid border-0 rounded-circle ">
                                        </div>
                                        <div class=" col-xl-9 col-lg-9 col-md-9 col-sm-9  col-8">
                                            <h4 class="commonFontSize semiBoldFont">Name Of The School</h4>
                                        </div>


                                    </div>
                                </div>

                                <div class="row py-2">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-12">
                                        <h4 class="commonFontSize semiBoldFont mb-1 color-blue">Title of the Project</h4>
                                    </div>

                                </div>
                                <img class=" img-fluid   img-height" src="assets/images/userWebsite/loreal.jpg" alt="Card image">
                                <div class="card-body px-0">
                                    <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="commonFontSize semiBoldFont">Post Reports : <span class="color-blue">View</span></p>
                                    <div class="row border-top m-0 pt-2">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-eye mr-2"></i>
                                            <span class="commonFontSize regularFont">70</span>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-thumbs-up mr-2"></i>
                                            <span class=" commonFontSize regularFont">665</span>

                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-commenting mr-2" aria-hidden="true"></i>
                                            <span class=" commonFontSize regularFont">70</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
                            <div class="form-control-inputDiv border-0">
                                <div class="card-header p-0 bg-white ">
                                    <div class="row align-items-center m-0 py-2">
                                        <div class=" col-xl-2 col-lg-2 col-md-2 col-sm-2  col-2 p-0">
                                            <img src="assets/images/userWebsite/study_student.png" class="img-fluid border-0 rounded-circle ">
                                        </div>
                                        <div class=" col-xl-9 col-lg-9 col-md-9 col-sm-9  col-8">
                                            <h4 class="commonFontSize semiBoldFont">Name Of The School</h4>
                                        </div>


                                    </div>
                                </div>

                                <div class="row py-2">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-12">
                                        <h4 class="commonFontSize semiBoldFont mb-1 color-blue">Title of the Project</h4>
                                    </div>

                                </div>
                                <img class=" img-fluid img-height" src="assets/images/userWebsite/loreal.jpg" alt="Card image">
                                <div class="card-body px-0">
                                    <p class="commonFontSize regularFont">Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="commonFontSize semiBoldFont">Post Reports : <span class="color-blue">View</span></p>
                                    <div class="row border-top m-0 pt-2">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-eye mr-2"></i>
                                            <span class="commonFontSize regularFont">70</span>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-thumbs-up mr-2"></i>
                                            <span class=" commonFontSize regularFont">665</span>

                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4">
                                            <i class="fa fa-commenting mr-2" aria-hidden="true"></i>
                                            <span class=" commonFontSize regularFont">70</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>