<nav class="navbar navbar-expand-sm fixed-top userHeaderBgColor">
    <div class="container-fluid">
        <a href="" class="navbar-brand"><img class="img-fluid  headerLogoImg" src="assets/images/userWebsite/logo.png"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto userNavUl" >
                <li class="nav-item"><a routerLink="/user/landing-page" class="nav-link" routerLinkActive="active-link">Home</a></li>
                <li class="nav-item"><a routerLink="/ei/login" class="nav-link "  routerLinkActive="active-link">Login/Register Your School</a></li>
                <li class="nav-item"><a routerLink="/user/about-us" class="nav-link " routerLinkActive="active-link">About Us</a></li> -->
                <!-- <li class="nav-item"><a routerLink="/user/contact-us" class="nav-link " routerLinkActive="active-link">Contact Us</a></li>
                <li class="nav-item"><a routerLink="/user/career" class="nav-link " routerLinkActive="active-link">Career</a></li> -->
                <li class="nav-item cursorStyle"><a (click)="logout()" *ngIf="authCheck" class="nav-link"  routerLinkActive="active-link">Logout</a></li>
                <li class="nav-item"><a routerLink="/user/login" *ngIf="!authCheck" class="nav-link "  routerLinkActive="active-link">Login</a></li>
            </ul>

            <ul class="navbar-nav ml-auto userNavUl">

                <li class="nav-item">
                    <a (click)="notificationList()" class="mr-5 my-2 d-inline-block text-black cursorStyle position-relative">
                        <i class="fa fa-bell fa-lg color-white" aria-hidden="true"></i>
                    <sup class="color-white " style="background: #22c123;
                        padding: 4px;
                        border-radius: 50px;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        line-height: initial;
                        text-align: center;
                        font-size: 11px;
                        position: absolute;
                        left: 18px">{{notificationCount? notificationCount : 0}}</sup></a></li>

                <li class="nav-item"><a href="" class="nav-link" routerLinkActive="active-link">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link" routerLinkActive="active-link">My School</a></li>
                <li class="nav-item"><a href="" class="nav-link" routerLinkActive="active-link">Messages</a></li>

                <div class="dropdown p-2 ml-4">                    
                    <span class="color-white p-2" id="dropdownSearchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search cursorStyle" aria-hidden="true"></i>
                    </span>
                    
                    <div class="dropdown-menu customDropDown p-0" aria-labelledby="dropdownSearchButton">
                        <input type="search" placeholder="Search" class="form-control-input form-control dropdown-item pl-2"/>
                    </div>  
                </div>
                
                <a class="text-white pt-2 px-0 commonFontSize semiBoldFont">
                    <img src="assets/images/userWebsite/EI-profile-icon.png" class="rounded-circle bg-light-green header-dp img-small">
                    <span class="ml-3 text-white">Hi! Pathan</span></a>                

                <div class="dropdown pt-2 px-0">                    
                    <span class="color-white p-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-angle-down cursorStyle" aria-hidden="true"></i>
                    </span>
                   
                    <div class="dropdown-menu customDropDown pl-0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item pl-3 cursorStyle" (click)="logout()">Logout</a>
                    </div>
                </div>

            </ul>

        </div>
    </div>
    <!-- <div class="container-fluid">
        <a href="" class="navbar-brand"><img class="img-fluid  headerLogoImg" src="assets/images/userWebsite/logo.png"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto userNavUl align-items-center" routerLinkActive="active">
                <li class="nav-item"><a routerLink="/Home" class="nav-link nav-link-custom">Home</a></li>
                <li class="nav-item"><a routerLink="/RegisterSchool" class="nav-link nav-link-custom">My School</a></li>
                <li class="nav-item"><a routerLink="/Login" class="nav-link nav-link-custom">Messages</a></li>
                <li class="nav-item">
                    <a routerLink="/AboutUs" class="nav-link pl-5 nav-link-custom nav-link-custom-search">
                        <img src="assets/images/userWebsite/search-icon.png" class="img-fluid w-75">
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ContactUs" class="nav-link d-flex flex-row ">
                        <img src="assets/images/userWebsite/successfully_done.png" class="img-fluid headerDP mr-1">
                        <p class="m-auto ">Hi Nitesh</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Career" class="nav-link ">
                        <img src="assets/images/userWebsite/search-icon.png" class="img-fluid w-75"></a>
                </li>
            </ul>
        </div>
    </div> -->
</nav>