<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8 order-sm-6 order-2">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-4 order-1 order-sm-6 MobileCol6MB">
            <h2 class="mb-3 textSpace">Add Course Details </h2>
            <form class="pt-2">
               
                <div class="form-group row">
                    <!-- <label for="" class="mediumFont commonFontSize letterspacing">School Name :</label> -->
                    <h3 class="p-0 commonFontSize semiBoldFont m-0">
                        {{model.name_of_school}} ({{model.school_code}})
                        <span *ngIf="model.name_of_school" class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2">
                            <img src="assets/images/userWebsite/edit.png" (click)="editEi(schoolId)" class="img-fluid editIcon float-right cursorStyle ml-2"> 
                            
                        </span>
                    </h3>
                     
                </div>
                
                <div class="form-group row">
                    <div class="col-6 px-0">
                        <label class="cursorStyle d-flex"> <input  (change)="addAnotherCourse(schoolId)" id="current_and_past"  name="current_and_past" class="mr-1" type="radio" >Student </label>
                    </div>
                    <div class="col-6 px-0">
                        <label class="cursorStyle d-flex"> <input checked=true id="current_and_past2" name="current_and_past" class="mr-1" type="radio" >Alumni </label>
                    </div>
                </div>               

                <div class="form-group row">
                    <label for="" class="mediumFont commonFontSize letterspacing">Select Course</label>
                    <div class="col-sm-12 form-control-inputDiv p-0">
                        <select (change)="displayStandardList(model.course_id) " name="course"
                            [(ngModel)]="model.course_id" class="custom-select form-control-input" required>
                            <option value="">Select Course </option>
                            <option value="{{courseObj.id}}" *ngFor="let courseObj of courseList">
                                {{courseObj.course_name}}</option>
                            <option value="others">Others </option>
                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.course"></div>
                </div>
                <!-- Other School Case-->
                <div *ngIf="model.course_id=='others'">
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label for="" class="mediumFont commonFontSize letterspacing">Course Name</label>
                            <div class="form-control-inputDiv">
                                <input required name="course" [(ngModel)]="model.course_name"
                                    class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter course name">
                            </div>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.course"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label for="" class="mediumFont commonFontSize letterspacing">Course Type</label>
                        <div class="form-control-inputDiv mobile-input-6 mobForm-name">                            
                             <select required name="course_type" class="custom-select form-control-input down-arrow-6" [(ngModel)]="model.course_type">
                                 <option value="">Select Type</option>
                                 <option value="Regular">Regular</option>
                                 <option value="Distance">Distance</option>
                             </select>
                        </div>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.course"></div>
                    </div>


                    <div class="form-group row customWidth">
                        <div class="col-sm-6 p-0">
                            <label for="" class="mediumFont commonFontSize letterspacing">Start Date</label>
                            <div class="form-control-inputDiv mr-1">
                                <input autocomplete="off" required [maxDate]="model.end_date"
                                    [(ngModel)]="model.start_date" name="start_date"
                                    class="form-control-input form-control form-control-sm" type="text" bsDatepicker
                                    placeholder="YYYY-MM-DD" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}">
                                <div class="required errorMsg" [innerHtml]="errorDisplay.start_date"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-0">
                            <label for="" class="mediumFont commonFontSize letterspacing">End Date</label>
                            <div class="form-control-inputDiv ml-1">
                                <input autocomplete="off" required [(ngModel)]="model.end_date"
                                    [minDate]="model.start_date" name="end_date"
                                    class="form-control-input form-control form-control-sm" type="text" bsDatepicker
                                    placeholder="YYYY-MM-DD" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}">
                                <div class="required errorMsg" [innerHtml]="errorDisplay.end_date"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label for="" class="mediumFont commonFontSize letterspacing">Description</label>
                            <div class="form-control-inputDiv">
                                <textarea [(ngModel)]="model.description" id="description" name="description" required
                                    class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                    rows="3 " placeholder="Enter Description "></textarea>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.description"></div>
                        </div>
                    </div>


                    <button type="submit" class="btn common-btn regularFont" (click)="addCourseNewData()">Add</button>
                </div>
                <!--End Other Course List Code-->
                <div *ngIf="model.course_id!='others'">

                    <div class="row">
                        <div class="col-6 pl-0">

                            <div class="form-group" >

                                <label for="" class="mediumFont commonFontSize letterspacing">Start Year</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <input required bsDatepicker autocomplete="off" placeholder="YYYY-MM-DD"
                                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"  name="course_start_year"
                                        [(ngModel)]="model.course_start_year" [maxDate]="startYearMinDate" [minDate]="startYearMaxDate"
                                        class="form-control-input form-control form-control-sm" type="text">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.course_start_year"></div>

                            </div>
                        </div>
                        <div class="col-6 pl-0 pr-0">
                            <div class="form-group">
                                <label for="" class="mediumFont commonFontSize letterspacing">Joining Standard</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <select (change)="displayClassList(model.join_standard_id)" name="join_standard"
                                        [(ngModel)]="model.join_standard_id" class="custom-select form-control-input"
                                        required>
                                        <option value="">Select Standard </option>
                                        <option value="{{standardObj.id}}" *ngFor="let standardObj of standardList">
                                            {{standardObj.standard_name}}</option>

                                    </select>
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.join_standard"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6 pl-0">
                            <div class="form-group" >

                                <label for="" class="mediumFont commonFontSize letterspacing">End Year</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <input required bsDatepicker autocomplete="off" placeholder="YYYY-MM-DD"
                                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"  name="course_end_year"
                                        [(ngModel)]="model.course_end_year" [minDate]="model.course_start_year" [maxDate]="startYearMinDate"
                                        class="form-control-input form-control form-control-sm" type="text">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.course_end_year"></div>

                            </div>
                        </div>
                        <div class="col-6 pl-0 pr-0">
                            <div class="form-group">
                                <label for="" class="mediumFont commonFontSize letterspacing">Left Standard</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <select name="left_standard" [(ngModel)]="model.left_standard_id"
                                        class="custom-select form-control-input" required>
                                        <option value="">Select Standard </option>
                                        <option value="{{standardObj.id}}" *ngFor="let standardObj of leftStandardList">
                                            {{standardObj.standard_name}}</option>

                                    </select>
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.left_standard"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6 pl-0">
                            <div class="form-group" *ngIf="model.standard_id">
                                <label for="" class="mediumFont commonFontSize letterspacing">Standard Start
                                    Year</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <input required bsDatepicker autocomplete="off" placeholder="YYYY-MM-DD"
                                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" name="standard_start_year"
                                        [(ngModel)]="model.standard_start_year"
                                        class="form-control-input form-control form-control-sm" type="text">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.standard_start_year"></div>
                            </div>
                        </div>

                        <div class="col-6 pr-0">
                            <div class="form-group" *ngIf="model.standard_id">
                                <label for="" class="mediumFont commonFontSize letterspacing">Standard End Year</label>
                                <div class="col-sm-12 p-0 form-control-inputDiv">
                                    <input required bsDatepicker autocomplete="off" placeholder="YYYY-MM-DD"
                                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" name="standard_end_year"
                                        [(ngModel)]="model.standard_end_year"
                                        class="form-control-input form-control form-control-sm" type="text">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.standard_end_year"></div>
                            </div>
                        </div>
                    </div>

                  
                    <div class="form-group row">
                        <div class="col-sm-12 p-0 form-control-inputDiv">
                            <textarea [(ngModel)]="model.comment" name="comment"
                                class="form-control-input form-control form-control-textarea" rows="3"
                                placeholder="Add Description of Study..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="mediumFont commonFontSize letterspacing">School ID </label>
                        <div class="col-sm-12 p-0 form-control-inputDiv">
                            <input  name="admission_number" [(ngModel)]="model.admission_no"
                                class="form-control-input form-control form-control-sm" type="text"
                                placeholder="Enter School ID">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.admission_number"></div>
                    </div>

                    <div class="text-center">
                            <button (click)="addCourseData()" type="submit"
                            class="btn common-btn regularFont textSpace mt-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>

<!-- <app-user-footer></app-user-footer> -->