.form-dateBgImg{
    background-image: url('/assets/images/userWebsite/calender_icon.png');
}
.formPlusText{
    padding-left: 1%;
}
@media (max-width: 414px){

    .pl-5, .px-5 {
        padding-left: .5rem!important;
    }
    .pr-5, .px-5 {
        padding-right: .5rem!important;
    } 
}
