<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <!-- <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div> -->
    </div>
</div>
<div class="container">
    <div class="bg-white border pt-3">
        <div class="row m-0">
            <div class="col-md-4 d-flex justify-content-start align-items-center flex-wrap">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Play History</h2>
            </div>
        </div>
       

        <div class="container p-3">
            <div class="row my-3 align-items-center" *ngIf="playHistory.dataSource">
                <div class="col-xl-10 col-lg-9 col-md-9 col-7 d-flex flex-row align-items-center ">
                    <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                    <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                        <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0" (change)="getPlayHistory('1')"
                            [(ngModel)]="playHistory.page_size">
                            <option *ngFor="let count of playHistory.pageCounts" value="{{count}}">{{count}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-5 text-right">
                    <button type='button' class="bg-purple text-white border-0 px-2 py-1" (click)="generateExcel()">
                        <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
                </div>
            </div>
            <div class="tableDiv mt-3" *ngIf="playHistory.dataSource">
                <div class="mat-elevation-z1 table-responsive">
                    <mat-table [dataSource]="playHistory.dataSource | paginate:playHistory.config">

                        <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;"> {{i + playHistory.startIndex}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="courseName">
                            <mat-header-cell *matHeaderCellDef> Course Title</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.course_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lectureTitle">
                            <mat-header-cell *matHeaderCellDef> Lecture Title </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.level_of_education}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="playTime">
                            <mat-header-cell *matHeaderCellDef> Play Timing </mat-header-cell>
                            <mat-cell *matCellDef="let element ">
                                {{element.field}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="playHistory.displayedColumns "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: playHistory.displayedColumns; "></mat-row>

                    </mat-table>

                </div>
            </div>
        </div>

        <pagination-controls *ngIf="playHistory.dataSource" (pageChange)="getPlayHistory($event)" class="eiPaginationTag">
        </pagination-controls>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner>
        <div class="mt-3" *ngIf=" !playHistory.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound py-4 px-3">  Records Not Available</p>
            </div>
        </div>

        
    </div>

    <!-- <app-user-footer></app-user-footer> -->
