.login-left-Image{
    width: 74%;
}

@media only screen and (max-width: 414px) {
    .login-left-Image{
        width: auto;
        margin-bottom: 10%;
    }
    .pr-5, .pl-5 {
        padding-right: .5rem!important;
        padding-left: 1.5rem!important;
    } 
}
