<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="postDetails-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">Post Details</h2>
        <div class="img-text-div border-bottom color-fadded-black">
            <img class="img-fluid imgWithTxt" style="width:270px; height:270px;" src="assets/images/userWebsite/highest_level_education_image.png" />
            <h2 class="commonFontSize semiBoldFont">MainStream Popularity</h2>
            <p class="commonFontSize regularFont">Sod ut perspiciatis uncle omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, coque ipsa quae ab illo inventor° veritatis at quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p class="commonFontSize regularFont">Nemo cnim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sad quia consequuntur magni dolores cos qui ratione voluptatem sequi nesciunt.</p>
            <p class="commonFontSize regularFont"> At vero cos at accusamus at iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores at quas molcstias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officio
                deserunt mollitia animi </p>
            <div class="likeViewDiv mb-2 color-fadded-black">
                <span class=" commonFontSize regularFont mr-3"> 5 Minutes ago </span>
                <span class="mr-3"><i class="fa fa-eye mr-1 cursorStyle" aria-hidden="true"></i>25,00</span>
                <span class="mr-3"><i class="fa fa-thumbs-up mr-1 cursorStyle" aria-hidden="true"></i>25,00</span> </div>
        </div>
        <div class="row comment d-flex flex-nowrap mx-0 mt-3">

            <img class="img-fluid comment-dp rounded-circle mr-3" src="assets/images/userWebsite/share-my-profile-icon.png" />

            <div class="comment-text">
                <h2 class="commonFontSize semiBoldFont mb-1">John Smith</h2>
                <p class="commonFontSize regularFont mb-1">Balance" is a concept based on human perception and the complex nature of the human senses of weight and proportion. Humans can evaluate these visual elements in several situations to find a sense of balance.</p>
                <div class="likeViewDiv mb-1 color-fadded-black">
                    <span class=" commonFontSize regularFont mr-3"> 5 Minutes ago </span>
                    <span class="mr-3"><i class="fa fa-eye mr-1 cursorStyle" aria-hidden="true"></i>25,00</span>
                    <span class="mr-3"><i class="fa fa-thumbs-up mr-1 cursorStyle" aria-hidden="true"></i>25,00</span>
                </div>
                <div class="col-12 subComment">
                    <div class="row d-flex flex-nowrap mt-3">
                        <img class="img-fluid comment-dp rounded-circle mr-3" src="assets/images/userWebsite/share-my-profile-icon.png" />
                        <div class="comment-text">
                            <h2 class="commonFontSize semiBoldFont mb-1">John Smith</h2>
                            <p class="commonFontSize regularFont mb-1">Balance" is a concept based on human perception and the complex nature of the human senses of weight and proportion. Humans can evaluate these visual elements in several situations to find a sense of balance.</p>
                            <div class="likeViewDiv mb-1 color-fadded-black">
                                <span class=" commonFontSize regularFont mr-3"> 5 Minutes ago </span>
                                <span class="mr-3"><i class="fa fa-thumbs-up mr-1 cursorStyle" aria-hidden="true"></i>25,00</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 subComment">
                    <div class="row d-flex flex-nowrap mt-3">
                        <img class="img-fluid comment-dp rounded-circle mr-3" src="assets/images/userWebsite/share-my-profile-icon.png" />
                        <div class="comment-text">
                            <h2 class="commonFontSize semiBoldFont mb-1">John Smith</h2>
                            <p class="commonFontSize regularFont mb-1">Balance" is a concept based on human perception and the complex nature of the human senses of weight and proportion. Humans can evaluate these visual elements in several situations to find a sense of balance.</p>
                            <div class="likeViewDiv mb-1 color-fadded-black">
                                <span class=" commonFontSize regularFont mr-3"> 5 Minutes ago </span>
                                <span class="mr-3"><i class="fa fa-thumbs-up mr-1 cursorStyle" aria-hidden="true"></i>25,00</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>