<app-user-header></app-user-header>

<div class="container contentTopSpaceLanding landingPageWidth">
    <div class="landingDiv">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <h2 class="mb-4 text-center">My Buddies </h2>
            <div>
                <div class="row paddingStyle bg-white mb-3">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png" class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Ankit Sharma</div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Batchmates 2009-10</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100" >Remove Buddy</button>
                    </div>
                </div>
                <div class="row paddingStyle bg-white mb-3">
                    <div
                        class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png"
                            class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div
                        class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Tanya </div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Schoolmates 2009-18</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100">Remove Buddy</button>
                    </div>
                </div>
                <div class="row paddingStyle bg-white mb-3">
                    <div
                        class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png"
                            class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div
                        class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Ria Jain </div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Schoolmates 2009-18</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100">Remove Buddy</button>
                    </div>
                </div>
                <div class="row paddingStyle bg-white mb-3">
                    <div
                        class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png"
                            class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div
                        class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Ankit Sharma</div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Batchmates 2009-10</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100" >Remove Buddy</button>
                    </div>
                </div>
                <div class="row paddingStyle bg-white mb-3">
                    <div
                        class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png"
                            class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div
                        class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Tanya </div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Schoolmates 2009-18</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100">Remove Buddy</button>
                    </div>
                </div>
                <div class="row paddingStyle bg-white mb-3">
                    <div
                        class="col-xl-1 col-lg-1 col-md-1 col-sm-1  col-2 p-0 justify-content-between align-items-center align-self-center">
                        <img src="assets/images/userWebsite/study_student.png"
                            class="img-fluid border-0 rounded-circle ">
                    </div>
                    <div
                        class="col-xl-9 col-lg-9 col-md-9 col-sm-9  col-6 justify-content-between align-items-center align-self-center mediumFont">
                        <div class="commonFontSize semiBoldFont">Ria Jain </div>
                        <p class="regularFont issueDateFontSize color-gray batchDetail">Schoolmates 2009-18</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2  col-4 p-0 mt-auto mb-auto">
                        <button type="button" class="common-btn btn-red-outline regularFont w-100">Remove Buddy</button>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xs-12 col-12 d-flex justify-content-center">
                    <pagination [totalItems]="30"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-user-footer></app-user-footer> -->