<div class="container-fluid ei-bg-img d-flex flex-column justify-content-center">
    <div class="row mt-5 pb-5">
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
        <div class="col-xl-4 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">KYC Verification</h2>
                <form id="kycUpdate">



                    <div class="form-group row  ">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="idProof" class="mediumFont commonFontSize letterspacing">
                                ID Proof</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <select (change)="checkIdValidation(); isValid()" [(ngModel)]="model.kyc_type"
                                    name="kyc_type" class="custom-select form-control-input" required>
                                    <option value="">Select your ID</option>
                                    <option value="Aadhar">Aadhaar Card</option>
                                    <option value="Dl">Driving License</option>
                                    <option value="Passport">Passport Number</option>
                                </select>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.kyc_type"></div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="model.kyc_type == 'Aadhar'">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="idNo" class="mediumFont commonFontSize letterspacing">
                                ID Number</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input autocomplete="off" required maxlength="{{maxLength}}" (keyup)="isValid()"
                                    [(ngModel)]="model.kyc_id_no" name="kyc_id_no" numberOnly
                                    class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="{{placeholder}}">
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.kyc_id_no"></div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="model.kyc_type != 'Aadhar'">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="idNo" class="mediumFont commonFontSize letterspacing">
                                ID Number</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input autocomplete="off" required maxlength="{{maxLength}}" (keyup)="isValid()"
                                    [(ngModel)]="model.kyc_id_no" name="kyc_id_no"
                                    class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="{{placeholder}}">
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.kyc_id_no"></div>
                        </div>
                    </div>

                    <div class="form-group row  ">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="name" class="mediumFont commonFontSize letterspacing">Name</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input required (keyup)="isValid()" [(ngModel)]="model.kyc_name" name="name"
                                    class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter Your Name">
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.kyc_name"></div>
                        </div>
                    </div>
                    <div class="form-group row  ">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="dob " class=" mediumFont commonFontSize letterspacing">DOB</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input autocomplete="off" [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}" required
                                    (change)="isValid()"
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img"
                                    type="text" placeholder="YYYY/MM/DD" [(ngModel)]="model.kyc_dob" name="dob"
                                    bsDatepicker>

                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.dob"></div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="description" class=" commonFontSize mediumFont letterspacing">Upload
                                Photo</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input
                                    class="form-control-input form-control form-control-sm h-100 commonFontSize regularFont letterspacing"
                                    type="file" (change)="handleFileInput($event.target.files); isValid();"
                                    name="document" [(ngModel)]="uploadedContent" required>
                            </div>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.document"></div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="description" class=" commonFontSize mediumFont letterspacing">Upload Back
                                photo{{model.kyc_type=='Aadhar'?'':'(optional)'}}</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input *ngIf="model.kyc_type == 'Aadhar'"
                                    class="form-control-input form-control h-100 form-control-sm commonFontSize regularFont letterspacing"
                                    type="file" (change)="handleFileInputBack($event.target.files); isValid();"
                                    [(ngModel)]="uploadedContent_back" name="document_back" required>
                                <input *ngIf="model.kyc_type != 'Aadhar'"
                                    class="form-control-input form-control h-100 form-control-sm commonFontSize regularFont letterspacing"
                                    type="file" (change)="handleFileInputBack($event.target.files); isValid();"
                                    [(ngModel)]="uploadedContent_back" name="document_back">
                            </div>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.document_back"></div>
                    </div>

                    <button type="button" (click)="goToUserQualificationPage()" [disabled]="submitDisable"
                        class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing">
                        Verify Your KYC
                    </button>

                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>