<app-ei-sidenav></app-ei-sidenav>

<div class="container containerScrolling my-3  main-container pt-3">
    <div class=" bg-white px-3 py-2">
        <h2 class="commonFontSize semiBoldFont mb-0">School Profile</h2>
        <div class="bannerDiv position-relative">
            <img *ngIf="userProfile"
                src="{{userProfile.cover_pic ? userProfile.cover_pic : 'assets/images/cover-pic-default.png'}}"
                class="img-fluid w-100">
            <!-- <app-image-uploader (imageData)="getCoverPicUrl($event)" [uploadInfo]="uploadInfo"></app-image-uploader> -->
            <button type="button" (click)="fileInput.click()"
                class=" btn_position-absolute border-0 bg-light-black text-white p-2">
                <i class="fa fa-camera" title="Upload" aria-hidden="true"></i>
                <input (change)="uploadCoverPic($event.target.files)" #fileInput type="file" style="display:none;" />
            </button>
        </div>
        <div class="">
            <div class="row pt-2">
                <div class="col-md-5 text-right d-flex profileDivLeft py-0 pr-0 pl-5">
                    <div class="dpImgDiv rounded-circle border border-primary mb-3"
                        [ngStyle]="userProfile.profile_pic ? {'background-image': 'url(' + userProfile.profile_pic + ')'} : { 'background-image' : 'url(' + 'assets/images/profile-default.png' + ')'}">
                        <div class="upload-dp position-absolute">
                            <!-- <button type="button" (click)="fileInput1.click()"
                                class=" border-0 bg-transparent text-white p-2 cursorStyle d-block mt-3">
                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                <input #fileInput1 (change)="uploadProfilePic($event.target.files)" type="file"
                                    style="display:none;" />
                            </button> -->
                            <app-image-uploader (imageData)="getProfilePicUrl($event)" [uploadInfo]="uploadInfo">
                            </app-image-uploader>
                        </div>
                    </div>
                    <img *ngIf="userProfile.approved == 1" class="img-fluid tick-img" src="assets/images/userWebsite/checkicon.png">
                    <div class="pl-4 pr-4 text-left">
                        <p class="m-0 commonFontSize mediumFont" title="name of school">{{userProfile.name_of_school}}
                        </p>
                        <p class="m-0 commonFontSize mediumFont" title="school code">{{userProfile.school_code}}</p>
                    </div>
                </div>
                <div class="col-md-7 text-right  profileDivRight ">
                    <!-- <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-4 col-md-1 padding-0">
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-4 padding-0">
                            <p class="m-0 commonFontSize mediumFont text-center cursorStyle">20K</p>
                            <p class="m-0 commonFontSize regularFont text-center">Followers</p>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-4  padding-0">
                            <button type="button" class="rounded p-2 text-dark addBuddyBtn w-75 mediumFont">Add Post</button>
                        </div>
                        <div class="col-xl-1 col-lg-2 col-md-1 padding-0">
                        </div>
                    </div> -->
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <!-- <p class="commonFontSize regularFont"><span class="semiBoldFont">Name of The School :
                        </span>{{userProfile.name_of_school}}</p> -->
                    <!-- <p class="commonFontSize regularFont"><span class="semiBoldFont">EI ZatchUp ID : </span>{{userProfile.school_code}}</p> -->
                    <!-- <p class="commonFontSize regularFont"><span class="semiBoldFont">Foundation Date : </span>01 JAN
                        2020</p> -->
                    <p class="commonFontSize regularFont"><span class="semiBoldFont">Name of Principal/Dean :
                            {{userProfile.name_of_principle}}</span></p>
                    <p class="commonFontSize regularFont"><span class="semiBoldFont">Address :
                        </span>{{userProfile.address1}} {{userProfile.address2}}</p>
                    <p class="commonFontSize regularFont"><span class="semiBoldFont">Overview of School : </span>
                        {{userProfile.overview}}
                    </p>

                    <p class="commonFontSize regularFont"><span class="semiBoldFont">School phone : </span>
                        {{userProfile.school_phone}}
                    </p>

                    <p class="commonFontSize regularFont"><span class="semiBoldFont">Facebook URL : </span>
                        {{userProfile.fb_url}}
                    </p>

                    <p class="commonFontSize regularFont"><span class="semiBoldFont">Twitter URL : </span>
                        {{userProfile.twitter_url}}
                    </p>
                    <p class="commonFontSize regularFont"><span class="semiBoldFont">School Email : </span>
                        {{userProfile.school_email}}
                    </p>


                </div>

                <div class=" col-md-7 mtStyle pb-5">

                    <div class="form-control-inputDiv border-0 bg-light-green py-4 w-75">
                        <p class="text-center m-0">Students in the school</p>
                        <p class="text-center m-0 semiBoldFont cursorStyle" (click)="goToEiVerifiedStudentPage()"> {{userProfile.total_student}}</p>
                    </div>
                    <div class=" form-control-inputDiv border-0 bg-gary mt-3 py-4 w-75">
                        <p class="text-center m-0 "> Alumni on ZatchUp
                        </p>
                        <p class="m-0 text-center color-purple semiBoldFont cursorStyle" (click)="goToEiVerifiedAlumniPage()"> {{userProfile.total_alumni}}</p>
                    </div>
                    <!-- <div>
                        <app-image-uploader (imageData)="getImageData($event)"></app-image-uploader>
                    </div> -->
                    <!-- <div class="row ">
                        <div class="col-12 colLeftPost ">
                            <div class="form-control-inputDiv ">
                                <div class="col-12 commonFontSize semiBoldFont color-purple cursor-pointer" (click)="goToEISchoolPostPage()">Posts</div>
                                <div class="col-12 ">
                                    <hr>
                                </div>
                                <div class="row ">

                                    <div class="col-6 text-center ">
                                        <img *ngIf="postOptionActiveMatrix==='active' " src="assets/images/userWebsite/matix-format.png " class="w-12 img-fluid " (click)="postTabFunction( 'matrix') ">
                                        <img *ngIf="postOptionActiveMatrix==='dead' " src="assets/images/userWebsite/matix-format.png " class="w-12 img-fluid cursorStyle" (click)="postTabFunction( 'matrix') ">
                                    </div>
                                    <div class="col-6 text-center ">
                                        <img *ngIf="postOptionActiveImage==='active' " src="assets/images/userWebsite/image-icon.png " class="w-12 img-fluid " (click)="postTabFunction( 'image') ">
                                        <img *ngIf="postOptionActiveImage==='dead' " src="assets/images/userWebsite/image-icon.png " class="w-12 img-fluid cursorStyle" (click)="postTabFunction( 'image') ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="matrix " *ngIf="postOption==='matrix' ">
                        <div class="row mt-3 ">
                            <div class="col-6 pr-0 img-container img-container-col6"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 mr-2 img-height-100 img-width-100 "></div>
                            <div class="col-6 pl-0 img-container img-container-col6"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 ml-2 img-height-100 img-width-100 "></div>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-6 pr-0 img-container img-container-col6"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 mr-2 img-height-100 img-width-100 "></div>
                            <div class="col-6 pl-0 img-container img-container-col6"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 ml-2 img-height-100 img-width-100 "></div>
                        </div>
                    </div> -->
                    <div class="images " *ngIf="postOption==='image' ">
                        <div class="card form-control-inputDiv border-0 bg-white mt-3 ">
                            <div class="card-header bg-white ">
                                <div class="row align-items-center ">
                                    <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 p-0 ">
                                        <img src="assets/images/userWebsite/study_student.png "
                                            class="img-fluid border-0 rounded-circle ">
                                    </div>
                                    <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                        <h4 class="commonFontSize semiBoldFont ">Name of the School</h4>
                                    </div>


                                </div>
                            </div>

                            <div class="row py-2 ">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                    <h4 class="commonFontSize semiBoldFont proj-title ">Title of the Project</h4>
                                </div>

                            </div>
                            <img class=" img-fluid border-radius img-container "
                                src="assets/images/userWebsite/loreal.jpg " alt="Card image ">
                            <div class="card-body ">

                                <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing
                                    and type setting industry. </p>

                                <div class="row ">
                                    <div class="col-12 ">
                                        <hr>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                        <i class="fa fa-eye mr-2 cursorStyle" aria-hidden="true"></i>70

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <i class="fa fa-thumbs-up mr-2 cursorStyle"></i> 30

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <!-- <img src="assets/images/userWebsite/share-icon.png " class="img-fluid border-0 w-like-comment "> -->

                                        <i class="fa fa-comment mr-2 cursorStyle" aria-hidden="true"></i>50
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card form-control-inputDiv border-0 bg-white mt-3 ">
                            <div class="card-header bg-white ">
                                <div class="row align-items-center ">
                                    <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 p-0 ">
                                        <img src="assets/images/userWebsite/study_student.png "
                                            class="img-fluid border-0 rounded-circle ">
                                    </div>
                                    <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                        <h4 class="commonFontSize semiBoldFont ">Name of the School</h4>
                                    </div>


                                </div>
                            </div>

                            <div class="row py-2 ">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                    <h4 class="commonFontSize semiBoldFont proj-title ">Title of the Project</h4>
                                </div>

                            </div>
                            <img class=" img-fluid border-radius img-container "
                                src="assets/images/userWebsite/loreal.jpg " alt="Card image ">
                            <div class="card-body ">

                                <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing
                                    and type setting industry. </p>

                                <div class="row ">
                                    <div class="col-12 ">
                                        <hr>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                        <i class="fa fa-eye mr-2 cursorStyle" aria-hidden="true"></i>70

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <i class="fa fa-thumbs-up mr-2 cursorStyle"></i> 30

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <!-- <img src="assets/images/userWebsite/share-icon.png " class="img-fluid border-0 w-like-comment "> -->

                                        <i class="fa fa-comment mr-2 cursorStyle" aria-hidden="true"></i>50
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card form-control-inputDiv border-0 bg-white mt-3 ">
                            <div class="card-header bg-white ">
                                <div class="row align-items-center ">
                                    <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 p-0 ">
                                        <img src="assets/images/userWebsite/study_student.png "
                                            class="img-fluid border-0 rounded-circle ">
                                    </div>
                                    <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                        <h4 class="commonFontSize semiBoldFont ">Name of the School</h4>
                                    </div>


                                </div>
                            </div>

                            <div class="row py-2 ">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                    <h4 class="commonFontSize semiBoldFont proj-title ">Title of the Project</h4>
                                </div>

                            </div>
                            <img class=" img-fluid border-radius img-container "
                                src="assets/images/userWebsite/loreal.jpg " alt="Card image ">
                            <div class="card-body ">

                                <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing
                                    and type setting industry. </p>

                                <div class="row ">
                                    <div class="col-12 ">
                                        <hr>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                        <i class="fa fa-eye mr-2 cursorStyle" aria-hidden="true"></i>70

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <i class="fa fa-thumbs-up mr-2 cursorStyle"></i> 30

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">

                                        <!-- <img src="assets/images/userWebsite/share-icon.png " class="img-fluid border-0 w-like-comment "> -->

                                        <i class="fa fa-comment mr-2 cursorStyle" aria-hidden="true"></i>50
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>