<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row ">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid float-left">
            <img src="assets/images/userWebsite/email-icon.png" class="img-fluid float-right mr-3">
        </div>
    </div>
    <div class="container mt-4 landingPageWidth">
        <div class="row landingDiv">
            <div class="col-12 ">
                <h4 class="commonFontSize semiBoldFont text-center mb-4">My Lecture Request </h4>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->