<div class="container-fluid ei-bg-img d-flex flex-column justify-content-center">
    <div class="row mt-5 pb-5">
        <div class="col-xl-3 col-lg-3 col-md-3 "></div>
        <div class="col-xl-6 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">Contact Us</h2>
                <form id="Form1">
                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-6 ">
                            <label for="City" class="mediumFont commonFontSize letterspacing">Select State </label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <select id="state" name="state" [(ngModel)]="contactUs.stateId" (change)="getCities();"
                                    class="custom-select-2Col custom-select form-control-input" required>
                                    <option value="">State </option>
                                    <option *ngFor="let state of contactUs.allStates" [value]="state.id">{{state.state}}
                                    </option>
                                </select>
                            </div>
                            <div class="required errorMsg" [innerHtml]="contactUs.errorDisplay.state"></div>
                        </div>

                        <div class="col-sm-6 MobileCol6MB">
                            <label for="City" class="mediumFont commonFontSize letterspacing">Select City </label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <select id="city" name="city" [(ngModel)]="contactUs.cityId" (change)="getSchools();"
                                    class="custom-select custom-select-2Col form-control-input" required>
                                    <option value="">City </option>
                                    <option *ngFor="let city of contactUs.allCities" [value]="city.id">{{city.city}}
                                    </option>
                                </select>
                            </div>
                            <div class="required errorMsg" [innerHtml]="contactUs.errorDisplay.city"></div>
                        </div>
                    </div>

                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-6 MobileCol6MB">
                            <label for="School" class="mediumFont commonFontSize letterspacing">Select School
                                Name </label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <select id="School_name" name="School_name" [(ngModel)]="contactUs.schoolId"
                                    (change)="getUniversityOrBoardName()"
                                    class="custom-select custom-select-2Col form-control-input" required>
                                    <option value="">Select School </option>
                                    <option *ngFor="let school of contactUs.allSchools" [value]="school.id">
                                        {{school.name_of_school}}</option>
                                </select>
                            </div>
                            <div class="required errorMsg" [innerHtml]="contactUs.errorDisplay.School_name"></div>
                        </div>
                        <div class="col-sm-6 ">
                            <label for="board" class="mediumFont commonFontSize letterspacing">Board /
                                University </label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <input id="board" (keyup)="isValid()" [(ngModel)]="contactUs.university"
                                    name="Board_or_University" readonly="readonly"
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                    type="text" placeholder="Enter your Board / University">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="Address" class="mediumFont commonFontSize letterspacing">Full
                                Address</label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <input id="address" (keyup)="isValid()" [(ngModel)]="contactUs.fullAddress"
                                    name="address" readonly="readonly"
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                    type="text" placeholder="Please Enter address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="Address" class="mediumFont commonFontSize letterspacing">
                                Issue</label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <input id="issue" required (keyup)="isValid()" [(ngModel)]="contactUs.issue"
                                    name="issue"
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                    type="text" placeholder="Please Enter issue">
                            </div>
                            <div class="required errorMsg" [innerHtml]="contactUs.errorDisplay.issue"></div>
                        </div>
                    </div>
                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="Address" class="mediumFont commonFontSize letterspacing">Messages</label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <textarea id="Messages" required (keyup)="isValid()" [(ngModel)]="contactUs.message"
                                    name="Messages"
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                    type="text" placeholder="Please Enter messages"></textarea>
                            </div>
                            <div class="required errorMsg" [innerHtml]="contactUs.errorDisplay.Messages"></div>
                        </div>
                    </div>
                    <button type="submit"
                        class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing"
                        (click)="submit()">Submit</button>
                    <!-- <p class="text-center commonFontSize mediumFont letterspacing mt-4">Contact us at <span
                            class="textUnderlineStyle letterspacing">help@zatchup.com</span></p> -->
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 "></div>
    </div>
</div>