.custom-select {
    background-position: 98%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .custom-select {
        background-size: 10%;
    }
}

@media only screen and (max-width: 414px) {
    .pl-5, .px-5 {
        padding-left: .5rem!important;
    }
    .pr-5, .px-5 {
        padding-right: .5rem!important;
    } 

}