<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">{{title}} Student</h2>
            </div>

        </div>
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select (change)="displayStandardList(model.course)" id="course_id" [(ngModel)]="model.course"
                            name="course" required class="custom-select  form-control-input" required>
                            <option value=""> Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of courseList">{{course.course_name}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select (change)="displayClassList(model.standard)" id="standard_id"
                            [(ngModel)]="model.standard" name="standard" required
                            class="custom-select  form-control-input" required>
                            <option value=""> Select Standard</option>
                            <option value="{{standard.id}}" *ngFor="let standard of standardList">
                                {{standard.standard_name}}</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="model.teaching_class" name="class" required
                            class="custom-select  form-control-input" required>
                            <option value=""> Select Class</option>
                            <option value="{{class.id}}" *ngFor="let class of classList">{{class.class_name}}</option>

                        </select>
                    </div>
                </div>


                <button (click)="applyFilter()" type="button"
                    class="bg-purple text-white px-5 py-2 h-100 mt-2 border-0 ">Apply</button>


            </div>
        </div>
        <div class="row my-3" *ngIf="studentList.length>0">
            <div class="col-md-5 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getGetVerifiedStudent('','')" [(ngModel)]="model.page_size" name="page_size"
                        class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">

                        <option *ngFor="let count of this.pageCounts" value="{{count}}">{{count}}</option>

                    </select>
                </div>
            </div>
            <div class="col-md-7 justify-content-end d-flex flex-row flex-wrap">

                <button type='button' (click)="getExportData()"
                    class="bg-paret-green text-white border-0 px-3 py-1 mr-2 mt-2"><i class="fa fa-file-excel-o mr-2"
                        aria-hidden="true"></i>Export</button>
                <button *ngIf="model.approved=='1'" type='button' class="bg-blue text-white border-0 px-3 py-1 mt-2"
                    data-toggle="modal" data-target="#changeClassModel">Bulk Action</button>
            </div>
        </div>
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive" *ngIf="studentList.length>0">
                <mat-table #table [dataSource]="dataSource | paginate: config">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checked">
                        <mat-header-cell *matHeaderCellDef>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox [disabled]="!model.teaching_class"
                                (change)="getStudentBycheckboxClickForStudentBulkAction(element.student_id,$event)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ZatchUpID">
                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.zatchupID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="color-lightBlue">
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userID">
                        <mat-header-cell *matHeaderCellDef> School ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.userID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="roll_no">
                        <mat-header-cell *matHeaderCellDef> Roll No </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.roll_no}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Gender">
                        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{getGender(element)}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Age">
                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.age}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef> Class Alias </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.alias_class}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promote" >
                        <mat-header-cell *matHeaderCellDef> Promote </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button *ngIf="element.approved==1" [disabled]="element.approved!=1"  class="color-white bg-purple border-0 py-1 px-2" data-toggle="modal" data-target="#promoteModel"
                                (click)="promoteResetPopup(element)">Promote</button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class=" justify-content-center align-items-centers ">
                            <!-- <i class="fa fa-comment mr-2 color-green fa-lg cursorStyle" aria-hidden="true "></i> -->
                            <i  class="fa fa-pencil mr-2 color-green fa-lg cursorStyle"
                                title="Edit" aria-hidden="true "
                                (click)="goToEiStudentEditPage(element.student_id,element.approved)"></i>
                            <i class="fa fa-eye mr-2 color-blue fa-lg cursorStyle" title="View" aria-hidden="true "
                                (click)="goToEiStudentProfilePage(element.student_id)"></i>
                            <i *ngIf="element.firebase_id" (click)="goToChatScreen(element)"
                                class="fa fa-comment mr-2 color-green fa-lg mr-3 cursorStyle" aria-hidden="true "></i>
                            <span *ngIf="element.kyc_approved==1">
                                <i *ngIf="element.approved!=1" (click)="openModel(element.student_id)" title="Approve"
                                    class="fa fa-check mr-2 color-green fa-lg mr-3 cursorStyle" aria-hidden="true "
                                    data-toggle="modal"></i>
                                <!-- <i *ngIf="element.approved==1" (click)="openModel(element.student_id)" class="fa fa-times-circle mr-2 color-red fa-lg mr-3 cursorStyle"></i> -->
                            </span>
                            <i *ngIf="element.approved!=0" class="fa fa-ban mr-2 color-red fa-lg cursorStyle"
                                title="Reject" aria-hidden="true " data-toggle="modal" data-target="#rejectModel"
                                (click)="openRejectModel(element.student_id)"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
            <div class="row" *ngIf="studentList.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">Records not found.</p>
                </div>
            </div>
            <pagination-controls *ngIf="studentList.length>0" (pageChange)="getGetVerifiedStudent($event,'')"
                class="eiPaginationTag"></pagination-controls>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                <p style="color: white">Please Wait. </p>
            </ngx-spinner>
        </div>

        <!-- changeClassModel  -->
        <div class="modal fade" id="changeClassModel" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content unverified container-fluid">
                    <div class="modal-header align-items-center border-0 pb-0 pl-0">
                        <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Change class for Students
                        </h2>
                        <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                            data-dismiss="modal" aria-label="Close ">
                            <span aria-hidden="true ">
                                &times;
                                <!-- <i class="fa fa-times text-dark" aria-hidden="true"></i> -->
                            </span>
                        </button>
                    </div>
                    <div class="modal-body px-0 py-0">
                        <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                        <p class="commonFontSize regularFont letterspacing">Are you sure you want to selected students
                            change for details?</p>
                        <div class="col-6 editClass" *ngFor="let class of classList;">
                            <input type="radio" [(ngModel)]="model.class_id" name="class" name="class"
                                value="{{class.id}}" />{{class.class_name}}
                        </div>
                        <p class="commonFontSize regularFont letterspacing text-right">
                            <button type="button" (click)="editBulkClass()"
                                class="bg-Gainsboro px-3 py-1 border-0 commonFontSize mediumFont letterspacing">Edit
                                Class</button>

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Promote Model-->
    <div class="modal fade" id="promoteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Promote</h2>

                    <button type="button " #closePromoteModel
                        class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                        aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>


                <div class="modal-body px-0">
                    <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                    <form id="promote">
                        <div class="row">
                            <div class="widthFull col-md-4 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                                <div class="widthFull">
                                    <select (change)="displayStudentStandardList(modelPromote.course)" id="course_id"
                                        [(ngModel)]="modelPromote.course" name="course1" required
                                        class="custom-select border form-control-input" required>
                                        <option value=""> Select Course</option>
                                        <option value="{{course.id}}" *ngFor="let course of studentCourseList">
                                            {{course.course_name}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="widthFull col-md-4 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                                <div class="widthFull">
                                    <select (change)="displayClassList(modelPromote.standard)" id="standard_id"
                                        [(ngModel)]="modelPromote.standard" name="standard1" required
                                        class="custom-select border form-control-input" required>
                                        <option value=""> Select Standard</option>
                                        <option value="{{standard.id}}" *ngFor="let standard of studentStandardList">
                                            {{standard.standard_name}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="widthFull col-md-4 custumInputWidth">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                                <div class="widthFull">
                                    <select id="class_id" [(ngModel)]="modelPromote.teaching_class" name="class1" required
                                        class="custom-select border form-control-input" required>
                                        <option value=""> Select Class</option>
                                        <option value="{{class.id}}" *ngFor="let class of classList">
                                            {{class.class_name}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="" class=" mediumFont commonFontSize letterspacing">Roll Number</label>
                                <div class="form-control-inputDiv rounded p-0 shadow-none">
                                    <input [(ngModel)]="modelPromote.roll_no" name="roll_number"
                                         
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="text" placeholder="Enter Roll Number">
                                </div>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.roll_number"></div>
                        </div>
                       <div class="text-center mt-3">
                            <button (click)="promoteStudent()" type="button "
                            class="bg-purple border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing ">
                            Submit
                        </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- rejectModel  -->
    <div class="modal fade" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Reject</h2>
                    <button type="button " #closeRejectModel
                        class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                        aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>


                <div class="modal-body px-0">
                    <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                    <form id="rejectReason">
                        <div class=" form-group row ">
                            <div class="col-md-12 ">
                                <label for="" class=" mediumFont commonFontSize letterspacing">Reason type</label>
                                <div class="form-control-inputDiv rounded p-0 shadow-none w-100">
                                    <input id="remark" [(ngModel)]="modelReason.remark" name="reason_type" required
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="text" placeholder="Enter Reason">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.reason_type"></div>
                            </div>
                        </div>
                        <div class=" form-group row ">
                            <div class="col-md-12 ">
                                <label for="Remarks " class=" commonFontSize semiBoldFonttterspacing ">Remarks</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none w-100"><textarea
                                        [(ngModel)]="modelReason.rejected_reason" name="remarks" required
                                        class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                        rows="3 " placeholder="Enter Remarks "></textarea>
                                </div>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.remarks"></div>
                        </div>
                        <button (click)="rejectStudent()" type="button "
                            class="bg-purple border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing ">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- verifiedModel  -->
    <div class="modal fade" id="verifiedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center border-0 pb-0 pl-0">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Verified</h2>
                    <button type="button" #verifiedModel
                        class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                        aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                            <!-- <i class="fa fa-times text-dark" aria-hidden="true"></i> -->
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0 py-0">
                    <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                    <p class="commonFontSize regularFont letterspacing">Are you sure you want to Verify this Student?
                    </p>
                    <p class="commonFontSize regularFont letterspacing text-right">
                        <!-- <span class="mx-3 color-blue">No</span>
                      <span class="mx-2 color-blue">Yes</span> -->
                        <button type="button" (click)="closeModel()"
                            class="bg-red px-3 color-white py-2 border-0 rounded mr-3 modalAddStudentsBtn mediumFont">No</button>
                        <button type="button" (click)="approveStudent(1, modelUserId)"
                            class="bg-purple py-2 px-3 color-white border-0 rounded modalAddStudentsBtn mediumFont">Yes</button>

                    </p>
                </div>
            </div>
        </div>
    </div>