<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="bg-white border text-center pt-3">
        <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0">Notifications</h2>
        </div>

        <div class="container p-3">
            <div class="tableDiv ">
                <div class="mat-elevation-z1 table-responsive" *ngIf="dataSource.length>0">
                    <mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="SNo">
                            <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="NotificationMessage">
                            <mat-header-cell *matHeaderCellDef> Notification Message </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.message}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Time">
                            <mat-header-cell *matHeaderCellDef class="justify-content-center"> Time </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="justify-content-center">
                                {{element.recived_time}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </mat-table>
                </div>
            </div>
            <div class="row" *ngIf="dataSource.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">No records found.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>