<app-ei-sidenav></app-ei-sidenav>
<!-- <div class="container main-container">
    <div class="landingDiv">       
        
    </div>
</div>  -->

<div class="container main-container">
    <div class="landingDiv">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Pending Requests</h2>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div  class="pt-3" style="clear: both;">

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="row form-control-inputDiv pt-2 mb-3 pb-3">
                            <div class="border-bottom col-12 pb-2">
                            <h2 class=" color-purple commonFontSize semiBoldFont m-0 ml-2">Old Data</h2>
                        </div>
                            <div class="col-md-12 pt-2">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2">Course Details
                                </h3>

                                <div class="pr-4 pl-0" *ngIf="oldData">
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Name of Course : <span
                                            class="regularFont">{{oldData.course_name}}</span></p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont"> Course Duration : <span
                                            class="regularFont">{{oldData.start_year}}-{{oldData.is_current_course?'Current':oldData.end_year}}</span>
                                    </p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Course Tenure : <span
                                            class="regularFont">{{oldData.duration}}</span></p>

                                    <h3 *ngIf="oldData.standard_detail"
                                        class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2 mt-2">Standard
                                        Details </h3>
                                    <div class="row pb-2  mb-2"  *ngFor="let objSd of oldData.standard_detail">
                                        <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                            Standard : <span class="regularFont">{{objSd.standard_name}} </span>
                                        </div>
                                        <div *ngFor="let objCd of objSd.class_detail">
                                        <div 
                                            class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Class (Sub-Section) : <span class="regularFont">{{objCd.class_name}} </span>
                                        </div>
                                        <!-- <div *ngIf="objCd.roll_no"
                                            class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Roll Number : <span class="regularFont">{{objCd.roll_no}}  </span>
                                        </div> -->
                                    </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row form-control-inputDiv pt-2 mb-3 pb-3">
                            <div class="border-bottom col-12 pb-2">
                            <h2 class=" color-purple commonFontSize semiBoldFont m-0 ml-2">New Data</h2>
                        </div>
                            <div class="col-md-12 pt-2">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2">Course Details
                                </h3>

                                <div class="pr-4 pl-0" *ngIf="newData">
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Name of Course : <span
                                            class="regularFont">{{newData.course_name}}</span></p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont"> Course Duration : <span
                                            class="regularFont">{{newData.start_year}}-{{newData.is_current_course?'Current':newData.end_year}}</span>
                                    </p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Course Tenure : <span
                                            class="regularFont">{{newData.duration}}</span></p>

                                    <h3
                                        class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2 mt-2">Standard
                                        Details </h3>
                                    <div class="row pb-2 mb-2" *ngFor="let nobjSd of newData.standard_detail">
                                        <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                            Standard : <span class="regularFont">{{nobjSd.standard_name}} </span>
                                        </div>
                                        <div *ngFor="let nobjCd of nobjSd.class_detail">
                                        <div 
                                            class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Class (Sub-Section) : <span class="regularFont"> {{nobjCd.class_name}}</span>
                                        </div>
                                        <!-- <div *ngIf="nobjCd.roll_no"
                                            class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Roll Number : <span class="regularFont">{{nobjCd.roll_no}} </span>
                                        </div> -->
                                    </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
