<!-- <app-admin-sidenav></app-admin-sidenav> -->
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3 w-50 paymentInvoice">
        <div class="row topDiv">
            <div class="col-md-12 text-center">
                <h2 class="commonFontSize semiBoldFont m-0">Payment Invoice</h2>
            </div>

            <div class="col-md-12 mt-3">
                <div class="row border-bottom pt-3">
                    <div class="col-md-6">
                        <p class="semiBoldFont mediumFont">Order Status <span class="mr-3 float-right">:</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Success</p>
                    </div>
                </div>
    
                <div class="row border-bottom pt-3">
                    <div class="col-md-6">
                        <p class="semiBoldFont mediumFont">Transaction ID <span class="mr-3 float-right">:</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Googlepay</p>
                    </div>
                </div>
    
                <div class="row border-bottom pt-3">
                    <div class="col-md-6">
                        <p class="semiBoldFont mediumFont">Order Amount <span class="mr-3 float-right">:</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Rs. 300.00</p>
                    </div>
                </div>
    
                <div class="row border-bottom pt-3">
                    <div class="col-md-6">
                        <p class="semiBoldFont mediumFont">ZatchUp ID <span class="mr-3 float-right">:</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>ZATCHUP000001</p>
                    </div>
                </div>
    
                <div class="row border-bottom pt-3">
                    <div class="col-md-6">
                        <p class="semiBoldFont mediumFont">Email ID <span class="mr-3 float-right">:</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Jayant@triazinesoft.com</p>
                    </div>
                </div>
    
                <div class="row mt-4">
                    <div class="col-md-12 pt-3">
                        <p class="semiBoldFont mediumFont">Regards,</p>
                        <p>ZatchUp Team</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
