<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>
    <div class="container landingPageWidth">
        <div class="row landingDiv mb-5">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10">
                <h2 class="mb-5 text-center">Select the payment method</h2>
                <div class="form-control-inputDiv mb-4 DivStyle">
                    <div class="mediumFont">Credit Card | Debit card <img class="img-fluid tickImg"
                            src="assets/images/userWebsite/tick-icon.png"></div>
                </div>
                <div class="form-control-inputDiv mb-5 DivStyle">
                    <div class="mediumFont">Wallet </div>
                </div>

                <button type="submit" class="btn regularFont proceedBtn mt-2" (click)="goToUserMySchoolPage();">Proceed
                </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1"></div>
        </div>
    </div>
</div>

<app-user-footer></app-user-footer>