<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3" *ngIf="!dashboardPremission">
    <div class="school-dashboard-div bg-white px-3 py-2">
        <h2 class="commonFontSize semiBoldFont">School Dashboard</h2>
        <div class="row">
            <form autocomplete="off" autocapitalize="off">
                <div class="col-12 d-flex justify-content-start flex-wrap">
                    <div class="form-control-inputDiv rounded shadow-none mr-1 mb-2">
                        <!-- <input class="form-control-input form-control  commonFontSize regularFont letterspacing " type="date" placeholder="YYYY/MM/DD"> -->
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing "
                            type="text" placeholder="YYYY/MM/DD" [(ngModel)]="model.fromDate" name="fromDate"
                            bsDatepicker [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">
                    </div>
                    <div class="form-control-inputDiv rounded shadow-none mr-1 mb-2">
                        <!-- <input  class="form-control-input form-control  commonFontSize regularFont letterspacing " type="date" placeholder="YYYY/MM/DD"> -->
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing "
                            type="text" placeholder="YYYY/MM/DD" [(ngModel)]="model.toDate" name="toDate" bsDatepicker
                            [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}">
                    </div>
                    <div class="mb-2">
                        <button (click)="getDate($event)" type="button"
                            class="h-100 bg-light-black border-0 text-white p-2 px-4 border-0  rounded commonFontSize mediumFont letterspacing">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">ZatchUp Alumni</p>
                    <h2 class="countFontSize text-center semiBoldFont"><span
                            (click)="goToEiAlumniListPage()">{{dashboardCount.total_alumni}}</span></h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary">Verified / Unverified:<span
                            class="ml-2"><span
                                (click)="goToEiVerifiedAlumniPage()">{{dashboardCount.verified_alumni}}</span>/<span
                                (click)="goToEiUnverifiedAlumniPage()">{{dashboardCount.pending_alumni}}</span> </span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div (click)="redirectTotalStudentPage()"
                    class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">ZatchUp Students</p>
                    <h2 class="countFontSize text-center semiBoldFont">{{dashboardCount.total_student}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary">Total ZatchUp Students:<span
                            class="ml-2">{{dashboardCount.total_student}}</span></p>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Funding Received</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary">Total Funding Received:<span
                            class="ml-2">0</span></p>
                </div>
            </div> -->
        </div>
    </div>
    
    <div class="Pending-div bg-white px-3 py-2 mt-3">
        <h2 class="commonFontSize semiBoldFont">Pending Action</h2>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Student Pending </p>
                    <h2 class="countFontSize text-center semiBoldFont">{{dashboardCount.pending_student}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Student
                        Verification Pending :<span class="ml-2">{{dashboardCount.pending_student}}</span></p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Alumni Pending</p>
                    <h2 class="countFontSize text-center semiBoldFont">{{dashboardCount.pending_alumni}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Alumni
                        Verification Pending:<span class="ml-2">{{dashboardCount.pending_alumni}}</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Sub-Admin Access </p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Sub-Admin
                        Verification Pending:<span class="ml-2">0</span></p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Sub-Admin Access </p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Sub-Admin
                        Access Requests:<span class="ml-2">0/0</span></p>
                </div>
            </div>
            <!-- <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">ZatchUp StarClass Pending</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">ZatchUp
                        StarClass Requests:<span class="ml-2">0</span></p>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Unread Messages for EI</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Unread Messages
                        for EI:<span class="ml-2">0</span></p>
                </div>
            </div> -->
        </div>
        <!-- <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Unread Messages</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Unread Messages
                        for You:<span class="ml-2">0/0</span></p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0   cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Post Approvals Students</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Post Approvals
                        From Students:<span class="ml-2">0</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0  cursorStyle">
                    <p class="p-2 mediumFont commonFontSize">Post Approvals Alumni</p>
                    <h2 class="countFontSize text-center semiBoldFont">0</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-purple purple-lg-height text-white">Post Approvals
                        From Alumni:<span class="ml-2">0</span></p>
                </div>
            </div>
        </div> -->

    </div>
   
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>
<div class="container main-container p-3" *ngIf="dashboardPremission">
    <div class="col-12 pt-2 pb-2">
        <p class="text-center dataNotFound pt-4 pb-4">Permission Not Allowed</p>
    </div>
</div>