.custom-select {
    width: 100%;
    background-position: 96%;
}

.medium-filter-box {
    flex: 0 0 18%;
}

@media (max-width: 767px){
    .medium-filter-box {
        flex: 0 0 45%;
    }
}


/**********mat table**********/