<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="TotalAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <!-- <div class="row topDiv">
            <div class="col-md-12 ">
                <h2 class="commonFontSize semiBoldFont m-0">Admin User Search</h2>
            </div>

        </div> -->
        <!--Start html for filter for alumni list-->
        <div class="filterDiv ">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">User Search</h2>
            <div class="d-flex flex-wrap align-items-end">
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">Current City</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <!-- <input class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img" type="text" placeholder="MM/DD/YYYY"> -->
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing " id="city" type="input" placeholder="Enter Current City">

                    </div>
                </div>
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">Current EI</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <!-- <input class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img" type="text" placeholder="MM/DD/YYYY"> -->
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing " type="input" id="currentEi" placeholder="Enter Current EI">

                    </div>
                </div>
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">Past EI</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <!-- <input class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img" type="text" placeholder="MM/DD/YYYY"> -->
                        <input class="form-control-input form-control  commonFontSize regularFont letterspacing " id="lastLoginFrom" type="input" placeholder="Enter Past EI">

                    </div>
                </div>


                <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 ">Apply</button>


            </div>
        </div>
        <!--End html for filter for alumni list-->
        <!--Start html for filter for No of alumni per page with export button-->
        <div class="row my-4">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Number of User Per
                    Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1"><i class="fa fa-file-excel-o mr-2"
                        aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <!--End html for filter for No of alumni per page with export button-->

        <!--Start html for table content Alimni information-->
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePic">
                        <mat-header-cell *matHeaderCellDef>Profile </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <img mat-card-avatar [src]="element.profilePic" class="mat-img-proPic cursorStyle" />
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ZatchUpID">
                        <mat-header-cell *matHeaderCellDef>User ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ZatchUpID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userType">
                        <mat-header-cell *matHeaderCellDef> User Type </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.userType}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="currentEI">
                        <mat-header-cell *matHeaderCellDef> Current EI </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.currentEI}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="pastEI">
                        <mat-header-cell *matHeaderCellDef>Past EI</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.pastEI}} </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
        <!--End html for table content Alimni information-->
    </div>
</div>