<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center ei-bg-img">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
        <div class="col-xl-4 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">Forgot Password</h2>
                <form id="form1">

                    <div class="form-group row  ml-0 mr-0">
                        <label for="emailid" class="commonFontSize mediumFont letterspacing">Enter Your Registered Email id / Mobile Number.</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex rounded p-1 align-items-center shadow-none">
                            <!-- <span class="ei-signup-bg-box">
                                <i class="fa fa-phone text-white" aria-hidden="true"></i>
                            </span> -->
                            <input id="EmailID" required (keyup)="isValid($event)"
                                class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing form-bgImg form-emailBgImgPhone"
                                type="text" placeholder="Email Id / Mobile Number" [(ngModel)]="model.email_or_phone" name ="email_or_phone">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.email_or_phone"></div>
                    </div>
                    <div class="form-group" *ngIf="verificationMobileNo">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Enter OTP Send On Your Registerd Email id / Mobile Number.</label>
                        <div class="d-flex flex-row justify-content-between">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp1" name="otp1" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp2" name="otp2" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp3" name="otp3" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input [(ngModel)]="otp4" name="otp4" class=" form-control ei-form-control text-center commonFontSize semiBoldFont" type="text" maxlength="1">

                        </div>
                    </div>

                    <p *ngIf="verificationMobileNo" class="text-right commonFontSize mediumFont textUnderlineStyle letterspacing" (click)="resendOtp()">Resend OTP</p>

                    <button type="button"
                        class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont"
                        (click)="submit();">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3  col-md-3"></div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 