<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center ei-bg-img">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
        <div class="col-xl-4 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">Password Recovery?</h2>
                <form id="form1">

                    <div class="form-group row  ml-0 mr-0">
                        <label for="emailid" class="commonFontSize mediumFont letterspacing">Enter your registered Email
                            ID or Mobile Number</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                <i class="fa fa-phone text-white" aria-hidden="true"></i>
                            </span>
                            <input id="EmailID" required (keyup)="isValid($event)"
                                class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing"
                                type="text" placeholder="Enter Email or Mobile Number" [(ngModel)]="model.email_or_phone" name ="EmailID">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.EmailID"></div>
                    </div>

                    <button type="button"
                        class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont"
                        (click)="submit();">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3  col-md-3"></div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 