<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="ModuleWiseAccess-div bg-white px-2 pt-2 pb-5">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont mb-1">Module Wise Access</h2>
            </div>

        </div>
       
        <div class="row mt-3">
            <ul>
                <ol *ngFor="let menuModule of moduleList">
                <li class="liWithoutDot regularFont mb-1">{{menuModule.module_name}}</li>
                <ul class="mb-1" *ngIf="menuModule.sub_module_set.length>0">
                    <li class="liWithoutDot regularFont mb-1" *ngFor="let menuModuleInner of menuModule.sub_module_set"> {{menuModuleInner.module_name}} </li>
                     
                </ul>
               </ol>
            </ul>
        </div>
    </div>

    <div class="DetailSubAdmin-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">
                <h2 class="commonFontSize semiBoldFont m-0">Details Of Sub-Admin / Teacher</h2>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="goToEiSubadminModuleAccessHistoryPage()">History</button>
            </div>
        </div>
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive" *ngIf="dataSource.length>0">
                <mat-table [dataSource]="dataSource |  paginate: config">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ZatchUpID">
                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ZatchUpID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="EmployeeID">
                        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.EmployeeID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="EmailID">
                        <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.EmailID}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PhoneNumber">
                        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.PhoneNumber}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Designation">
                        <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.Designation}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i (click)="redirectToDetailPage(element.user_id)"
                                class="fa fa-eye mr-2 cursorStyle color-lightBlue fa-lg" aria-hidden="true "></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
            <div class="row" *ngIf="dataSource.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">No records found.</p>
                </div>
            </div>
            <pagination-controls *ngIf="dataSource.length>0" (pageChange)="sudAdminList($event)"
                class="eiPaginationTag"></pagination-controls>
        </div>
    </div>

</div>