<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-6 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle ">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0 "> Current POC Details </h2>
            </div>
            <div class="col-xl-6 col-12 d-flex justify-content-end flex-wrap">
                <button type="button" class="bg-dark text-white px-4 py-2 ml-2 border-0 mb-2" data-toggle="modal"
                    data-target="#changepoc">Change POC</button>
            </div>
        </div>

        <div class="row mt-3" *ngIf="currentPocDetails.response">
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Emplyee ID <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{currentPocDetails.response.employee_id}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Name <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span>{{currentPocDetails.response.full_name}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{currentPocDetails.response.phone}}</span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Email ID <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{currentPocDetails.response.email}} </span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- changepoc  -->
    <div class="modal fade" id="changepoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Change POC</h2>
                    <button type="button " #closeModel class="close rounded-circle border bg-white model-close-btn p-0"
                        data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">

                        <div class="col-md-12 mt-2">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Enter Employee ID
                                </label>
                                <div class="rounded-0 p-0 w-100 shadow-none">
                                    <!-- <input class="form-control-input form-control  commonFontSize regularFont letterspacing" 
                                    type="text" placeholder="Enter Employee ID" [(ngModel)]="currentPocDetails.model.employeeId"> -->
                                    <input-search [config]="currentPocDetails.searchConfig" [value]="''"
                                        (searchResult)="pocDetails($event)"></input-search>
                                </div>

                                <div *ngIf="!currentPocDetails.poc_required" class="required errorMsg">
                                    Employee id is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Employee Name </label>
                                <div class="p-0 w-100 border rounded shadow-none">
                                    <input
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="text" placeholder="Enter Employee Name" readonly="true"
                                        [(ngModel)]="currentPocDetails.model.fullName">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Mobile Number </label>
                                <div class="p-0 w-100 border rounded shadow-none">
                                    <input
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="tel" placeholder="Enter Mobile Number" readonly="true"
                                        [(ngModel)]="currentPocDetails.model.phone">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Email ID </label>
                                <div class="p-0 w-100 border rounded shadow-none">
                                    <input
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="email" placeholder="Enter Email ID" readonly="true"
                                        [(ngModel)]="currentPocDetails.model.email">
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="button "
                        class="bg-purple border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing"
                        (click)="changePoc()"> Submit </button>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-xl-12 col-lg-12">
                <h2 class="commonFontSize semiBoldFont m-0 "> Past POC Details </h2>
            </div>
        </div>

        <div class="filterDiv">
            <form autocapitalize="off" autocomplete="off">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="widthFull mr-4 mt-3 ">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Date From</label>
                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing "
                                id="fromDate" name="fromDate" type="text" placeholder="YYYY/MM/DD" bsDatepicker
                                [maxDate]="maxDate" [(ngModel)]="filterFromDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true , dateInputFormat: 'YYYY-MM-DD'}">
                        </div>
                    </div>

                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Date To</label>
                        <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                            <input class="form-control-input form-control  commonFontSize regularFont letterspacing "
                                id="toDate" name="toDate" placeholder="YYYY/MM/DD" bsDatepicker [maxDate]="maxDate"
                                [(ngModel)]="filterToDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true , dateInputFormat: 'YYYY-MM-DD'}">
                        </div>
                    </div>

                    <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 "
                        (click)="getPastPocDetails()">Apply</button>
                </div>
            </form>
        </div>

        <!--Start html for "table Course Lecture" and Export Button-->
        <div class="row my-3 align-items-center" *ngIf="pastPocDetails.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-7 d-flex flex-row align-items-center ">
                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        (change)="getPastPocDetails('2')" [(ngModel)]="pastPocDetails.page_size">
                        <option *ngFor="let count of pastPocDetails.pageCounts" value="{{count}}">{{count}}</option>
                        <!-- <option value="10">10</option>
                        <option value="15">15</option> -->
                    </select>
                </div>
            </div>
           
        </div>

        <div class="tableDiv my-3" *ngIf="pastPocDetails.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="pastPocDetails.dataSource | paginate:pastPocDetails.config">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element let i = index"> {{i + pastPocDetails.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fromDate">
                        <mat-header-cell *matHeaderCellDef> From Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.start_date | date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="toDate">
                        <mat-header-cell *matHeaderCellDef> To Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.end_date | date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="employeeId">
                        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.employee_id}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.full_name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="mobileNumber">
                        <mat-header-cell *matHeaderCellDef> Mobile Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.phone}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="emailAddress">
                        <mat-header-cell *matHeaderCellDef> Email Address </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.email}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="addedByEmployeeId">
                        <mat-header-cell *matHeaderCellDef> Added By Employee ID </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.added_by_empID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="addedByemployeeName">
                        <mat-header-cell *matHeaderCellDef> Added By Employee Name</mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.added_by_empName}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="pastPocDetails.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: pastPocDetails.displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="pastPocDetails.dataSource" (pageChange)="getPastPocDetails($event)"
            class="eiPaginationTag">
        </pagination-controls>
        <div class="row" *ngIf="!pastPocDetails.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
    </div>
</div>