<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <h2 class="commonFontSize semiBoldFont mb-2 mt-2">Advertisements Details</h2>

        <div class="row">
            <div class="col-md-8 col-12">
                <div class="pt-0">                        
                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Advertisements Title
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Advertisements Type
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Images
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Caption
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Caption 1
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Number of Clicks Bought
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>5,000
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Age Group
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>20-22 Year
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Locations
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Delhi
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize d-flex">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            <span> Profession/Current Education /Highest Level of Education</span>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Profession 1
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Advertise Status
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Accepted
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Advertise Process
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>Completed
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Amount Paid
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>1,000
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Nummber of Clicks Expired
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>5,000
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Nummber of Clicks Pending
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>2,000
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-6 commonFontSize">
                            <span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                            Image/Vedio
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 commonMaterialFontSize regularFont">
                            <span class="mr-1">: </span>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="./assets/images/userWebsite/loreal.jpg" alt="Advertise Pick" class="img-responsive"/>                                        
                                </div>
                                <div class="col-md-4">
                                    <img src="./assets/images/userWebsite/loreal.jpg" alt="Advertise Pick" class="img-responsive"/>                                        
                                </div>
                                <div class="col-md-4">
                                    <img src="./assets/images/userWebsite/loreal.jpg" alt="Advertise Pick" class="img-responsive"/>                                        
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <h2 class="commonFontSize semiBoldFont mb-2 mt-2">Audience Summary</h2>
    </div>
</div>
