<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="col-md-5 d-flex justify-content-start flex-wrap align-items-center">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0">Pending Access Requests</h2>
        </div>
        
        <!--Start html for filter for No of alumni per page with export button-->
        <div class="row my-3">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex flex-row align-items-center">
                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Student Count Per Page </label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getPendingAccessRequest('')" [(ngModel)]="model.page_size" class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="">select One</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExcel()"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div> -->
        </div>
        <!--End html for filter for No of alumni per page with export button-->
        
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource | paginate: config">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index;"> {{i+startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchup_id">
                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.zatchup_id}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.first_name}}  {{element.last_name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="employee_num">
                        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.employee_num}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="designation">
                        <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.designation}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="module">
                        <mat-header-cell *matHeaderCellDef> Module </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.module}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sub_module">
                        <mat-header-cell *matHeaderCellDef> Sub-Module </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.sub_module}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="class_list">
                        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.class_list}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                        <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.remarks}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewSubAdmin">
                        <mat-header-cell *matHeaderCellDef> View Sub-Admin </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <i (click)="redirectToDetailPage(element.user_id)" class="fa fa-eye mr-2 color-blue fa-lg cursorStyle" aria-hidden="true "></i>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i (click)="approveUser(element.id)" class="fa fa-check mr-2 color-green fa-lg cursorStyle" aria-hidden="true "></i>
                            <i  data-toggle="modal" data-target="#rejectModel" (click)="rejectUserModal(element.id)"  class="fa fa-ban mr-2 color-red fa-lg cursorStyle" aria-hidden="true "></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
              
            <div class="row" *ngIf="!dataSource">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
                </div>
            </div>
            <pagination-controls *ngIf="dataSource && dataSource.length > 0" (pageChange)="getPendingAccessRequest($event)"
                class="eiPaginationTag">
            </pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0 ">
                <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Reject</h2>
                <button #closeRejectModal type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
            </div>

            <div class="modal-body px-0">
                <form id="rejectReason" autocomplete="off" autocapitalize="off">
                    <!-- <div class=" form-group row ">
                        <div class="col-md-12 ">
                            <label for="" class=" mediumFont commonFontSize letterspacing">Reason type</label>
                            <div class="form-control-inputDiv rounded p-0 shadow-none">
                                <input id="remark" (keyup)="isValid()" [(ngModel)]="modelReason.rejected_remark" name="rejection_reason"
                                    required
                                    class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                    type="text" placeholder="Enter Reason">
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.rejection_reason"></div>
                        </div>
                    </div> -->
                    <div class=" form-group row ">
                        <div class="col-md-12 ">
                            <label for="Remarks " class=" commonFontSize semiBoldFonttterspacing ">Remarks</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none ">
                                <textarea [(ngModel)]="modelReason.rejected_remark" name="remarks" required
                                    class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                    rows="3 " placeholder="Enter Remarks" (keyup)="isValid()"></textarea>
                            </div>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.remarks"></div>
                    </div>
                    <button (click)="rejectUser()" type="button "
                        class="bg-purple border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing ">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>