.commingSoon{
    font-size: 64px;
    padding: 0px 0px 400px 0px;
    font-style: italic;
    line-height: 1.2em;
}

@media (max-width: 667px){
    .commingSoon{
        font-size: 43px;
        padding: 0px 0px 200px 0px;
    }
}