<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="courseLecture-div bg-white border mt-3 px-3 py-3">
        <h1 class="commonFontSize semiBoldFont m-0">
            <img (click)="goBack()" src="assets/images/userWebsite/back-icon.png" class="img-fluid ml-0 subHeaderImg cursorStyle">
            <p *ngIf="dataSource.length>0">Students List </p></h1>
        <div class="form-control-inputDiv rounded p-0 shadow-none mt-2 position-relative" *ngIf="dataSource.length>0">
            <input [(ngModel)]="model.search" (keyup)="getGetVerifiedStudent('','')" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing pl-5"
                type="search" placeholder="Search Student">
            <span class="position-absolute position-ppin">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        </div>
        <div class="tableDiv mt-3">
            <div class="mat-elevation-z1 table-responsive" *ngIf="dataSource.length>0">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="selectCheckbox">
                        <mat-header-cell *matHeaderCellDef class="text-center"> <mat-checkbox (change)="selectAll($event,'student')"  [checked]="checkAllS" class="example-margin"> </mat-checkbox> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="text-center"> <mat-checkbox (change)="selectOne($event,'student',element.student_id)" [disabled]="params.editgroup?element.isdisabled:false" [checked]="element.checked"  class="example-margin"> {{element.selectCheckbox}} </mat-checkbox> </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePick">
                        <mat-header-cell *matHeaderCellDef> Profile Pic </mat-header-cell>
                        <mat-cell *matCellDef="let element">  
                            <img src="{{element.profile_pic?element.profile_pic:'./assets/images/userWebsite/profile-image.png'}}" alt="profile pick" style="height: 50px;"/>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nameOfStudents">
                        <mat-header-cell *matHeaderCellDef> Name of Student </mat-header-cell>
                        <mat-cell *matCellDef="let element ">{{element.name}}  </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="relationship">
                        <mat-header-cell *matHeaderCellDef> Relationship </mat-header-cell>
                        <mat-cell *matCellDef="let element">Student
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="classDetails">
                        <mat-header-cell *matHeaderCellDef> Class Details </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.class}}
                             
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="classAlias">
                        <mat-header-cell *matHeaderCellDef> Class (Alias) </mat-header-cell>
                        <mat-cell *matCellDef="let element">                            
                            {{element.alias_class}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rollNumber">
                        <mat-header-cell *matHeaderCellDef> Roll Number </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.roll_no}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
            <div class="row" *ngIf="dataSource.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">No students found in the standard.</p>
                </div>
            </div>
        </div>
    </div>
 
    <div class="courseLecture-div bg-white border mt-3 px-3 py-3" *ngIf="dataSource1.length>0">
        <h2 class="commonFontSize semiBoldFont m-0">Teacher List</h2>
        <!-- <div class="form-control-inputDiv rounded p-0 shadow-none mt-2 position-relative">
            <input [(ngModel)]="modelteacher.search" (keyup)="getGetVerifiedStudent('','')" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing pl-5"
                type="search" placeholder="Search Teacher">
            <span class="position-absolute position-ppin">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        </div> -->
        <div class="tableDiv mt-3" *ngIf="dataSource1.length>0">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource1">
                    <ng-container matColumnDef="selectCheckbox">
                        <mat-header-cell *matHeaderCellDef class="text-center"> <mat-checkbox [checked]="checkAllT" (change)="selectAll($event,'')" class="example-margin"> </mat-checkbox> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="text-center"> <mat-checkbox (change)="selectOne($event,'',element.user_id)" [disabled]="params.editgroup?element.isdisabled:false" [checked]="element.isadded" class="example-margin"> {{element.selectCheckbox}} </mat-checkbox> </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePick">
                        <mat-header-cell *matHeaderCellDef> Profile Pic </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <img src="{{element.profile_pic?element.profile_pic:'./assets/images/userWebsite/profile-image.png'}}" alt="profile pick" style="height: 50px;"/>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nameOfStudents">
                        <mat-header-cell *matHeaderCellDef> Name of Teacher </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.first_name}} {{element.last_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="relationship">
                        <mat-header-cell *matHeaderCellDef> Relationship </mat-header-cell>
                        <mat-cell *matCellDef="let element"> Teacher
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rollNumber">
                        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.employee_num}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns1 "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1; "></mat-row>
                </mat-table>
            </div>
        </div>
       <div class="row" *ngIf="dataSource1.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">No teacher found.</p>
                </div>
            </div>
    </div>
     <button (click)="createGroup()" type="button" class="btn bg-paret-green color-white px-4 mt-3 btn-info">Create</button>
</div>