<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="KYC-HistoryView-div bg-white px-3 pt-2 pb-3">
        <div class="col-md-12 d-flex justify-content-start align-items-center flex-wrap p-0">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0"> Play History</h2>
        </div>

        <div class="row my-3 align-items-center" *ngIf="eiPlayHistory.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-7 d-flex flex-row align-items-center ">
                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        (change)="getPlayHistory('1')" [(ngModel)]="eiPlayHistory.page_size">
                        <option *ngFor="let count of eiPlayHistory.pageCounts" value="{{count}}">{{count}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-lg-3 col-md-3 col-5 text-right">
                <button type='button' class="bg-purple text-white border-0 px-2 py-1" (click)="generateExcel()">
                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div> -->
        </div>

         <div class="row mt-3">
            <div class="col-md-12">
                 <!--Start html for table content Alimni information-->
                <div class="tableDiv " *ngIf="eiPlayHistory.dataSource">
                    <div class="mat-elevation-z1 table-responsive" >
                        <mat-table [dataSource]="eiPlayHistory.dataSource | paginate:eiPlayHistory.config">

                            <ng-container matColumnDef="position">
                                <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index;"> {{i + eiPlayHistory.startIndex}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="lectureTitle">
                                <mat-header-cell *matHeaderCellDef> Lecture Title  </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.lecture_title}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="playedBy">
                                <mat-header-cell *matHeaderCellDef> Played By </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.user}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="zatchupId">
                                <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.zatchup_id}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="playTime">
                                <mat-header-cell *matHeaderCellDef> Play Timing </mat-header-cell>
                                <mat-cell *matCellDef="let element ">
                                    {{element.start_time | date:'shortTime'}} - {{element.end_time |  date:'shortTime'}}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="eiPlayHistory.displayedColumns "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: eiPlayHistory.displayedColumns; "></mat-row>
                        </mat-table>
                    </div>
                </div>
                <pagination-controls *ngIf="eiPlayHistory.dataSource" (pageChange)="getPlayHistory($event)" class="eiPaginationTag">
                </pagination-controls>
                <div class="row" *ngIf="!eiPlayHistory.dataSource">
                    <div class="col-12 pt-2 pb-2">
                        <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 

