.border-bottom-width {
    border-bottom-width: 2px;
}

.subAdminAuthorization-table tr th,
.subAdminAuthorization-table tr td {
    min-width: 55px;
}

.subAdminAuthorization-table tr .descriptionClass {
    min-width: 400px;
}

.subAdminAuthorization-table tr .detailClass {
    min-width: 260px;
}

.toggleslider {
    color: red;
    border: 1px solid #463267;
    border-radius: 25px;
}


::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #37a713 !important;
}