<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="commonFontSize semiBoldFont m-0"> Courses Details</h2>
            <!-- <button type="button" class="bg-dark text-white py-1 px-3 border-0">Edit Courses</button> -->
        </div>

        <div class="tableDiv ">
            <div class="mat-elevation-z0 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef> Course Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="startYear">
                        <mat-header-cell *matHeaderCellDef> Start Year </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.startYear}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="endYear">
                        <mat-header-cell *matHeaderCellDef> End Year </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.endYear}}
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="durationOfCourse">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Duration of Course
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            {{element.durationOfCourse}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfStandards">
                        <mat-header-cell *matHeaderCellDef> Number Of Standards </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.noOfStandards}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfClass">
                        <mat-header-cell *matHeaderCellDef>Number Of Class </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.noOfClass}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfStudents">
                        <mat-header-cell *matHeaderCellDef>Number Of Students </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="color-blue">
                            {{element.noOfStudents}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfAlumni">
                        <mat-header-cell *matHeaderCellDef> Number Of Alumni </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.noOfAlumni}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="justify-content-center">
                            <i (click)="openModel('course')"
                                class="fa fa-edit text-green fa-lg cursorStyle color-green mr-3"></i>
                            <i class="fa fa-trash color-red fa-lg" aria-hidden="true"></i>
                            <!-- {{element.unverifyStudent}} -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>


        <div class="tableDiv mt-4 AssignRoll table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-Gainsboro align-middle">
                        <th scope="col">S.No</th>
                        <th scope="col">Course Name </th>
                        <th scope="col">Standards</th>
                        <th scope="col">Duration of Standards</th>
                        <th scope="col">Number of Class</th>
                        <th scope="col">Start Year</th>
                        <th scope="col">End Year</th>
                        <th scope="col">Number of Students</th>
                        <th scope="col">Number of Alumni</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor=" let standard of standardList;let i=index;">
                        <td>{{i+1}}</td>
                        <td *ngIf="i==0" [attr.rowspan]="courseList[0].num_of_standard">{{courseList[0].course_name}}
                        </td>
                        <td>{{standard.standard_name}}</td>
                        <td>{{standard.duration}}</td>
                        <td>{{standard.num_of_class}}</td>
                        <td>{{standard.start_year}}</td>
                        <td class="w-15">{{standard.end_year}}</td>
                        <td class="color-blue">{{standard.num_of_student}}</td>
                        <td>{{standard.num_of_alumni}}</td>
                        <td><i (click)="getStandardById(standard.id)"
                                class="fa fa-edit text-green cursorStyle fa-lg color-green mr-3"></i>
                            <i class="fa fa-trash color-red fa-lg" aria-hidden="true"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tableDiv mt-4 AssignRoll table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-Gainsboro align-middle">
                        <th scope="col">Standards</th>
                        <th scope="col">Duration of Students</th>
                        <th scope="col">Sub-Section</th>
                        <th scope="col">Class Alias</th>
                        <th scope="col">Start Year</th>
                        <th scope="col">End Year</th>
                        <th scope="col">Number of Students</th>
                        <th scope="col">Number of Alumni</th>
                        <th scope="col">Action</th>

                    </tr>

                </thead>
                <tbody>
                    <!-- *ngFor=" let classes of classList;let i=index;"-->
                    <tr *ngFor=" let classes of classList;let i=index">

                        <td *ngIf="classes.class_count!=0" [attr.rowspan]="classes.class_count">
                            {{classes.standard_name}}</td>
                        <td *ngIf="classes.class_count!=0" [attr.rowspan]="classes.class_count">{{classes.duration}}
                        </td>


                        <td>{{classes.class_name}}</td>
                        <td>{{classes.alias_class}}</td>
                        <td>{{classes.start_year}}</td>
                        <td>{{classes.end_year}}</td>
                        <td class="color-blue">{{classes.num_of_student}}</td>
                        <td>{{classes.num_of_alumni}}</td>
                        <td><i (click)="getClassById(classes.id)"
                                class="fa fa-edit text-green fa-lg color-green mr-3"></i>
                            <i class="fa fa-trash color-red fa-lg" aria-hidden="true"></i></td>
                    </tr>




                </tbody>
            </table>
        </div>

    </div>
</div>
<!--Edit Course-->
<div class="modal fade" id="editCourseModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0">
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
                <h2>Edit Course</h2>
            </div>
            <div class="modal-body pl-2 pr-2 text-center">                
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 w-100">
                            <input [(ngModel)]="editModel.course_name" name="course_name"
                                class=" form-control ei-form-control color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                                type="text">
                        </div>
                        <div class="col-12 mt-2 w-100">
                            <select required [(ngModel)]="editModel.course_type" name="course_type"
                                class="custom-select border form-control-input form-control-sm ">
                                <option value="">Select type</option>
                                <option value="Regular">Regular</option>
                                <option value="Distance">Distance</option>

                            </select>
                        </div>
                        <div class="col-12 mt-2"> <textarea [(ngModel)]="editModel.description"
                                class="w-100 rounded p-1 border pl-3 form-control" rows="5" style="resize: none;"></textarea></div>

                    </div>
                </div>

                <button type="button" class="btn common-model-Btn mt-4" (click)="editCourse();">Edit </button>

                <!-- </form> -->

            </div>
        </div>
    </div>
</div>
<!--Edit Standard-->
<div class="modal fade" id="editStandardModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0">
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
                <h2>Edit Standard</h2>
            </div>
            <div class="modal-body pl-2 pr-2 text-center">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 w-100 mb-2">
                            <input [(ngModel)]="editStModel.standard_name" name="standard_name"
                                class=" form-control ei-form-control color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                                type="text">
                        </div>
                        <div class="col-12 mt-20 w-100">
                            <input [(ngModel)]="editStModel.duration" name="duration"
                                class=" form-control ei-form-control color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                                type="text">
                        </div>

                    </div>
                </div>

                <button type="button" class="btn common-model-Btn mt-4" (click)="editStandard(editStModel.id);">Edit
                </button>

                <!-- </form> -->

            </div>
        </div>
    </div>
</div>

<!--Edit Class-->
<div class="modal fade" id="editClassModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0">
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
                <h2>Edit Class</h2>
            </div>
            <div class="modal-body pl-2 pr-2 text-center">
                <div class="form-group">
                        <div class="form-group row ">
                            <div class="col-xl-6 col-lg-6 ">
                                <label for=" " class=" commonFontSize mediumFont letterspacing ">Sub Section</label>
                                <div class="form-control-inputDiv rounded p-0 shadow-none ">
                                    <input required id="class_name" required
                                        [(ngModel)]="editClassModel.class_name" name="class_name"
                                        class="form-control-input form-control commonFontSize regularFont letterspacing form-control-sm "
                                        type="text " placeholder="Enter Sub Section ">
                                </div>
                                

                            </div>
                            <div class="col-xl-6 col-lg-6 margin-top-col-6 ">
                                <label for=" " class=" mediumFont commonFontSize letterspacing text-nowrap ">EI
                                    Start
                                    teaching this class</label>
                                <div class="row ">
                                    <div class=" col-6 ">
                                        <div class=" form-control-inputDiv py-1 rounded shadow-none ">
                                            <select id="teaching_start_year" required
                                                [(ngModel)]="editClassModel.teaching_start_year"
                                                name="teaching_start_year"
                                                class="custom-select  form-control-input form-control-sm " required>
                                                <option value="">Year</option>
                                                <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col-6 ">
                                        <div class="py-1 form-control-inputDiv rounded shadow-none ">
                                            <select id="teaching_start_month" required
                                                [(ngModel)]="editClassModel.teaching_start_month"
                                                name="teaching_start_month"
                                                class="custom-select form-control-input form-control-sm " required>
                                                <option value="">Month</option>
                                                <option value="{{m}}" *ngFor="let m of month">{{m}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 margin-top-col-6 mt-3">
                                <label for=" " class=" mediumFont commonFontSize letterspacing text-nowrap ">EI
                                    End
                                    teaching this class</label>
                                <div class="row ">
                                    <div class=" col-6 ">
                                        <div class=" form-control-inputDiv py-1 rounded shadow-none ">
                                            <select 
                                                id="teaching_end_year"
                                                
                                                [(ngModel)]="editClassModel.teaching_end_year"
                                                name="teaching_end_year"
                                                class="custom-select  form-control-input form-control-sm ">
                                                <option value="">Year</option>
                                                <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col-6 ">
                                        <div class="py-1 form-control-inputDiv rounded shadow-none ">
                                            <select id="teaching_end_month" [(ngModel)]="editClassModel.teaching_end_month"
                                                name="teaching_end_month"
                                                class="custom-select form-control-input form-control-sm ">
                                                <option value="">Month</option>
                                                <option value="{{m}}" *ngFor="let m of month">{{m}}</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group row ">
                            <div class="col-xl-10 col-lg-10-col-md-12 col-12 d-flex flex-column ">
                                <label for="pronouce " class=" mediumFont commonFontSize letterspacing text-nowrap ">EI
                                    Start
                                    teaching
                                    this class</label>
                                <div class="d-flex flex-xs-column flex-row justify-content-between ">
                                    <mat-checkbox id="is_teaching_current"
                                        [(ngModel)]="editClassModel.is_teaching_current" name="is_teaching_current"
                                        class="purple-checkbox">Current
                                        Teaching
                                    </mat-checkbox>

                                    <mat-checkbox id="teaching_stopped" [(ngModel)]="editClassModel.teaching_stopped"
                                        name="teaching_stopped" class="purple-checkbox">Stopped Date
                                    </mat-checkbox>

                                </div>


                            </div>
                        </div>


                    
                </div>

                <button type="button" class="btn common-model-Btn mt-4" (click)="editClassById(editClassModel.id);">Edit
                </button>

                <!-- </form> -->

            </div>
        </div>
    </div>
</div>