::ng-deep .mat-list-itemw-auto {
    height: auto!important;
}

.cart-image {
    width: 80px;
    min-width: 80px;
    height: auto;
}
.itemIcon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.mat-list-item-content{
    padding: 0px !important;
}

/* ::ng-deep .mat-list-item-content {
    padding: 1rem 0!important;
    align-items: flex-start!important;
} */

.mat-list-base .mat-list-item .mat-list-item-content{
    padding: 1rem 0!important;
}

input#couponCode:focus {
    outline: none;
}