.border-bottomCustom{
    border-bottom: 1px solid #ccc;
}
.chat_content{
    width: 65%;
    margin: 0px auto;
}
.commentCustom{height: 50px; border-radius: 10px;}
ul {
    list-style-type: none;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 0px;
}

.addChatProfile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    margin: 20px 0px;
    overflow: hidden;
}
.addChatProfile img {
    max-width: 100%;
}
.profileCamara {
    position: absolute;
    left: 95px;
    bottom: 15px;
    background: #463267;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 35px;
}
ul.participantsList li {
    display: inline-block;
    margin: 10px 15px 10px;
    text-align: center;
}
ul.participantsList span {
    display: block;
    margin-top: 5px;
}
span.group-admin {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    top: 4px;
}

span.group-admin-green {
    border: 1px solid #3fa83f;
    color: #3fa83f;
}
span.group-member{
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    bottom: 4px;
    display: none;
}

li.user-blkrow:hover .group-member {
    display: block;
}

 

.addParticipants {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    font-size: 11px;
}
.addChatProfile > i {
    font-size: 50px;
    line-height: 120px;
    color: #666;
}
ul.participantsList li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
ul.participantsList span {
    margin-top: 0px;
}
.pickSize {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}
li.user-blkrow {
    padding: 12px 20px;
}
li.user-blkrow:hover {
    background: #f2f2f2;;
}
.img-small {
    width: 40px;
}
.userLabel {
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 767px){
    .chat_content{
        width: 100%;
    }
    .w-50{
        width: 100% !important;
    }
    .addChatProfile{
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .addChatProfile i{
        font-size: 26px;
        line-height: 26px;
    }
    ul.participantsList li{margin: 0px;}
}