<app-admin-sidenav></app-admin-sidenav>

<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2 class="mb-3 pt-3">My Profile</h2>

            <div class="pt-3" style="clear: both;"  *ngIf="subData">
                <div class="row">
                    <div class="col-md-12 text-right d-flex flex-wrap p-0 align-items-center position-relative">
                        <div class="position-relative border customDiv">
                            <img src="assets/images/profile_pic_transparent.png" class="img_profile img-fluid">
                            <!-- <app-image-uploader (imageData)="getProfilePicUrl($event)" [uploadInfo]="uploadInfo">
                            </app-image-uploader> -->
                        </div>
                        <img  src="assets/images/userWebsite/checkicon.png" class="img-fluid ml-1 tickImg">

                        <div class="pl-3  text-left my-3">
                            <h2 class="m-0 commonFontSize semiBoldFont"><span 
                                    class="text-capitalize">{{subData.full_name}}</span></h2>
                            <!-- <p class="m-0 commonFontSize semiBoldFont">Unique ZatchUp ID
                                :fgdz </p> -->
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="row form-control-inputDiv pt-2 pb-3">
                            <div class="col-md-12 d-flex justify-content-between align-items-center">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0">Personal Information
                                </h3>
                                <!-- <img src="assets/images/userWebsite/edit.png"  class="cursorStyle img-fluid editIcon">  -->
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <p  class="m-0 mb-1 commonFontSize semiBoldFont">DOB : <span
                                        class="regularFont"> <a class="cursorStyle">{{subData.date_of_birth}}</a></span>
                                </p>
                              

                                <p  class="m-0 mb-1 commonFontSize semiBoldFont">Employee Id : <span
                                        class="regularFont"><a class="cursorStyle">{{subData.employee_id}}</a></span></p>

                                <p  class="m-0 mb-1 commonFontSize semiBoldFont">Email : <span
                                        class="regularFont"><a class="cursorStyle">{{subData.email_address}}</a></span></p>
                                <p  class="m-0 mb-1 commonFontSize semiBoldFont">Phone Number :
                                    <span class="regularFont"><a class="cursorStyle">{{subData.phone_number}}</a></span></p>
                                
                                <p  class="m-0 mb-1 commonFontSize semiBoldFont">Designation : <span
                                        class="regularFont"><a class="cursorStyle">{{subData.designation}}</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>





<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>

