<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-3 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Audience Students List</h2>
            </div>
        </div>

        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3" >
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select (change)="displayStandardList(studentAudienceList.course)" id="course_id" [(ngModel)]="studentAudienceList.course" name="course" required class="custom-select  form-control-input"
                            required>
                            <option value=""> Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of courseList">{{course.course_name}}
                            </option>

                        </select>

                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select (change)="displayClassList(studentAudienceList.standard)" id="standard_id" [(ngModel)]="studentAudienceList.standard" name="standard" required
                            class="custom-select  form-control-input" required>
                            <option value=""> Select Standard</option>
                            <option value="{{standard.id}}" *ngFor="let standard of standardList">
                                {{standard.standard_name}}</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="studentAudienceList.teaching_class" name="class" class="custom-select  form-control-input">
                            <option value=""> Select Class</option>
                            <option value="{{class.id}}" *ngFor="let class of classList">{{class.class_name}}</option>

                        </select>
                    </div>
                </div>

                <button (click)="getStudentAuidenceList('')" type="button" class="bg-purple text-white px-5 py-2 h-100 mt-2 border-0 ">Apply</button>


            </div>
        </div>

        <div class="row my-3 align-items-center" *ngIf="studentAuidence.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-7 d-flex flex-row align-items-center ">
                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        (change)="getStudentAuidenceList('')" [(ngModel)]="studentAuidence.page_size">
                        <option *ngFor="let count of studentAuidence.pageCounts" value="{{count}}">{{count}}</option>
                    </select>
                </div>
            </div>
           
        </div>

        <div class="tableDiv mt-3" *ngIf="studentAuidence.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="studentAuidence.dataSource | paginate: studentAuidence.config">
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [(ngModel)]="selectAll" (change)=" all($event)">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index">
                            <mat-checkbox name="ch{{i}}" [(ngModel)]="element.is_access_for_star_class" (change)=" getStudentAudienceBycheckbox(element.user_id,$event,i)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{i + studentAuidence.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePic">
                        <mat-header-cell *matHeaderCellDef> Profile Pic</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="imgCircle">
                                <img *ngIf="element.profile_pic" src="{{element.profile_pic}}" alt="School profile" class="img-fluid cerImg rounded">
                                <img *ngIf="!element.profile_pic" src="assets/images/profile-default.png" alt="School profile" class="img-fluid cerImg rounded">
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nameOfStudent">
                        <mat-header-cell *matHeaderCellDef> Name of Student </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.first_name}} {{element.last_name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="classDetails">
                        <mat-header-cell *matHeaderCellDef>Class Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.class_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef> Class(Alias) </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.alias_class}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rollNo">
                        <mat-header-cell *matHeaderCellDef> Roll Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.roll_no}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="studentAuidence.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: studentAuidence.displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
        <pagination-controls *ngIf="studentAuidence.dataSource" (pageChange)="getStudentAuidenceList($event)" class="eiPaginationTag">
        </pagination-controls>
        <div class="row mt-3" *ngIf="!studentAuidence.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
        <button type="button" class="bg-paret-green text-white py-2 px-4 commonFontSize mediumFont border-0" (click)="addStudentAudience()">Submit</button>

    </div>

</div>