<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-3 pb-3 mt-3">
        <h2 class="commonFontSize semiBoldFont m-0">Audience Students List</h2>
        <!-- <div class="row mb-2">
            <div class="col-md-6 d-flex align-items-end">
                <div class=" mr-2">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Class Alias</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" id="classAlias">
                    <option value=""> Select Class</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                    </div>
                </div>
                <button type="button" class="bg-purple text-white py-2 px-4 border-0">Apply</button>

            </div>
            <div class="col-md-6 button-div d-flex align-items-start ">
                <div class="form-control-inputDiv rounded-0 p-0 mr-2  border-top shadow-none">
                    <input class="form-control-input form-control  commonFontSize regularFont letterspacing " type="text" id="search" placeholder="Search...">
                </div>
                <button type="button" class="bg-dark text-white py-2 px-3 border-0">Apply</button>
            </div>
        </div> -->

        <div class="tableDiv" *ngIf="studentAuidence.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="studentAuidence.dataSource | paginate: studentAuidence.config">
                    <ng-container matColumnDef="select" class="ml-2">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox class="ml-2" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <!-- <mat-cell *matCellDef="let element">
                            <mat-checkbox class="ml-2" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </mat-cell> -->
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox 
                            (change)="getCartData(element, studentAuidence.id)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{i + studentAuidence.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePic">
                        <mat-header-cell *matHeaderCellDef> Profile Pic</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="imgCircle">
                                <img *ngIf="element.profile_pic" src="{{element.profile_pic}}" alt="School profile"
                                    class="img-fluid cerImg rounded">
                                <img *ngIf="!element.profile_pic" src="assets/images/profile-default.png" alt="School profile"
                                    class="img-fluid cerImg rounded">
                            </div></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nameOfStudent">
                        <mat-header-cell *matHeaderCellDef> Name of Student </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.first_name}} {{element.last_name}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="relationship">
                        <mat-header-cell *matHeaderCellDef> Relationship </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.relationship}}
                        </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="classDetails">
                        <mat-header-cell *matHeaderCellDef>Class Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.class_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef> Class(Alias) </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.alias_class}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rollNo">
                        <mat-header-cell *matHeaderCellDef> Roll Number </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.roll_no}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="studentAuidence.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: studentAuidence.displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
        <pagination-controls *ngIf="studentAuidence.dataSource" (pageChange)="getStudentAuidenceList($event)"
        class="eiPaginationTag">
    </pagination-controls>
    <div class="row" *ngIf="!studentAuidence.dataSource">
        <div class="col-12 pt-2 pb-2">
            <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
        </div>
    </div>
        <button *ngIf="studentAuidence.dataSource" type="button" class="bg-paret-green text-white py-2 px-4 mt-3 commonFontSize mediumFont border-0">Submit</button>

    </div>

</div>