<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="d-flex justify-content-between mb-3 border-bottom pb-2">
            <h2 class="commonFontSize semiBoldFont m-0">Project Comments</h2>
        </div>
        
        <div class="project_comment_container">
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 col-3 pb-1 pt-2">
                    <img src="./assets/images/userWebsite/profile-image.png" alt="Profile Pick" class="pickCircle round-img"/>
                </div>
                <div class="col-xl-11 col-lg-11 col-md-11 col-9 pb-1 pt-2">
                    <div class="conver_div d-flex justify-content-between flex-wrap">
                        <span class="conver_name semiBoldFont">John Smith</span>
                        <img src="./assets/images/userWebsite/delete_icons.png" alt="Profile Pick" class="deleteIcon cursorStyle mr-4"/>
                    </div>
                    <p>lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen.</p>
                    <div class="post_duration">15 Minutes ago <span class="pl-2">Reply</span></div>
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-xl-1 col-lg-1 col-md-1 col-0 pb-1 pt-2"></div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-3 pb-1 pt-2">
                    <img src="./assets/images/userWebsite/profile-image.png" alt="Profile Pick" class="pickCircle round-img"/>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-9 pb-1 pt-2">
                    <div class="conver_div d-flex justify-content-between flex-wrap">
                        <span class="conver_name semiBoldFont">Genie Inabottle</span>
                        <img src="./assets/images/userWebsite/delete_icons.png" alt="Profile Pick" class="deleteIcon cursorStyle mr-4"/>
                    </div>
                    <p>lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen.</p>
                    <div class="post_duration">15 Minutes ago <span class="pl-2">Reply</span></div>
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-xl-1 col-lg-1 col-md-1 col-3 pb-1 pt-2">
                    <img src="./assets/images/userWebsite/profile-image.png" alt="Profile Pick" class="pickCircle round-img"/>
                </div>
                <div class="col-xl-11 col-lg-11 col-md-11 col-9 pb-1 pt-2">
                    <div class="conver_div d-flex justify-content-between flex-wrap">
                        <span class="conver_name semiBoldFont">Mario Speedwagon</span>
                        <img src="./assets/images/userWebsite/delete_icons.png" alt="Profile Pick" class="deleteIcon cursorStyle mr-4"/>
                    </div>
                    <p>lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen.</p>
                    <div class="post_duration">15 Minutes ago <span class="pl-2">Reply</span></div>
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-xl-1 col-lg-1 col-md-1 col-0 pb-1 pt-2"></div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-3 pb-1 pt-2">
                    <img src="./assets/images/userWebsite/profile-image.png" alt="Profile Pick" class="pickCircle round-img"/>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-9 pb-1 pt-2">
                    <div class="conver_div d-flex justify-content-between flex-wrap">
                        <span class="conver_name semiBoldFont">Genie Inabottle</span>
                        <img src="./assets/images/userWebsite/delete_icons.png" alt="Profile Pick" class="deleteIcon cursorStyle mr-4"/>
                    </div>
                    <p>lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen.</p>
                    <div class="post_duration">15 Minutes ago <span class="pl-2">Reply</span></div>
                </div>
            </div>
        </div>

        <div class="row border-top pt-3">
            <div class="col-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control formfocusStyle" placeholder="Type Something..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append cursorStyle">
                        <span class="input-group-text bg-light-black color-white" id="basic-addon2">Post</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>