<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="coursePreview-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="col-md-12 d-flex justify-content-start align-items-center flex-wrap p-0">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0">Course Preview</h2>
        </div>

        <div class="row mt-3">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <iframe class="previewVideo w-100 border border-gray" src="http://staging.zatchup.com/zatchupapi/zatchup/media/lectures_upload/preview/file_example_MP4_480_1_5MG.mp4"></iframe>
            </div>
        </div>
        <!--End Video image div of coursePReview-->

    </div>

    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <!---->
        <div class="row topDiv">
            <div class="col-12 ">
                <h2 class="commonFontSize semiBoldFont m-0">View Course</h2>
            </div>
            <!-- <div class="col-6 text-right">
                <button type="button" class="bg-dark text-white px-4 py-2 ml-2 border-0 ">History</button>
            </div> -->
        </div>
        <div class="mt-2 border-0 mx-0">
            <!-- start Div for banner-->

            <!--Start div for oView Course Details-->
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Level of Education</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Field</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Standard</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Subject</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Number Of Lectures</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Teaching Faculty Details</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Duration of the Course(In Hours)</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Topic Cover</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Description</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Plan Detail</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>

                        <div class="col-12 ml-4">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                                    <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                    <p>Date of Buying</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                                    <p><span class="mr-3">:</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                                    <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                    <p>Details of Plan</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                                    <p class="color-blue"><span class="mr-3 text-dark">:</span><span class="textUnderlineStyle color-blue cursorStyle">  </span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                                    <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                    <p>Amount</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                                    <p class="color-blue"><span class="mr-3 text-dark">:</span><span class="textUnderlineStyle color-blue cursorStyle">  </span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                                    <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                    <p>Date of Expiry</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                                    <p class="color-blue"><span class="mr-3 text-dark">:</span><span class="textUnderlineStyle color-blue cursorStyle">  </span></p>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <!--End div for oView Course Details-->
        </div>

    </div>

    <div class="courseLecture-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">Course Lecture</h2>

        <!--Start html for "table Course Lecture" and Export Button-->
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Number of Course Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>

        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lectureTitle">
                        <mat-header-cell *matHeaderCellDef>Lecture Title </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.lectureTitle}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="topicsCoverd">
                        <mat-header-cell *matHeaderCellDef> Topics Covered </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.topicsCoverd}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewDetails">
                        <mat-header-cell *matHeaderCellDef>View Details</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <i class="fa fa-eye color-lightBlue cursorStyle" aria-hidden="true" title="View" (click)="goToLectureView()"></i>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="durationOfLecture">
                        <mat-header-cell *matHeaderCellDef> Duration Of Lecture </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.durationOfLecture}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="play">
                        <mat-header-cell *matHeaderCellDef> Play </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.play}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <!--End html for " table Course Lecture" and Export Button-->
    </div>
</div>