<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>ZatchUp</mat-toolbar>
        <mat-nav-list>
            <span class="">
                <a class="navbar-brand">
                    <img class="img-fluid mobileLogoImg" src="assets/images/EiWebsite/kyc_logo.png" routerLink="/ei/dashboard">
                </a>
            </span>
            <span class="spacer"></span>
            <!-- <mat-icon aria-label="Side nav toggle icon" class="position-absolute closeMenu">cancel</mat-icon> -->
            <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">dashboard</i>
                <span class="commonFontSize"> Dashboard</span>
            </a>
            <a mat-list-item routerLink="/admin/school-management" routerLinkActive="link-active" *ngIf="isValid('MODULE020')">
                <i class="material-icons mr-2 md-18">school</i>
                <span class="commonFontSize"> School Management </span>
            </a>
            <a class="md-button md-ink-ripple" mat-list-item routerLink="/admin/user" routerLinkActive="link-active" *ngIf="isValid('MODULE021')">
                <i class="material-icons mr-2 md-18">groups</i>
                <span class="commonFontSize"> User Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE000')" routerLink="/admin/starclass-management" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">groups</i>
                <span class="commonFontSize"> ZatchUp Starclass Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE005')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">payments</i>
                <span class="commonFontSize"> Donation Project Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE006')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">request_quote</i>
                <span class="commonFontSize"> Lecture Requests Management </span>
            </a>
            <a mat-list-item tooltip="Coming Soon..." *ngIf="isValid('MODULE007')">
                <i class="fa fa-certificate mr-2" aria-hidden="true"></i>
                <span class="commonFontSize"> E-Certificates And E-Report Cards </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE008')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">post_add</i>
                <span class="commonFontSize"> Post Management </span>
            </a>
            <a mat-list-item routerLink="/admin/kyc-approval-management" routerLinkActive="link-active" *ngIf="isValid('MODULE003')">
                <i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>
                <span class="commonFontSize"> KYC Approval Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE0010')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">report</i>
                <span class="commonFontSize"> Report Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE0011')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">analytics</i>
                <span class="commonFontSize"> Analytics Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE0012 ')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">desktop_mac</i>
                <span class="commonFontSize"> Auditors Management </span>
            </a>
            <a mat-list-item routerLink="/admin/payment-management" routerLinkActive="link-active" *ngIf="isValid('MODULE022')">
                <i class="material-icons mr-2 md-18">payment</i>
                <span class="commonFontSize"> Payment Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE023')" tooltip="Coming Soon...">
                <i class="material-icons mr-2 md-18">notification_important</i>
                <span class="commonFontSize"> Notification Management </span>
            </a>
            <a mat-list-item routerLink="/admin/contact-and-static-content-management" routerLinkActive="link-active" *ngIf="user_type == 'ADMIN'">
                <i class="material-icons mr-2 md-18">contacts</i>
                <span class="commonFontSize"> Contact & Static Content Management </span>
            </a>
            <a mat-list-item routerLink="/admin/subadmin-dashboard" routerLinkActive="link-active" *ngIf="isValid('MODULE0016')">
                <i class="fa fa-lock mr-2" aria-hidden="true"></i>
                <span class="commonFontSize"> Sub Admin Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE0017')" tooltip="Coming Soon...">
                <i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i>
                <span class="commonFontSize"> Advertisement Management </span>
            </a>
            <a mat-list-item *ngIf="isValid('MODULE026')" routerLink="/admin/support-management" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">contact_support</i>
                <span class="commonFontSize"> Support Management </span>
            </a>
            <a mat-list-item routerLink="/admin/my-assigned-ei" routerLinkActive="link-active" *ngIf="user_type == 'ZATCHUPSUBADMIN'">
                <i class="material-icons mr-2 md-18">desktop_mac</i>
                <span class="commonFontSize"> My Assigned EI </span>
            </a>
            <!-- <a mat-list-item (click)="logout()">
                <i class="material-icons mr-2 md-18">exit_to_app</i>
                <span class="commonFontSize">Logout </span>
            </a> -->
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="bg-purple pl-0 position-fixed w-100">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="small">
                <mat-icon aria-label="Side nav toggle icon" class="color-white">menu</mat-icon>
            </button>

            <span class="h-100 logo_span d-flex align-items-center justify-content-center">
                <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid">
            </span>
            <span class="spacer"></span>

            <!-- <select class="custom-select form-control-input" style="width: 180px;" name="" id="" selected>
                <option>Notification 1</option>
                <option>Notification 2</option>
                <option>Notification 3</option>
                <option>Notification 4</option>
            </select> -->

            <span class="spacer"></span>

            <div class="dropdown" *ngIf="isLogin">
                <!-- <a class="color-white" >
                    <i class="fa fa-angle-down ml-3 cursorStyle" aria-hidden="true"></i>
                </a> -->
                <a class="text-white mr-4 commonFontSize semiBoldFont" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="userData && userData.profile_pic" src="{{userData.profile_pic}}" class="rounded-circle bg-light-green header-dp">
                    <img *ngIf="userData && !userData.profile_pic" src="assets/images/profile_pic_transparent.png" class="rounded-circle bg-light-green header-dp">
                </a>
                <div class="dropdown-menu mt-4" aria-labelledby="dropdownMenuLink">
                    <div class="row p-2">
                        <div class="col-sm-12 text-center">
                            <img *ngIf="userData && userData.profile_pic" src="{{userData.profile_pic}}" class="rounded-circle bg-light-green header-dp">
                            <img *ngIf="userData && !userData.profile_pic" src="assets/images/profile_pic_transparent.png" class="rounded-circle bg-light-green header-dp">
                            <span class="my-1 d-block">{{userData ? userData.first_name + ' '+ userData.last_name : ''}}</span>
                        </div>
                        <div class="col-sm-12 cursorStyle commonFontSize regularFont" routerLink="/admin/change-password"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i> Change Password </div>
                        <div class="col-sm-12 cursorStyle commonFontSize regularFont" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true mr-1"></i> Logout </div>
                    </div>
                </div>
            </div>

            <a (click)="notificationList()" class="text-black cursorStyle position-relative mr-2">
                <i class="fa fa-bell fa-lg color-gray" aria-hidden="true"></i>
                <sup class="color-white bellAlert">{{notificationCount? notificationCount : 0}}</sup>
            </a>

        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>