<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <!-- <div class="col-12 pl-5 pr-5 mobPaddingLR cursorStyle">
            <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="img-fluid subHeaderImg">
        </div> -->
    </div>
</div>
<div class="container containerScrolling landingPageWidth ">
    <div class="bannerDiv Onboard-viewbanner-div p-2 d-flex align-items-end position-relative" *ngIf="schoolProfile">
        <img *ngIf="!schoolProfile.cover_pic" src="assets/images/cover-pic-default.png" class="img-fluid userSchoolProfileCover">
        <img *ngIf="schoolProfile.cover_pic" src="{{schoolProfile.cover_pic}}" class="img-fluid userSchoolProfileCover">        
    </div>
    <div class="landingDiv">
        <div class="row pt-2">
            <div class="col-md-5 text-right d-flex profileDivLeft  p-0 ">
                <div class="dpImgDiv" *ngIf="schoolProfile">
                    <img *ngIf="!schoolProfile.profile_pic" src="assets/images/profile-default.png" class="img-fluid dpImg">
                    <img *ngIf="schoolProfile.profile_pic" src="{{schoolProfile.profile_pic}}" class="img-fluid dpImg">
                    <img *ngIf="schoolProfile.approved == '1'" src="assets/images/userWebsite/checkicon.png" class="img-fluid ml-1 tickImg">
                </div>

                <div class="pl-4 text-left" *ngIf="schoolProfile">
                    <p class="m-0 commonFontSize mediumFont text-capitalize">{{schoolProfile.name_of_school}}</p>
                    <p class="m-o commonFontSize mediumFont">{{schoolProfile.zatchupid}}</p>
                </div>
                
            </div>
            <div class="col-md-7 text-right d-flex profileDivRight flex-row" *ngIf="schoolProfile && schoolProfile.firebase_id">
                <img (click)="getDocumentsChat(schoolProfile.firebase_id)" src="assets/images/userWebsite/email.png" class="img-fluid email_position-absolute cursorStyle">
                <!-- <div class="col-4">
                    <p class="m-0 commonFontSize mediumFont text-center">20K</p>
                    <p class="m-0 commonFontSize regularFont text-center">Followers</p>
                </div>
                <div class="col-4">
                    <button type="button" class="common-btn w-auto px-2 py-1 regularFont">Follow</button>
                </div>
                <div class="col-4 p-0">
                    <button type="button" class="common-btn bg-white color-purple py-1 w-auto px-2 regularFont">Add Post</button>
                </div> -->
            </div>
        </div>
        <div class="row mt-3" *ngIf="schoolProfile">
            <div class="col-md-5">
                <p class="commonFontSize regularFont"><span class="semiBoldFont">Address : </span>{{schoolProfile.address1}} {{schoolProfile.address2}}</p>
                <p class="commonFontSize regularFont"><span class="semiBoldFont">Overview of School : </span>{{schoolProfile.overview}} </p>

                <!-- <div class="row mt-3">
                    <div class="col-6">
                        <button type="button" class="common-btn w-100 border-0 bg-white color-purple p-2 regularFont">Donations </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="common-btn w-100 border-0 bg-white text-green p-2 regularFont">Lectures </button>
                    </div>
                </div> -->
            </div>

            <div class=" col-md-7 ">
                <div class="form-control-inputDiv border-0 bg-light-green py-2">
                    <p class="text-center m-0">Number of Students</p>
                    <p class="text-center text-green m-0 mediumFont">{{schoolProfile.total_student}}</p>
                </div>
                <div class=" form-control-inputDiv border-0 bg-gary mt-3 py-2">
                    <p class="text-center m-0">Number of alumni on ZatchUp
                    </p>
                    <p class="m-0 text-center color-purple mediumFont"> {{schoolProfile.total_alumni}}</p>
                </div>
                <!-- <div class="row ">
                    <div class="col-12 colLeftPost ">
                        <div class="form-control-inputDiv py-2">
                            <div class="col-12 commonFontSize semiBoldFont color-purple ">Posts</div>
                            <div class="col-12 ">
                                <hr>
                            </div>
                            <div class="row ">

                                <div class="col-6 text-center ">
                                    <img *ngIf="postOptionActiveMatrix==='active' " src="assets/images/userWebsite/matix-format.png " class="w-12 img-fluid" (click)="postTabFunction( 'matrix') ">
                                    <img *ngIf="postOptionActiveMatrix==='dead' " src="assets/images/userWebsite/matix-format.png " class="w-12 img-fluid cursorStyle" (click)="postTabFunction( 'matrix') ">
                                </div>
                                <div class="col-6 text-center ">
                                    <img *ngIf="postOptionActiveImage==='active' " src="assets/images/userWebsite/image-icon.png " class="w-12 img-fluid " (click)="postTabFunction( 'image') ">
                                    <img *ngIf="postOptionActiveImage==='dead' " src="assets/images/userWebsite/image-icon.png " class="w-12 img-fluid cursorStyle" (click)="postTabFunction( 'image') ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="matrix " *ngIf="postOption==='matrix' ">
                    <div class="row mt-3 ">
                        <div class="col-6 pr-0 img-container"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 mr-2 img-height-100 img-width-100"></div>
                        <div class="col-6 pl-0 img-container"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 ml-2 img-height-100 img-width-100"></div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-6 pr-0 img-container"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 mr-2 img-height-100 img-width-100"></div>
                        <div class="col-6 pl-0 img-container"><img src="assets/images/userWebsite/loreal.jpg " class="img-fluid border-radius-25 ml-2 img-height-100 img-width-100"></div>
                    </div>
                </div> -->
                <!-- <div class="images " *ngIf="postOption==='image' ">
                    <div class="card form-control-inputDiv border-0 bg-white mt-3 py-2">
                        <div class="card-header bg-white ">
                            <div class="row align-items-center ">
                                <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 p-0 ">
                                    <img src="assets/images/userWebsite/study_student.png " class="img-fluid border-0 rounded-circle ">
                                </div>
                                <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                    <h4 class="commonFontSize semiBoldFont ">Simmi Sharma</h4>
                                </div>
                                <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 text-right ">
                                    <img src="assets/images/userWebsite/menu.png " class="img-fluid border-0 w-50 dotted_img">
                                </div>

                            </div>
                        </div>

                        <div class="row py-2 ">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                <h4 class="commonFontSize semiBoldFont pl-3">Title of the Project</h4>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4 text-right ">
                                <img src="assets/images/userWebsite/view.png " class="img-fluid border-0 eyes-img ">
                                <span class="badge ">432</span>
                            </div>
                        </div>
                        <img class=" img-fluid border-radius img-container" src="assets/images/userWebsite/loreal.jpg " alt="Card image ">
                        <div class="card-body ">
                            <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
                            <div class="row ">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <img src="assets/images/userWebsite/like-active-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <span class="badge ">665</span>
                                    <img src="assets/images/userWebsite/message-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <span class="badge commonFontSize regularFont ">Share</span>
                                    <img src="assets/images/userWebsite/share-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card form-control-inputDiv border-0 bg-white mt-3 py-2">
                        <div class="card-header bg-white ">
                            <div class="row align-items-center ">
                                <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 p-0 ">
                                    <img src="assets/images/userWebsite/study_student.png " class="img-fluid border-0 rounded-circle ">
                                </div>
                                <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                    <h4 class="commonFontSize semiBoldFont ">Simmi Sharma</h4>
                                </div>
                                <div class=" col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2 text-right ">
                                    <img src="assets/images/userWebsite/menu.png " class="img-fluid border-0 w-50 dotted_img">
                                </div>

                            </div>
                        </div>

                        <div class="row py-2 ">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8 ">
                                <h4 class="commonFontSize semiBoldFont pl-3">Title of the Project</h4>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4 text-right ">
                                <img src="assets/images/userWebsite/view.png " class="img-fluid border-0 eyes-img ">
                                <span class="badge ">432</span>
                            </div>
                        </div>
                        <img class=" img-fluid border-radius img-container" src="assets/images/userWebsite/loreal.jpg " alt="Card image ">
                        <div class="card-body ">
                            <p class="commonFontSize regularFont ">Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
                            <div class="row ">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <img src="assets/images/userWebsite/like-active-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <span class="badge ">665</span>
                                    <img src="assets/images/userWebsite/message-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-4 ">
                                    <span class="badge commonFontSize regularFont ">Share</span>
                                    <img src="assets/images/userWebsite/share-icon.png " class="img-fluid border-0 w-like-comment ">

                                </div>
                            </div>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->