/* .containerScrolling {
    height: 100vh;
    overflow-y: scroll;
} */

.email_position-absolute {
    position: absolute;
    right: 15px;
}

.bannerDiv {
    overflow: hidden;
    height: 180px;
}
.bannerDiv img {
    /* max-height: 180px; */
    margin: 0px auto;
    max-width: 100%;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landingDiv {
    padding-top: 0;
}

.landingDiv {
    padding: 0px 2% 2% 2%;
}

.w-like-comment {
    width: 18%;
}

.w-12 {
    width: 12%;
}

.border-radius-25 {
    border-radius: 25px;
}

.color-purple {
    color: #463267;
}


.dpImgDiv {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}
.dpImg {
    margin-top: -50%;    
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.editIcon {
    width: 7%;
}

.form-control-inputDiv {
    border-radius: 25px;
}

.bg-light-green {
    background: #d6e6d6
}

.bg-gary {
    background: #d8d5dc;
}

.text-green {
    color: #77bd77;
}

.img-container {
    min-height: 25vh;
    max-height: 25vh;
    height: 25vh;
}
.tickImg {
    position: absolute;
    top: 15px;
    right: -3px;
  
}

@media (min-width: 768px) and (max-width: 1024px) {
    .addBuddyBtn {
        width: 100%!important;
    }
}

@media only screen and (max-width: 414px) {
    .profileDivLeft {
        flex-direction: column;
        padding-left: 0!important;
        align-items: center;
    }
    .profileDivLeft p {
        text-align: center!important;
    }
    .profileDivRight {
        padding-left: 0!important;
        margin-top: 5%;
    }
    .profileDivRight p {
        font-size: 0.8rem;
        text-align: center;
    }
    .padding-0 {
        padding: 0;
    }
    .addBuddyBtn {
        width: 100%!important;
    }
    .colLeftPost {
        /* padding: 0; */
        margin-top: 2%;
    }
    .dotted_img {
        width: 25%!important;
    }
    .pl-4.text-left {
        padding-left: 0px !important;
    }
    .tickImg{
        top: 10px;
    }
    .email_position-absolute {
        top: -50px;
    }
}

.fontSize-20{font-size: 20px;}
.fontSize-18{font-size: 18px;}
.fontSize-16{font-size: 16px;}
