<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid kycVerificationleftImage mt-5 mb-5 pb-5 pt-5"
                src="assets/images/userWebsite/login-success-image.png">
        </div>
        <div class="col-md-4">
            <div class="form-group row mt-5 mb-5 pb-5 pt-5 mobilePTB">
                <div class="col-sm-12 form-control-inputDiv">
                    <div class="text-center pr-5 mt-3 pl-5 mb-4">
                        <img class="img-fluid SuccessfullImage mt-2 mb-4"
                            src="assets/images/userWebsite/profile-image.png">
                            <p class="semiBoldFont">Profile Created Successfully </p>
                        <p class="mediumFont color-purple letterspacing">Your profile is sent to your educational institutions for approval...
                        </p>
                    </div>
                </div>

                <button type="submit" class="btn common-btn regularFont mt-4 mr-2" (click)="goToUserLandingPage()">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->