<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8 order-sm-6 order-2 text-center">
            <img class="img-fluid kycVerificationleftImage" src="assets/images/userWebsite/login-success-image.png">
        </div>
        <div class="col-md-4 order-1 order-sm-6 MobileCol6MB">
            <div class="form-group row mt-5 mb-5 pb-5 pt-5 mobilePTB">
                <div class="col-sm-12 form-control-inputDiv">
                    <div class="text-center pr-5 mt-3 pl-5 mb-4">
                        <img class="img-fluid SuccessfullImage mt-2 mb-4" src="assets/images/userWebsite/profile-image.png">
                        <p class="semiBoldFont">Profile Created Successfully </p>
                        <p *ngIf="!params.check_school_info_on_zatchup" class="mediumFont color-purple letterspacing">Your profile is sent to your educational institutions for approval...
                        </p>
                    </div>
                </div>

                <div class="col-md-12 mt-3 text-center">
                    <button type="submit" class="btn common-btn regularFont textSpace" (click)="goToUserLandingPage()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->