<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-5 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Information Details</h2>
            </div>
            <div class="col-md-7 col-12 d-flex justify-content-end"> 
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 ">Edit</button>
                <button type="button" class="bg-paret-green text-white px-4 h-100 ml-2 border-0 ">Request Status</button>
            </div>
        </div>

        <div class="bannerDiv position-relative pt-3">
            <img src="assets/images/userWebsite/User_profile_banner.png" class="img-fluid">            
            <button type="button" class=" btn_position-absolute border-0 bg-light-black text-white p-2">
            <span>Upload Cover Photo</span><input type="file" style="display:none;" /></button>
            <img class="img-fluid tick-img infoBankImg" src="assets/images/userWebsite/share-my-profile-icon.png">
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Name of the School</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: <a href="javascript:void(0)" class="cursorStyle" (click)="openChangeDetailsPopup('Name of the School','name_of_school',bankDetails.name_of_school)">{{bankDetails?.name_of_school}}</a></span>
                            
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Full Address</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: <a href="javascript:void(0)" class="cursorStyle" (click)="openChangeDetailsPopup('Full Address','full_address',bankDetails.full_address)">{{bankDetails?.full_address}}</a></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Foundation Date/Opening Date</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.opening_date}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Name of Principal/Dean</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.name_of_principle}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Email</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: <a href="javascript:void(0)" class="cursorStyle" (click)="openChangeDetailsPopup('Email','email',bankDetails.email)">{{bankDetails?.email}}</a></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Phone Number</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: <a href="javascript:void(0)" class="cursorStyle" (click)="openChangeDetailsPopup('Phone Number','phone',bankDetails.phone)">{{bankDetails?.phone}}</a></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>GST Number</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.gst_no}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>EI Overview - Tell Us More About Your EI</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.overview}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-5 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Bank Details</h2>
            </div>
            <div class="col-md-7 col-12 d-flex justify-content-end"> 
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 ">Edit</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Bank Account Number</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.bank_account_no}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Bank Name</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.bank_name}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>IFSC Code</p>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">: {{bankDetails?.bank_ifsc_code}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--End div for View bank Details-->
    </div>
</div>

<!-- OTPModel -->
<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                
                <div class="courseLecture-div bg-white border mt-3 px-3 py-3">
                    <h2 class="commonFontSize semiBoldFont m-0">Personal Information</h2>
                    <div class="row bg-light-gray w-100 ml-1 mt-2">   
                        <div class="col-md-12 mt-2">
                            <div class="form-group row  ml-0 mr-0">
                                <label for="" class="mediumFont commonFontSize letterspacing"> {{title}} </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <input name="model.key" [(ngModel)]="model.value" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter New {{title}}" required>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-12">
                            <div class="form-group row  ml-0 mr-0">
                            <label for="" class="mediumFont commonFontSize letterspacing"> Attach Proof </label>
                            <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                <input  (change)="fileUploadDocument($event.target.files)" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="file" required>
                            </div>
                        </div>
            
                        <div class="col-md-12">
                            <div class="form-group row ml-0 mr-0 d-flex justify-content-center"> 
                                <button (click)="editDetails()" type="button" class="bg-paret-green border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing "> Sent for approval </button>                    
                            </div>
                        </div>
            
                    </div>        
                </div>
            </div>

            </div>
        </div>
    </div>
</div>