<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid login-left-Image mt-4" src="assets/images/userWebsite/left_images.png">
        </div>
        <div class="col-md-4 pl-0">
            <h2 class="mb-3 textSpace">Login</h2>
            <form class="pt-2" id="login"> 
                
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input required (keyup)="isValid($event)" optional="email,phone" [(ngModel)]="model.username" name ="username" class="form-control-input form-control form-control-sm form-bgImg form-emailBgImg" type="text"
                            placeholder="Enter Your Email Id / Mobile number *">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.username"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0 form-control-inputDiv">
                        <input required (keyup)="isValid($event)" [(ngModel)]="model.password" name ="password" class="form-control-input form-control form-control-sm " type="{{passwordType}}"
                            placeholder="Enter Password *" style="position: relative;">
                            <i class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" (click)="viewPassword()" aria-hidden="true "></i>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.password"></div>
                </div>
                <p class="color-black mediumFont text-right forgetFontStyle cursorStyle" (click)="goTouserForgotPasswordPage()">Forget Password? </p>
                <button type="submit" class="btn common-btn regularFont textSpace" (click)="doLogin();">Login </button>
                <div class="color-black mediumFont textSpace">Don't have an account? <span (click)="goToSignUpPage();" class="color-purple semiBoldFont textUnderlineStyle"> Sign Up </span></div>
            </form>

        </div>
    </div>

</div>
<!-- OTPModel -->
<div class="modal fade" id="OTPModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/otp_message_image.png">
                <p class="color-black regularFont commonFontSize">Enter OTP that Received on your Registerd Email id / Phone Number.</p>
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-between">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp1" name="otp1"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp2" name="otp2"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp3" name="otp3"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input [(ngModel)]="model.otp4" name="otp4"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont"
                            type="text" maxlength="1">
                    </div>
                </div>
                <div class="required required" [innerHtml]="errorOtpModelDisplay"></div>

                <button type="button" class="btn common-model-Btn mt-3" (click)="goToDashboard();">Submit </button>

                <p><a class="color-purple semiBoldFont textUnderlineStyle commonFontSize" (click)="resendOtp()">Resend Code </a>
                </p>

            </div>
        </div>
    </div>
</div>


<!-- ForgetPasswordModel -->
<!-- <div class="modal fade" id="ForgetPasswordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                 <form class="pl-5 pr-5"> 
                    <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/otp_message_image.png">
                    <p class="color-black regularFont commonFontSize">Enter OTP that recieved on your email id. </p>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="fC-inputDivWithoutBoxShadow form-control-input-padding">
                                <input [(ngModel)]="model.email" name="model.username" class="form-control-input form-control form-control-sm color-purple text-center otpStyle semiBoldFont" type="text" maxlength="1">
                            </div>
                        </div>
                       
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorOtpModelDisplay"></div>
                    <button type="button" class="btn common-model-Btn mt-4" (click)="goToForgetPassword();">Submit </button>

                    
                    </p>
                </form>
               
            </div>
        </div>
    </div>
</div> -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
<!-- <app-user-footer></app-user-footer> -->
