.forgetFontStyle{
    font-style: oblique;
}
.login-left-Image{
    width: 74%;
}
.eyeIcon{
    position: absolute;
    right: 7px;
    top: 16px;
}
.otpStyle{
    border-radius: 10px!important;
}

.loginInput input{
    width: 21%!important;
}

@media only screen and (max-width: 414px) {
    .login-left-Image{
        width: auto;
        margin-bottom: 7%;
    }
}