<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0"> Student list for bulk promote</h2>
            </div>

        </div>
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select (change)="getStandardList(courseId)" id="course_id" [(ngModel)]="courseId" name="course"
                            class="custom-select border form-control-input" [disabled]="true">
                            <option value=""> Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of studentCourseList">
                                {{course.course_name}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select (change)="getClassList(standardId)" id="standard_id" [(ngModel)]="standardId"
                            name="standard" class="custom-select border form-control-input">
                            <option value=""> Select Standard</option>
                            <option value="{{standard.id}}" *ngFor="let standard of studentStandardList">
                                {{standard.standard_name}}</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="classId" name="class"
                            class="custom-select border form-control-input">
                            <option value=""> Select Class</option>
                            <option value="{{class.id}}" *ngFor="let class of classList">
                                {{class.class_name}}</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="checked">
                        <mat-header-cell *matHeaderCellDef>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;">
                            <mat-checkbox [(ngModel)]="element.status" (change)="selectUnselectStudents($event, i)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i =index"> {{i + 1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchupID">
                        <mat-header-cell *matHeaderCellDef> Zatchup ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.zatchupID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="roll_no">
                        <mat-header-cell *matHeaderCellDef> Roll No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index">
                            <!-- {{dataSource[i] | json}} -->
                            <input id="{{element.roll_no}}" class="form-control"
                                [ngStyle]="{'border-color': element.isDuplicates ? 'red': ''}" type="text"
                                [(ngModel)]="dataSource[i].roll_no" (keyup)="onKeyUp(i, dataSource[i].roll_no)">
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
            <div class="row mt-3">
                <div class="col-12 text-right">

                    <button (click)="markAsAlumni()" type="button"
                        class="bg-light-black text-white py-2 px-4 border-0 mb-4 mr-2">Mark as Alumni</button>

                    <button (click)="submit()" type="button"
                        class="bg-paret-green text-white py-2 px-4 border-0 mb-4">Submit</button>
                </div>
            </div>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                <p style="color: white">Please Wait. </p>
            </ngx-spinner>
        </div>
    </div>