<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">


    <div class="SubadminAcess-Summary-div bg-white border border-gray px-3 pt-2 pb-3 mt-3">
        <h2 class="commonFontSize semiBoldFont mb-1">Access History</h2>
        <div class="row">
            <ul>
                <li class="regularFont mb-2">Mr.XX edited the discription of Lecture from ZZZ to YYY</li>
                <li class="regularFont mb-2">MS.YY added lecture titled RRR to the course </li>
            </ul>
        </div>
    </div>

</div>