.border-bottomCustom{
    border-bottom: 1px solid #ccc;
}
.chat_content{
    width: 65%;
    margin: 0px auto;
}
.commentCustom{height: 50px; border-radius: 10px;}
ul {
    list-style-type: none;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 0px;
}
.addChatProfile{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    line-height: 85px;
    font-size: 20px;
    margin: 20px 0px;
}
ul.participantsList li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
}
ul.participantsList span {
    display: block;
    margin-top: 5px;
}
ul.participantsList li:hover {
    background: #e2e2e2;
}
.addParticipants {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    font-size: 16px;
}
.pickSize{
    margin-right: 10px;
}

  @media (max-width: 767px){
    .chat_content{
        width: 100%;
    }
    .w-50{
        width: 100% !important;
    }
}