<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="chat_content bg-light-gray pt-3 pb-5">
                <div class="row mt-3 pb-3 align-items-center pl-4 border-bottomCustom ml-0 mr-0">
                    <div class="col-md-2">
                        <div class="addChatProfile shadow">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <input class="commentCustom form-control-input pl-3 w-100 form-control form-control-sm commonFontSize regularFont letterspacing shadow" type="text" placeholder="Enter group name">                       
                    </div>
                </div>
            
                <div class="row mt-3 pl-4">
                    <div class="col-12">
                        <h3 class="commonFontSize">Number of Participants: 03</h3>
                        <ul class="participantsList">
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aashish</span></li>
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aaditya</span></li>                            
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ajay</span></li>
                            <li><div class="bg-purple addParticipants cursorStyle"><i class="fa fa-plus" aria-hidden="true"></i></div> <span>Add More</span></li>
                        </ul>
                    </div>
                </div>

                <button class="shadow border-0 py-3 rounded bg-purple color-white px-5 ml-4 mt-4">Create Group</button>
            </div>
        </div>            
    </div>
</div>
