<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="eiMangPendingForApproval-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="filterDiv">
            <h2 class="commonFontSize semiBoldFont m-0"> Subscription History </h2>
        </div>
        <div class="tableDiv" *ngIf="dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource | paginate: config">
                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index">{{element.updated_on | date:'dd MMM, yyyy'}}
                            & {{element.updated_on | date:'shortTime'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="history">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> Plan Amount for {{element.name}}
                            subscription changed from {{element.previous_amount}} to {{element.current_amount}} by
                            {{element.user}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="dataSource" (pageChange)="getSubscriptionHistory($event)" class="eiPaginationTag">
        </pagination-controls>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner>
    </div>
</div>