<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Reminder Students</h2>
            </div>
        </div>
        <div class="tableDiv mt-2">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="reminder">
                        <mat-header-cell *matHeaderCellDef> Reminder Message </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.reminder}}
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et <br/> 
                            quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est <br/>
                            laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.time}}
                        </mat-cell>
                    </ng-container>                  

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>