<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Past Reminder List</h2>
            </div>
        </div>
        <div class="tableDiv mt-2">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index;"> {{i+1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef> Reminder Message </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.message}}
                            
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="recieved_date">
                        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.recieved_date}}
                        </mat-cell>
                    </ng-container>                  

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>