@media (max-width: 414px){
    .w-75{width: 100% !important;}
}
.schoolChat {
    height: 300px;
    overflow-y: scroll;
}
.profile_pick{
    border-radius: 50%;
    max-width: 40px;
    overflow: hidden;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    min-width: 40px;
    height: 100%;
    border: 1px solid #ddd;
}