.down-arrow-6 {
    background-size: 9%;
}

.left-Image {
    width: 80%;
}

@media only screen and (max-width: 414px) {
    .down-arrow-6 {
        background-size: 5.2%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .down-arrow-6 {
        background-size: 9%;
    }
}