.custom-select {
    appearance: auto;
    background: none;
}

.customVideo video {
    width: 100%;
    height: 260px;
}
.customVideo {
    height: 260px;
    overflow: hidden;
}

.validationError {
    color: red;
    font-size: .825rem;
    margin-left: 0.9rem !important;
    position: relative;
    bottom: 10px;
    left: 0px;
}