<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-6 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle ">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>

                <h2 class="commonFontSize semiBoldFont m-0">EI With Incomplete Onboarding</h2>
            </div>
            <div class="col-md-6 SearchDiv d-flex flex-row">
                <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input
                        class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing"
                        type="text" placeholder="Search..." [(ngModel)]="onboardList.search" name="search">
                </div>
                <button type="button" class="bg-dark text-white px-4 h-100 ml-2 border-0 " (click)="searchList()">Apply</button>
            </div>
        </div>
        <!--Start html for Incomplete Onboarding information Filter-->
        <div class="filterDiv bg-Gainsboro mt-2 pb-4 px-3">
            <h2 class="commonFontSize semiBoldFont mb-0 pt-2">filter</h2>
            <div class="d-flex flex-wrap align-items-end">
                <div class="widthFull mr-4 mt-3 ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Sign Up Date From</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <input
                            class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img"
                            type="text" id="fromDate" name="fromDate" placeholder="MM/DD/YYYY" bsDatepicker
                            [maxDate]="maxDate" [(ngModel)]="filterFromDate" #fromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true }">

                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Sign Up Date To</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <input
                            class="form-control-input form-control  commonFontSize regularFont letterspacing dob-bg-img"
                            type="text" id="toDate" name="toDate" placeholder="MM/DD/YYYY" bsDatepicker
                            [maxDate]="maxDate" [(ngModel)]="filterToDate" #fromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true }">

                    </div>
                </div>
                <div class="widthFull mr-4 mt-3 dropdown-lg-Div ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> State</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" required [(ngModel)]="onboardList.stateId"
                            (change)="getCities()">
                            <option value="">State</option>
                            <option *ngFor="let state of onboardList.allStates" [value]="state.id">{{state.state}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> City</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" required [(ngModel)]="onboardList.cityId">
                            <option value=""> Select City</option>
                            <option *ngFor="let city of onboardList.allCities" [value]="city.id">{{city.city}}</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Board/University</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <input type="text" name="board_university" [(ngModel)]="this.onboardList.university"
                            class="form-control-input form-control  commonFontSize regularFont letterspacing"
                            placeholder="Board/University" />
                    </div>
                </div>
                <!-- <div class="widthFull mr-4 mt-3 dropdown-lg-Div">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Stage Pending</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                        <select class="custom-select  form-control-input" id="status" required
                            [(ngModel)]="this.onboardList.stagePending">
                            <option value=""> Select Stage</option>
                            <option value="1">OnBoarding Stage 1</option>
                            <option value="2">OnBoarding Stage 2</option>
                            <option value="3">OnBoarding Stage 3</option>
                            <option value="4">OnBoarding Stage 4</option>
                        </select>
                    </div>
                </div> -->


                <button type="button" class="bg-purple text-white px-5 py-2 h-100  border-0 mt-3"
                    (click)="filterData('1')">Apply</button>

                <!-- <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 ml-3">Reset</button> -->


            </div>
        </div>
        <!--End html for Incomplete Onboarding information Filter-->
        <!--Start html for "select no of EI info per page" and Export Button-->
        <div class="row my-3" *ngIf="onboardList.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mobile-w-35  mr-2 mb-0">Number of Fees Per
                    Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        (change)="filterData('1')" [(ngModel)]="onboardList.pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExcel()"><i
                        class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <!--End html for "select no of EI info per page" and Export Button-->
        <!--Start html for Incomplete EI Onboard information table-->
        <div class="tableDiv " *ngIf="onboardList.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="onboardList.dataSource | paginate: onboardList.config">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index"> {{i + onboardList.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchUpID">
                        <mat-header-cell *matHeaderCellDef>ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.zatchupId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="schoolName">
                        <mat-header-cell *matHeaderCellDef>Name of School </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name_of_school}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.state}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.city}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="signUpDate">
                        <mat-header-cell *matHeaderCellDef>Sign Up Date </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.sign_up_date  | date }}
                        </mat-cell>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="onboardStage">
                        <mat-header-cell *matHeaderCellDef> Onboarding Stage</mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.is_onboarded}}
                        </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="plan">
                        <mat-header-cell *matHeaderCellDef>Plan Taken </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.plan}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="grossSubscriptionFees">
                        <mat-header-cell *matHeaderCellDef>Subscription Fees Gross</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.grossSubscriptionFees}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="netSubscriptionFees">
                        <mat-header-cell *matHeaderCellDef> Subscription Fees Net </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.netSubscriptionFees}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="appliedCouponCode">
                        <mat-header-cell *matHeaderCellDef> Coupon Code Applied </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.appliedCouponCode}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center">Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg cursorStyle" aria-hidden="true "
                                (click)="goToAdminEiMangIncopleteOnboardViewPage(element.id)"></i>
                            <i class="fa fa-envelope mr-2 color-green fa-lg cursorStyle" aria-hidden="true "
                                data-toggle="modal" (click)="getEI_ID(element.ei_id)" data-target="#emailModel"></i>
                            <i class="fa fa-trash mr-2 color-red fa-lg cursorStyle" aria-hidden="true "
                                (click)="deleteEI(element.ei_id)"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="onboardList.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: onboardList.displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="onboardList.dataSource" (pageChange)="filterData($event)"
            class="eiPaginationTag">
        </pagination-controls>
        <div class="row" *ngIf="!onboardList.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
        <!--End html for Incomplete EI Onboard information table-->

        <!-- emailModel  -->
        <div class="modal fade" id="emailModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content unverified container-fluid">
                    <div class="modal-header align-items-center justify-content-center pb-0 ">
                        <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Email</h2>
                        <button #closeSendMailButton type="button "
                            class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                            aria-label="Close ">
                            <span aria-hidden="true ">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body px-0">
                        <form id="sendMail">
                            <div class=" form-group row ">
                                <div class="col-sm-12 ">
                                    <label for="Remarks " class=" commonFontSize semiBoldFont letterspacing "> Message
                                    </label>

                                    <div class="form-control-inputDiv rounded p-1 shadow-none "><textarea
                                            class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                            rows="4" placeholder="Enter Your Message " name="message"
                                            [(ngModel)]="onboardList.message" required></textarea>

                                    </div>
                                    <div class="required errorMsg" [innerHtml]="onboardList.errorDisplay.message">
                                    </div>
                                </div>
                            </div>
                            <button type="button " (click)="sendMail()"
                                class="bg-purple border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing ">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>