.sidenav-container {
    /* height: 100%; */
    height: auto;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

/*******************/

.mat-drawer-content {
    z-index: 3;
    margin-left: 0!important;
    overflow: inherit;
}

.mat-toolbar.mat-primary {
    background: #ffffff;
    color: #333333;
}

.mat-nav-list a.link-active {
    background: #463267 !important;
    color: white !important;
}

.ei-profile-search{width: 400px; margin-right: 30px;}

@media only screen and (min-width: 961px) {
    .logo_span {
        width: 250px;
        background: #ffffff;
        color: #313131!important;
    }
}

.logo_span {
    color: white;
}

.header-dp {
    width: 40px;
    height: 40px;
    border: 1px solid #463267;
    overflow: hidden;
}

.fa[data-count] {
    position: relative;
}

.fa[data-count]:after {
    position: absolute;
    right: -0.95em;
    top: -0.99em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: #37a713;
    text-align: center;
    min-width: 2em;
    font: bold .5em sans-serif;
}

:host>>>.tooltip-inner {
    /* background-color: #463267;
    color: #ffffff; */
    font-style: italic;
}

/* :host>>>.tooltip.top .tooltip-arrow:before, :host>>>.tooltip.top .tooltip-arrow {
    border-top-color: #ffffff;
} */
.bellAlert{
    background: #22c123;
    padding: 4px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: initial;
    text-align: center;
    font-size: 11px;
    position: absolute;
    left: 18px
}
.mobileLogoImg{display: none;}
.searchforMobile{display: none;}
.ei-profile-search-mobile {display: none;}
.search-dropdown{display: none;}

[type=search]{width: 500px;
    margin-left: 150px;}

@media (max-width: 960px){
    
    .headerLogoImg {
        display: none;
    }
    .mobileLogoImg{display: block; padding: 10px;}
    
}

@media (max-width: 767px){
    .searchforMobile{display: block;}
    .ei-profile-search-mobile {display: block; width: auto;}
    .search-dropdown{width: 95%;
        position: absolute;
        left: 10px;
        top: 55px; display: block;}
    .search-dropdown input {
        padding-left: 15px;
    }
    .mobile-d-none{display: none !important;}
    [type=search]{width: 500px;
        margin-left: 0px;}
}