<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>ZatchUp</mat-toolbar>
        <mat-nav-list>
            <span class=""><a class="navbar-brand">
                <img class="img-fluid mobileLogoImg" src="assets/images/EiWebsite/kyc_logo.png"
                routerLink="/ei/dashboard"></a></span>
            <span class="spacer"></span>
            <!-- <mat-icon aria-label="Side nav toggle icon" class="position-absolute closeMenu">cancel</mat-icon> -->
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" mat-list-item routerLink="/ei/dashboard"
                routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">dashboard</i>
                <!-- <mat-icon aria-hidden="false" aria-label="Example dashboard icon" class="mr-2 md-18">dashboard</mat-icon> -->
                <span class="commonFontSize">Dashboard</span>
            </a>
            <a *ngIf="userRoleDetails.role=='EISUBADMIN'" mat-list-item routerLink="/ei/my-profile"
                routerLinkActive="link-active">
                <i class="fa fa-users mr-2"></i>
                <!-- <mat-icon aria-hidden="false" aria-label="Example dashboard icon" class="mr-2 md-18">dashboard</mat-icon> -->
                <span class="commonFontSize">My Profile</span>
            </a>
            <a *ngIf="isValidModule('MODULE005')" mat-list-item routerLink="/ei/school-profile"
                routerLinkActive="link-active">
                <i class="fa fa-users mr-2" aria-hidden="true"></i>
                <!-- <mat-icon aria-hidden="false" aria-label="Example person icon">person</mat-icon> -->
                <span class="commonFontSize">School Profile And Timeline</span>
            </a>
            <a *ngIf="isValidModule('MODULE006') && subscriptionActive && isApproved" mat-list-item
                routerLink="/ei/alumni-management" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">person</i>
                <span class="commonFontSize">Alumni Management</span>
            </a>
            <a *ngIf="isValidModule('MODULE010') && subscriptionActive && isApproved" mat-list-item
                routerLink="/ei/student-management" routerLinkActive="link-active">
                <i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>
                <span class="commonFontSize"> Student Management</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" tooltip="Coming Soon..." mat-list-item>
                <i class="material-icons mr-2 md-18">person</i>
                <span class="commonFontSize">Project Funding</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" tooltip="Coming Soon..." mat-list-item>
                <i class="material-icons mr-2 md-18">person</i>
                <span class="commonFontSize">Guest Lecture & Conunselling</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" mat-list-item tooltip="Coming Soon...">
                <i class="fa fa-certificate mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">E-Certificates & Report Cards</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" mat-list-item routerLink="/ei/star-class"
                routerLinkActive="link-active" mat-list-item>
                <i class="material-icons mr-2 md-18">people</i>
                <span class="commonFontSize">Zatchup Star Class</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" mat-list-item routerLink="/ei/reminder"
                routerLinkActive="link-active">
                <i class="fa fa-bell mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">Reminder</span>
            </a>
            <a *ngIf="isValidModule('MODULE013') && subscriptionActive && isApproved" routerLink="/ei/personal-messages"
                routerLinkActive="link-active" mat-list-item>
                <i class="fa fa-comments mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">Messages</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" mat-list-item
                routerLink="/ei/subadmin-management" routerLinkActive="link-active">
                <i class="fa fa-lock mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">Sub Admin Management</span>
            </a>
            <a *ngIf="isValidModule('MODULE017')" mat-list-item routerLink="/ei/manage-courses"
                routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">desktop_mac</i>
                <span class="commonFontSize">Manage Courses Offered By School</span>
            </a>
            <!-- <a *ngIf="isValidModule('')" tooltip="Coming Soon..." mat-list-item>
                <i class="material-icons mr-2 md-18">desktop_mac</i>
                <span class="commonFontSize">My Authorisations</span>
            </a> -->
            <a *ngIf="isValidModule('') && isApproved" mat-list-item routerLink="/ei/subscription"
                routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">subscriptions</i>
                <span class="commonFontSize">Subscription Management</span>
            </a>
            <a *ngIf="isValidModule('')" mat-list-item routerLink="/ei/invoices" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">receipt</i>
                <span class="commonFontSize">Invoice</span>
            </a>
            <a *ngIf="isValidModule('')" routerLink="/ei/information-and-bank-details" routerLinkActive="link-active"
                mat-list-item>
                <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">School Information & Bank Details</span>
            </a>
            <a *ngIf="isValidModule('') && subscriptionActive && isApproved" tooltip="Coming Soon..." mat-list-item>
                <i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">Advertise with ZatchUp</span>
            </a>
            <a *ngIf="isValidModule('')" routerLink="/ei/poc-details" routerLinkActive="link-active" mat-list-item>
                <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                <span class="commonFontSize">Contact Us</span>
            </a>
            <!-- <a mat-list-item (click)="logout()" routerLinkActive="link-active">
                <i class="material-icons mr-2 md-18">exit_to_app</i>
                <span class="commonFontSize">Logout </span>
            </a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="bg-purple pl-0 position-fixed w-100">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="small">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <span class="h-100 logo_span d-flex align-items-center justify-content-center"><a class="navbar-brand"><img
                        class="img-fluid  headerLogoImg" src="assets/images/EiWebsite/kyc_logo.png"
                        routerLink="/ei/dashboard"></a></span>
            <span class="spacer"></span>
            <a (click)="getNotificationList()" class="text-black cursorStyle position-relative">
                <i class="fa fa-bell fa-lg color-gray" aria-hidden="true"></i>
                <sup class="color-white" style="background: #22c123;
                padding: 4px;
                border-radius: 50px;
                width: 20px;
                height: 20px;
                display: inline-block;
                line-height: initial;
                text-align: center;
                font-size: 11px;
                position: absolute;
                left: 18px">{{notificationCount}}</sup></a>
            <!-- <a class="ml-4"><i class="fa fa-cog fa-lg color-gray" aria-hidden="true"></i></a> -->
            <a class=" ml-4 commonFontSize semiBoldFont">
                <img src="{{userProfile.profile_pic?userProfile.profile_pic:'assets/images/EiWebsite/kyc_logo.png'}}"
                    class="rounded-circle bg-light-green header-dp">
                <span class="ml-3 color-black">{{userProfile.user_first_name}} {{userProfile.user_last_name}}</span></a>

            <div class="dropdown" *ngIf="isLogin">
                <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-angle-down ml-3 cursorStyle" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                    <div class="row p-2">
                        <div *ngIf="userRoleDetails.role=='EISUBADMIN'" class="col-sm-12 cursorStyle"
                            routerLink="/ei/my-profile"> My Profile </div>
                        <div class="col-sm-12 cursorStyle" routerLink="/ei/change-password"> Change Password </div>
                        <div class="col-sm-12 cursorStyle" (click)="logout()"> Logout </div>
                    </div>
                </div>
            </div>

        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>