<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row">
        <div class="col-12">
            <!-- <img (click)="goBack()" src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg cursorStyle"> -->
            <h1 class="col-12 text-center pb-3 chat_contentBox">Messages</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="chat_content bg-light-gray pt-3 pb-5">
                <div class="col-md-12 mb-3">
                    <div class="button-div d-flex justify-content-end flex-wrap">
                        <button type="button" class="bg-dark text-white py-2 px-3 mx-1 border-0"  data-target="#BlockListModal" data-toggle="modal" (click)="blockUsersList()"  >Blocked users</button> 
                        <!-- <button type="button" (click)="createChatGroup()" class="bg-dark text-white py-2 px-3 mx-1 border-0">Create Group</button> -->
                        <button type="button" data-target="#ActionModal" data-toggle="modal" class="bg-yellow text-white py-2 px-3 mx-1 border-0">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div *ngFor="let msgObj of lastMessageData;">
                    <div *ngIf="msgObj.group==0" (click)="goToChat(msgObj.uuid, msgObj.user_friend_id)" class="align-items-center col-12 chat_contentBox d-flex mb-4 cursorStyle" >
                    
                        <div class="profile_pick" (click)="viewProfile(firebase_id)">
                            <img *ngIf="msgObj.profile_pic" src="{{msgObj.profile_pic}}" class="img-fluid cursorStyle">
                            <img *ngIf="!msgObj.profile_pic" src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                        </div>
                        <div class="profile_name ml-3 border-bottomCustom w-100">
                            <p class="m-0 pt-2 pb-1 color-purple mediumFont commonFontSize text-capitalize position-relative">{{msgObj.user_name}}
                                <!-- <span class="small-text-2">(Student)</span> 
                                <span class="float-right">{{msgObj.timestamp}}</span> -->
                                <span class="chatCount" *ngIf="messageData[msgObj.user_friend_id].length>0">{{messageData[msgObj.user_friend_id].length}}</span>
                            </p> 
                            <p class="color-fadded-black">{{getExtenion(msgObj.msg)}}</p>                                                   
                        </div>
                    

                    </div> 
                    <div *ngIf="msgObj.group==1" (click)="messageDetails(msgObj.uuid,'group')" class="align-items-center col-12 chat_contentBox d-flex mb-4 cursorStyle"  >
                        <div class="profile_pick">
                            <img *ngIf="msgObj.group_icon" src="{{msgObj.group_icon}}" alt="Profile" class="header-dp"/>
                                
                        </div>
                        <div class="profile_name ml-3 border-bottomCustom w-100">
                            <p class="m-0 pt-2 pb-1 color-purple mediumFont commonFontSize text-capitalize position-relative">{{msgObj.group_title}}
                                
                                <span class="chatCount" *ngIf="lastGroupmsgCount[msgObj.uuid] && lastGroupmsgCount[msgObj.uuid].length>0">{{lastGroupmsgCount[msgObj.uuid].length}}</span>
                            </p> 
                            <p class="color-fadded-black" *ngFor="let lastChat of lastGroupmsg[msgObj.uuid];"><span *ngIf="lastChat && !lastChat.is_creatted"> {{ lastChat.document ? "Attachment" : lastChat.msg }}</span>
                            <span *ngIf="lastChat && lastChat.is_creatted"> {{lastChat.user_send_by!=currentUser?lastChat.user_name+' '+lastChat.msg:'You'+' '+lastChat.msg }}</span> </p>                                                   
                    
                        </div>
        
                    </div> 
                 </div>
               
                
                <div class="row m-0" *ngIf="!lastMessageData">   
                    <div class="col-12 pt-2 pb-2" >
                        <p class="text-center dataNotFound pt-4 pb-4">Records not available.</p>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
 <!-- ActionModal  -->
 <div class="modal fade" id="ActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0">
                <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Privacy Setting</h2>
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
            </div>
            <div class="modal-body px-0">
                <div class="row">

                    <div class="col-md-12 mt-2">
                        <div class="form-group justifyInput d-flex justify-content-between align-items-center">
                            <label for="" class="mediumFont commonFontSize letterspacing"> Online Status </label> 
                            <mat-slide-toggle [checked]="setting_user.online" (change)="setUserSettingOnFirebase($event.checked,'online')" class="toggleslider"></mat-slide-toggle>                         
                        </div>
                       <!-- <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                            <label for="" class="mediumFont commonFontSize letterspacing"> Read Receipts </label>    
                            <mat-slide-toggle [checked]="setting_user.is_read" (change)="setUserSettingOnFirebase($event.checked,'is_read')" class="toggleslider"></mat-slide-toggle>                   
                        </div>-->
                        <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                            <label for="" class="mediumFont commonFontSize letterspacing"> Last Seen </label>
                            <mat-slide-toggle [checked]="setting_user.is_seen" (change)="setUserSettingOnFirebase($event.checked,'last_seen')" class="toggleslider"></mat-slide-toggle>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BlockListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0">
                <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Blocked List</h2>
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
            </div>
            <div class="modal-body px-0">
                <div class="row">

                    <div class="col-md-12 mt-2">
                        <div class="form-group justifyInput d-flex justify-content-between align-items-center" 
                        *ngFor=" let userBlock of receipentUsers ">
                            <label for="" class="mediumFont commonFontSize letterspacing"> {{userBlock.firstName}} {{userBlock.lastName}} </label> 
                            <mat-slide-toggle [checked]="userBlock.isblock" (change)="blockPaticipant(userBlock.id ,$event.checked)" class="toggleslider"></mat-slide-toggle>   

                        </div>
                        <div *ngIf="receipentUsers.length == 0"> Record Not Found</div>
                        <!-- <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                            <label for="" class="mediumFont commonFontSize letterspacing"> Read Receipts </label>    
                            <mat-slide-toggle [checked]="setting_user.is_read" (change)="setUserSettingOnFirebase($event.checked,'is_read')" class="toggleslider"></mat-slide-toggle>                   
                        </div>
                        <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                            <label for="" class="mediumFont commonFontSize letterspacing"> Last Seen </label>
                            <mat-slide-toggle [checked]="setting_user.is_seen" (change)="setUserSettingOnFirebase($event.checked,'last_seen')" class="toggleslider"></mat-slide-toggle>
                        </div> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
