<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="chat_content bg-light-gray pt-3 pb-5">
                <h1 class="col-12 text-center pt-3 pb-3 chat_contentBox">Messages
                    <!-- <img src="assets/images/userWebsite/add-message-icon.png" class="img-fluid cursorStyle float-right" style="height: 32px;"> -->
                </h1>
                
                <div (click)="goToChat(msgObj.uuid)" class="col-12 chat_contentBox d-flex mb-4" *ngFor="let msgObj of lastMessageData">
                    <div class="profile_pick">
                        <img *ngIf="msgObj.profile_pic" src="{{msgObj.profile_pic}}" class="img-fluid cursorStyle">
                        <img *ngIf="!msgObj.profile_pic" src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2 pb-1 color-purple mediumFont commonFontSize">{{msgObj.user_name}}
                            <!-- <span class="small-text-2">(Student)</span> -->
                            <!-- <span class="float-right">2:26 PM</span> -->
                        </p> 
                        <p class="color-fadded-black">{{msgObj.msg}}</p>                                                   
                    </div>
                </div> 

               

            </div>
        </div>            
    </div>
</div>
