<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="zatchUpSummary-div bg-white px-2 pt-2 pb-5">
        <h2 class="commonFontSize semiBoldFont mb-1">Support Management</h2>
        <div class="row mt-1">
            <div class="col-md-4 MobileCol6MB cursorStyle" (click)="ticketsOnboardingList()">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize"> Tickets From Onboarded EI </p>
                    <h2 class="countFontSize text-center semiBoldFont"> {{dashboardData?.onboarded_ei_count}}
                    </h2>
                    <p class="mb-0 p-2 mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">
                        Unresolved Tickets From Onboarded EI:
                        <span class="ml-2">{{dashboardData?.unresolve_onboarded_ei_ticket_count}} </span></p>
                </div>
            </div>
            <!-- <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize"> Tickets For Onboarded EI </p>
                    <h2 class="countFontSize text-center semiBoldFont">0
                    </h2>
                    <p class="mb-0 p-2 mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg"> Unresolved Tickets For Onboarded
                        EI
                        ZatchUp:
                        <span class="ml-2">0</span>
                    </p>
                </div>
            </div> -->
        </div>
    </div>


    <!-- <div class="Dashboard-div bg-white px-2 py-2 mt-3">
        <div class="row">
            <div class="col-12 d-flex align-items-end">
                <div class="mr-2">
                    <label for="" class=" commonFontSize mediumFont letterspacing">From Date</label>
                    <input type="text" id="filter_From_Date" name="fee_Received_From_Date" placeholder="MM/DD/YYYY"
                        class="form-control formfocusStyle" bsDatepicker [maxDate]="fromMaxDate"
                        [(ngModel)]="filterFromDate" [bsConfig]="{isAnimated: true, adaptivePosition: true }">
                </div>

                <div class="mr-2">
                    <label for="" class=" commonFontSize mediumFont letterspacing">To Date</label>
                    <input type="text" id="fromDate" name="filter_To_Date" placeholder="MM/DD/YYYY"
                        class="form-control formfocusStyle" bsDatepicker [maxDate]="toMaxDate"
                        [(ngModel)]="filterToDate" [bsConfig]="{isAnimated: true, adaptivePosition: true }"
                        (bsValueChange)="changeFilterToDate($event)">
                </div>
                <div class="border-0 p-0 shadow-none mx-1">
                    <button type="button" (click)="filterRecords()"
                        class="bg-dark border-0 col-flex text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center">
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize">New Tickets From Onboarded EI:</p>
                    <h2 class="countFontSize text-center semiBoldFont">0
                    </h2>
                    <p class="mb-0 p-2 mediumFont commonFontSize bg-light-secondary">
                        New Tickets From Onboarded EI:<span class="ml-2">0</span></p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1">
                    <p class="p-2 mediumFont commonFontSize">New Tickets For Onboarded EI </p>
                    <h2 class="countFontSize text-center semiBoldFont">0
                    </h2>
                    <p class="mb-0 p-2 mediumFont commonFontSize bg-light-secondary">
                        New Tickets For Onboarded EI:<span class="ml-2">0</span></p>
                </div>
            </div>
        </div>
    </div> -->

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>