<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/left_images.png">
        </div>
        <div class="col-md-4 pl-0">
            <h2 class="mb-3 textSpace">Create an account </h2>

            <form class="pt-2">
                <div class="form-group row">
                    <div class="col-sm-6 pl-0">
                        <div class="form-control-inputDiv form-control-input-padding mobile-input-6 mobForm-name">
                            <input class="form-control-input form-control form-control-sm form-bgImg form-NameBgImg" type="text" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-sm-6 pr-0">
                        <div class="form-control-inputDiv form-control-input-padding mobile-input-6">
                            <input class="form-control-input form-control form-control-sm form-bgImg form-NameBgImg" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-emailBgImg" type="text" placeholder="Enter Your Email Id* ">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-phoneBgImg" type="number" placeholder="Enter Your Phone Number">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-calenderBgImg" type="number" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <div class="form-control-radioDiv-padding form-bgImg form-genderBgImg">
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label" for="inlineRadio1">
                                <input class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <span class="checkmark"></span>
                                <span class="radioValuetext">Female</span></label>

                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label" for="inlineRadio2">
                                    <input  class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <span class="checkmark"></span>
                                    <span class="radioValuetext">Male</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-passwordBgImg" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-passwordBgImg" type="password" placeholder="Confirm Password ">
                    </div>
                </div>
                <p class="color-black mediumFont textSpace">By clicking Sign Up, you agree to our <a class="color-purple semiBoldFont" href="#">Terms & Conditions</a> and <a class="color-purple semiBoldFont" href="#">Privacy Policy</a></p>
                <button type="submit" class="btn common-btn regularFont textSpace" (click)="goToLoginPage();">Sign Up</button>
                <div class="color-black mediumFont textSpace">Already registered user?<a class="color-purple semiBoldFont" href="#"> Login </a></div>

            </form>
        </div>
    </div>

</div>


<!-- <app-user-footer></app-user-footer> -->