<app-user-header></app-user-header>

<!-- <div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/left_images.png">
        </div>
        <div class="col-md-4 pl-0">
            <h2 class="mb-3 textSpace">Create an account </h2>

            <form class="pt-2">
                <div class="form-group row">
                    <div class="col-sm-6 pl-0">
                        <div class="form-control-inputDiv form-control-input-padding mobile-input-6 mobForm-name">
                            <input class="form-control-input form-control form-control-sm form-bgImg form-NameBgImg" type="text" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-sm-6 pr-0">
                        <div class="form-control-inputDiv form-control-input-padding mobile-input-6">
                            <input class="form-control-input form-control form-control-sm form-bgImg form-NameBgImg" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-emailBgImg" type="text" placeholder="Enter Your Email Id* ">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-phoneBgImg" type="number" placeholder="Enter Your Phone Number">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-calenderBgImg" type="number" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <div class="form-control-radioDiv-padding form-bgImg form-genderBgImg">
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label" for="inlineRadio1">
                                <input class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <span class="checkmark"></span>
                                <span class="radioValuetext">Female</span></label>

                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label" for="inlineRadio2">
                                    <input  class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <span class="checkmark"></span>
                                    <span class="radioValuetext">Male</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-passwordBgImg" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-passwordBgImg" type="password" placeholder="Confirm Password ">
                    </div>
                </div>
                <p class="color-black mediumFont textSpace">By clicking Sign Up, you agree to our <a class="color-purple semiBoldFont" href="#">Terms & Conditions</a> and <a class="color-purple semiBoldFont" href="#">Privacy Policy</a></p>
                <button type="submit" class="btn common-btn regularFont textSpace" (click)="goToLoginPage();">Sign Up</button>
                <div class="color-black mediumFont textSpace">Already registered user?<a class="color-purple semiBoldFont" href="#"> Login </a></div>

            </form>
        </div>
    </div>

</div> -->

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR cursorStyle">
            <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="img-fluid subHeaderImg">
        </div>
    </div>
</div>

<div class="container containerScrolling landingPageWidth ">
    <div class="bannerDiv position-relative" *ngIf="userProfile">
        <img src="assets/images/cover-pic-default.png" class="img-fluid">

        <button type="button" (click)="fileInput.click()"
            class=" btn_position-absolute border-0 bg-light-black text-white p-2">
            <i class="fa fa-camera" title="Upload" aria-hidden="true"></i>
            <input (change)="uploadCoverPic($event.target.files)" #fileInput type="file" style="display:none;" />
        </button>
    </div>

    <div class="row px-3">
        <div class="col-md-5 text-right d-flex profileDivLeft align-items-center customProfile">
            <div class="dpImgCircle rounded-circle bg-light-green border border-white" *ngIf="userProfile">
                <img *ngIf="!userProfile.profile_pic" src="assets/images/profile-default.png" class="img-fluid dpImg">
                <img *ngIf="userProfile.profile_pic" src="{{userProfile.profile_pic}}" class="img-fluid dpImg">

                <div class="upload-dp position-absolute">
                    <app-image-uploader (imageData)="getProfilePicUrl($event)" [uploadInfo]="uploadInfo">
                    </app-image-uploader>
                </div>
            </div>

            <img *ngIf="userProfile && userProfile.kyc_approved == '1'" src="assets/images/userWebsite/checkicon.png"
                class="img-fluid ml-1 tickImg">

            <div class="pl-2 text-left" *ngIf="userProfile">
                <p class="m-0 commonFontSize mediumFont pt-4 text-capitalize">{{userProfile.name}}</p>
                <p class="m-o commonFontSize mediumFont">{{userProfile.zatchup_id}}</p>
            </div>
        </div>
        <div *ngIf="userProfile && userProfile.firebase_id && userProfile.kyc_approved == 1 && currentUser != userId"
            class="col-md-7 text-right mt-2">
            <img (click)="getDocumentsChat(userProfile.firebase_id)" src="assets/images/userWebsite/email.png"
                class="img-fluid email_position-absolute cursorStyle">
        </div>
    </div>

    <div class="landingDiv pt-2 mt-2">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="informationDiv row form-control-inputDiv mt-2 py-2">
                    <div class="col-md-12 informationHeader  d-flex justify-content-between align-items-center">
                        <h3 class="color-purple commonFontSize semiBoldFont m-0">Personal Information</h3>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12" *ngIf="userProfile">
                        <p class="m-0 commonFontSize semiBoldFont">DOB :
                            <span class="regularFont">{{userProfile.dob}}</span>
                        </p>
                        <p class="m-0 commonFontSize semiBoldFont" *ngIf="userProfile.gender">Gender :
                            <span class="regularFont">{{getGender(userProfile)}}</span>
                        </p>
                        <p class="m-0 commonFontSize semiBoldFont" *ngIf="userProfile.email">Email :
                            <span class="regularFont">{{userProfile.email}}</span>
                        </p>
                        <p class="m-0 commonFontSize semiBoldFont" *ngIf="userProfile.phone">Phone :
                            <span class="regularFont">{{userProfile.phone}}</span>
                        </p>

                        <p *ngIf="profession" class="m-0 commonFontSize semiBoldFont">Profession : <span
                                class="regularFont">{{profession}}</span>
                        </p>
                    </div>
                </div>
                <div class="educationDiv row form-control-inputDiv py-2 mt-2">
                    <div class="col-md-12 educationHeader  d-flex justify-content-between align-items-center">
                        <h3 class="color-purple commonFontSize semiBoldFont m-0">Education</h3>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <ng-container *ngIf="userProfile">
                        <div class="col-md-12" *ngFor="let eduDetails of userProfile.educationdetail">
                            <h4 class="m-0 commonFontSize semiBoldFont position-relative text-capitalize">
                                {{eduDetails.name_of_school}}
                                <span class="ml-2" *ngIf="eduDetails.approved">
                                    <img src="assets/images/userWebsite/checkicon.png"
                                        class="img-fluid  check_absolute-image">
                                </span>
                            </h4>
                            <ng-container>
                                <div *ngFor="let courseDetails of eduDetails.course_detail">
                                    <div class="mb-3">
                                        <p class="m-0 commonFontSize text-capitalize">{{courseDetails.course_name}}
                                            <span class="regularFont small-text-2">(
                                                {{courseDetails.start_year}}-{{courseDetails.is_current_course?'Current':courseDetails.end_year}})</span>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <app-user-footer></app-user-footer> -->