<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="Dashboard-div bg-white px-2 py-2 mt-3">
        <div class="row topDiv">
            <div class="col-md-6 ">
                <h2 class="commonFontSize semiBoldFont mb-1">Revenue And Coupons Management</h2>
            </div>
            <div class="col-md-6 SearchDiv d-flex flex-row">
                <button type="button" class="bg-dark text-white px-4 py-2 border-0" data-toggle="modal"
                    data-target="#paymentModel" (click)="couponCodes()">Coupon Codes</button>
            </div>
        </div>

        <div class="row mt-3">
            <form autocapitalize="off" autocomplete="off">
                <div class="col-12 d-flex align-items-end">
                    <div class="widthFull mr-4 mt-3 ">
                        <label for="" class="mediumFont commonFontSize letterspacing">Sign Up date From</label>
                        <div class="rounded-0 p-0 shadow-none">
                            <input type="text" id="fromDate" name="fromDate" placeholder="MM/DD/YYYY"
                                class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                                [(ngModel)]="filterFromDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>
                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Signup date To</label>
                        <div class="rounded-0 p-0 shadow-none">
                            <input type="text" id="toDate" name="toDate" placeholder="MM/DD/YYYY"
                                class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                                [(ngModel)]="filterToDate" #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>
                    <div class="border-0 p-0 shadow-none mx-1">
                        <button type="button" (click)="getDashboardSummeryByFilter()"
                            class="bg-light-black border-0 col-flex text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-3" *ngIf="dashboardData">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="paymentOnboardingRoute()" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize"> Onboarding Fees Revenue </p>
                    <h2 class="countFontSize text-center semiBoldFont">
                        {{dashboardData.onboarding_fees_revenue ? dashboardData.onboarding_fees_revenue : 0}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">
                        Onboarding Fees Revenue:<span
                            class="ml-2">{{dashboardData.onboarding_fees_revenue ? dashboardData.onboarding_fees_revenue : 0}}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="subscriptionFeeRevenueRoute()" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize"> Subscription Fees Revenue </p>
                    <h2 class="countFontSize text-center semiBoldFont">
                        {{dashboardData.subscription_fees_revenue ? dashboardData.subscription_fees_revenue : 0}}</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">
                        Subscription Fees Revenue:<span
                            class="ml-2">{{dashboardData.subscription_fees_revenue ? dashboardData.subscription_fees_revenue : 0}}</span>
                    </p>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="starClassRevenueRoute()" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize">ZatchUp StarClass Revenue</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">ZatchUp
                        StarClass Revenue:<span class="ml-2">50</span></p>
                </div>
            </div> -->
        </div>

        <!-- <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="paymentCommissionsRevenueRoute()" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize">Commission Revenue</p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">
                        Commission Revenue :<span class="ml-2">50</span></p>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="paymentAdvertisementRevenueRoute()" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize"> Advertisement Revenue </p>
                    <h2 class="countFontSize text-center semiBoldFont">25</h2>
                    <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary twoLineText twoLineText-lg">
                        Advertisement Revenue :<span class="ml-2">50</span></p>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div> -->

    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>