<app-ei-sidenav></app-ei-sidenav>

<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class=" bg-light-gray pt-3 pb-5">
                <h1 class="text-center pt-3">Group Detail</h1>
                <div class="row mt-3 pb-3 align-items-center pl-2 border-bottomCustom ml-0 mr-0">
                    <div class="col-md-12 d-flex align-items-center justify-content-start flex-wrap">
                        <div class="addChatProfile shadow mr-5 position-relative">
                            <img src="assets/images/userWebsite/profile-image.png" alt=""/>
                            <div class="profileCamara">
                                <i class="fa fa-camera cursorStyle" aria-hidden="true"></i>
                            </div>                            
                        </div>
                        <input class="commentCustom form-control-input pl-3 w-75 form-control form-control-sm commonFontSize regularFont letterspacing shadow" type="text" placeholder="ABC Group">                       
                    </div>
                </div>
            
                <div class="row mt-3 pl-4">
                    <div class="col-md-6">
                        <div class="mr-4">
                            <img src="assets/images/userWebsite/add-more.png" class="img-fluid mr-3 img-small">
                            <span class="commonFontSize">Add Participants</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="commonFontSize text-right mr-4">Number of Participants: 03</h3>
                    </div>
                    <div class="col-12 mt-3">                        
                        <ul class="participantsList">
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aashish</span> <span class="color-red small-text-2 m-0">Remove</span></li>
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Aaditya</span> <span class="color-red small-text-2 m-0">Remove</span></li>                            
                            <li><img src="./assets/images/userWebsite/profile-image.png" alt="profile-pick" class="pickSize"/> <span>Ajay</span> <span class="color-red small-text-2 m-0">Remove</span></li>                            
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="shadow border-0 py-3 rounded bg-red color-white px-5 ml-4 mt-4">Delete Group</button>
                        <button class="shadow py-3 rounded bg-white color-red border-red px-5 ml-4 mt-4">Exit Group</button>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
