.form-month-col {
    background-size: 20%;
}

.form-date-col {
    background-size: 30%;
}
.calendarText{
    padding:2%;
}

@media only screen and (max-width: 414px) {
    .left-Image{
        margin-bottom: 3rem!important;
    }
}