<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-7">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/enter_your_work_details.png">
        </div>
        <div class="col-md-5">
            <h2 class="mb-3 textSpace">Enter Your Work Details </h2>

            <form class="pt-2">

                <div class="form-group row">
                    <div class="col-sm-12 p-0">
                        <label> Employment Type </label>
                        <select required (change)="isValid($event)" [(ngModel)]="model.work_type" name="status"  class="border custom-select form-control-input" required>
                            <option value="">Employment Status</option>
                            <option value="Employed">Employed </option>
                            <option value="Self Employed">Self Employed </option>
                        </select>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.status"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 p-0">
                        <label> Employment Profile </label>
                        <select (change)="isValid($event)" class="border custom-select form-control-input" name="department" [(ngModel)]="model.work_department" required>
                            <option value="">Select your work profile</option>
                            <option value="{{wpl.name}}" *ngFor="let wpl of workProfileList;">{{wpl.name}}</option>
                             <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.department"></div>
                </div>
                <div class="form-group row" *ngIf="model.work_department=='Other'" >
                    <div class="col-sm-12 p-0">
                        <input (keyup)="isValid($event)" [(ngModel)]="modelDept.work_department" name="work_department_other" class="form-control-input form-control border form-control-sm" required type="text"
                        placeholder="Enter Work Profile">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.work_department_other"></div>
                </div>
                <div *ngIf="model.work_type== 'Self Employed'">
                    <h4 class="mb-3 textSpace color-gray">Work Place</h4>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <input [(ngModel)]="model.work_country" required name="work_country" class="form-control-input form-control form-control-sm border" type="text"
                                placeholder="Enter Country">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.work_country"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 pl-0">
                            <div class="p-0 form-control-input-padding mobile-input-6 mobForm-name">
                                <input [(ngModel)]="model.work_state" name="work_state" required class="form-control-input form-control form-control-sm border" type="text"
                                    placeholder="Enter State">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.work_state"></div>
                        </div>
                        <div class="col-sm-6 pr-0">
                            <div class="p-0 form-control-input-padding mobile-input-6">
                                <input [(ngModel)]="model.work_city" name="work_city" required class="form-control-input form-control form-control-sm border" type="text"
                                    placeholder="Enter City">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.work_city"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <textarea [(ngModel)]="model.work_description" name="work_description" required  class="form-control-input form-control border" rows="3"
                                placeholder="Write Work Bio Here..."></textarea>
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.work_description"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 pl-0"> <label> Start Date </label></div>
                            <div class="row">   
                                <input [(ngModel)]="model.start_date" name="start_date" value="1-{{monthModel}}-{{yearModel}}" class="form-control-input form-control form-control-sm" type="hidden"
                                >                                 
                                <!-- <div class="col-2 mr-1 p-0">
                                   
                                    <select (change)="isValid($event)" id="date" required [(ngModel)]="dateModel" name ="dob" class="custom-select form-date-col pr-2 border">
                                        <option value="" [selected]='true'>Date</option>
                                        <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                        
                                    </select>
                                </div> -->
                                
                                <div class="col-6 pl-0 pr-0">
                                    <select (change)="isValid($event)" id="month" required [(ngModel)]="monthModel" name ="dob" class="custom-select form-month-col border">
                                        <option value="" selected>Month</option>
                                        <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="col-6 pr-0">
                                    <select (change)="isValid($event)" id="year" required [(ngModel)]="yearModel" name ="dob" class="custom-select form-month-col border">
                                        <option value="" selected>Year</option>
                                        <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="required errorMsg"  [innerHtml]="errorDisplay.start_year"></div>
                                
                                
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12 pl-0"> <label> End Date </label></div>
                            <div class="row" *ngIf="!model.is_currently_work">     
                                    <input [(ngModel)]="model.end_date" name="end_date" class="h-auto form-control-input form-control form-control-sm" type="hidden">                               
                                <!-- <div class="col-2 mr-1 p-0">
                                    <input [(ngModel)]="model.end_date" name="end_date" value="{{dateEndModel}}-{{monthEndModel}}-{{yearEndModel}}" class="form-control-input form-control form-control-sm" type="hidden"
                                    >
                                    <select (change)="isValid($event)" id="date" required [(ngModel)]="dateEndModel" name ="dob" class="custom-select form-date-col pr-2 border">
                                        <option value="" [selected]='true'>Date</option>
                                        <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                        
                                    </select>
                                </div> -->

                                
                                
                                <div class="col-6 mr pr-0">
                                    <select (change)="isValid($event)" id="month" required [(ngModel)]="monthEndModel" name ="dob" class="custom-select form-month-col border">
                                        <option value="" selected>Month</option>
                                        <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="col-6 pr-0">
                                    <select (change)="isValid($event)" id="year" required [(ngModel)]="yearEndModel" name ="dob" class="custom-select  form-month-col border">
                                        <option value="" selected>Year</option>
                                        <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="required errorMsg"  [innerHtml]="errorDisplay.end_year"></div>

                                
                            </div>
                            <div *ngIf="model.is_currently_work">Present</div>
                        </div>
                    </div>
                </div> 
                <div *ngIf="model.work_type== 'Employed'">
                    <h4 class="mb-3 textSpace color-gray">Work</h4>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label> Company </label>
                            <input (keyup)="isValid($event)" [(ngModel)]="model.company_name" name="company_name" required class="form-control-input form-control form-control-sm border" type="text"
                                placeholder="Enter Company Name">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.company_name"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label> Job Title </label>
                            <input [(ngModel)]="model.job_title" name="job_title" required class="form-control-input form-control form-control-sm border" type="text"
                                placeholder="What is your job title? ">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.job_title"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 p-0">
                            <label> Location </label>
                            <input [(ngModel)]="model.work_country" name="country" required class="form-control-input form-control form-control-sm border" type="text"
                                placeholder="Enter Country">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.country"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 pl-0">
                            <div class="p-0 mobile-input-6 mobForm-name">
                                <input [(ngModel)]="model.work_state" name="state" required class="form-control-input form-control form-control-sm border" type="text"
                                    placeholder="Enter State">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.state"></div>
                        </div>
                        <div class="col-sm-6 pr-0">
                            <div class="p-0 mobile-input-6">
                                <input [(ngModel)]="model.work_city" name="city" required class="form-control-input form-control form-control-sm border" type="text"
                                    placeholder="Enter City">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.city"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label> Description </label>
                        <div class="col-sm-12 p-0">
                            <textarea [(ngModel)]="model.work_description" name="description" required class="form-control-input form-control border" rows="3"
                                placeholder="Write Description Here..."></textarea>
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.description"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                        <h4 class="mb-2 textSpace color-gray">Time Period</h4>

                        <div class="row mb-2">
                            <div class="col-md-12 pl-0">  
                                <div class="col p-0">                                                                
                                    <label class="d-flex align-items-center"><input [(ngModel)]="model.is_currently_work" name="is_currently_work" class="h-auto form-control-input form-control-sm mr-1" type="checkbox">
                                        I am currently working in this role</label> 
                                </div>
                            </div>
                        </div>  

                        <div class="row">
                            <div class="col-md-6 MobileCol6MB">
                                <div class="col-md-12 pl-0"> <label> Start Date </label></div>
                                <div class="row">   
                                    <input [(ngModel)]="model.start_date" name="start_date" value="1-{{monthModel}}-{{yearModel}}" class="form-control-input form-control form-control-sm" type="hidden"
                                    >                                 
                                    <!-- <div class="col-2 mr-1 p-0">
                                       
                                        <select (change)="isValid($event)" id="date" required [(ngModel)]="dateModel" name ="dob" class="custom-select form-date-col pr-2 border">
                                            <option value="" [selected]='true'>Date</option>
                                            <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                            
                                        </select>
                                    </div> -->
                                    
                                    <div class="col-6 pl-0 pr-0">
                                        <select (change)="isValid($event)" id="month" required [(ngModel)]="monthModel" name ="dob" class="custom-select form-month-col border">
                                            <option value="" selected>Month</option>
                                            <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                            
                                        </select>
                                    </div>
                                    
                                    <div class="col-6 pr-0">
                                        <select (change)="isValid($event)" id="year" required [(ngModel)]="yearModel" name ="dob" class="custom-select form-month-col border">
                                            <option value="" selected>Year</option>
                                            <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                            
                                        </select>
                                    </div>
                                    
                                    <div class="required errorMsg"  [innerHtml]="errorDisplay.start_year"></div>
                                    
                                    
                                    
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 pl-0"> <label> End Date </label></div>
                                <div class="row" *ngIf="!model.is_currently_work">     
                                        <input [(ngModel)]="model.end_date" name="end_date" class="h-auto form-control-input form-control form-control-sm" type="hidden">                               
                                    <!-- <div class="col-2 mr-1 p-0">
                                        <input [(ngModel)]="model.end_date" name="end_date" value="{{dateEndModel}}-{{monthEndModel}}-{{yearEndModel}}" class="form-control-input form-control form-control-sm" type="hidden"
                                        >
                                        <select (change)="isValid($event)" id="date" required [(ngModel)]="dateEndModel" name ="dob" class="custom-select form-date-col pr-2 border">
                                            <option value="" [selected]='true'>Date</option>
                                            <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                            
                                        </select>
                                    </div> -->

                                    
                                    
                                    <div class="col-6 mr pr-0">
                                        <select (change)="isValid($event)" id="month" required [(ngModel)]="monthEndModel" name ="dob" class="custom-select form-month-col border">
                                            <option value="" selected>Month</option>
                                            <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                            
                                        </select>
                                    </div>
                                    
                                    <div class="col-6 pr-0">
                                        <select (change)="isValid($event)" id="year" required [(ngModel)]="yearEndModel" name ="dob" class="custom-select  form-month-col border">
                                            <option value="" selected>Year</option>
                                            <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                            
                                        </select>
                                    </div>
                                    
                                    <div class="required errorMsg"  [innerHtml]="errorDisplay.end_year"></div>

                                    
                                </div>
                                <div *ngIf="model.is_currently_work">Present</div>
                            </div>
                        </div>

                            
                            
                        </div>
                    </div>

                 
                </div>
                <button type="submit" class="btn common-btn regularFont textSpace"
                    (click)="goToKycSuccessfulPage()">Submit</button>
                <!-- <button type="submit" class="btn common-btn regularFont textSpace">Save</button> -->

            </form>
        </div>
    </div>

</div>


<!-- <app-user-footer></app-user-footer> -->