<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-4" src="assets/images/userWebsite/enter_your_work_details.png">
        </div>
        <div class="col-md-4 pl-0">
            <h2 class="mb-3 textSpace">Enter Your Work Details </h2>

            <form class="pt-2">

                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <select (change)="isValid($event)" [(ngModel)]="model.work_type" name="status"  class="custom-select form-control-input" required>
                            <option value="">Employment Status</option>
                            <option value="Employed">Employed </option>
                            <option value="Self Employed">Self Employed </option>
                        </select>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.status"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <select (change)="isValid($event)" class="custom-select form-control-input" name="department" [(ngModel)]="model.work_department" required>
                            <option value="">Select your work profile</option>
                            <option value="{{wpl.id}}" *ngFor="let wpl of workProfileList;">{{wpl.name}}</option>
                             <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.department"></div>
                </div>
                <div class="form-group row" *ngIf="model.work_department=='Other'" >
                    <div class="col-sm-12 form-control-inputDiv">
                        <input (keyup)="isValid($event)" [(ngModel)]="modelDept.work_department_other" name="work_department_other" class="form-control-input form-control form-control-sm" required type="text"
                        placeholder="Enter Work Profile">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.work_department_other"></div>
                </div>
                <!-- <div>
                    <h4 class="mb-3 textSpace color-gray">Work Place</h4>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <input [(ngModel)]="model.work_country" name="work_country" class="form-control-input form-control form-control-sm" type="text"
                                placeholder="Enter Country">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 pl-0">
                            <div class="form-control-inputDiv form-control-input-padding mobile-input-6 mobForm-name">
                                <input [(ngModel)]="model.work_state" name="work_state" required class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter State">
                            </div>
                        </div>
                        <div class="col-sm-6 pr-0">
                            <div class="form-control-inputDiv form-control-input-padding mobile-input-6">
                                <input [(ngModel)]="model.work_city" name="work_city" required class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter City">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <textarea [(ngModel)]="model.work_description" name="work_description" required  class="form-control-input form-control" rows="3"
                                placeholder="Write Work Bio Here..."></textarea>
                        </div>
                    </div>
                </div> -->

                <div>
                    <h4 class="mb-3 textSpace color-gray">Work</h4>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <input (keyup)="isValid($event)" [(ngModel)]="model.company_name" name="company_name" required class="form-control-input form-control form-control-sm" type="text"
                                placeholder="Enter Company Name">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.company_name"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <input [(ngModel)]="model.job_title" name="job_title" required class="form-control-input form-control form-control-sm" type="text"
                                placeholder="What is your job title? ">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.job_title"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <input [(ngModel)]="model.work_country" name="country" required class="form-control-input form-control form-control-sm" type="text"
                                placeholder="Enter Country">
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.country"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 pl-0">
                            <div class="form-control-inputDiv mobile-input-6 mobForm-name">
                                <input [(ngModel)]="model.work_state" name="state" required class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter State">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.state"></div>
                        </div>
                        <div class="col-sm-6 pr-0">
                            <div class="form-control-inputDiv mobile-input-6">
                                <input [(ngModel)]="model.work_city" name="city" required class="form-control-input form-control form-control-sm" type="text"
                                    placeholder="Enter City">
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.city"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 form-control-inputDiv">
                            <textarea [(ngModel)]="model.work_description" name="description" required class="form-control-input form-control" rows="3"
                                placeholder="Write Description Here..."></textarea>
                        </div>
                        <div class="required errorMsg"  [innerHtml]="errorDisplay.description"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 ">
                            <h4 class="mb-2 textSpace color-gray">Time Period</h4>
                            <div class="row">
                                
                                <div class="col-2 mr-1 form-control-inputDiv">
                                    <input [(ngModel)]="model.start_date" name="start_date" value="{{dateModel}}-{{monthModel}}-{{yearModel}}" class="form-control-input form-control form-control-sm" type="hidden"
                                    >
                                    <select (change)="isValid($event)" id="date" required [(ngModel)]="dateModel" name ="dob" class="custom-select form-date-col  border-0 pr-2">
                                        <option value="" [selected]='true'>Date</option>
                                        <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                       
                                    </select>
                                </div>
                                
                                <div class="col-3 mr-1 form-control-inputDiv">
                                    <select (change)="isValid($event)" id="month" required [(ngModel)]="monthModel" name ="dob" class="custom-select border-0 form-month-col">
                                        <option value="" selected>Month</option>
                                        <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="col-3 ml-1 form-control-inputDiv">
                                    <select (change)="isValid($event)" id="year" required [(ngModel)]="yearModel" name ="dob" class="custom-select  border-0 form-month-col">
                                        <option value="" selected>Year</option>
                                        <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                       
                                    </select>
                                </div>
                                <div class="required errorMsg"  [innerHtml]="errorDisplay.start_year"></div>
                                <div class="col d-flex justify-content-between align-items-center align-self-center">
                                    <input [(ngModel)]="model.end_date" name="end_date" class="h-auto form-control-input form-control form-control-sm" type="hidden">
                                    <span class="regularFont color-gray mr-1">to present</span>
                                    <input [(ngModel)]="model.is_currently_work" name="is_currently_work" class="h-auto form-control-input form-control-sm" type="checkbox">
                                </div>
                                
                            </div>
                        </div>
                    </div>

                 
                </div>
                <button type="submit" class="btn common-btn regularFont textSpace"
                    (click)="goToKycSuccessfulPage()">Submit</button>
                <!-- <button type="submit" class="btn common-btn regularFont textSpace">Save</button> -->

            </form>
        </div>
    </div>

</div>


<!-- <app-user-footer></app-user-footer> -->