<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12 text-center">
                <h2 class="commonFontSize semiBoldFont m-0 py-3">Messages Details</h2>
            </div>
        </div>

        <div *ngIf="!params.chat" class="bg-light-gray p-3">
            <div class="profile_detail d-flex align-items-center justify-content-start mb-3 position-relative">
                <div class="profile_pick">
                    <img *ngIf="!recepintDetails" src="{{recepintDetails.photoUrl?recepintDetails.photoUrl:'./assets/images/userWebsite/profile-image.png'}}"
                        class="img-fluid cursorStyle">
                    <!-- <img *ngIf="recepintDetails && recepintDetails.photoUrl" src="{{recepintDetails.photoUrl}}"
                        class="img-fluid cursorStyle"> -->
                </div>
                <div class="profile_name ml-2 text-capitalize">
                    <p *ngIf="recepintDetails" class="m-0"> {{recepintDetails.firstName}} {{recepintDetails.lastName}}
                        <span class="small-text-2">({{recepintDetails.class_name}} {{recepintDetails.roll_no}})</span>
                    </p>
                    <span class="small-text-2" *ngIf="presence$ | async as presence ">
                        <label *ngIf="online" [ngClass]="presence.status == 'online' ? 'color-green': 'offline'">{{presence.status}}</label>
                    </span>
                </div>
                <div class="setting_info text-right pr-3 dropdown">
                    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/userWebsite/blue-menu.png" class="img-fluid img-small cursorStyle">
                    </a>
                    <div class="dropdown-menu customButton" aria-labelledby="dropdownMenuButton">
                        <span *ngIf="!isblock" (click)="blockPaticipant(recepintDetails.id)" class="dropdown-item cursorStyle">Block User</span>
                        <span *ngIf="isblock" (click)="unblockPaticipant(recepintDetails.id)" class="dropdown-item cursorStyle">Unblock User</span>
                    </div>
                </div>
            </div>

            <div class="teacherChatList border-bottom" #scrollMe [scrollTop]="scrollHeight">
                <div class="row pb-2 mt-2" *ngFor="let objCon of conversation">
                    <div class="col-md-12 col-12">
                        <div *ngIf="!objCon.document">
                            <p class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3"> {{objCon.msg}}
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}</span>
                            </p>
                        </div>
                        <div class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3" *ngIf="objCon.document">
                            <a *ngIf="getFileExtention(objCon.msg)=='pdf'" href="{{objCon.msg}}" target="_blank">
                                <img src="./assets/images/userWebsite/pdf.png" />
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)!='pdf'" href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>
                            <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="params.chat" class="bg-light-gray p-3">
            <div class="profile_detail d-flex align-items-center justify-content-start mb-3 cursorStyle" (click)="gotToGroupDetailsPage(recepientGroup.uuid,'group')">
                <div class="profile_pick">
                    <img *ngIf="!recepientGroup" src="{{recepientGroup.group_icon?recepientGroup.group_icon:'./assets/images/userWebsite/profile-image.png'}}"
                        class="img-fluid cursorStyle"> 
                     <img *ngIf="recepientGroup && recepientGroup.group_icon" src="{{recepientGroup.group_icon}}"
                        class="img-fluid cursorStyle">
                </div>
                <div class="profile_name ml-2 text-capitalize">
                    <p *ngIf="recepientGroup" class="m-0"> {{recepientGroup.group_title}} 
                        <span class="small-text-2"></span>
                    </p>
                     <span class="small-text-2" *ngFor="let user of receipentUsers">
                        <label [ngClass]="'color-green'">{{user.firstName}} {{user.lastName}}{{','}}</label>
                    </span>
                </div>
            </div>

            <div class="teacherChatList border-bottom" #scrollMe [scrollTop]="scrollHeight">
                <div class="row pb-2 mt-2" *ngFor="let objCon of conversation">
                    <div class="col-md-12 col-12">
                        <div *ngIf="!objCon.document">
                            <p class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3"> {{objCon.msg}}
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}</span>
                            </p>
                        </div>
                        <div class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3" *ngIf="objCon.document">
                            <a *ngIf="getFileExtention(objCon.msg)=='pdf'" href="{{objCon.msg}}" target="_blank">
                                <img src="./assets/images/userWebsite/pdf.png" />
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)!='pdf'" href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>
                            <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"  *ngIf="params.chat && groupexit==0">
            <div class="col-12">
                <div class="p-2 d-flex justify-content-between align-items-center position-relative bg-Gainsboro message-icon">
                    <!-- <i class="fa fa-smile-o cursorStyle" aria-hidden="true"></i> -->
                    <div>
                        <i class="fa fa-paperclip cursorStyle" (click)="fileInput.click()" aria-hidden="true"></i>
                        <input (change)="uploadDoc($event)" #fileInput type="file" style="display:none;" />
                    </div>
                    <input (keydown.enter)="sendChat()" [(ngModel)]="model.comment" name="comment" class="chat-rouded border form-control-input form-control form-control-sm commonFontSize regularFont letterspacing mx-2"
                        type="search" placeholder="Type Something...">
                    <span [ngClass]="!model.comment ? 'disabled': 'cursorStyle'" (click)="sendChat()" class="">
                        <i class="fa fa-paper-plane cursorStyle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row"  *ngIf="params.chat && groupexit==1">
            <div class="col-12">
                You can't send messages to this group because you are no longer a participent
            </div>
        </div>
        <div class="row" *ngIf="!params.chat ">
            <div class="col-12">
                <div class="p-2 d-flex justify-content-between align-items-center position-relative bg-Gainsboro message-icon">
                    <!-- <i class="fa fa-smile-o cursorStyle" aria-hidden="true"></i> -->
                    <div>
                        <i class="fa fa-paperclip cursorStyle" (click)="fileInput.click()" aria-hidden="true"></i>
                        <input (change)="uploadDoc($event)" #fileInput type="file" style="display:none;" />
                    </div>
                    <input (keydown.enter)="sendChat()" [(ngModel)]="model.comment" name="comment" class="chat-rouded border form-control-input form-control form-control-sm commonFontSize regularFont letterspacing mx-2"
                        type="search" placeholder="Type Something...">
                    <span [ngClass]="!model.comment ? 'disabled': 'cursorStyle'" (click)="sendChat()" class="">
                        <i class="fa fa-paper-plane cursorStyle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
           
        </div>
    </div>
</div>