.message-user {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border: 3px solid #139bbf;
    border-radius: 50%;
    overflow: hidden;
}
.message-user img{
    width: 100%;
}

.teacherChatList {
    height: 295px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.date-text {
    font-size: .8rem;
    clear: both;
}
.chatTxt {
    background: #f0f5f9;
    padding: 7px 15px;
    color: #569d9e;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    display: inline-block;
    margin: 0px;
}
.chatTxt-2{
    background: #f3f3f3;
    color: #666666;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    text-align: right;
    float: right;
    margin: 0px;
}
.position-ppin{
    top: 0px;
    right: 0px;
    height: 100%;
    width: 80px;
}

.disabled {
    pointer-events: none;
}

.send-message-icon{
    height: 40px;
}

.chat-rouded {
    border-radius: 50px;
    height: 40px;
}
.message-icon i {
    font-size: 26px;
    color: #919191;
    margin: 0px 10px 0px 2px;
}

.profile_pick {
    border-radius: 50%;
    max-width: 40px;
    overflow: hidden;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    min-width: 40px;
    height: 100%;
    border: 1px solid #ddd;
}

@media (max-width: 767px){
  .teacherChatList {
      height: 300px;
      overflow-x: auto;
      overflow-y: scroll;
  }
}