<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="bg-white px-3 py-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-12 col-12">
                <h1 class="commonFontSize semiBoldFont m-0">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                Messages Details</h1>
            </div>
        </div>

        <div *ngIf="!params.chat" class="bg-light-gray p-3 mt-3">
            <div class="profile_detail d-flex align-items-center justify-content-start mb-3 position-relative">
                <div class="profile_pick">
                    <img  src="{{recepintDetails.photoUrl?recepintDetails.photoUrl:'./assets/images/userWebsite/profile-image.png'}}"
                        class="img-fluid cursorStyle">
                    <!-- <img *ngIf="recepintDetails && recepintDetails.photoUrl" src="{{recepintDetails.photoUrl}}"
                        class="img-fluid cursorStyle"> -->
                </div>
                <div class="profile_name ml-2 text-capitalize">
                    <p *ngIf="recepintDetails" class="m-0"> {{recepintDetails.firstName}} {{recepintDetails.lastName}}
                        <span class="small-text-2">{{recepintDetails.class_name?'('+recepintDetails.class_name + recepintDetails.roll_no+')':''}}</span>
                    </p>
                    <span class="small-text-2" *ngIf="presence$ | async as presence ">
                        <label *ngIf="online" [ngClass]="presence.status == 'online' ? 'color-green': 'offline'">{{presence.status}}</label>
                        <label *ngIf="!online && is_last_seen" [ngClass]="presence.status == 'online' ? 'color-green mb-0': 'offline'">{{getTimewithday(presence.timestamp)}}</label>
                   
                    </span>
                </div>
                <div class="setting_info text-right pr-3 dropdown">
                    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/userWebsite/blue-menu.png" class="img-fluid img-small cursorStyle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <!-- <div class="dropdown-item cursorStyle">Group Info</div> -->
                        <span *ngIf="!isblock" (click)="blockPaticipant(recepintDetails.id)" class="dropdown-item cursorStyle">Block User</span>
                        <span *ngIf="isblock" (click)="unblockPaticipant(recepintDetails.id)" class="dropdown-item cursorStyle">Unblock User</span>
                    </div>
                </div>
            </div>

            <div class="teacherChatList border-bottom" #scrollMe [scrollTop]="scrollHeight">
                <div class="row pb-2 mt-2" *ngFor="let objCon of conversation">
                    <div class="col-md-12 col-12">
                        <div class="text-capitalize {{objCon.user_send_by!=currentUser?'':'chatTxt-2'}}" *ngIf="!objCon.document">
                            <p class="mb-0 semiBoldFont"> {{objCon.roll_no?getRecepintUserDetails(objCon.id).first_name:''}} </p>
                            <p class="chatTxt mb-0 mr-3"> {{objCon.msg}}
                                <span class="text-right small-text-2 d-block ml-4 color-gray"> {{getTimeAgo(objCon.timestamp)}}
                                    <!--<img src="./assets/images/userWebsite/message-delivered.png" alt="" class="ml-2 message-delivered-icon"/>
                                    <img src="./assets/images/userWebsite/message-pending.png" alt="" class="ml-2 message-pending-icon"/>
                               --></span>
                            </p>
                        </div>
                        <div class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3 text-left" *ngIf="objCon.document">
                            <p class="text-left mb-0"> {{objCon.roll_no?getRecepintUserDetails(objCon.id).first_name:''}} </p>
                             <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img src="./assets/images/userWebsite/pdf.png" class="pdf_customSize"/>
                                </a>
                                <a *ngIf="getFileExtention(objCon.msg)!='pdf' && getFileExtention(objCon.msg)!='mp4' && objCon.document && getFileExtention(objCon.msg)!='doc'
                             && getFileExtention(objCon.msg)!='docx' && getFileExtention(objCon.msg)!='csv' 
                             && getFileExtention(objCon.msg)!='mp3'
                             && getFileExtention(objCon.msg)!='aiff'
                             && getFileExtention(objCon.msg)!='flac'
                             && getFileExtention(objCon.msg)!='wma'
                             && getFileExtention(objCon.msg)!='aac'"
                              
                             href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf' 
                                && getFileExtention(objCon.msg)!='mp4' 
                                && getFileExtention(objCon.msg)!='doc' 
                                && getFileExtention(objCon.msg)!='docx' 
                                && getFileExtention(objCon.msg)!='csv'
                                && getFileExtention(objCon.msg)!='mp3'
                                && getFileExtention(objCon.msg)!='aiff'
                                && getFileExtention(objCon.msg)!='flac'
                                && getFileExtention(objCon.msg)!='wma'
                                && getFileExtention(objCon.msg)!='aac'"
                                 src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>
                                <a *ngIf="getFileExtention(objCon.msg)=='mp4' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img  src="./assets/images/userWebsite/mp4.png" class="img-fluid img-big cursorStyle">
                                </a>
                                 <a *ngIf="getFileExtention(objCon.msg)=='csv' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/csv.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='doc' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/doc.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='docx' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/docx.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='mp3' 
                            && getFileExtention(objCon.msg)=='aiff'
                            && getFileExtention(objCon.msg)=='flac'
                            && getFileExtention(objCon.msg)=='wma'
                            && getFileExtention(objCon.msg)=='aac'
                             && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/audio.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <span class="text-right small-text-2 d-block ml-4 text-capitalize color-gray">{{getTimeAgo(objCon.timestamp)}}
                                <!--<img src="./assets/images/userWebsite/message-delivered.png" alt="" class="ml-2 message-delivered-icon"/>
                                <img src="./assets/images/userWebsite/message-pending.png" alt="" class="ml-2 message-pending-icon"/>-->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="params.chat" class="bg-light-gray p-3 mt-3">
            <div class="profile_detail d-flex justify-content-start mb-3 cursorStyle position-relative" >
                <div class="profile_pick" (click)="gotToGroupDetailsPage(recepientGroup.uuid,'group')">
                    <img src="{{recepientGroup.group_icon?recepientGroup.group_icon:'./assets/images/userWebsite/users.png'}}"
                        class="img-fluid cursorStyle"> 
                     <img *ngIf="recepientGroup && recepientGroup.group_icon" src="{{recepientGroup.group_icon?recepientGroup.group_icon:'./assets/images/userWebsite/profile-image.png'}}"
                        class="img-fluid cursorStyle">
                </div>
                <div class="profile_name ml-2 text-capitalize" (click)="gotToGroupDetailsPage(recepientGroup.uuid,'group')">
                    <p *ngIf="recepientGroup" class="m-0">{{recepientGroup.group_title}}
                        <span class="small-text-2"></span>
                    </p>
                     <span class="small-text-2 cursorStyle" *ngFor="let user of receipentUsers;let i=index;">
                        <label [ngClass]="'color-green cursorStyle'">{{currentUser==user.id?'You':user.firstName}} {{currentUser==user.id?'':user.lastName}} {{i==receipentUsers.length-1?'':','}} </label>
                    </span>
                </div>
                 
            </div>

            <div class="teacherChatList border-bottom" #scrollMe [scrollTop]="scrollHeight">
                <div class="row pb-2 mt-2" *ngFor="let objCon of conversation">
                    <div class="col-md-12 col-12">
                        <p *ngIf="objCon.is_creatted" class="text-center mb-0 grpText py-1"> {{objCon.user_send_by!=currentUser?objCon.user_name+' '+objCon.msg:'You'+' '+objCon.msg}}</p>
                        <div *ngIf="!objCon.document" class="chatTxt text-capitalize {{objCon.user_send_by!=currentUser?'chatTxt-2':''}}">
                            <p class="text-left mb-0 semiBoldFont" *ngIf="!objCon.is_creatted"> {{objCon.user_send_by!=currentUser?objCon.user_name:''}} </p>
                            <p *ngIf="!objCon.is_creatted" class="text-left mb-0 mr-3"> {{objCon.msg}}
                                <span class="text-right small-text-2 d-block ml-4 color-gray"> {{objCon.is_creatted?'':getTimeAgo(objCon.timestamp)}}</span>
                            </p>
                             
                        </div>
                        <div class="chatTxt {{objCon.user_send_by!=currentUser?'chatTxt-2':''}} mr-3 text-left" *ngIf="objCon.document">
                            <p class="text-left mb-0"> {{objCon.user_send_by!=currentUser?objCon.user_name:''}} </p>
                            <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img src="./assets/images/userWebsite/pdf.png" class="pdf_customSize"/>
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)!='pdf' && getFileExtention(objCon.msg)!='mp4' && objCon.document && getFileExtention(objCon.msg)!='doc'
                             && getFileExtention(objCon.msg)!='docx' && getFileExtention(objCon.msg)!='csv' 
                             && getFileExtention(objCon.msg)!='mp3'
                             && getFileExtention(objCon.msg)!='aiff'
                             && getFileExtention(objCon.msg)!='flac'
                             && getFileExtention(objCon.msg)!='wma'
                             && getFileExtention(objCon.msg)!='aac'"
                              
                             href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf' 
                                && getFileExtention(objCon.msg)!='mp4' 
                                && getFileExtention(objCon.msg)!='doc' 
                                && getFileExtention(objCon.msg)!='docx' 
                                && getFileExtention(objCon.msg)!='csv'
                                && getFileExtention(objCon.msg)!='mp3'
                                && getFileExtention(objCon.msg)!='aiff'
                                && getFileExtention(objCon.msg)!='flac'
                                && getFileExtention(objCon.msg)!='wma'
                                && getFileExtention(objCon.msg)!='aac'"
                                 src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='mp4' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/mp4.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='csv' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/csv.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='doc' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/doc.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)=='docx' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/docx.png" class="img-fluid img-big cursorStyle">
                            </a>

                            <a *ngIf="getFileExtention(objCon.msg)=='mp3' 
                            && getFileExtention(objCon.msg)=='aiff'
                            && getFileExtention(objCon.msg)=='flac'
                            && getFileExtention(objCon.msg)=='wma'
                            && getFileExtention(objCon.msg)=='aac'
                             && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img  src="./assets/images/userWebsite/audio.png" class="img-fluid img-big cursorStyle">
                            </a>
                            <span class="text-right small-text-2 d-block ml-4 text-capitalize color-gray">  {{getTimeAgo(objCon.timestamp)}}
                            <!--<img src="./assets/images/userWebsite/message-delivered.png" alt="" class="ml-2 message-delivered-icon"/>
                                    <img src="./assets/images/userWebsite/message-pending.png" alt="" class="ml-2 message-pending-icon"/>
                            -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3"  *ngIf="params.chat && groupexit==0">
            <div class="col-12">
                <div class="p-2 d-flex justify-content-between align-items-center position-relative bg-Gainsboro message-icon">
                    <!-- <i class="fa fa-smile-o cursorStyle" aria-hidden="true"></i> -->
                    <div>
                        <i class="fa fa-paperclip cursorStyle" (click)="fileInput.click()" aria-hidden="true"></i>
                        <input (change)="uploadDoc($event)" #fileInput type="file" style="display:none;" />
                    </div>
                    <input (keydown.enter)="sendChat()" [(ngModel)]="model.comment" name="comment" class="chat-rouded border form-control-input form-control form-control-sm commonFontSize regularFont letterspacing mx-2"
                        type="search" placeholder="Type Something...">
                    <span [ngClass]="!model.comment ? 'disabled': 'cursorStyle'" (click)="sendChat()" class="">
                        <i class="fa fa-paper-plane cursorStyle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-center" *ngIf="params.chat && groupexit==1">
            <div class="col-12 py-3">
                You can't send messages to this group because you are no longer a participent
            </div>
        </div>
        <div class="row" *ngIf="!params.chat ">
            <div class="col-12" *ngIf="!blockRecipant">
                <div class="p-2 d-flex justify-content-between align-items-center position-relative bg-Gainsboro message-icon">
                    <!-- <i class="fa fa-smile-o cursorStyle" aria-hidden="true"></i> -->
                    <div>
                        <i class="fa fa-paperclip cursorStyle" (click)="fileInput.click()" aria-hidden="true"></i>
                        <input (change)="uploadDoc($event)" #fileInput type="file" style="display:none;" />
                    </div>
                    <input (keydown.enter)="sendChat()" [(ngModel)]="model.comment" name="comment" class="chat-rouded border form-control-input form-control form-control-sm commonFontSize regularFont letterspacing mx-2"
                        type="search" placeholder="Type Something...">
                    <span [ngClass]="!model.comment ? 'disabled': 'cursorStyle'" (click)="sendChat()" class="">
                        <i class="fa fa-paper-plane cursorStyle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-12"  *ngIf="blockRecipant">
                <div class="text-center py-3">
                    You can’t send messages to this user
                </div>
            </div>
           
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>