.subAdminPurpleBtn {
    width: inherit;
    border-radius: 8px;
    color: #ffffff;
}

.addSubAdminPurpleBtn {
    border-radius: 8px;
    color: #ffffff;
    width: 50%;
}

.textRightSpan {
    float: right;
}

.custom-select {
    width: 100%;
    background-position: 96%;
    background-size: 7%;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control-inputDiv.col-flex p.pblock {
    height: 56px;
}

.clearfix {
    clear: both;
}