<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="SubAdminManagement-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-6 ">
                <h2 class="commonFontSize semiBoldFont m-0">Sub Admin Management</h2>
            </div>
            <div class="col-md-6 SearchDiv d-flex flex-row">
                <!-- <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input
                        class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing"
                        type="text" placeholder="Search...">
                </div>
                <button type="button" class="bg-dark text-white px-4 h-100 ml-2 border-0 ">Apply</button> -->
            </div>
        </div>

        <div class="row mt-4" *ngIf="dasboardSummery">
            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="subadminPendingRequest()">
                    <p class="p-2 mediumFont commonFontSize ">Unverified subadmin</p>
                    <h2 class="countFontSize text-center semiBoldFont">
                        {{dasboardSummery.unverified_subadmin ? dasboardSummery.unverified_subadmin : '0'}}
                    </h2>
                    <!-- <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary pblock">Requests To Add
                        Sub-Admin:<span class="ml-2">{{dasboardSummery?.total_ei_pending_requests_count}}</span></p> -->
                </div>
            </div>

            <div class="col-md-4 MobileCol6MB cursorStyle">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ml-1"
                    (click)="subadminCompletedRequest()">
                    <p class="p-2 mediumFont commonFontSize ">Verified subadmin</p>
                    <h2 class="countFontSize text-center semiBoldFont">
                        {{dasboardSummery.verified_subadmin ? dasboardSummery.verified_subadmin : '0'}}
                    </h2>
                    <!-- <p class="mb-0 p-2  mediumFont commonFontSize bg-light-secondary pblock">Requests To Add
                        Sub-Admin:<span class="ml-2">{{dasboardSummery?.total_ei_pending_requests_count}}</span></p> -->
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple"
                    (click)="goToEiSubadminModuleWisePage()">Module wise
                    summary</button>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple"
                    (click)="goToEiSubadminAccessHistoryPage()">Access
                    History</button>
            </div>
        </div>

    </div>

    <div class="addStudent-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row mt-2 ">
            <div class="col-xl-6 col-lg-5 col-md-6 MobileCol6MB">
                <button type="button"
                    class="px-2 commonFontSize mediumFont py-4 border-0 addSubAdminPurpleBtn bg-purple"
                    (click)="goToEiSubadminAccessPage()">Add Sub
                    Admin</button>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-6">
                <h2 class="commonFontSize semiBoldFont">View Status
                    ({{dasboardSummery?.total_for_subadmin_signup}})
                </h2>
                <div class="form-control-inputDiv rounded-0 bg-offwhite shadow-none clearfix p-2">
                    <div class="row cursorStyle" (click)="goToEiSubadminViewStatusPage('approved')">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-6 commonFontSize mediumFont">
                            <p>Approved By Subadmin</p>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-6 col-6 commonFontSize mediumFont">
                            <p><span class="mr-2">:</span>{{dasboardSummery?.completed_for_subadmin_signup}}</p>
                        </div>
                    </div>
                    <div class="row cursorStyle" (click)="goToEiSubadminViewStatusPage('SENTFORSIGNUP')">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-6 commonFontSize mediumFont">
                            <p>Pending</p>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-6 col-6 commonFontSize mediumFont">
                            <p><span class="mr-2">:</span>{{dasboardSummery?.pending_for_subadmin_signup}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>