<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="courseLecture-div bg-white border mt-3 px-3 py-3">
        <div class="col-md-12 d-flex justify-content-start align-items-center flex-wrap p-0">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0">{{action == 'add' ? 'Upload Lecture' : 'Edit Lecture'}}</h2>
        </div>
        <div class="row bg-light-gray w-50 ml-1 mt-3">   
            <form id="lecture">
            <div class="col-md-12 mt-2">
                <div class="form-group row  ml-0 mr-0">
                    <label for="" class="mediumFont commonFontSize letterspacing"> {{action == 'add' ? 'Add' : 'Edit '}} Title </label>
                    <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                        <input (keyup)="isValid($event)"  maxlength="30" [(ngModel)]="model.lecture_title" name="lecture_title" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Field Name">
                    </div>
                </div>
                <div class="required errorMsg" [innerHtml]="errorDisplay.lecture_title"></div>
            </div>

            <div class="col-md-12">
                <div class="form-group row  ml-0 mr-0">
                    <label for="" class="mediumFont commonFontSize letterspacing">  {{action == 'add' ? 'Add' : 'Edit '}} Description </label>
                    <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                        <textarea (keyup)="isValid($event)"  maxlength="200" [(ngModel)]="model.lecture_description" name="lecture_description" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" cols="4" rows="5" placeholder="Enter Message"></textarea>
                    </div>
                </div>
                <div class="required errorMsg" [innerHtml]="errorDisplay.lecture_description"></div>
            </div>

            <div class="col-md-12">
                <div class="form-group row  ml-0 mr-0">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Enter of Teaching Faculty </label>
                    <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                        <input (keyup)="isValid($event)"  maxlength="150" [(ngModel)]="model.name_of_teaching_faculty" name="name_of_teaching_faculty" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Teaching Faculty Name">
                    </div>
                </div>
                <div class="required errorMsg" [innerHtml]="errorDisplay.name_of_teaching_faculty"></div>
            </div>

            <div class="col-md-12">
                <div class="form-group row  ml-0 mr-0">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Topic Covered </label>
                    <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                        <input (keyup)="isValid($event)"  maxlength="150" [(ngModel)]="model.topic_cover" name="topic_cover" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Topic Covered">
                    </div>
                </div>
                <div class="required errorMsg" [innerHtml]="errorDisplay.topic_cover"></div>
            </div>

            <div class="col-md-12">
                <div class="form-group row  ml-0 mr-0">
                <label for="" class="mediumFont commonFontSize letterspacing"> Upload </label>
                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                    <input #inputFile [required]="!model.lecture"  name="lecture"  type="file" (change)="handleFileInput($event.target.files)" class="form-control-input form-control  commonFontSize regularFont letterspacing" type="file" >
                </div>
                <p class="mb-0 mt-1 small-text-2 color-purple">Only Support Mp4</p>
                <div class="required errorMsg" [innerHtml]="errorDisplay.lecture"></div>
            </div>

            <div class="col-md-12" *ngIf="model.lecture">
                <div class="form-group row ml-0 mr-0">
                    <div class="col-md-12 customVideo" >
                        <!-- <iframe class="previewVideo w-100 border border-gray" src="http://staging.zatchup.com/zatchupapi/zatchup/media/lectures_upload/preview/file_example_MP4_480_1_5MG.mp4"></iframe> -->
                        <video controls="controls" controlsList="nodownload" preload="auto" ng-click="video($event)">
                            <source *ngIf="model.lecture" src="{{model.lecture}}" type="video/mp4" />
                       </video>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group row ml-0 mr-0 d-flex justify-content-center">
                    <button type="button " class="bg-paret-green border-0 text-white text-center px-4 py-2 
                    commonFontSize mediumFont letterspacing " (click)="uploadLecture()"> 
                    {{action == 'add' ? 'Upload ' : 'Edit '}} </button>                    
                </div>
            </div>

        </div>    
    </form>    
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 