<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-3 pb-3 mt-3">
        <h2 class="commonFontSize semiBoldFont m-0">Edit Right Teacher List</h2>
        <!-- <div class="d-flex justify-content-between mb-2">
            <h2 class="commonFontSize semiBoldFont m-0">Edit Right Teacher List</h2>
            <div class="button-div">
                <button type="button" class="bg-dark text-white py-2 px-3 border-0">Create Course</button>
            </div>
        </div> -->

        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="select" class="ml-2">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox class="ml-2" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox class="ml-2" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="profilePic">
                        <mat-header-cell *matHeaderCellDef> Profile Pic</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <img mat-card-avatar [src]="element.profilePic" class="mat-img-proPic" /></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nameOfTeacher">
                        <mat-header-cell *matHeaderCellDef> Name of Teacher </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.nameOfTeacher}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="relationship">
                        <mat-header-cell *matHeaderCellDef> Relationship </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.relationship}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="employeeID">
                        <mat-header-cell *matHeaderCellDef>Employee ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.employeeID}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
        <button type="button" class="bg-paret-green text-white py-2 px-4 mt-3 commonFontSize mediumFont border-0">Submit</button>

    </div>

</div>