<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row topDiv">
            <div class="col-md-5 col-12">
                <h2 class="commonFontSize semiBoldFont m-0">Students Messages</h2>
            </div>
            <div class="col-md-7 col-12 d-flex justify-content-end"> 
                <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="search" placeholder="Search...">
                </div>
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 ">Apply</button>
            </div>
        </div>

        <div class="bg-extra-light-gray px-3 pt-3 pb-4 mt-3">
            <div class="row">
                <div class="col-12 border-bottom">
                    <h3 class="commonFontSize semiBoldFont m-0">Add Class</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h4 class="commonFontSize semiBoldFont mt-2">Select Class</h4>
                    <mat-checkbox class="example-margin">Add Class</mat-checkbox> <br/>
                   
                        <mat-checkbox class="example-margin"
                                [checked]="allComplete"
                                [indeterminate]="someComplete()"
                                (change)="setAll($event.checked)">
                            {{task.name}}
                        </mat-checkbox>
                    
                        <ul class="m-0">
                            <li *ngFor="let subtask of task.subtasks">
                                <mat-checkbox [(ngModel)]="subtask.completed"
                                        [color]="subtask.color"
                                        (ngModelChange)="updateAllComplete()">
                                    {{subtask.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                   
                    <mat-checkbox class="example-margin">M.Com</mat-checkbox>
                    <h4 class="commonFontSize semiBoldFont mt-1 mb-1">Reminder Text</h4>
                    <div class="form-control-inputDiv rounded p-0 shadow-none mt-0 position-relative">
                        <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="search" placeholder="Typing...">
                        <span class="position-absolute position-ppin"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="border-0 bg-paret-green color-white px-4 py-2 mt-3 rounded-0">Send</button>
        </div>
    </div>

</div>