.Onboard-viewbanner-div {
    height: 175px;
    /* background: url("../../../../../assets/images/userWebsite/loreal.jpg") no-repeat; */
    background-position: center;
    background-size: cover;
}

.dpImgCircle {
    width: 100px;
    height: 100px;
}

.dpImgCircle img{
    border-radius: 50%;
}

.imagePosition {
    position: relative;
}

.userInfo {
    position: absolute;
    top: 15px;
    right: 10px;
}

.card {
    width: 29%;
}

.onboarding-table-similarEI tr th,
.onboarding-table-similarEI tr td {
    padding: 0.7rem 0.5rem;
}

.onboarding-table-similarEI tr th:nth-of-type(1) {
    width: 35%;
}

.onboarding-table-existingEI tr th,
.onboarding-table-existingEI tr td {
    padding: 0.7rem 0.5rem;
}


@media (max-width: 667px){
    .card {
        width: 100%;
    }
}