<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-6">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">Level 2 POC Details</h2>
            </div>
            <div class="col-md-6 text-right" (click)="editPOC()">
                <button type="button" class="bg-purple color-white px-3 py-1 border-0">Edit</button>
            </div>
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Name <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.name}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.number}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Email ID <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.email_id}} </span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-6">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">Zatchup Details</h2>
            </div>
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Registered Office Address <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.registered_office_address}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">GST Details <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.gst_details}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">PAN Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.pan_number}} </span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="col-md-12">
            <div class="row ml-0">
                <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom">
                    <p class="pt-2 d-flex justify-content-between"><a href="#">About us</a></p>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom text-right">
                    <img src="assets/images/userWebsite/edit.png"
                        class="img-fluid editIcon float-right cursorStyle ml-2">
                </div>
            </div>

            <div class="row ml-0">
                <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom">
                    <p class="pt-2 d-flex justify-content-between"><a href="#">Help & Support</a></p>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom text-right">
                    <img src="assets/images/userWebsite/edit.png"
                        class="img-fluid editIcon float-right cursorStyle ml-2">
                </div>
            </div>

            <div class="row ml-0">
                <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom">
                    <p class="pt-2 d-flex justify-content-between"><a href="#">Privacy Policy</a></p>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom text-right">
                    <img src="assets/images/userWebsite/edit.png"
                        class="img-fluid editIcon float-right cursorStyle ml-2">
                </div>
            </div>

            <div class="row ml-0">
                <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom">
                    <p class="pt-2 d-flex justify-content-between"><a href="#">Terms of Service</a></p>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom text-right">
                    <img src="assets/images/userWebsite/edit.png"
                        class="img-fluid editIcon float-right cursorStyle ml-2">
                </div>
            </div>
        </div>
    </div> -->
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>