<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv mb-1">
            <div class="col-md-5 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0"> EI On Database </h2>
            </div>
            <div class="col-md-7 SearchDiv d-flex flex-row">
                <button type="button" class="bg-dark text-white mt-2 px-4 py-2 border-0 "
                    (click)="eiDbHistory()">History</button>
            </div>
        </div>
        <!--Start html for filter for alumni list-->
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">
                <div class="widthFull mr-4 mt-3 ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added From</label>
                    <div class="rounded-0 p-0 border-top shadow-none">
                        <input class="form-control formfocusStyle"
                            type="text" id="fromDate" name="fromDate" placeholder="MM/DD/YYYY" bsDatepicker
                            [maxDate]="maxDate" [(ngModel)]="filterFromDate" #fromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true }">
                    </div>
                </div>

                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Added To</label>
                    <div class="rounded-0 p-0 border-top shadow-none">
                        <input class="form-control formfocusStyle"
                            type="text" id="toDate" name="toDate" placeholder="MM/DD/YYYY" bsDatepicker
                            [maxDate]="maxDate" [(ngModel)]="filterToDate" #fromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true}">

                    </div>
                </div>

                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">State</label>
                    <div class="form-control-inputDiv rounded shadow-none">
                        <select class="custom-select form-control-input" id="pastEI" required
                            [(ngModel)]="eidbList.stateId" (change)="getCities()">
                            <option value=""> Select State</option>
                            <option *ngFor="let state of eidbList.allStates" [value]="state.id"> {{state.state}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">City</label>
                    <div class="form-control-inputDiv rounded shadow-none">
                        <select class="custom-select form-control-input" id="pastEI" required
                            [(ngModel)]="eidbList.cityId">
                            <option value=""> Select City</option>
                            <option *ngFor="let city of eidbList.allCities" [value]="city.id">{{city.city}}</option>
                        </select>
                    </div>
                </div>

                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Board/University </label>
                    <div class="form-control-inputDiv rounded shadow-none">
                        <input type="text" name="board_university" [(ngModel)]="eidbList.university"
                            class="custom-select form-control-input"
                            placeholder="Board/University" />
                    </div>
                </div>

                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">Onboarding Status</label>
                    <div class="form-control-inputDiv rounded shadow-none">
                        <select class="custom-select form-control-input" id="pastEI" required
                            [(ngModel)]="eidbList.onboardingStatus">
                            <option value=""> Select Status</option>
                            <option value="1">Incomplete Onboarding</option>
                            <!-- <option value="1">Stage 2</option>
                            <option value="2">Stage 3</option>
                            <option value="3">Stage 4</option> -->
                            <option value="2">Onboarded</option>
                            <option value="0">Not Onboarded</option>
                        </select>
                    </div>
                </div>

                <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 "
                    (click)="getEIDbList('')">Apply</button>

                <!-- <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 ml-3">Reset</button> -->

            </div>
        </div>
        <!--End html for filter for alumni list-->
        <!--Start html for filter for No of alumni per page with export button-->
        <div class="row my-3" *ngIf="eidbList.dataSource">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Number of EI in Database Per
                    Page </label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        (change)="getEIDbList('1')" [(ngModel)]="eidbList.page_size">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExcel()"><i
                        class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <!--End html for "select no of fees info per page" and Export Button-->
        <!--Start html for fees information table-->
        <div class="tableDiv " *ngIf="eidbList.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="eidbList.dataSource | paginate: eidbList.config">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{i + eidbList.startIndex}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateOfAdding">
                        <mat-header-cell *matHeaderCellDef> Date of Adding </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_joined | date:'dd MMM yyyy'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="eiZatchupID">
                        <mat-header-cell *matHeaderCellDef> EI ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.zatchupId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="schoolName">
                        <mat-header-cell *matHeaderCellDef> Name of the School </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name_of_school}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.state}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.city}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.address1}} {{element.address2}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="board">
                        <mat-header-cell *matHeaderCellDef>Board/University </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.university}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="approximateNumber">
                        <mat-header-cell *matHeaderCellDef> Approximate Number </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.no_of_students}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button type="button" class="bg-light-blue text-white h-100 border-0 rounded"
                                *ngIf="element.onboarded_status == 1">Incomplete Onboarding</button>
                            <button type="button" class="bg-paret-green text-white h-100 border-0 rounded"
                                *ngIf="element.onboarded_status == 2">Onboarded</button>
                            <button type="button" class="bg-red text-white h-100 border-0 rounded"
                                *ngIf="element.onboarded_status == 0">Not Onboarded</button> </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dateofOnboarding">
                        <mat-header-cell *matHeaderCellDef> Date of Onboarding </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.opening_date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="text-center">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg cursorStyle" aria-hidden="true"
                                (click)="eiDbView(element)"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="eidbList.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: eidbList.displayedColumns; "></mat-row>
                </mat-table>

            </div>
        </div>

        <pagination-controls *ngIf="eidbList.dataSource" (pageChange)="getEIDbList($event)" class="eiPaginationTag">
        </pagination-controls>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner>
        <div class="row" *ngIf="!eidbList.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
        <!--End html for fees information table-->
    </div>
</div>