<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-7">
            <img class="img-fluid left-Image mt-3" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-5 pl-0">
            <h2 class="mb-1 textSpace">Sign Up </h2>

             <form  id="form1" class="pt-2"> 
                
                <div class="form-group row">
                    <div class="col-sm-6 pl-0 mobForm-name">
                        <div class="mobile-input-6">
                            <input (keyup)="isValid($event)" required id="first_name" pattern="^[a-zA-Z]+$"  class="form-control-input border form-control form-control-sm form-bgImg form-NameBgImg" type="text" [(ngModel)]="model.first_name" name ="first_name" placeholder="First Name *">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.first_name"></div>
                    </div>
                    <div class="col-sm-6 pr-0">
                        <div class="mobile-input-6">
                            <input required (keyup)="isValid($event)" id="last_name" class="form-control-input form-control border form-control-sm form-bgImg form-NameBgImg" pattern="^[a-zA-Z]+$" type="text" [(ngModel)]="model.last_name" name ="last_name" placeholder="Last Name *">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.last_name"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv p-0">
                        <input (keyup)="isValid($event)" [required]="!model.phone" class="form-control-input form-control form-control-sm form-bgImg form-emailBgImg" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/" type="email" id="email" [(ngModel)]="model.email" name ="email" placeholder="Enter Your Email Id* ">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.email"></div>
                </div>
                <p class="text-center color-gray regularFont">OR</p>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv p-0">
                        <input (keyup)="isValid($event)"  [required]="!model.email" class="form-control-input form-control form-control-sm form-bgImg form-phoneBgImg" type="tel" minlength="10" maxlength="10" id="phone" [(ngModel)]="model.phone" name ="phone" placeholder="Enter Your Phone Number" numberOnly>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.phone"></div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input class="form-control-input form-control form-control-sm form-bgImg form-calenderBgImg" type="date" [(ngModel)]="model.profile.dob" name ="model.profile.dob" placeholder="Date of Birth">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.dob"></div>
                </div> -->
                <div class="form-group row">
                    <div class="col-sm-12">
                        <h4 class="mb-0 textSpace">Gender</h4>
                        <div class="form-control-radioDiv-padding">
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label mb-0" style="color: #333" for="inlineRadio1">
                                    <input (change)="isValid($event)" required class="custom-control-input ng-dirty ng-valid ng-touched" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="F" [(ngModel)]="model.profile.gender" name ="gender">
                                    <span class="checkmark"></span>
                                    <span class="radioValuetext">Female</span></label>

                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label mb-0" style="color: #333" for="inlineRadio2">
                                    <input required (change)="isValid($event)" class="custom-control-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="M" [(ngModel)]="model.profile.gender" name ="gender">
                                    <span class="checkmark"></span>
                                    <span class="radioValuetext">Male</span></label>
                            </div>
                            <div (change)="isValid($event)" class="custom-control custom-radio custom-control-inline">
                                <label class="custom-label mb-0" style="color: #333" for="inlineRadio3">
                                    <input required class="custom-control-input" type="radio" [(ngModel)]="model.profile.gender" name ="gender" id="inlineRadio3" value="C">
                                    <span class="checkmark"></span>
                                    <span class="radioValuetext">Custom</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.gender"></div>
                </div>
                <div class="form-group row" *ngIf="model.profile.gender=='C'">
                    <div class="col-sm-12 selectPadding form-control-inputDiv">
                        <select (change)="isValid($event)" required id="pronoun" [(ngModel)]="model.profile.pronoun" name ="pronoun" class="custom-select form-control-input">
                            <option selected value="">Select your pronoun</option>
                            <option value="He">He</option>
                            <option value="She">She</option>
                            
                        </select>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.pronoun"></div>
                </div>
                <div class="form-group row" *ngIf="model.profile.gender=='C'">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input (keyup)="isValid($event)" class="form-control-input form-control form-control-sm" type="text" id="custom_gender" [(ngModel)]="model.profile.custom_gender" name ="model.profile.custom_gender" placeholder="Gender (optional)">
                    </div>
                    
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 ">
                        <h4 class="mb-2 textSpace">Date Of Birth</h4>
                        <div class="row">
                            <div class="col-3 mr-1 ml-1 form-control-inputDiv p-0">
                                <select (change)="isValid($event)" id="date" required [(ngModel)]="dateModel" name ="dob" class="custom-select border-0">
                                    <option value="" [selected]='true'>Date</option>
                                    <option value="{{d}}" *ngFor="let d of date">{{d}}</option>
                                   
                                </select>
                            </div>
                            <div class="col-3 mr-1 ml-1 form-control-inputDiv p-0">
                                <select (change)="isValid($event)" id="month" required [(ngModel)]="monthModel" name ="dob" class="custom-select border-0">
                                    <option value="" selected>Month</option>
                                    <option value="{{m.monInNumber}}" *ngFor="let m of month">{{m.monInWord}}</option>
                                    
                                </select>
                            </div>
                            <div class="col-3 mr-1 ml-1 form-control-inputDiv p-0">
                                <select (change)="isValid($event)" id="year" required [(ngModel)]="yearModel" name ="dob" class="custom-select  border-0">
                                    <option value="" selected>Year</option>
                                    <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
                                   
                                </select>
                            </div>
                           
                        </div>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.dob"></div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input  [(ngModel)]="model.password" name ="password" class="form-control-input form-control form-control-sm form-bgImg form-passwordBgImg" type="password" placeholder="Password">
                    </div>
                    <div class="required errorMsg"  [innerHtml]="errorDisplay.password"></div>
                </div> -->

                <div class="row">
                    <div class="col-6 pl-1">
                        <div class="form-group"> 
                            <div class="form-control-inputDiv p-0"> 
                                <input match="password,cpassword" (keyup)="isValid($event)" id="password" required [(ngModel)]="model.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" name ="password" class="form-control-input form-control form-control-sm " type="{{showHidePassword}}" placeholder="Enter Password *" style="position: relative;"> <i (click)="showHidePasswordFunction('p')" class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" aria-hidden="true "></i>
                            </div>
                         <div class="required errorMsg" [innerHtml]="errorDisplay.password"></div>                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-1">
                            <div class="form-control-inputDiv p-0">
                                <input match="password,confirm_password" (keyup)="isValid($event)" id="confirm_password" required [(ngModel)]="modelForConfirm.cpassword" name ="confirm_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" class="form-control-input form-control form-control-sm " type="{{showHidecPassword}}" placeholder="Confirm Password" style="position: relative;"><i (click)="showHidePasswordFunction('C')" class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" aria-hidden="true "></i>
                            </div>
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.confirm_password"></div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row  textSpace ml-0 mr-0">
                    <div class="col-sm-12 pl-0 d-flex align-items-center">
                        <input required type="checkbox" (change)="isValid($event)" id="term-condition" class="checkboxStyle" [(ngModel)]="model.is_term_cond" name ="term_condition">
                        <label for="term-condition " class=" checkboxStyle commonFontSize mediumFont color-black mb-0  ml-2">By continuing, you agree to our <a class="color-purple semiBoldFont" href="#">Terms & Conditions</a> and <a class="color-purple semiBoldFont" href="#">Privacy Policy</a></label>
                    </div>

                    <div class="required errorMsg"  [innerHtml]="errorDisplay.term_condition"></div>
                </div>

                <!-- <p class="color-black mediumFont textSpace">By continuing, you agree to our <a class="color-purple semiBoldFont" href="#">Terms & Conditions</a> and <a class="color-purple semiBoldFont" href="#">Privacy Policy</a></p> -->
                <button class="btn common-btn regularFont textSpace" (click)="goForRegister();">Submit</button>
                <!-- <button type="submit" class="btn common-btn regularFont textSpace" data-toggle="modal"
                    data-target="#currentStatusModel">Submit</button> data-toggle="modal" data-target="#OTPModel" -->
             </form> 
        </div>
    </div>

</div>

<!-- OTPModel -->
<div class="modal fade" id="OTPModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                <!-- <form class="pl-5 pr-5"> -->
                <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/otp_message_image.png">
                <p class="color-black regularFont commonFontSize">Enter OTP that recieved on your email id. </p>
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-between">
                        <input (keyup)="changeInput($event)" id="otp1" [(ngModel)]="otp1" name="otp1"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" id="otp2" [(ngModel)]="otp2" name="otp2"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" id="otp3" [(ngModel)]="otp3" name="otp3"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input id="otp4" [(ngModel)]="otp4" name="otp4"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont"
                            type="text" maxlength="1">
                    </div>
                </div>
                <div class="required required" [innerHtml]="errorOtpModelDisplay"></div>
                <button type="button" class="btn common-model-Btn mt-4" (click)="goToDashboard();">Submit </button>

                <p><a class="color-purple semiBoldFont textUnderlineStyle commonFontSize" (click)="resendOtp()">Resend Code </a>
                </p>
                <!-- </form> -->

            </div>
        </div>
    </div>
</div>




<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
<!-- <app-user-footer></app-user-footer> -->