<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="OnboardingFeesHistory-div bg-white border border-gray px-3 pt-2 pb-3 mt-3">
        <h2 class="commonFontSize semiBoldFont mb-1">User Profile History</h2>
        <div class="row mobile-col-reverse border-0 mt-1 mx-0">
            <div class="col-md-12 col-left">
                <div class="row flex-nowrap">
                    <div class="commonFontSize semiBoldFont d-flex flex-row align-items-start pr-0">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 12:00 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize mediumFont pl-0">
                        <p><span class="mx-2">:</span>Mr. ABC Changed his email IP to abc@gmaiLcom to abcd@gmail.com</p>
                    </div>
                </div>

                <div class="row flex-nowrap">
                    <div class="commonFontSize semiBoldFont d-flex flex-row align-items-start pr-0">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 01:00 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7  commonFontSize mediumFont pl-0">
                        <p><span class="mx-2">:</span>Mr. ABC Changed his phone number to III to 2222</p>
                    </div>
                </div>

                <div class="row flex-nowrap">
                    <div class="commonFontSize semiBoldFont d-flex flex-row align-items-start pr-0">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 04:25 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7  commonFontSize mediumFont pl-0">
                        <p><span class="mx-2">:</span>Mr. ARC Changed his name to COE</p>
                    </div>
                </div>

                <div class="row flex-nowrap">
                    <div class="commonFontSize semiBoldFont d-flex flex-row align-items-start pr-0">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 05:20 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7  commonFontSize mediumFont pl-0">
                        <p><span class="mx-2">:</span>Aadhar KYC retriggered for Mr. ABC</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>