<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="starClass-div bg-white px-3 pt-3 pb-3 mt-3">
        <!--ZatchUp StarClass Sorting-->
        <div class="row mb-2 align-items-center">
            <div class="col-xl-3  col-12">
                <h2 class="commonFontSize semiBoldFont m-0">ZatchUp Starclass</h2>
            </div>
            <div class="col-xl-9 col-12 p-2 button-div commonFontSize regularFont">
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToCreateCourse()">Create Course</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToMyCourse()">My Courses</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToYourOrder()">Your Orders</button>
                <!-- <button type="button" class="btn py-0 px-2 border-0" (click)="goToPendingRequest()">Pending ZatchUp StarClass</button> -->
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToMyCart()">My Cart</button>
            </div>
        </div>

        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Level Of Education</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select  id="education_name" [(ngModel)]="dashBoardData.levelOfEducationName"
                            name="course" required class="custom-select  form-control-input" >
                            <option value=""> Select Level Of Education</option>
                            <option value="{{level.education_name}}" *ngFor="let level of dashBoardData.levelOfEducation">{{level.education_name}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Field</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select  id="standard_id"
                            [(ngModel)]="dashBoardData.fieldName" name="field" required
                            class="custom-select  form-control-input" >
                            <option value=""> Select Field</option>
                            <option value="{{field.field_name}}" *ngFor="let field of dashBoardData.field">
                                {{field.field_name}}</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="dashBoardData.standardName" name="class" required
                            class="custom-select  form-control-input" >
                            <option value=""> Select Standard</option>
                            <option value="{{standard.standard_name}}" *ngFor="let standard of dashBoardData.standard">{{standard.standard_name}}</option>

                        </select>
                    </div>
                </div>

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subject</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="dashBoardData.subjectName" name="subject" required
                            class="custom-select  form-control-input" >
                            <option value=""> Select Subject</option>
                            <option value="{{subject.subject_name}}" *ngFor="let subject of dashBoardData.subject">{{subject.subject_name}}</option>

                        </select>
                    </div>
                </div>


                <button (click)="getDashBoardData()" type="button"
                    class="bg-purple text-white px-5 py-2 h-100 mt-2 border-0 ">Apply</button>


            </div>
        </div>

        <!--ZatchUp StarClass Package-->
        <div class="row" *ngIf="dashBoardData.dataSource | paginate: dashBoardData.config">
            <div class="col-md-4 col-sm-12 px-0" *ngFor="let data of dashBoardData.dataSource">
                <div class="col-md-12 col-sm-12 mb-3">
                    <div class="card p-2 rounded-0 cursorStyle" (click)="goToCoursePreview(data)">
                        <img class="border rounded" *ngIf="data.course_image" src="{{data.course_image}}" alt="Course">
                        <img class="border rounded" *ngIf="!data.course_image" src="assets/images/userWebsite/add-course-images.png" alt="Course">
                        <div class="card-body px-0">
                            <h3 class="card-title commonFontSize semiBoldFont mb-0">{{data.course_name}}</h3>
                            <p class="card-text commonFontSize regularFont">{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <pagination-controls *ngIf="dashBoardData.dataSource" (pageChange)="getDashBoardData($event)" class="eiPaginationTag">
        </pagination-controls>

        <div class="row mt-3" *ngIf="!dashBoardData.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
        <!--End ZatchUp StarClass Package-->
    </div>
</div>