<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="starClass-div bg-white px-3 pt-3 pb-3 mt-3">
        <!--ZatchUp StarClass Sorting-->
        <div class="row mb-2 align-items-center">
            <div class="col-xl-3  col-12">
                <h2 class="commonFontSize semiBoldFont m-0">ZatchUp Starclass</h2>
            </div>
            <div class="col-xl-9 col-12 p-2 button-div commonFontSize regularFont">
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToCreateCourse()">Create Course</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToMyCourse()">My Courses</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToYourOrder()">Your Orders</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToPendingRequest()">Pending ZatchUp StarClass</button>
                <button type="button" class="btn py-0 px-2 border-0" (click)="goToMyCart()">My Cart</button>
            </div>
        </div>
        <!--ZatchUp StarClass Package-->
        <div class="row">
            <div class="col-md-4 col-sm-12 px-0" *ngFor="let data of dashBoardData.dataSource">
                <div class="col-md-12 col-sm-12 mb-3">
                    <div class="card p-2 rounded-0 cursorStyle" (click)="goToCoursePreview(data)">
                        <img class="border rounded" *ngIf="data.course_image" src="{{data.course_image}}" alt="Course">
                        <img class="border rounded" *ngIf="!data.course_image" src="assets/images/userWebsite/add-course-images.png" alt="Course">
                        <div class="card-body px-0">
                            <h3 class="card-title commonFontSize semiBoldFont mb-0">{{data.course_name}}</h3>
                            <p class="card-text commonFontSize regularFont">{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End ZatchUp StarClass Package-->
    </div>
</div>