<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <h2 class="commonFontSize semiBoldFont mb-2 mt-2"> Change Password </h2>
        <div class="row mt-2 w-50">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <form>
                    <div class="form-group">
                        <label for="currentPassword" class=" commonFontSize mediumFont letterspacing">Enter Current Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="xxxxxxxx" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="createPassword" class=" commonFontSize mediumFont letterspacing">Create Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="xxxxxxxx" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class=" commonFontSize mediumFont letterspacing">Confirm Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="xxxxxxxx" required>
                        </div>
                    </div>
                    
                    <button type="button " class="bg-dark border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing"> SUBMIT </button>
                </form>
            </div>
        </div>
    </div>
</div>