<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <div class="col-md-12 d-flex justify-content-start align-items-center flex-wrap p-0">
            <span class="mr-3 cursorStyle">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>
            <h2 class="commonFontSize semiBoldFont m-0">Lecture Details</h2>
        </div>
        <div class="mt-2 border-0 mx-0">
            <!-- start Div for banner-->

            <!--Start div for oView Course Details-->
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Lecture Title</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>level of Education</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Field</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Standard</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Subject</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Teaching Faculty Details</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Topic Cover</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Description</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Total Number of Views On Lecture</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Upload Date</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Play</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">:</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                            <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                            <p>Delete</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont color-blue">
                            <p><span class="mr-3">:</span> Delete</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End div for oView Course Details-->
        </div>
    </div>
</div>