<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center">
    <div class="row h-100">
        <div class="col-xl-8 col-lg-7 col-md-6 login-col-left"></div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-12 pl-5 pr-0 login-col-right">
            <!--start login div for zatchUp admin-->
            <div class="w-100 px-4 h-100  bg-white d-flex flex-column justify-content-center align-items-center">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">{{title}}</h2>
                <form class="w-100">
                    <div class="form-group row  ml-0 mr-0" *ngIf="!verificationMobileNo">
                        <label for="emailid" class=" commonFontSize mediumFont letterspacing">Enter your registered
                            Email ID</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                <i class="fa fa-phone text-white" aria-hidden="true"></i>
                            </span>
                            <input required (keyup)="isValid($event)" [(ngModel)]="model.email_or_phone" name="Email_ID"
                                class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing"
                                type="text" placeholder="Enter Email ID">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.Email_ID"></div>
                    </div>

                    <!-- mobile verification -->
                    <div class="form-group" *ngIf="verificationMobileNo">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Enter OTP Recived on your mobile number</label>
                        <div class="d-flex flex-row justify-content-between">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp1" name="otp1" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp2" name="otp2" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp3" name="otp3" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1">
                            <input [(ngModel)]="otp4" name="otp4" class=" form-control ei-form-control text-center commonFontSize semiBoldFont" type="text" maxlength="1">

                        </div>
                    </div>

                    <p *ngIf="verificationMobileNo" class="text-right commonFontSize mediumFont textUnderlineStyle letterspacing">Resend OTP</p>
                    <button type="button"
                        class="bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing"
                        (click)="submit()">Submit
                    </button>
                </form>
            </div>
            <!--End login div for zatchUp admin-->
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 