<app-user-header></app-user-header>

<div class="container contentTopSpaceLanding containerScrolling landingPageWidth">
    <div class="landingDiv">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Pending Requests</h2>
            </div>
        </div>

        <div class="tableDiv mt-3" *ngIf="dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="field_name">
                        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.field_name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="old_value">
                        <mat-header-cell *matHeaderCellDef> Field Value </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.old_value}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="new_value">
                        <mat-header-cell *matHeaderCellDef>Field New Value </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.new_value}}
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <!-- <pagination-controls *ngIf="userPendingRequest.dataSource" (pageChange)="filterData($event)" class="eiPaginationTag">
        </pagination-controls> -->

        <div class="bg-white mt-3" *ngIf="!dataSource">
            <div class="col-12 py-3">
                <p class="text-center dataNotFound py-4">Records Not Available</p>
            </div>
        </div>
    </div>
</div>

<div class="container containerScrolling landingPageWidth">
    <div class="landingDiv">
        <div class="row topDiv mt-3">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <h2 class="commonFontSize semiBoldFont m-0">Kyc Pending Requests</h2>
            </div>
        </div>
        <div class="tableDiv mt-3" *ngIf="kycReqDataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="kycReqDataSource">
                    <ng-container matColumnDef="field_name">
                        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.field_name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="old_value">
                        <mat-header-cell *matHeaderCellDef> Old Value </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.old_value}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="new_value">
                        <mat-header-cell *matHeaderCellDef> New Value </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.new_value}}
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <!-- <pagination-controls *ngIf="userKycPendingRequest.dataSource" (pageChange)="filterData($event)" class="eiPaginationTag">
        </pagination-controls> -->
        <div class="bg-white mt-3" *ngIf="!kycReqDataSource">
            <div class="col-12 py-3">
                <p class="text-center dataNotFound py-4">Records Not Available</p>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>