<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mt-5">
        <div class="col-md-8 order-sm-6 order-2">
            <img class="img-fluid login-left-Image mt-4" src="assets/images/userWebsite/left_images.png">
        </div>

        <div class="col-md-4 pl-0 order-1 order-sm-6 MobileCol6MB">
            <h2 class="mb-3 textSpace">Reset Password</h2>
            <form id="form1">
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input id="password" required (keyup)="isValid($event)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})"
                            [(ngModel)]="model.password" name="password" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing px-0"
                            type="password" placeholder="Enter Password">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.password"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 form-control-inputDiv">
                        <input id="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" match="password,confirmPassword"
                            required (keyup)="isValid($event)" [(ngModel)]="model.confirm_password" name="confirmPassword" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing px-0"
                            type="password" placeholder="Re-enter Password">
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.confirmPassword"></div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn common-btn regularFont textSpace mt-2" (click)="changePassword()">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- <app-user-footer></app-user-footer> -->