<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="Invoice-div bg-white border border-gray mt-3 px-3 pt-3 pb-4">
        <h2 class="commonFontSize semiBoldFont mb-0">Reminder</h2>
        <div class="row mt-2">
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple">
                    Send New Reminder
                </button>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple">
                    Past Reminders
                </button>
            </div>
        </div>
    </div>
</div>