<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>

    <div class="row pl-5 pr-5">
        <div class="col-12"><h1 class="pb-3 pt-3 border-bottom">About Us</h1></div>
        <div class="col-4 pt-2">
            <img src="assets/images/userWebsite/highest_level_education_image.png" class="img-responsive border rounded p-2 bg-white">
        </div>
        <div class="col-8">
            <h2 class="mb-2">Overview</h2>
            <p>ZatchUp is as a three-way bridge between Educational Institutions, its alumni and students.</p>
            <p>By using this unique bridge, ZatchUp provides all educational institutions a unique opportunity to have one click reach to all its alumni and students, which further enables them to provide best in class education and facilities to its students</p>

            <h2 class="mb-2">How it works</h2>
            <p>At ZatchUp we help educational institutions by</p>
            <p>Building alumni networks and drawing a detailed alumni engagement plan for educational institutions (Schools, Colleges and Universities)</p>
            <p>Raising Donations for educational institutions from alumni</p>
            <p>Providing one click access to all current students</p>
            <p>Making educational institutions go digital</p>
        </div>
    </div>
</div>
