<app-user-header></app-user-header>

<!-- <div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>
</div> -->

<div class="container contentTopSpaceLanding containerScrolling landingPageWidth">
    <div class="landingDiv">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2 class="mb-3 text-center">My Education Profile 
                <span (click)="getRequestChangeDetails()" class="text-white float-right small-text px-2 py-0 rounded bg-paret-green cursorStyle">Request Pending</span>
            </h2>
            
            <div *ngFor="let objEpData of epData" class="pt-3" style="clear: both;">
                <div class="row">
                    <div class="col-md-12 text-right d-flex p-0 align-items-center">
                        <div class="position-relative" *ngIf="objEpData.profile_pic && objEpData.kyc_approved==1">
                            <img src="{{objEpData.profile_pic?objEpData.profile_pic:'assets/images/userWebsite/successfully_done.png'}}" class="img-fluid">
                            <img *ngIf="objEpData.kyc_approved==1" src="assets/images/userWebsite/checkicon.png" class="img-fluid ml-1 tickImg">
                        </div>

                        <div class="pl-2 text-left">
                            <p class="m-0 commonFontSize semiBoldFont" ><a data-target="#personalInfoModel" data-toggle="modal" class="cursorStyle" (click)="redirectKYCPage('name',objEpData.first_name+'&'+objEpData.last_name)">{{objEpData.name}}</a> </p>
                            <p class="m-0 commonFontSize mediumFont">Unique ZatchUp ID :{{objEpData.zatchup_id?objEpData.zatchup_id:'xxxxxxxx'}} </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="row form-control-inputDiv pt-2 pb-3">
                            <div class="col-md-12 d-flex justify-content-between align-items-center">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0">Personal Information </h3>
                                <!-- <img src="assets/images/userWebsite/edit.png"  class="cursorStyle img-fluid editIcon">  -->
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12" >
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">DOB : <span
                                        class="regularFont"><a class="cursorStyle" data-target="#personalInfoModel" data-toggle="modal" (click)="redirectKYCPage('dob',objEpData.dob)">{{objEpData.dob}}</a></span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Gender : <span
                                        class="regularFont">{{objEpData.gender}} </span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Email : <span
                                        class="regularFont"><a class="cursorStyle" data-target="#personalInfoModel" data-toggle="modal" (click)="openModel(objEpData,'email',objEpData.email)">{{objEpData.email}}</a></span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Phone Number : <span
                                        class="regularFont"><a class="cursorStyle" data-target="#personalInfoModel" data-toggle="modal" (click)="openModel(objEpData,'phone',objEpData.phone)">{{objEpData.phone}}</a></span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Father's Name : <span
                                        class="regularFont">{{objEpData.father_name}}</span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Mother's Name : <span
                                        class="regularFont">{{objEpData.mother_name}}</span></p>
                                <!-- <p class="m-0 mb-1 commonFontSize semiBoldFont">Bio : <br> <span
                                        class="regularFont">{{objEpData.bio?objEpData.bio:''}}</span></p> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3" *ngIf="objEpData.work_detail">
                    <div class="col-md-12">
                        <div class="row form-control-inputDiv">
                            <div class="col-md-12 pt-2 d-flex justify-content-between align-items-center">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0">Work Details </h3>                                
                                <div class="addWorkcourse">                                    
                                    <a (click)="redirectWorkDetailesPage()" class="cursorStyle">
                                        <img src="assets/images/userWebsite/add-more.png"  class="cursorStyle img-fluid" style="height: 30px;">
                                     </a>
                                </div>
                            </div>

                            <div class="col-md-12 pt-3 d-flex justify-content-between align-items-center" *ngFor="let objWorkDetail of objEpData.work_detail">
                                <h3 class="Heading m-0 d-flex justify-content-start flex-wrap" >
                                    <img src="assets/images/userWebsite/study_student.png"  class="cursorStyle img-fluid mr-2" style="height: 80px;">
                                    <div class="experiencedetails">
                                        <span class="d-block regularFont mediumFont">{{objWorkDetail.work_department}}</span> 
                                        <span class="d-block regularFont commonFontSize lineHeight">Current Company: {{objWorkDetail.company_name}} </span>
                                        <span class="d-block regularFont small-text color-fadded-black">{{objWorkDetail.start_date}} - {{objWorkDetail.is_currently_work?"Present":objWorkDetail.end_date}}</span>
                                        <span class="d-block regularFont small-text color-fadded-black lineHeight">{{objWorkDetail.work_country}} {{objWorkDetail.work_state}} {{objWorkDetail.work_city}}</span>
                                    </div>
                                </h3>
                               <div class="addWorkcourse" *ngIf="objEpData.kyc_approved==1">                                    
                                    <a (click)="redirectWorkDetailesPage(objWorkDetail.id)" class="cursorStyle">
                                        <img src="assets/images/userWebsite/edit.png"  class="cursorStyle img-fluid" style="width: 30px;">
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr>
                            </div>
                            <!-- <div class="col-md-12" *ngFor="let objWorkDetail of objEpData.work_detail">
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Current Company : <span
                                        class="regularFont">{{objWorkDetail.company_name}} </span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Position : <span
                                        class="regularFont">{{objWorkDetail.work_type}} </span></p>
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">Profession : <span
                                        class="regularFont">{{objWorkDetail.job_title}} </span></p>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row mt-3 form-control-inputDiv" *ngIf="objEpData.educationdetail.length==0">
                <div class="col-md-12 pt-2 d-flex justify-content-between align-items-center">
                    <h3 class="color-purple commonFontSize semiBoldFont Heading m-0">School Details </h3>                                
                    <div class="addWorkcourse">                                    
                        <a (click)="redirectWorkDetailesPage()" class="cursorStyle">
                            <img src="assets/images/userWebsite/add-more.png"  class="cursorStyle img-fluid" style="height: 30px;">
                         </a>
                    </div>
                </div></div>
                <div class="row mt-3" *ngIf="objEpData.educationdetail.length>0">
                    <div class="col-md-12" *ngFor="let objEd of objEpData.educationdetail">
                        <div class="row form-control-inputDiv pt-2 mb-3 pb-3">
                            <div class="col-md-12 d-flex justify-content-between align-items-center">
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0">School Details
                                    
                                    
                                </h3>
                                <div class="addWorkcourse">                                    
                                    <a (click)="redirectEiConfirmationPagePage(objEd.school_id)" class="cursorStyle">
                                        <img src="assets/images/userWebsite/edit.png"  class="cursorStyle img-fluid" style="height: 30px;">
                                     </a>  
                                </div>
                                <!-- <img src="assets/images/userWebsite/edit.png" class="img-fluid editIcon"> -->
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <p class="m-0 mb-1 commonFontSize semiBoldFont">School Name: <span
                                        class="regularFont">{{objEd.name_of_school}} 
                                        <img *ngIf="objEd.approved" src="assets/images/userWebsite/checkicon.png" class="img-fluid ml-1 chckImg"> </span></p>
                                <div class="row">
                                    <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                        ZatchUp ID : <span class="regularFont">{{objEd.school_code}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                        School Admission Number : <span class="regularFont">
                                            <a class="textUnderlineStyle cursorStyle" data-target="#personalInfoModel" data-toggle="modal" (click)="openModel(objEd,'admission_number',objEd.admission_number)">{{objEd.admission_number}}</a></span>
                                    </div>
                                    <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                        State : <span class="regularFont">{{objEd.state}}  </span>
                                    </div>
                                    <div class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                        City : <span class="regularFont">{{objEd.city}}  </span>
                                    </div>
                                    <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                        Address : <span class="regularFont">{{objEd.address1}} </span>
                                    </div>
                                    <!-- <div class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                        Leaving Year : <span class="regularFont">2019 </span>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            
                            <div class="col-md-12" *ngFor="let objCd of objEd.course_detail" >
                                <h3 class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2">Course Details 
                                    <img src="assets/images/userWebsite/edit.png" (click)="storePendingCourseDataAfterApprove(objCd, objEd.school_id)" class="img-fluid editIcon float-right cursorStyle ml-2"> 
                                    <img src="assets/images/userWebsite/add-more.png" (click)="addMoreCourse(objCd, objEd.school_id)" class="img-fluid editIcon float-right cursorStyle ml-2">                                    
                                </h3>
                                
                                <div class="pr-4 pl-0">
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Name of Course : <span
                                            class="regularFont">{{objCd.course_name}}</span></p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Year of Starting : <span
                                            class="regularFont">{{objCd.start_year}}</span></p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Year of Ending : <span
                                            class="regularFont">{{objCd.end_year}} </span></p>
                                    <p class="m-0 mb-1 commonFontSize semiBoldFont">Duration of Course : <span
                                            class="regularFont">{{objCd.duration}}</span></p>

                                    <h3 class="color-purple commonFontSize semiBoldFont Heading m-0 mb-2 mt-2">Standard Details </h3>
                                    <div class="row pb-2 border-bottom mb-2" *ngFor="let objSd of objCd.standard_detail">
                                        <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                            Standard : <span class="regularFont"> {{objSd.standard_name}}</span>
                                        </div>
                                        <div  *ngFor="let objCd of objSd.class_detail" class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                            Class (Sub-Section) : <span class="regularFont">{{objCd.class_name}} </span>
                                        </div>

                                        <div class="col-lg-7 col-md-12 semiBoldFont commonFontSize">
                                            Starting year : <span class="regularFont">{{objSd.standard_start_year}} </span>
                                        </div>
                                        <div class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                            Ending year : <span class="regularFont">{{objSd.standard_end_year}} </span>
                                        </div>
                                        <div class="col-lg-5 col-md-12 semiBoldFont commonFontSize">
                                            Duration : <span class="regularFont">{{objSd.duration}} </span>
                                        </div>
                                        <!-- <div class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Duration of completion : <span class="regularFont">1 year </span>
                                        </div> -->
                                        <div *ngIf="objCd.is_current_course" class="col-lg-12 col-md-12 semiBoldFont commonFontSize">
                                            Roll Number : <span class="regularFont"><a class="textUnderlineStyle cursorStyle" data-target="#personalInfoModel" data-toggle="modal" (click)="openModel(objCd,'roll_no',objCd.roll_no)">{{objCd.roll_no}}</a> </span>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- personal information model -->
<div class="modal fade" id="personalInfoModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-header border-0 align-items-center justify-content-center pb-0">
                <button #closeModal type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
            </div>
            <div class="modal-body p-1">
                <form #changeRequestForm="ngForm" id="Form4" enctype="multipart/form-data">
                    <div class="process3">
                        <div class="form-group row " *ngIf="editModel.key=='name'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">First Name</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input (keyup)="setModelValue(model.first_name+'&'+model.last_name)" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" name="first_name" [(ngModel)]="model.first_name" required id="first_name">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.first_name"></div>
                               
                            </div>
                            
                        </div>
                        <div class="form-group row " *ngIf="editModel.key=='name'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Last Name</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input (keyup)="setModelValue(model.first_name+'&'+model.last_name)" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" name="last_name" [(ngModel)]="model.last_name" required id="last_name">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.last_name"></div>
                               
                            </div>
                            
                        </div>
                        <div class="form-group row " *ngIf="editModel.key=='dob'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Date of birth</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" autocomplete="off" name="dob" [(ngModel)]="model.dob" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"  required id="dob" bsDatepicker>
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.dob"></div>
                               
                            </div>
                            
                        </div>
                        <div class="form-group row " *ngIf="editModel.key=='email'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Email</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input type="email" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" autocomplete="off" name="email" [(ngModel)]="model.email" required id="email">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.email"></div>
                               
                            </div>
                            
                        </div>

                        <div class="form-group row " *ngIf="editModel.key=='phone'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Phone</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input type="tel" [numberOnly] maxLength="10" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" autocomplete="off" name="phone_number" [(ngModel)]="model.phone" required id="phone_number">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.phone_number"></div>
                               
                            </div>
                            
                        </div>
                        <div class="form-group row " *ngIf="editModel.key=='roll_no'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Roll Number</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input type="text" [numberOnly] class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" autocomplete="off" name="roll_number" [(ngModel)]="model.roll_no" required id="roll_number">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.roll_number"></div>
                               
                            </div>
                            
                        </div>
                        <div class="form-group row " *ngIf="editModel.key=='admission_number'">
                            <div  class="col-md-12 MobileCol6MB">
                                <label for="" class=" commonFontSize mediumFont letterspacing">Admission number</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none">
                                   <input type="text" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" autocomplete="off" name="admission_number" [(ngModel)]="model.admission_number" required id="admission_number">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.admission_number"></div>
                               
                            </div>
                            
                        </div>
                       
                    </div>
                </form>
              
                <div class="text-center">
                    <button type="button" class="btn common-model-Btn mt-3" (click)="submitPersonalDetails();">Submit </button>
                </div>

                <!-- <p><a class="color-purple semiBoldFont textUnderlineStyle commonFontSize" (click)="resendOtp()">Resend Code </a>
                </p> -->

            </div>
        </div>
    </div>
</div>

<!--Edit Education Details-->
<div class="modal fade" id="OTPModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
           
            <div class="modal-body pl-5 pr-5 text-center">
                <!-- <form class="pl-5 pr-5"> -->
                    <!-- <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/open-book.png" style="height:145px"> -->
                    <i class="fa fa-book" aria-hidden="true" style="font-size: 105px; padding: 20px 0px; color: #463267;"></i>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6 align-items-center d-flex justify-content-center">
                            <label> <input (change)="addAnotherCourse()" id="current_and_past"  name="current_and_past" class="mr-1" type="radio" > Current education </label>
                        </div>
                        <div class="col-6 align-items-center d-flex justify-content-center">
                            <label> <input (change)="addPastEi()" id="current_and_past2" name="current_and_past" class="mr-1" type="radio" > Past education </label>
                        </div>
                    </div>
                </div>
                 
              

                
                <!-- </form> -->

            </div>
        </div>
    </div>
</div>
 
<div class="modal fade" id="OTPpModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-body pl-5 pr-5 text-center">
                <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/otp_message_image.png">
                <p class="color-black regularFont commonFontSize">Enter OTP that recieved on your email id. </p>
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-between">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp1" name="otp1"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp2" name="otp2"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp3" name="otp3"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input [(ngModel)]="model.otp4" name="otp4"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont"
                            type="text" maxlength="1">
                    </div>
                </div>
                <div class="required required" [innerHtml]="errorOtpModelDisplay"></div>

                <button type="button" class="btn common-model-Btn mt-3" (click)="goToDashboard();">Submit </button>

                <!-- <p><a class="color-purple semiBoldFont textUnderlineStyle commonFontSize" (click)="resendOtp()">Resend Code </a>
                </p> -->

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>
<!-- <app-user-footer></app-user-footer> -->