<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid kycVerificationleftImage mt-5 mb-5 pb-5 pt-5"
                src="assets/images/userWebsite/kyc_verification_leftimage.png">
        </div>
        <div class="col-md-4 pl-0 pr-5 kycSuccessfulPR">
            <div class="text-center pr-5 mt-5 pt-5 kycSuccessfulPR kycSuccessfulPT">
                <img class="img-fluid SuccessfullImage mt-2 mb-4" src="assets/images/userWebsite/successfully_done.png">
                <h2 class="mb-3">KYC Successfully done </h2>
                <button type="submit" class="btn common-btn regularFont mt-4 mb-5"
                    (click)="goToUserSchoolConfirmationPage()">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->