.RightimgDiv {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 1px solid rgba(63, 81, 181, 0.56);
    position: relative;
}
img.verifiedTick {
    position: absolute;
    right: -12px;
    top: 50px;
}

.RightimgDiv .Rightimg {
    border-radius: 50%;
    height: 100%;
}

