.form-control{
    width: 20%!important;
}
#OTPModel {
    padding-left: 0px !important;
}
@media only screen and (max-width: 414px) {
    .pl-5, .px-5 {
        padding-left: .5rem!important;
    }
    .pr-5, .px-5 {
        padding-right: .5rem!important;
    } 

}