
<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
        <div class="col-xl-4 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">OTP Verification</h2>
                <form>
                    <div class="form-group">
                        <label for="" class="commonFontSize letterspacing">Enter OTP that Received on your Registered {{model.username}}.</label>
                        <div class="d-flex justify-content-between">                            
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp1" name="otp1" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp2" name="otp2" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp3" name="otp3" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input  [(ngModel)]="otp4" name="otp4" class=" form-control ei-form-control text-center commonFontSize semiBoldFont" type="text" maxlength="1" numberOnly>
                        </div>
                        <!-- <label for="" class="commonFontSize letterspacing mt-3">Enter OTP Received on your Email Address</label>
                        <div class="d-flex justify-content-between">
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp5" name="otp5" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp6" name="otp6" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input (keyup)="changeInput($event)" [(ngModel)]="otp7" name="otp7" class=" form-control ei-form-control text-center commonFontSize semiBoldFont  mr-2" type="text" maxlength="1" numberOnly>
                            <input  [(ngModel)]="otp8" name="otp8" class=" form-control ei-form-control text-center commonFontSize semiBoldFont" type="text" maxlength="1" numberOnly>
                        </div> -->
                    </div>
                    <p class="text-right commonFontSize mediumFont textUnderlineStyle letterspacing" (click)="resendOtp()">Resend OTP</p>
                    <button type="button" class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing" (click)="goToOtpVerification() ">
                        Submit
                   </button>
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3  col-md-3"></div>
    </div>
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
</div>