<div class="container-fluid ei-bg-img d-flex flex-column justify-content-center">
    <div class="row mt-5 pb-5">
        <div class="col-xl-3 col-lg-2 col-md-2 "></div>
        <div class="col-xl-6 col-lg-8 col-md-8  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>

                <div class="form-group row  ml-0 mr-0 mb-2 mt-3">
                    <div class="col-sm-12 MobileCol6MB">
                        <p class="m-0 commonFontSize regularFont">For onboarding educational institution on Zatchup and connecting with students and alumni, Please log on to

                            <a href="#" class="textUnderlineStyle"> www.zatchup.com/onboard_Ei</a></p>
                    </div>

                </div>
                <div class="form-group row  ml-0 mr-0 mb-2">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-4 MobileCol6MB commonFontSize mediumFont">
                        Email:
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-8 mobilePaddingLR MobileCol6MB">
                        <a href="#" class="textUnderlineStyle"> onboard@zatchup.com</a>
                    </div>

                </div>
                <div class="form-group row  ml-0 mr-0">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-4 MobileCol6MB commonFontSize mediumFont">
                        Call Us at:
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-8 mobilePaddingLR  MobileCol6MB">
                        +91 8054441372
                    </div>

                </div>

                <form class="py-2">

                    <h2 class="text-center my-3 semiBoldFont">Contact Us</h2>


                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-6 MobileCol6MB">
                            <label for="" class="mediumFont commonFontSize letterspacing">Select State</label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none">
                                <select class="custom-select custom-select-2Col form-control-input" required>
                                    <option value=""> Select State</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 mobilePaddingLR">
                            <label for="" class=" mediumFont commonFontSize letterspacing">Select City</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter City">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="" class=" commonFontSize mediumFont letterspacing">Educational Intitution Name</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Enter Educational Intitution Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="" class=" commonFontSize mediumFont letterspacing">Educational Intitution Address</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Enter Educational Intitution Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-12 mobilePaddingLR">
                            <label for="" class="mediumFont commonFontSize letterspacing">Board/University</label>
                            <div class="form-control-inputDiv rounded py-1 shadow-none ">
                                <select class="custom-select form-control-input " required>
                                    <option value="">Select University</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row  ml-0 mr-0">
                        <div class="col-sm-6 mobilePaddingLR">
                            <label for="" class=" mediumFont commonFontSize letterspacing">Phone Number</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input class="form-control-input form-control form-control-sm  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <div class="col-sm-6 MobileCol6MB">
                            <label for="" class="mediumFont commonFontSize letterspacing">Email ID</label>
                            <div class="form-control-inputDiv rounded p-1 shadow-none">
                                <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Enter Email ID">
                            </div>
                        </div>

                    </div>
                    <div class="form-group row  ml-0 mr-0 justify-content-center">
                        <div class="col-sm-12 mobilePaddingLR">
                            <button type="button " class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing">
                                Submit
                             </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-2 "></div>
    </div>
</div>