<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-3 pb-3 mt-3">
        
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start flex-wrap align-items-center mb-2">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">All Courses Uploaded By EI</h2>            
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="bg-dark text-white py-2 px-3 border-0">Create Course</button>
            </div>
        </div>

        <div class="tableDiv mt-3">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef> Course Title</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="levelOfEducation">
                        <mat-header-cell *matHeaderCellDef> Level Of Education </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.levelOfEducation}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="field">
                        <mat-header-cell *matHeaderCellDef> Field </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.field}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfStandards">
                        <mat-header-cell *matHeaderCellDef> Number Of Standards </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.noOfStandards}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef>Subject </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.subject}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noOfCourse">
                        <mat-header-cell *matHeaderCellDef>Number Of Lecture In The Course</mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.noOfCourse}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="justify-content-center">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg" aria-hidden="true "></i>
                            <i class="fa fa-upload mr-2 color-green fa-lg" aria-hidden="true "></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
    </div>

</div>