


/******************* mat table *************/
.mat-header-cell:first-of-type,.mat-cell:first-of-type{
    flex: 0 0 5%;
 }

 .mat-column-Age{
    flex: 0 0 5%;
 }

 .mat-column-VerificationStatusByEI ,.mat-column-EKYCVerificationStatus{
    flex: 0 0 13%;
 }
