<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="TotalAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Alumni List</h2>
            </div>
            <div class="col-md-6 SearchDiv d-flex flex-row">
                <div class="form-control-inputDiv rounded p-0 shadow-none">
                    <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Search...">
                </div>
                <button type="button" class="bg-dark text-white px-4 h-100 ml-2 border-0 ">Apply</button>
            </div>
        </div>
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end">

                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select (change)="displayStandardList(model.course)" id="course_id" [(ngModel)]="model.course" name="course" required class="custom-select  form-control-input"
                            required>
                            <option value=""> Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of courseList">{{course.course_name}}
                            </option>

                        </select>

                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select (change)="displayClassList(model.standard)" id="standard_id" [(ngModel)]="model.standard" name="standard" required
                            class="custom-select  form-control-input" required>
                            <option value=""> Select Standard</option>
                            <option value="{{standard.id}}" *ngFor="let standard of standardList">
                                {{standard.standard_name}}</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3 custumInputWidth">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select id="class_id" [(ngModel)]="model.teaching_class" name="class" class="custom-select  form-control-input">
                            <option value=""> Select Class</option>
                            <option value="{{class.id}}" *ngFor="let class of classList">{{class.class_name}}</option>

                        </select>
                    </div>
                </div>

                <button (click)="getAluminiList('','')" type="button" class="bg-purple text-white px-5 py-2 h-100 mt-2 border-0 ">Apply</button>


            </div>
        </div>
        <div class="row my-3 align-items-center" *ngIf="aluminiList.length>0">
            <div class="col-xl-10 col-lg-9 col-md-9 col-7 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getAluminiList('','')" [(ngModel)]="model.page_size" name="page_size" class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <!-- <option value="">select One</option> -->
                        <option *ngFor="let count of this.pageCounts" value="{{count}}">{{count}}</option>


                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-5 text-right">
                <button type='button' (click)="getExportData()" class="bg-purple text-white border-0 px-2 py-1">
                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>


        <div class="tableDiv " *ngIf="aluminiList.length>0">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource | paginate: config">

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ZatchUpID">
                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.ZatchUpID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <p (click)="goToEiStudentProfilePage(element.student_id)" class="cursorStyle">{{element.Name}}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Gender">
                        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.Gender}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Age">
                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.Age}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Profession">
                        <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.Profession}}
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Duration">
                        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.Duration}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="LastClassTaken">
                        <mat-header-cell *matHeaderCellDef> Last Class Taken </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.LastClassTaken}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="VerificationStatusByEI">
                        <mat-header-cell *matHeaderCellDef> Verification Status By School </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            <button class="{{element.VerificationStatusByEI=='Approved'?'bg-paret-green':'bg-red'}} text-white rounded border-0 py-1 px-2 buttonFullWidth cursorDefault">
                                {{element.VerificationStatusByEI}} </button>
                               
                        </mat-cell>
                    </ng-container> -->


                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="justify-content-center"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element " class=" justify-content-center align-items-centers ">
                            <!-- <i class="fa fa-comment mr-2 color-green fa-lg cursorStyle" aria-hidden="true "></i> -->
                            <i class="fa fa-pencil mr-2 color-green fa-lg cursorStyle" title="Edit" *ngIf="model.kyc_approved==1 && model.approved==1"
                                aria-hidden="true " (click)="goToEiStudentEditPage(element.student_id)"></i>
                            <i class="fa fa-eye mr-2 color-blue fa-lg cursorStyle" title="View" aria-hidden="true " (click)="goToEiStudentProfilePage(element.student_id)"></i>
                            <!-- <i class="fa fa-comment mr-2 color-green fa-lg mr-3 cursorStyle" data-count="2"
                            aria-hidden="true "></i> -->
                            <i *ngIf="element.firebase_id" (click)="goToChatScreen(element)" class="fa fa-comment mr-2 color-green fa-lg mr-3 cursorStyle"
                                aria-hidden="true "></i>
                            <span *ngIf="element.kyc_approved==1">
                                <i *ngIf="element.approved!=1" (click)="openModel(element.student_id)" title="Approve" class="fa fa-check mr-2 color-green fa-lg cursorStyle"
                                    aria-hidden="true " data-toggle="modal"></i>
                                <!-- <i *ngIf="element.approved==1" (click)="openModel(element.student_id)" class="fa fa-times-circle mr-2 color-red fa-lg mr-3 cursorStyle"></i> -->
                            </span>
                            <i *ngIf="element.approved==1" class="fa fa-ban mr-2 color-red fa-lg cursorStyle" title="Reject" aria-hidden="true " data-toggle="modal"
                                (click)="openRejectModel(element.student_id)" data-target="#rejectModel"></i>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>

        </div>
        <div class="row" *ngIf="aluminiList.length==0">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">No records found.</p>
            </div>
        </div>
        <pagination-controls *ngIf="aluminiList.length>0" (pageChange)="getAluminiList($event,'')" class="eiPaginationTag"></pagination-controls>
    </div>

    <!-- verifiedModel  -->
    <div class="modal fade" id="verifiedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center border-0 pb-0 pl-0">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Verify</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                            <!-- <i class="fa fa-times text-dark" aria-hidden="true"></i> -->
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0 py-0">
                    <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                    <p class="commonFontSize regularFont letterspacing">Are you sure you want to Verify this Alumni?
                    </p>
                    <p class="commonFontSize regularFont letterspacing text-right">
                        <!-- <span class="mx-3 color-blue">No</span>
                      <span class="mx-2 color-blue">Yes</span> -->
                        <button type="button " (click)="closeModel()" class="bg-red px-3 color-white py-2 border-0 rounded mr-3 modalAddStudentsBtn mediumFont">No</button>
                        <button type="button" (click)="approveStudent(1, modelUserId)" class="bg-purple py-2 px-3 color-white border-0 rounded modalAddStudentsBtn mediumFont">Yes</button>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- rejectModel  -->
    <div class="modal fade" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Reject</h2>
                    <button #closeRejectModel type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                        aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>


                <div class="modal-body px-0">
                    <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                    <form id="rejectReason">
                        <div class=" form-group row ">
                            <div class="col-md-12 ">
                                <label for="" class=" mediumFont commonFontSize letterspacing">Reason type</label>
                                <div class="form-control-inputDiv rounded p-0 shadow-none w-100">
                                    <input id="remark" [(ngModel)]="modelReason.remark" name="reason_type" required class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="text" placeholder="Enter Reason">
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.reason_type"></div>
                            </div>
                        </div>
                        <div class=" form-group row ">
                            <div class="col-md-12 ">
                                <label for="Remarks " class=" commonFontSize semiBoldFonttterspacing ">Remarks</label>

                                <div class="form-control-inputDiv rounded p-1 shadow-none w-100">
                                    <textarea [(ngModel)]="modelReason.rejected_reason" name="remarks" required class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                        rows="3 " placeholder="Enter Remarks "></textarea>
                                </div>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.remarks"></div>
                        </div>
                        <button (click)="rejectStudent()" type="button " class="bg-purple border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing ">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>