<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="AlumniProf-div bg-white border border-gray px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">Education Profile</h2>

        <div class="row mt-3 form-control-inputDiv mobile-col-reverse border-0 mx-0">
            <div class="col-md-6 col-left">
                <h2 class="commonFontSize mediumFont mb-1">1. Personal Details</h2>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Name of user</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span>{{userData.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Unique ZatchUp User ID</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span>{{userData.zatchup_id}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Date Of Birth</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span>{{userData.dob}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Gender</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span>{{userData.gender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Email ID</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span> {{userData.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Phone Number</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData">
                        <p><span class="mr-3">:</span>{{userData.phone}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="userData">
                    <div class="col-6 commonFontSize mediumFont" *ngIf="userData.work_detail.length > 0">
                        <p>Work Details</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont" *ngIf="userData.work_detail.length > 0">
                        <p><span class="mr-3"></span></p>
                    </div>

                    <div class="col-12 commonFontSize regularFont" *ngIf="userData.work_detail.length > 0">
                        <div class="row mx-0">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Profession</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3">:</span></p>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Name of Current Company</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3">:</span></p>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Designation</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3">:</span></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="userData">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Father Name</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont">
                        <p><span class="mr-3">:</span> {{userData.father_name}} </p>
                    </div>
                </div>
                <div class="row" *ngIf="userData">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Mother Name</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont">
                        <p><span class="mr-3">: </span> {{userData.mother_name}} </p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Work Details</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-6 commonFontSize mediumFont">
                        <p>Bio for EI Profile</p>
                    </div>
                    <div class="col-6 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div> -->

            </div>
            <div class="col-md-6 col-right text-right" *ngIf="userData">
                <p class="color-blue text-right">View History</p>
                <div class="RightimgDiv mt-2">
                    <img *ngIf="userData.kyc_approved == 1" class="img-fluid verifiedTick" src="../../../../assets/images/userWebsite/checkicon.png">
                    <img *ngIf="userData.profile_pic" class="img-fluid Rightimg " src="{{userData.profile_pic}}">
                    <img *ngIf="!userData.profile_pic" class="img-fluid Rightimg " src="assets/images/profile-default.png">
                </div>
            </div>

        </div>

    </div>

    <div class="AlumniProf-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont m-0">Education Details</h2>
        <h2 class="commonFontSize border-bottom mediumFont pb-2">1. ABC School</h2>
        <div class="row mt-3  border-0 mx-0">

            <div class="col-md-12 col-left">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Name of the El</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>ABC School, Mumbai, Maharashtra </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3 mt-1"></i>
                        <p class="m-0"> El ZatchUp ID</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">El ID Number/Admission number</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of Joining the El</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of leaving the El/ Currently studying </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>



            </div>


        </div>
        <h2 class="commonFontSize border-bottom mediumFont mt-3 pb-2">1.2 Course Details Listed by El</h2>
        <div class="row mt-3  border-0 mx-0">

            <div class="col-md-12 col-left">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Name of Course </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>Bachelor of Commerce </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0"> Year of starting course </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>2000</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of ending the course/Currently studying </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>2004</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Duration of total course </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>4 Year </p>
                    </div>
                </div>



            </div>


        </div>
        <div class="tableDiv mt-2 ">
            <div class="table-responsive">
                <table class="table table-striped border ">
                    <thead>
                        <tr class="bg-Gainsboro">
                            <th scope="col">Standard</th>
                            <th scope="col">Class( sub-Section) </th>
                            <th scope="col">Class Alias</th>
                            <th scope="col">Year of Starting The Standard</th>
                            <th scope="col">Year of Ending The Standard</th>
                            <th scope="col">Duration of Completion</th>
                            <th scope="col">Roll Number(If Available)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>B.Com 1</td>
                            <td>A</td>
                            <td>B.Com 1 A</td>
                            <td>2000</td>
                            <td>2001</td>
                            <td>1</td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <td>B.Com 2</td>
                            <td>Unspecified</td>
                            <td>B.Com 1 A</td>
                            <td>2001</td>
                            <td>2002</td>
                            <td>2</td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <td>B.Com 3</td>
                            <td>B</td>
                            <td>B.Com 1 B</td>
                            <td>2003</td>
                            <td>2004</td>
                            <td>1</td>
                            <td>42</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <div class="AlumniProf-div bg-white border border-gray mt-3 px-3 py-3">
        <h2 class="commonFontSize semiBoldFont mb-0">Education Details</h2>
        <h2 class="commonFontSize border-bottom mediumFont pb-2">1. ABC School</h2>
        <div class="row mt-3  border-0 mx-0">

            <div class="col-md-12 col-left">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Name of the El 2</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span>ABC School, Mumbai, Maharashtra </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0"> El ZatchUp ID (If available)</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of Joining the El</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of Joining the El</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p class="m-0">Year of leaving the El/ Currently studying </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>



                <div class="row ">

                    <div class="col-12 shift-right-4 commonFontSize mediumFont align-items-start">
                        <p class="color-royal-blue"><i class="fa fa-circle dotIcon mt-2 mr-3 text-dark"></i>Course Name 1</p>
                        <div class="row mx-0">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize regularFont d-flex flex-row align-items-start">
                                <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                <p class="m-0">Year of starting course </p>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                                <p><span class="mr-3">:</span>2000</p>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize regularFont d-flex flex-row align-items-start">
                                <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                <p class="m-0">Year of ending course</p>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                                <p><span class="mr-3">:</span>2004</p>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize regularFont d-flex flex-row align-items-start">
                                <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                <p class="m-0">Duration of total course</p>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                                <p><span class="mr-3">:</span>4 Year</p>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize regularFont d-flex flex-row align-items-start">
                                <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                                <p class="m-0">Description of study (if mentioned)</p>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize regularFont">
                                <p><span class="mr-3">:</span></p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>


    </div>

</div>