<app-ei-sidenav></app-ei-sidenav>

<div class="container main-container p-3">
    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h1 class="mb-3 pt-3 semiBoldFont">Teacher Profile</h1>
            <div class="mb-3" >
                <span (click)="getRequestChangeDetails()" 
                    class="float-right cursorStyle">
                    <img src="assets/images/pending.png" tooltip="Pending Request">
                </span>
            </div>

            <div class="pt-3" style="clear: both;" *ngIf="epData">
                <div class="row">
                    <div class="col-md-12 text-right d-flex flex-wrap p-0 align-items-center position-relative">
                        <div class="position-relative border customDiv">
                            <img *ngIf="imageUrl"
                                src="{{imageUrl ? imageUrl: 'assets/images/userWebsite/successfully_done.png'}}"
                                class="img_profile img-fluid">
                            <app-image-uploader (imageData)="getProfilePicUrl($event)" [uploadInfo]="uploadInfo">
                            </app-image-uploader>
                        </div>
                        <img *ngIf="epData.kyc_aprroved == 1" src="assets/images/userWebsite/checkicon.png"
                            class="img-fluid ml-1 tickImg">

                        <div class="pl-4 text-left my-3">
                            <h2 class="m-0 commonFontSize semiBoldFont fontSize-20 text-capitalize"> 
                                <span *ngIf="epData.kyc_aprroved==0" class="text-capitalize">{{epData.name}}</span>
                                <span *ngIf="epData.kyc_aprroved==1 || epData.kyc_aprroved==2"
                                    class="">{{epData.name}}</span> </h2>
                            <p class="m-0 commonFontSize mediumFont">Unique ZatchUp ID
                                :{{epData.zatchup_id?epData.zatchup_id:'xxxxxxxx'}} </p>
                        </div>
                    </div>
                </div>
                
                <div class="row form-control-inputDiv py-3 px-2 mt-3">
                    <div class="col-md-12">
                        <h2 class="color-purple commonFontSize semiBoldFont Heading m-0">Personal Information</h2>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p *ngIf="epData.dob" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">
                                        DOB : <span class="regularFont">{{epData.dob}}</span>
                                    </p>
                                    <p *ngIf="epData.gender" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">
                                        Gender : <span class="regularFont">{{getGender(epData)}} </span>
                                    <p *ngIf="epData.pronoun" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">
                                        Pronoun : <span class="regularFont">{{getGender(epData, 'pronoun')}} </span>
                                    </p>
                                    <p *ngIf="epData.email" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">Email : 
                                        <span class="regularFont"> {{epData.email}} </span></p>
                                    <p *ngIf="epData.phone" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">Phone Number :
                                        <span class="regularFont"> {{epData.phone}} </span></p>
                                    <p *ngIf="epData.father_name" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">Father's Name
                                        : <span class="regularFont">{{epData.father_name}}</span></p>
                                    <p *ngIf="epData.mother_name" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">Mother's Name
                                        : <span class="regularFont">{{epData.mother_name}}</span></p>
                                    <p *ngIf="epData.comment" class="m-0 mb-1 commonFontSize semiBoldFont fontSize-16">Comments : <span
                                            class="regularFont"> {{epData.comment}} </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-control-inputDiv py-3 px-2 mt-3">
                    <div class="col-md-12">
                        <h2 class="color-purple commonFontSize semiBoldFont Heading m-0 pt-3">School Details </h2>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12" *ngFor="let objEd of epData.education_detail">
                            <p class="m-0 mb-1 fontSize-16 commonFontSize semiBoldFont">School Name:
                                <span class="regularFont">{{objEd.name_of_school}}
                                    <img *ngIf="objEd.approved" src="assets/images/userWebsite/checkicon.png" class="img-fluid ml-1 chckImg"> 
                                </span>
                            </p>
                            <div class="row">
                                <div *ngIf="objEd.school_code" class="col-md-7 semiBoldFont commonFontSize mb-1 fontSize-16"> 
                                    ZatchUp ID : <span class="regularFont">{{objEd.school_code}}</span>
                                </div>
                                <div *ngIf="epData.employee_num" class="col-md-5 semiBoldFont commonFontSize mb-1 fontSize-16">
                                    Employee Number : <span class="regularFont">{{epData.employee_num}}</span>
                                </div>
                                <div class="col-md-7 semiBoldFont commonFontSize mb-1 fontSize-16">
                                    State : <span class="regularFont">{{objEd.state__state}} </span>
                                </div>
                                <div class="col-md-5 semiBoldFont commonFontSize mb-1 fontSize-16">
                                    City : <span class="regularFont">{{objEd.city__city}} </span>
                                </div>
                                <div *ngIf="objEd.address1" class="col-md-12 semiBoldFont commonFontSize mb-1 fontSize-16">
                                    Address : <span class="regularFont">{{objEd.address1}} {{objEd.address2}}</span>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
<!-- <app-user-footer></app-user-footer> -->