<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <h2 class="commonFontSize semiBoldFont my-3 text-center"> Change Password </h2>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 col-md-6">
                <form id="userChangePasswordForm" autocapitalize="off" autocomplete="off">
                    <div class="form-group">
                        <label for="currentPassword" class=" commonFontSize mediumFont letterspacing">Old
                            Password</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input name="old_password" (keyup)="isValid()" placeholder="Enter old password"
                                class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                type="{{oldPassType}}" id="old_password" [(ngModel)]="model.old_password" required>
                            <i (click)="showHidePasswordFunction('op')"
                                class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" aria-hidden="true "></i>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.old_password"></div>
                    </div>

                    <div class="form-group">
                        <label for="createPassword" class=" commonFontSize mediumFont letterspacing">New
                            Password</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input name="new_password" (keyup)="isValid()" placeholder="Enter password"
                                class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                type="{{newPassType}}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})"
                                id="password" [(ngModel)]="model.password" required>
                            <i (click)="showHidePasswordFunction('np')"
                                class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" aria-hidden="true "></i>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.new_password"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class=" commonFontSize mediumFont letterspacing">Confirm
                            Password</label>
                        <div
                            class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <input match="password,confirm_password" name="confirm_password" (keyup)="isValid()"
                                placeholder="Confirm password"
                                class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                type="{{confPassType}}" id="confirm_password" [(ngModel)]="model.confirm_password" required>
                            <i (click)="showHidePasswordFunction('cp')"
                                class="fa fa-eye color-gray fa-lg eyeIcon cursorStyle" aria-hidden="true "></i>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.confirm_password"></div>
                    </div>

                    <button type="button" (click)="changePassword()"
                        class="bg-dark border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing">
                        SUBMIT </button>
                </form>
            </div>
        </div>
    </div>
</div>