<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="bg-white px-3 pt-2 pb-3 mt-3 border">
        <h2 class="commonFontSize semiBoldFont mb-2 mt-2">Authorisations Request</h2>

        <div class="row">
            <div class="col-md-8 col-12">
                <div class="pt-0">                        
                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> View EI Profile and timeline
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Edit EI timeline
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Alumni Management
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Student Management
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Reminders
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> ZatchUp StarClass
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize d-flex">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span><span> Messages </span>
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Donations
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Lecture Requests
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> E-Certificates and e-results cards
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Edit Course Details
                        </div>
                    </div>

                    <div class="row pb-2 pt-2 mx-0">
                        <div class="col-md-12 commonFontSize">
                            <span><i class="fa fa-circle mr-2 dot-small" aria-hidden="true"></i></span> Report/Block Users
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
