
<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-3"></div>
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center mt-3 mb-0 semiBoldFont">Let's ZatchUp</h2>
                <h2 class="text-center mb-3 mt-0 semiBoldFont">Sign-up (Sub- admin and Teachers)</h2>
                <form>
                    <div class="form-group row  ml-0 mr-0">
                        <label for="emailid" class=" commonFontSize mediumFont letterspacing">Email ID</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                    <i class="fa fa-user text-white" aria-hidden="true"></i>
                                    </span>
                            <input required [(ngModel)]="model.username" name="email_Or_phone_number" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Enter Email ID / Mobile Number">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.email_Or_phone_number"></div>
                    </div>

                    <div class="form-group row  ml-0 mr-0">
                        <label for="password " class=" mediumFont commonFontSize letterspacing">Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                    <i class="fa fa-unlock-alt text-white" aria-hidden="true"></i>
                                    </span>
                            <input required [(ngModel)]="model.password" name="password" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="Enter Password">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.password"></div>
                    </div>

                    <p class="text-right textUnderlineStyle commonFontSize mediumFont " (click)="goToEiForgetPasswordPage() ">Forgot Password?</p>
                    <button (click)="doLogin()" type="button " class="bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont letterspacing">Log In
                        <span class="">
                            <i class="fa fa-sign-in text-white" aria-hidden="true"></i>
                            </span>
                    </button>
                    <p class="text-center commonFontSize mediumFont my-4 ">Don't have an account?<span class="textUnderlineStyle " (click)="goToEiSubadminRegisterPage() ">Sign Up</span></p>
                    <p class="text-center commonFontSize mediumFont m-0 ">Facing issue in registration?</p>
                    <p class="text-center commonFontSize mediumFont mb-0 textUnderlineStyle " (click)="goToEiContactUsPage() ">Contact us</p>
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
    </div>
</div>
<!-- OTPModel -->
<div class="modal fade" id="OTPModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0 border-0">                
                <button #closebutton type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
            </div>
            <div class="modal-body pl-5 pr-5 text-center">
                <img class="img-fluid otpMessageImage mt-2 mb-4" src="assets/images/userWebsite/otp_message_image.png">
                <p class="color-black regularFont commonFontSize">Enter OTP that Received on your Registered Email id / Phone Number.</p>
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-between loginInput">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp1" name="otp1"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp2" name="otp2"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input (keyup)="changeInput($event)" [(ngModel)]="model.otp3" name="otp3"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont  mr-4"
                            type="text" maxlength="1">
                        <input [(ngModel)]="model.otp4" name="otp4"
                            class=" form-control ei-form-control text-center color-purple otpStyle commonFontSize semiBoldFont"
                            type="text" maxlength="1">
                    </div>
                </div>
                <div class="required required" [innerHtml]="errorOtpModelDisplay"></div>

                <button type="button" class="btn common-model-Btn mt-3" (click)="goToDashboard();">Submit </button>

                <p><a class="color-purple semiBoldFont textUnderlineStyle commonFontSize" (click)="resendOtp()">Resend Code </a>
                </p>

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 