<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="row mb-3">
            <div class="col-md-6">
                <h2 class="commonFontSize semiBoldFont mb-3 m-0">Personal Messages</h2>
            </div>
            <div class="col-md-6">
                <div class="button-div d-flex justify-content-end flex-wrap">
                    <!-- <button type="button" class="bg-dark text-white py-2 px-3 mx-1 border-0">New Messages</button> -->
                    <button type="button" (click)="createChatGroup()" class="bg-dark text-white py-2 px-3 mx-1 border-0">Create Group</button>
                    <button type="button" data-target="#ActionModal" data-toggle="modal" class="bg-yellow text-white py-2 px-3 mx-1 border-0">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *ngFor="let msgObj of lastMessageData">
            <div class="row border-bottom pb-2 mt-3 align-items-center cursorStyle">
                <div class="col-md-1 col-2 text-center">
                    <img *ngIf="msgObj.profile_pic" src="{{msgObj.profile_pic}}" alt="Profile" class="rounded-circle bg-light-green header-dp img-small"/>
                    <img *ngIf="!msgObj.profile_pic" src="assets/images/userWebsite/share-my-profile-icon.png" alt="Profile" class="rounded-circle bg-light-green header-dp img-small"/>
                </div>
                <div class="col-md-11 col-10" (click)="goToChatScreen(msgObj.uuid,msgObj.friendlidt_id)">
                    <h3 class="m-0 semiBoldFont color-black text-capitalize position-relative">{{msgObj.user_name}}
                        <span class="small-text">({{msgObj.class_name}} {{msgObj.roll_no}})</span>
                        <span class="chatCount">0</span>
                    </h3>
                    <p class="mb-0"> {{msgObj.document?'Attachment':msgObj.msg}} </p>
                </div>
            </div>

        </div>
        <div *ngFor="let msgObjG of groupList">
            <div class="row border-bottom pb-2 mt-3 align-items-center cursorStyle" (click)="messageDetails(msgObjG.uuid,'group')">
                <div class="col-md-1 col-2 text-center">
                    <div class="group_iconImg border">
                        <img *ngIf="msgObjG.group_icon" src="{{msgObjG.group_icon}}" alt="Profile" class="img-small"/>
                    </div>
                    <!-- <img *ngIf="!msgObjG.group_icon" src="assets/images/userWebsite/share-my-profile-icon.png" alt="Profile" class="rounded-circle bg-light-green header-dp img-small"/>  -->
                </div>
                <div class="col-md-11 col-10">
                    <h3 class="m-0 semiBoldFont color-black text-capitalize position-relative">{{msgObjG.group_title}}
                        <span class="chatCount">0</span>
                    </h3>
                    <p class="mb-0"  *ngFor="let lastChat of lastGroupmsg[msgObjG.uuid];">{{lastChat.document?'Attachment':lastChat.msg}}</p> 
                </div>
            </div>

        </div>
    </div>

    <!-- PersonalModal  -->
    <!-- <div class="modal fade" id="PersonalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header p-0 border-0 pt-2">
                    <h2 class="modal-title commonFontSize mediumFont mb-0">Messages</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>
                <div class="modal-body px-0 pt-0">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Select a member who chat as</p>
                            <button type="button" class="bg-light-gray m-1 p-1 border-0">Chat with Students</button>
                            <button type="button" class="bg-light-gray m-1 p-1 border-0">Chat with Teachers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ActionModal  -->
    <div class="modal fade" id="ActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Privacy Setting</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true "> &times; </span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">
    
                        <div class="col-md-12 mt-2">
                            <div class="form-group justifyInput d-flex justify-content-between align-items-center">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Online Status </label> 
                                <mat-slide-toggle [checked]="setting_user.online" (change)="setUserSettingOnFirebase($event.checked,'online')" class="toggleslider"></mat-slide-toggle>                         
                            </div>
                            <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                                <label for="" class="mediumFont commonFontSize letterspacing"> Read Receipts </label>    
                                <mat-slide-toggle [checked]="setting_user.is_read" (change)="setUserSettingOnFirebase($event.checked,'is_read')" class="toggleslider"></mat-slide-toggle>                   
                            </div>
                            <div class="form-group justifyInput d-flex justify-content-between align-items-center">                           
                                <label for="" class="mediumFont commonFontSize letterspacing"> Last Seen </label>
                                <mat-slide-toggle [checked]="setting_user.is_seen" (change)="setUserSettingOnFirebase($event.checked,'last_seen')" class="toggleslider"></mat-slide-toggle>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>