<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobilePLR">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-5" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-4 pl-0 mobilePL">
            <h2 class="mb-3 textSpace topHeadingLeftSpace"> El Confirmation </h2>

            <form class="confirmForm">
                <div class="confirm">
                    <div class=" EI1 form-control-inputDiv border-0 rounded-0 p-4 mb-3">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-9 col-sm-8">
                                        <p class="m-0 form-control-input commonFontSize"> ZatchUp ID : <span
                                                class="text-dark mediumFont">102324</span></p>
                                    </div>
                                    <div class="col-3 text-right">
                                         <!-- <img src="assets/images/userWebsite/edit.png" class="img-fluid editIcon"> -->
                                    </div>
                                </div>
                                <p class="m-0 form-control-input commonFontSize">State : <span
                                        class="text-dark mediumFont">Delhi</span></p>
                                <p class="m-0 form-control-input commonFontSize"> City : <span
                                        class="text-dark mediumFont">Delhi</span></p>
                                <p class="m-0 form-control-input commonFontSize"> School Name : <span
                                        class="text-dark mediumFont">ABC Public School</span></p>
                                <p class="m-0 form-control-input commonFontSize"> School Address : <span
                                        class="text-dark mediumFont">Lorem Ipsum Lorem</span></p>
                                <p class="m-0 form-control-input commonFontSize"> University/Board : <span
                                        class="text-dark mediumFont">CBSC</span></p>
                            </div>
                        </div>
                        <h2 class="mb-2 textSpace">Course Details</h2>
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Course Name : <span class="text-dark mediumFont">B.Com</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course Duration :<span
                                    class="text-dark mediumFont"> 2 Years</span></div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                        </div>

                        <div class="form-group row form-control-inputDiv rounded-0">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Standard : <span class="text-dark mediumFont">6th</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course ended standard :<span
                                    class="text-dark mediumFont"> 6th</span></div>

                        </div>

                        <div class="form-group row form-control-inputDiv rounded-0">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Standard : <span class="text-dark mediumFont">6th</span>
                            </div>

                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course ended standard :<span
                                    class="text-dark mediumFont"> 6th</span></div>

                        </div>
                    </div>
                    <div class=" EI1 form-control-inputDiv border-0 rounded-0 p-4 mb-3">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-9 col-sm-8">
                                        <p class="m-0 form-control-input commonFontSize"> ZatchUp ID : <span
                                                class="text-dark mediumFont">102324</span></p>
                                    </div>
                                    <div class="col-3 text-right">
                                         <!-- <img src="assets/images/userWebsite/edit.png" class="img-fluid editIcon"> -->
                                    </div>
                                </div>
                                <p class="m-0 form-control-input commonFontSize">State : <span
                                        class="text-dark mediumFont">Delhi</span></p>
                                <p class="m-0 form-control-input commonFontSize"> City : <span
                                        class="text-dark mediumFont">Delhi</span></p>
                                <p class="m-0 form-control-input commonFontSize"> School Name : <span
                                        class="text-dark mediumFont">ABC Public School</span></p>
                                <p class="m-0 form-control-input commonFontSize"> School Address : <span
                                        class="text-dark mediumFont">Lorem Ipsum Lorem</span></p>
                                <p class="m-0 form-control-input commonFontSize"> University/Board : <span
                                        class="text-dark mediumFont">CBSC</span></p>
                            </div>
                        </div>
                        <h2 class="mb-2 textSpace">Course Details</h2>
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Course Name : <span class="text-dark mediumFont">B.Com</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course Duration :<span
                                    class="text-dark mediumFont"> 2 Years</span></div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                        </div>

                        <div class="form-group row form-control-inputDiv rounded-0">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Standard : <span class="text-dark mediumFont">6th</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course ended standard :<span
                                    class="text-dark mediumFont"> 6th</span></div>

                        </div>

                        <div class="form-group row form-control-inputDiv rounded-0">
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Standard : <span class="text-dark mediumFont">6th</span>
                            </div>

                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Starting Year : <span class="text-dark mediumFont">2017</span>
                            </div>
                            <div class="col-lg-6 col-md-12 form-control-input commonFontSize">
                                Ending Year : <span class="text-dark mediumFont">B.Com2018</span>
                            </div>
                            <div class="col-12 form-control-input commonFontSize">Course ended standard :<span
                                    class="text-dark mediumFont"> 6th</span></div>

                        </div>
                    </div>
                    
                </div>
                <button type="submit " class="btn common-btn regularFont textSpace fixedBtn"
                    (click)="goToUserProfileCreatedPage()">Confirm & Send for EI Verification</button>
            </form>

        </div>
    </div>

</div>


<app-user-footer></app-user-footer>