<app-admin-sidenav></app-admin-sidenav>

<div class="container main-container p-3">

    <div class="AlumniProf-div bg-white border border-gray px-0 py-3"
        *ngIf="kycHistoryModal.activeParams.kycType == 'pending'">
        <div class="col-md-6 d-flex justify-content-start flex-wrap align-items-center">
            <span class="mr-3 cursorStyle ">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>

            <h2 class="commonFontSize semiBoldFont m-0">Kyc Pending</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-2 py-2 border-0 mx-0">
                    <div class="col-md-12 col-left">

                        <!-- <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>EI ZatchUp ID of user</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.zatchupId}}</span></p>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Username</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.name_of_user}}
                                        {{kycHistoryModal.kycDetails.last_name}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>User Type</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.user_type}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Kyc Type</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.proof_name}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Request Reason</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.request_reason == 0 ? 'First Time' :
                                        'Re-Submitted'}}</span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 commonFontSize mediumFont">
                                <p>Request Type</p>
                            </div>
                            <div class="col-6 commonFontSize regularFont">
                                <p><span class="mr-3" *ngIf="kycHistoryModal.kycDetails">:
                                        {{kycHistoryModal.kycDetails.request_type == 0 ? 'New Sign Up' :
                                        'Retriggered'}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="bg-purple text-white py-2 px-4 border-0 mr-3"
                                    data-toggle="modal" data-target="#approveModel">View</button>
                            </div>
                        </div>

                    </div>

                    <!-- approve or reject Model  -->
                    <div class="modal fade" id="approveModel" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content unverified container-fluid">
                                <div class="modal-header align-items-center justify-content-center pb-0">
                                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">KYC Approval
                                    </h2>
                                    <button type="button" #approveCloseButton
                                        class="close rounded-circle border bg-white model-close-btn p-0"
                                        data-dismiss="modal" aria-label="Close ">
                                        <span aria-hidden="true "> &times; </span>
                                    </button>
                                </div>
                                <div class="modal-body px-0">
                                    <form id="approveOrRejectForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row m-0 mr-0">
                                                    <label for="" class="mediumFont commonFontSize letterspacing">Kyc
                                                        Document</label>
                                                </div>
                                                <div
                                                    *ngIf="kycHistoryModal.kycDetails && !kycHistoryModal.kycDetails.kyc_document">
                                                    <img src="assets/images/no-image-icon.jpg"
                                                        class="img-fluid dpImg border w-100">
                                                </div>
                                                <div class="col-md-12 mt-2"
                                                    *ngIf="kycHistoryModal.kycDetails && kycHistoryModal.kycDetails.kyc_document && kycHistoryModal.kycDetails.kyc_document_back">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 p-1">
                                                            <!-- <img (click)="viewImage(kycHistoryModal.kycDetails.kyc_document)"
                                                                src="{{kycHistoryModal.kycDetails.kyc_document}}"
                                                                class="img-fluid border p-2 rounded" aria-hidden="true "
                                                                data-toggle="modal" data-target="#imageViewer"> -->
                                                            <img src="{{kycHistoryModal.kycDetails.kyc_document}}"
                                                                class="img-fluid border p-2 rounded">
                                                        </div>
                                                        <div class="col-12 col-md-6 p-1">
                                                            <!-- <img (click)="viewImage(kycHistoryModal.kycDetails.kyc_document_back)"
                                                                src="{{kycHistoryModal.kycDetails.kyc_document_back}}"
                                                                class="img-fluid border p-2 rounded" aria-hidden="true "
                                                                data-toggle="modal" data-target="#imageViewer"> -->
                                                            <img src="{{kycHistoryModal.kycDetails.kyc_document_back}}"
                                                                class="img-fluid border p-2 rounded">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 mt-2"
                                                    *ngIf="kycHistoryModal.kycDetails && kycHistoryModal.kycDetails.kyc_document && kycHistoryModal.kycDetails.kyc_document_back == null">
                                                    <div class="row">
                                                        <div class="col-12 col-md-12 p-1">
                                                            <!-- <img (click)="viewImage(kycHistoryModal.kycDetails.kyc_document)"
                                                                src="{{kycHistoryModal.kycDetails.kyc_document}}"
                                                                class="img-fluid border p-2 rounded" aria-hidden="true "
                                                                data-toggle="modal" data-target="#imageViewer"> -->
                                                            <img src="{{kycHistoryModal.kycDetails.kyc_document}}"
                                                                class="img-fluid border p-2 rounded">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 mt-3 mb-1">
                                                <mat-radio-group aria-label="Select an option">
                                                    <mat-radio-button [checked]="true" class="mr-3" color="primary"
                                                        value="approve" (change)="radioChange($event)">Approve
                                                    </mat-radio-button>
                                                    <mat-radio-button value="reject" color="primary"
                                                        (change)="radioChange($event)">Reject</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row  ml-0 mr-0" style="display: grid;">
                                                    <label for="" class="mediumFont commonFontSize letterspacing">
                                                        ID Number </label>
                                                    <span
                                                        *ngIf="kycHistoryModal.kycDetails">{{kycHistoryModal.kycDetails.kyc_id_no}}</span>
                                                </div>
                                            </div>

                                            <div class="col-md-12" *ngIf="kycHistoryModal.approveOrReject == 'reject'">
                                                <div class="form-group row  ml-0 mr-0">
                                                    <label for="" class="mediumFont commonFontSize letterspacing">
                                                        Rejection Reason </label>
                                                    <div
                                                        class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                                        <select class="custom-select  form-control-input" id="reason"
                                                            name="rejection_reason"
                                                            [(ngModel)]="kycHistoryModal.rejectionReason" required>
                                                            <option value=""> Select Reason</option>
                                                            <option value="Unclear Photo">Unclear Photo</option>
                                                            <option value="Invalid Photo">Invalid Photo</option>
                                                            <option value="Wrong Name">Wrong Name</option>
                                                            <option value="Wrong DOB">Wrong DOB</option>
                                                            <option value="Wrong ID Number">Wrong ID Number</option>
                                                        </select>
                                                    </div>
                                                    <div class="required errorMsg"
                                                        [innerHtml]="kycHistoryModal.errorDisplay.rejection_reason">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" *ngIf="kycHistoryModal.approveOrReject == 'reject'">
                                                <div class="form-group row  ml-0 mr-0">
                                                    <label for="" class="mediumFont commonFontSize letterspacing">
                                                        Rejection Remarks </label>
                                                    <div
                                                        class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                                        <textarea
                                                            class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                                            type="text" cols="4" rows="5" id="remark"
                                                            placeholder="Rejection Remarks" name="rejection_remark"
                                                            [(ngModel)]="kycHistoryModal.rejectionRemark"
                                                            required></textarea>
                                                    </div>
                                                    <div class="required errorMsg"
                                                        [innerHtml]="kycHistoryModal.errorDisplay.rejection_remark">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3 text-center">
                                                <button type="button" (click)="ApproveRejectKyc()"
                                                    class="{{kycHistoryModal.approveOrReject == 'approve' ? 'bg-paret-green' : 'bg-danger'}} border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing ">
                                                    {{kycHistoryModal.approveOrReject | titlecase}} </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- approve or reject end -->
                </div>
            </div>
        </div>


    </div>


    <div class="KYC-HistoryView-div bg-white px-3 pt-2 pb-3 mt-3">
        <div class="col-md-12 pl-0 d-flex justify-content-start flex-wrap align-items-center">
            <span class="mr-3 cursorStyle" *ngIf="kycHistoryModal.activeParams.kycType == 'completed'">
                <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
            </span>

            <h2 class="commonFontSize semiBoldFont m-0">KYC History</h2>
        </div>

        <div class="row my-3" *ngIf="kycHistoryModal.kycHistory">
            <div class="col-md-12 d-flex flex-wrap align-items-center">
                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records per page </label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getKycHistory('')"
                        class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0"
                        id="count" [(ngModel)]="kycHistoryModal.page_size">
                        <option value=""> Select count</option>
                        <option *ngFor="let count of recordCount" value="{{count}}">{{count}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="tableDiv mt-4" *ngIf="kycHistoryModal.kycHistory">
            <div class="mat-elevation-z1 table-responsive" *ngIf="kycHistoryModal.activeParams.kycType !== 'pending'">
                <mat-table [dataSource]="kycHistoryModal.kycHistory | paginate: kycHistoryModal.config">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> {{i + kycHistoryModal.startIndex}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date_time">
                        <mat-header-cell *matHeaderCellDef> Date And Time </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.is_deleted == true ? element.updated_on : element.created_on | date: 'dd MMM yyyy
                            hh : mm aa'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.display_message}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="emp_name">
                        <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.byusername}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="user_name">
                        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.tousername}}
                        </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="kycHistoryModal.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: kycHistoryModal.displayedColumns; "></mat-row>
                </mat-table>
            </div>

            <div class="mat-elevation-z1 table-responsive" *ngIf="kycHistoryModal.activeParams.kycType == 'pending'">
                <mat-table [dataSource]="kycHistoryModal.kycHistory | paginate: kycHistoryModal.config">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> {{i + kycHistoryModal.startIndex}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date_time">
                        <mat-header-cell *matHeaderCellDef> Date And Time </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.is_deleted == true ? element.updated_on : element.created_on | date: 'dd MMM yyyy
                            h:m a'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.display_message}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="user_name">
                        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.tousername}}
                        </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="kycHistoryModal.pendingDisplayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: kycHistoryModal.pendingDisplayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="kycHistoryModal.kycHistory" (pageChange)="getKycHistory($event)"
            class="eiPaginationTag">
        </pagination-controls>
        <div class="row" *ngIf="!kycHistoryModal.kycHistory">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">KYC History Not Available</p>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- <div class="modal fade" id="imageViewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center justify-content-center p-0 border-0">
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true ">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body px-0">
                <ngx-image-viewer [src]="images" [(index)]="imageIndexOne" (customEvent)="handleEvent($event)">
                </ngx-image-viewer>
            </div>
        </div>
    </div>
</div> -->