<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="AlumniProf-div bg-white border border-gray px-3 py-3">
        <div class="row topDiv">
            <div class="col-xl-2 col-lg-12 pr-0">
                <h2 class="commonFontSize semiBoldFont m-0 ">Student Profile</h2>
            </div>
            <div class="col-xl-10 col-lg-12 SearchDiv d-flex flex-row flex-wrap">
                <button type="button" class="bg-yellow text-white px-4 py-2 ml-2 mb-1 border-0 ">User Reported
                    History</button>
                <button type="button" class="bg-paret-green text-white px-4 py-2 ml-2 mb-1 border-0 ">User KYC Pending
                    And History</button>
                <button type="button" class="bg-red text-white px-4 py-2 ml-2 mb-1 border-0 ">Reports By User
                    History</button>
                <button type="button" class="bg-blue text-white px-4 py-2 ml-2 mb-1 border-0 ">Profile History</button>
            </div>
        </div>
        <div class=" mt-3 border-0 mx-0">
            <!-- start Div for banner-->
            <div *ngIf="userData" class="Onboard-viewbanner-div p-2 d-flex align-items-end"
                [ngStyle]="userData.cover_pic ? {'background-image': 'url(' + userData.cover_pic + ')'} : { 'background-image' : 'url(' + 'assets/images/cover-pic-default.png' + ')'}">
                <div class="dpImgDiv rounded-circle bg-light-green border border-white ">
                    <img *ngIf="!userData.profile_pic" src="assets/images/profile-default.png" class="img-fluid dpImg cursorStyle">
                    <img *ngIf="userData.profile_pic" src="{{userData.profile_pic}}" class="img-fluid dpImg cursorStyle">
                </div>
            </div>
            <!--Start div for    Information-->
            <div class="row mt-3" *ngIf="userData">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Name of The User</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span>{{userData.name_of_user}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>EI ZatchUp ID</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span>{{userData.zatchupId}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Bio</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize regularFont">
                            <p><span class="mr-3">: </span> {{userData.bio}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 commonFontSize mediumFont">
                            <p>Personal Details</p>
                        </div>
                        <div class="col-12 small-text-2 ml-2">
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Date
                                        of Birth Of The User</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> {{userData.dob}}</p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Email
                                        Id</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> {{userData.email}}</p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span> Phone
                                        Number</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> {{userData.phone}}</p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                                        Profession</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> {{userData.role}}</p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-5">
                                    <p><span><i class="fa fa-circle mr-1 dot-small" aria-hidden="true"></i></span>
                                        Current City</p>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-8 col-7">
                                    <p><span class="mr-3">: </span> {{userData.city}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>Education Details</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize mediumFont">
                            <p class="color-blue"><span class="mr-3 text-dark">:</span><span
                                    class="textUnderlineStyle "> View</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>All Certificates And E-Results Issued To EI</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize mediumFont">
                            <p class="color-blue"><span class="mr-3 text-dark">:</span><span
                                    class="textUnderlineStyle "> View</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>User Post</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize mediumFont">
                            <p class="color-blue"><span class="mr-3 text-dark">:</span><span
                                    class="textUnderlineStyle "> View</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-5 commonFontSize mediumFont">
                            <p>User Performance Report</p>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-7 commonFontSize mediumFont">
                            <p class="color-blue"><span class="mr-3 text-dark">:</span><span
                                    class="textUnderlineStyle "> View</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!userData">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
                </div>
            </div>

        </div>

    </div>

    <!--Start of retriggerKycModel  -->
    <div class="modal fade" id="retriggerKycModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Retrigger KYC</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                        data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class=" form-group row ">

                        <div class="col-sm-12 ">
                            <label for="Remarks " class=" commonFontSize semiBoldFont letterspacing ">Remarks</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none "><textarea
                                    class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                    rows="4" placeholder="Enter Remarks "></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button "
                        class="bg-paret-green  border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing ">
                        Retrigger
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of retriggerKycModel  -->

    <!--Start of retriggerEmailIDPhoneNumberModel  -->
    <div class="modal fade" id="retriggerEmailIDPhoneNumberModel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Retrigger Email ID and Phone
                        Number</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                        data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class=" form-group row ">

                        <div class="col-sm-12 ">
                            <label for="Remarks " class=" commonFontSize semiBoldFont letterspacing ">Remarks</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none "><textarea
                                    class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                    rows="4" placeholder="Enter Remarks "></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button "
                        class="bg-paret-green  border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing ">
                        Retrigger
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of retriggerEmailIDPhoneNumberModel  -->

    <!-- Start of BlockReportsByUserModel  -->
    <div class="modal fade" id="BlockReportsByUserModel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center border-0 pb-0 pl-0">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Block Reports By User</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                        data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0 py-0">
                    <p class="commonFontSize regularFont letterspacing">Are you sure you want to block Reports by user?
                    </p>
                    <p class="commonFontSize regularFont letterspacing text-right">
                        <button type="button "
                            class="bg-Gainsboro px-3 py-2 border-0 mr-3 modalAddStudentsBtn mediumFont letterspacing">No</button>
                        <button type="button"
                            class="bg-Gainsboro py-2 px-3 border-0  modalAddStudentsBtn mediumFont">Yes</button>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of BlockReportsByUserModel  -->

    <!--Start of BlockUserModel  -->
    <div class="modal fade" id="BlockUserModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content unverified container-fluid">
                <div class="modal-header align-items-center justify-content-center pb-0 ">
                    <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Block User</h2>
                    <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                        data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true ">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class=" form-group row ">

                        <div class="col-sm-12 ">
                            <label for="Remarks " class=" commonFontSize semiBoldFont letterspacing ">Remarks</label>

                            <div class="form-control-inputDiv rounded p-1 shadow-none "><textarea
                                    class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                    rows="4" placeholder="Enter Remarks "></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button "
                        class="bg-paret-green  border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing ">
                        Block
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of BlockUserModel  -->
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>