<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3 h-100">
        <h2 class="commonFontSize semiBoldFont m-0">Ei Profile Preview</h2>

        <div class="row mt-3">
            <div class="col-md-12">
                <div id="accordion">
                    <div class="card mb-3">
                      <div class="card-header bg-purple p-0" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link color-white hover-white w-100 py-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            User Profile Detail
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">School Name</h3>
                              <p>ABC Public School</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">EI's Unique ZatchUp ID</h3>
                              <p>T-APADI000011</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Full Address</h3>
                              <p>bcb, bcvbc, Uttar Pradesh, Noida, 201301 </p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Board / University</h3>
                              <p>NIT JAMSHEDPUR</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Name of Principal / Dean</h3>
                              <p>Pathan Din</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Foundation Date / Openning Date</h3>
                              <p>01/02/2020</p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Number of Current Student</h3>
                              <p>less then 500</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Number of Alumni</h3>
                              <p>less then 500</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">GST Number(Optional)</h3>
                              <p>kdhfljgj582</p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Overview</h3>
                              <p>bcb</p>
                              <p>bcvbc</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-header bg-purple p-0" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed color-white hover-white w-100 py-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Course Detail
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Course Name</h3>
                              <p>B.Com</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Course Type</h3>
                              <p>Distance</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Description</h3>
                              <p>test </p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Name of Standard</h3>
                              <p>2nd year</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Standard Duration</h3>
                              <p>3 Years</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Sub Section</h3>
                              <p>enter sub section </p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">EI Start teaching this class</h3>
                              <p>current teaching</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">EI Start teaching this class</h3>
                              <p>1986, feb</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">EI End teaching this class</h3>
                              <p>1989, Jan </p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Class Alias</h3>
                              <p>B.Com</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-header bg-purple p-0" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed color-white hover-white w-100 py-2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Bank Detail
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Bank Name</h3>
                              <p>kotak mahindra bank</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Account Number</h3>
                              <p>9312752768</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">IFSC Code</h3>
                              <p>KKBK0000145</p>
                            </div>

                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Upload copy cancelled cheque</h3>
                              <p><img src="./assets/images/userWebsite/loreal.jpg" alt="cheque" class="img-responsive"/></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-header bg-purple p-0" id="headingFour">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed color-white hover-white w-100 py-2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Document Detail
                          </button>
                        </h5>
                      </div>
                      <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Document Name</h3>
                              <p>Passport</p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Upload Document</h3>
                              <p><img src="./assets/images/userWebsite/loreal.jpg" alt="cheque" class="img-responsive"/></p>
                            </div>
                            <div class="col-md-4">
                              <h3 class="commonFontSize semiBoldFont mb-0">Description</h3>
                              <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
