<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
            <img src="assets/images/userWebsite/filter-icon.png" class="img-fluid float-right subHeaderImg">
        </div>
    </div>
</div>
<div class="container landingPageWidth">
    <div class="row landingDiv mb-5">
        <div class="col">
            <h2 class="mb-5 text-center">E-Certificates</h2>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="row form-control-inputDiv mb-4 certificateDivStyle">
                        <div class="col-10 certificateDivPaddingStyle justify-content-between align-items-center align-self-center">
                            <div class="semiBoldFont commonCertificateFontSize">Certificate Name</div>
                            <span class="regularFont issueDateFontSize color-gray">Issued Date:02/06/2020 </span>
                        </div>
                        <div class="col-2 bg-purple downloadDivRadiusStyle"><img
                                src="assets/images/userWebsite/download-icon.png" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-user-footer></app-user-footer> -->