.twoLineText {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .twoLineText-lg {
        height: 75px;
    }
}