<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="SubscriptionDetails-div bg-white border border-gray px-3 pt-2 pb-3 mt-3">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="commonFontSize semiBoldFont mb-1">Subscription Details</h2>
            <div class="button-div">
                <button type="button" class="bg-dark text-white py-2 px-3 ml-3 border-0">Back</button>
            </div>
        </div>

        <div class="row mobile-col-reverse border-0 mt-1 mx-0">
            <div class="col-md-6 col-left">
                <div class="row">
                    <div
                        class="col-xl-5 col-lg-5 col-md-5 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Subscription Name</p>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-7 commonFontSize mediumFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>

                <div class="row">
                    <div
                        class="col-xl-5 col-lg-5 col-md-5 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Subscription Price</p>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-7 commonFontSize mediumFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>

                <div class="row">
                    <div
                        class="col-xl-5 col-lg-5 col-md-5 col-5 commonFontSize mediumFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>Subscription Benefits</p>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-7 commonFontSize mediumFont">
                        <p><span class="mr-3">:</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>