.profile_pick {
    border-radius: 50%;
    max-width: 40px;
    overflow: hidden;
    max-height: 40px;
    min-height: 50px;
    min-width: 52px;
    border: 1px solid #ddd;
    position: relative;
}

 

.grpText {
    text-align: center !important;
    margin: 0 auto !important;
    background: #eaeaea;
    width: 100%;
    box-shadow: none;
}
.left-sideChat {
    height: 470px;
    overflow-y: auto;
}
.pdf_customSize{width: 45px;}
.message-delivered-icon{display: inline-block; width: 20px;}
.message-pending-icon{display: none; width: 20px;}
.chat_content {
    width: 65%;
    margin: 0px auto;
}

.chat_contentBox {
    width: 95%;
    margin: 0px auto;
}

.imgChatBig {
    max-width: 45px !important;
}

.schoolChat {
    height: 300px;
    overflow-y: scroll;
}

.addComment {
    width: 65%;
    margin: 0px auto;
}

.img-small {
    height: 24px;
}

.chatMessage {
    border-radius: 20px;
    height: 45px;
    width: 92% !important;
}

.imgComment {
    height: 45px;
    position: absolute;
    right: -17px;
    border: 0px;
    background: #463267;
    color: #fff;
    width: 82px;
}

.border-bottomCustom {
    border-bottom: 1px solid #ccc;
}

.chatIn {
    padding: 4px 10px;
    background: #fff;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 2px #ccc;
    max-width: 568px;
    min-width: 100px;
}

.customButton {
    position: absolute !important;
    left: inherit !important;
    right: 15px !important;
    transform: inherit !important;
    top: 30px !important;
}
label{margin-bottom: 0px !important; cursor: pointer;}
.chatOut {
    padding: 4px 10px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    /* border: 1px solid rgba(70, 50, 103, 0.34); */
    box-shadow: 0px 1px 2px #ccc;
    background: #dcf8c6;
    max-width: 568px;
    min-width: 100px;
}
.deletIcon {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 25px;
}
.profile_pick img {
    max-width: 100%;
    margin: 0px auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .chatIn:before {
    position: absolute;
    content: url("../../../../assets/images/userWebsite/purple_beak.png");
    left: -21px;
    top: 4px;
    background-repeat: no-repeat;
}

.chatOut:before {
    position: absolute;
    content: url("../../../../assets/images/userWebsite/white_beak.png");
    right: -22px;
    top: 4px;
    background-repeat: no-repeat;
} */

.disabled {
    pointer-events: none;
}

/* .online {
    color: ;
} */

.offline {
    color: #888;
}

.chat-rouded {
    border-radius: 50px;
    height: 40px;
}

.message-icon i {
    font-size: 26px;
    color: #919191;
    margin: 0px 10px 0px 2px;
}
.chat_contentBox img {
    max-width: 245px;
}
.chatIn span {
    display: block;
    margin-top: 4px;
}

@media (max-width: 767px) {
    .chat_content {
        width: 100%;
    }
    .addComment {
        width: 100%;
    }
    .chatMessage {
        width: 75% !important;
    }
}