<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="img-fluid subHeaderImg cursorStyle">
            <h1 class="text-center pb-3 m-0">Chat</h1>
        </div>
    </div>

    <div class="row chat_content">

        <div class="col-12">
            <div *ngIf="!params.chat" class="bg-light-gray pb-3">
                <div class="border-bottomCustom mb-3 pt-3 pb-3 d-flex justify-content-between flex-wrap align-items-center">
                    <div class="profile_detail d-flex align-items-center justify-content-start flex-wrap pl-3">
                        <div class="profile_pick">
                            <img *ngIf="!recepintDetails" src="{{'assets/images/userWebsite/share-my-profile-icon.png'}}" class="img-fluid cursorStyle">
                            <img *ngIf="recepintDetails && recepintDetails.photoUrl" src="{{recepintDetails.photoUrl}}" class="img-fluid cursorStyle">
                        </div>
                        <div class="profile_name ml-2 text-capitalize">
                            <p *ngIf="recepintDetails" class="m-0">{{recepintDetails.firstName }} {{recepintDetails.lastName }}</p>
                            <span class="small-text-2" *ngIf="presence$ | async as presence">
                                <label [ngClass]="presence.status == 'online' ? 'color-green mb-0': 'offline'">{{presence.status}}</label>
                            </span>
                        </div>
                    </div>
                    <!-- <div class="setting_info text-right pr-3 dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/userWebsite/blue-menu.png" class="img-fluid img-small cursorStyle">
                        </a>
                        <div class="dropdown-menu customButton" aria-labelledby="dropdownMenuButton">
                            <span class="dropdown-item cursorStyle" (click)="gotoChatPrivacy()">Setting</span>
                        </div>
                    </div> -->
                </div>

                <div #scrollMe [scrollTop]="scrollHeight" class="schoolChat">
                    <div class="chat_contentBox pt-3" *ngFor="let objCon of conversation">
                        <div class="chatIn" *ngIf="objCon.user_send_by!=currentUser">

                            <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img src="./assets/images/userWebsite/pdf.png" />
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)!='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>

                            <p *ngIf="!objCon.document" class="color-white m-0">{{objCon.msg}}</p>
                            <span class="text-right color-white small-text-2 ml-4">{{getTimeAgo(objCon.timestamp)}}</span>
                        </div>

                        <div class="d-flex justify-content-end" *ngIf="objCon.user_send_by==currentUser">
                            <div *ngIf="!objCon.document" class="chatOut bg-white">
                                <!-- {{objCon | json}} -->
                                <p class="m-0">{{objCon.msg}}</p>
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                                </span>
                            </div>
                            <div *ngIf="objCon.document">
                                <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img src="./assets/images/userWebsite/pdf.png" />
                                </a>
                                <a *ngIf="getFileExtention(objCon.msg)!='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                                </a>
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="params.chat" class="bg-light-gray pb-3">
                <div class="border-bottomCustom mb-3 pt-3 pb-3 d-flex justify-content-between flex-wrap align-items-center">
                    <div (click)="gotToGroupDetailsPage(recepientGroup.uuid,'group')" class="profile_detail d-flex align-items-center justify-content-start flex-wrap pl-3">
                        <div class="profile_pick">
                            <img *ngIf="!recepientIcon" src="{{'assets/images/userWebsite/many-people-outline.png'}}" class="img-fluid cursorStyle">
                            <img *ngIf="recepientGroup && recepientGroup.group_icon" src="{{recepientGroup.group_icon}}" class="img-fluid cursorStyle">
                        </div>
                        <div class="profile_name ml-2 text-capitalize">
                            <p *ngIf="recepientGroup" class="m-0"> {{recepientGroup.group_title}} 
                                <span class="small-text-2"></span>
                            </p>
                             <span class="small-text-2" *ngFor="let user of receipentUsers">
                                <label [ngClass]="'color-green'">{{user.firstName}} {{user.lastName}}{{','}}</label>
                            </span>
                        </div>
                    </div>
                    <!-- <div class="setting_info text-right pr-3 dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/userWebsite/blue-menu.png" class="img-fluid img-small cursorStyle">
                        </a>
                        <div class="dropdown-menu customButton" aria-labelledby="dropdownMenuButton">
                            <span class="dropdown-item cursorStyle" (click)="gotoChatPrivacy()">Setting</span>
                        </div>
                    </div> -->
                </div>

                <div #scrollMe [scrollTop]="scrollHeight" class="schoolChat">
                    <div class="chat_contentBox pt-3" *ngFor="let objCon of conversation">
                        <div class="chatIn" *ngIf="objCon.user_send_by!=currentUser">

                            <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img src="./assets/images/userWebsite/pdf.png" />
                            </a>
                            <a *ngIf="getFileExtention(objCon.msg)!='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                            </a>

                            <p *ngIf="!objCon.document" class="color-white m-0">{{objCon.msg}}</p>
                            <span class="text-right color-white small-text-2 ml-4">{{getTimeAgo(objCon.timestamp)}}</span>
                        </div>

                        <div class="d-flex justify-content-end" *ngIf="objCon.user_send_by==currentUser">
                            <div *ngIf="!objCon.document" class="chatOut bg-white">
                                <!-- {{objCon | json}} -->
                                <p class="m-0">{{objCon.msg}}</p>
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                                </span>
                            </div>
                            <div *ngIf="objCon.document">
                                <a *ngIf="getFileExtention(objCon.msg)=='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img src="./assets/images/userWebsite/pdf.png" />
                                </a>
                                <a *ngIf="getFileExtention(objCon.msg)!='pdf' && objCon.document" href="{{objCon.msg}}" target="_blank">
                                    <img *ngIf="getFileExtention(objCon.msg)!='pdf'" src="{{objCon.msg}}" class="img-fluid img-big cursorStyle">
                                </a>
                                <span class="text-right small-text-2 d-block color-gray ml-4">{{getTimeAgo(objCon.timestamp)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="p-2 d-flex justify-content-between align-items-center position-relative bg-Gainsboro message-icon">
                        <div>
                            <i class="fa fa-paperclip cursorStyle" (click)="fileInput.click()" aria-hidden="true"></i>
                            <input (change)="uploadDoc($event)" #fileInput type="file" style="display:none;" />
                        </div>
                        <input (keyup.enter)="sendChat()" [(ngModel)]="model.comment" name="comment" class="chat-rouded border form-control-input form-control form-control-sm commonFontSize regularFont letterspacing mx-2"
                            type="search" placeholder="Type Something...">
                        <span [ngClass]="!model.comment ? 'disabled': 'cursorStyle'" (click)="sendChat()" class="">
                            <i class="fa fa-paper-plane cursorStyle" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>