<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>
</div>
<div class="container mt-4 landingPageWidth">
    <div class="landingDiv">
        <div class="row mt-1 mb-5">
            <div class="col">
                <h2 class="mb-4 text-center">Reminders </h2>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row form-control-inputDiv mb-4 remainderDivStyle">
                            <div
                                class="col-11 remainderDivPaddingStyle justify-content-between align-items-center align-self-center mediumFont">
                                Lorem Ipsum is simply dummy text of the printing and type setting industry.
                            </div>
                            <div class="col-1 bg-purple arrowDivRadiusStyle">
                                <img src="assets/images/userWebsite/rightArrow_white.png" class="img-fluid"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row form-control-inputDiv mb-4 remainderDivStyle">
                            <div
                                class="col-11 remainderDivPaddingStyle justify-content-between align-items-center align-self-center mediumFont">
                                Lorem Ipsum is simply dummy text of the printing and type setting industry.
                            </div>
                            <div class="col-1 bg-purple arrowDivRadiusStyle">
                                <img src="assets/images/userWebsite/rightArrow_white.png" class="img-fluid"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row form-control-inputDiv mb-4 remainderDivStyle">
                            <div
                                class="col-11 remainderDivPaddingStyle justify-content-between align-items-center align-self-center mediumFont">
                                Lorem Ipsum is simply dummy text of the printing and type setting industry.
                            </div>
                            <div class="col-1 bg-purple arrowDivRadiusStyle">
                                <img src="assets/images/userWebsite/rightArrow_white.png" class="img-fluid"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xs-12 col-12 d-flex justify-content-center">
                        <pagination [totalItems]="30"></pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->