.remainderDivStyle{
    padding: 0!important;
    border-radius: 20px;
    /* box-shadow: 1px 8px 13px -7px #ccc; */
    box-shadow: 0px 4px 9px 0px #ccc;
}
.remainderDivPaddingStyle{
    padding: 2% 5%;
    line-height: normal;
}
.arrowDivRadiusStyle{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;  
    right: 0px;
    width: 35px;  
    overflow: hidden;
}
.reminderImg {
    height: 60px;
    width: 60px;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    border-right: 1px solid #ddd;
}
.arrowDivRadiusStyle img {
    margin-top: 12px;
}
@media only screen and (max-width: 414px){
    .remainderDivPaddingStyle{
        padding: 4% 5%;
    }
}

.btn-link{
    color: #333;
    padding: 0px;
}
.card-header{padding: 0px;}