<app-user-header></app-user-header>
<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5 mobPaddingLR">
        <div class="col-12 pl-5 pr-5 mobPaddingLR">
            <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="img-fluid subHeaderImg cursorStyle">
        </div>
    </div>
</div>
<div class="container mt-4 landingPageWidth">
    <div class="landingDiv">
        <h1 class="mb-4 text-center">Reminders </h1>
        <div class="accordion mb-4" id="accordionExample" *ngIf="remaindersList ">
            <div class="card mb-3 cursorStyle" *ngFor="let reminder of remaindersList | paginate: config;let i=index; ">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <a name="test{{i}}" class="btn btn-link btn-block text-left" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i" aria-expanded="false" aria-controls="collapseOne">
                            <img src="assets/images/profile_pic.png" class="img-fluid reminderImg">
                            <span class="p-2 d-inline-block">{{reminder.message}}</span>
                        </a>
                    </h2>
                </div>
            
                <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <img *ngIf="reminder.attachment" src="{{reminder.attachment}}" class="img-fluid">

                        <div class="reminder_date mt-2">{{reminder.recived_time}}</div>
                    </div>
                </div>
            </div>
            <pagination-controls *ngIf="remaindersList.length>0"  (pageChange)="getReminders($event)" class="eiPaginationTag"></pagination-controls>
        </div>
        <div class="row m-0" *ngIf="!remaindersList">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records not available.</p>
            </div>
        </div>
    </div>
</div>

<!-- <app-user-footer></app-user-footer> -->