<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-xl-6 col-lg-6 pr-0 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0 "> Unresolved Tickets </h2>
            </div>
            <div class="col-xl-6 col-lg-6 d-flex justify-content-end flex-wrap mt-2">
                <button type="button" class="bg-dark text-white px-4 p-2 ml-2 border-0"
                    (click)="resolveTicket()">Resolved Tickets</button>
            </div>
        </div>
        <div class="modal fade" id="resolveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content unverified container-fluid">
                    <div class="modal-header align-items-center justify-content-center pb-0 border-0">
                        <h2 class="text-center modal-title commonFontSize mediumFont mb-0"> Message </h2>
                        <button #closeModel type="button "
                            class="close rounded-circle border bg-white model-close-btn p-0" data-dismiss="modal"
                            aria-label="Close ">
                            <span aria-hidden="true "> &times; </span>
                        </button>
                    </div>
                    <div class="modal-body px-0">
                        <form #resolveForm="ngForm" class="text-center">
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <div class="form-group row  ml-0 mr-0">
                                        <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                            <textarea name="resolve" [(ngModel)]="resolve_comment"
                                                class="form-control-input form-control  commonFontSize regularFont letterspacing"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="bg-purple border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing "
                                (click)="resolveComment(resolveForm);">
                                Submit </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="filterDiv">
            <form autocapitalize="off" autocomplete="off">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="widthFull mr-4 mt-3 ">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Ticket Raised From</label>
                        <div class="rounded-0 p-0 shadow-none">
                            <input class="form-control formfocusStyle commonFontSize regularFont letterspacing "
                                id="fromDate" name="fromDate" type="text" placeholder="YYYY/MM/DD" bsDatepicker
                                [maxDate]="ticketsList.maxDate" [(ngModel)]="ticketsList.filterFromDate"
                                #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>
                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> Ticket Raised To</label>
                        <div class="rounded-0 p-0 shadow-none">
                            <input class="form-control formfocusStyle commonFontSize regularFont letterspacing "
                                type="text" id="toDate" name="toDate" placeholder="YYYY/MM/DD" bsDatepicker
                                [maxDate]="ticketsList.maxDate" [(ngModel)]="ticketsList.filterToDate"
                                #fromDate="ngModel"
                                [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
                        </div>
                    </div>
                    <!-- <div class="widthFull mr-4 mt-3 dropdown-lg-Div ">
                        <label for="" class="mediumFont commonFontSize letterspacing"> State</label>
                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                            <select class="custom-select form-control-input" id="pastEI"
                                [(ngModel)]="ticketsList.stateId" (change)="getCities()" name="state">
                                <option value=""> Select State</option>
                                <option *ngFor="let state of ticketsList.allStates" [value]="state.id">{{state.state}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> City</label>
                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                            <select class="custom-select form-control-input" id="pastEI"
                                [(ngModel)]="ticketsList.cityId" name="city">
                                <option value=""> Select City</option>
                                <option *ngFor="let city of ticketsList.allCities" [value]="city.id">{{city.city}}
                                </option>
                            </select>
                        </div>
                    </div> -->

                    <div class="widthFull mr-4 mt-3">
                        <label for="" class="mediumFont commonFontSize letterspacing"> School Status</label>
                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                            <select class="custom-select form-control-input" id="status"
                                [(ngModel)]="ticketsList.status" name="status">
                                <option value=""> Select School Status</option>
                                <option value="1"> Onboarded </option>
                                <option value="0"> Pending for Approval</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="bg-purple text-white px-5 py-2 h-100  border-0 mt-3"
                        (click)="getTicketsList()">Apply</button>
                </div>
            </form>

        </div>
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">Records
                    Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getTicketsList('1')" [(ngModel)]="ticketsList.pageSize"
                        class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option *ngFor="let count of ticketsList.pageCounts" value="{{count}}">{{count}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="generateExcel()"><i
                        class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <div class="tableDiv" *ngIf="ticketsList.dataSource">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="ticketsList.dataSource | paginate: ticketsList.config">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> {{ i + ticketsList.startIndex }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ticket_raising_date">
                        <mat-header-cell *matHeaderCellDef> Ticket Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.created_on | date:'dd MMM, yyyy'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ticketName">
                        <mat-header-cell *matHeaderCellDef> Ticket Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ticket_id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchUpID">
                        <mat-header-cell *matHeaderCellDef> School ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.zatchup_id}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="eiName">
                        <mat-header-cell *matHeaderCellDef> School Name </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.name_of_school}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.address1}} {{element.address2}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.state}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.city}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="board">
                        <mat-header-cell *matHeaderCellDef>Board/University </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.university}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="emailId">
                        <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.email_to}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                        <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.phone}} </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef> School Comment </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <i class="fa fa-eye mr-2 color-lightBlue fa-lg cursorStyle" title="View Details"
                                aria-hidden="true" data-toggle="modal" data-target="#messageFromSchool"
                                (click)="viewMessage(element)"></i> </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="resolve">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <i *ngIf="element.ticket_status == false" class="fa fa-check mr-2 color-green cursorStyle"
                                (click)="setResolveData(element)" title="view" aria-hidden="true " data-toggle="modal"
                                data-target="#resolveModal"></i>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="ticketsList.displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ticketsList.displayedColumns; "></mat-row>
                </mat-table>
            </div>
        </div>
        <pagination-controls *ngIf="ticketsList.dataSource" (pageChange)="getTicketsList($event)"
            class="eiPaginationTag">
        </pagination-controls>
        <div class="row" *ngIf="!ticketsList.dataSource">
            <div class="col-12 pt-2 pb-2">
                <p class="text-center dataNotFound pt-4 pb-4">Records Not Available</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageFromSchool" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content unverified container-fluid">
            <div class="modal-header align-items-center justify-content-center pb-0 border-0">
                <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                    data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true "> &times; </span>
                </button>
                <h2 class="mediumFont commonFontSize letterspacing m-0">Message</h2>
            </div>
            <div class="modal-body px-0">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="form-group row ml-0 mr-0">
                            <!-- <label for="" class="mediumFont commonFontSize letterspacing">  </label> -->
                            <div class="w-100 shadow-none">
                                <textarea value="{{ticketsList.messageFromSchool}}"
                                    class="form-control-input form-control commonFontSize regularFont letterspacing border"
                                    readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>