<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row" (click)="goBack()">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="chat_content bg-light-gray pt-3 pb-5">
                <h1 class="text-center pt-3 pb-3">Start New Chat</h1>
                
                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Mahesh Chand 
                            <span class="small-text-2">(Student)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle float-right" aria-hidden="true" style="font-size: 22px"
                            (click)="gotoChat()"></i>
                        </p>                                                    
                    </div>
                </div> 

                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Rahul singh <span class="small-text-2">(Teacher)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle float-right" aria-hidden="true" style="font-size: 22px"></i>
                        </p>                            
                    </div>
                </div> 

                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Jayant Gupta <span class="small-text-2">(Student)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle float-right" aria-hidden="true" style="font-size: 22px"></i>
                        </p>                            
                    </div>
                </div> 

                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Mahesh Chand <span class="small-text-2">(Student)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle float-right" aria-hidden="true" style="font-size: 22px"></i>
                        </p>                            
                    </div>
                </div> 

                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Rahul singh <span class="small-text-2">(Teacher)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle cursorStyle float-right" aria-hidden="true" style="font-size: 22px"></i>
                        </p>                            
                    </div>
                </div> 

                <div class="col-12 chat_contentBox d-flex mb-4">
                    <div class="profile_pick">
                        <img src="assets/images/userWebsite/share-my-profile-icon.png" class="img-fluid cursorStyle">
                    </div>
                    <div class="profile_name ml-3 border-bottomCustom w-100">
                        <p class="m-0 pt-2">Jayant Gupta <span class="small-text-2">(Student)</span>
                            <i class="fa fa-angle-right color-gray cursorStyle cursorStyle cursorStyle float-right" aria-hidden="true" style="font-size: 22px"></i>
                        </p>                            
                    </div>
                </div> 
            </div>
        </div>            
    </div>
</div>
