.border-bottomCustom{
    border-bottom: 1px solid #ccc;
}
.chat_content{
    width: 65%;
    margin: 0px auto;
}
.profile_pick{
    border-radius: 50%;
    max-width: 55px;
    overflow: hidden;
    max-height: 55px;
    min-height: 55px;
    width: 100%;
    min-width: 55px;
    height: 100%;
    border: 1px solid #ddd;
}

.chat_contentBox{
    width: 90%;
    margin: 0px auto;
}

@media (max-width: 767px){
    .chat_content{
        width: 100%;
    }
}