<app-admin-sidenav></app-admin-sidenav>

<div class="container main-container p-3">

    <div class="KYC-HistoryView-div bg-white px-3 pt-2 pb-3">
        <h2 class="commonFontSize semiBoldFont m-0">Current Plans</h2>

        <div class="row mobile-col-reverse border-0 mt-1 mx-0">
            <div class="col-md-12 col-left">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize semiBoldFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 12:00 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7 commonFontSize mediumFont">
                        <p><span class="mr-3">:</span>Onboarding Fees Changes from 5000 to 6000 by Employee Name(Employee ID)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize semiBoldFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 1:00 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7  commonFontSize mediumFont">
                        <p><span class="mr-3">:</span>Onboarding Fees Changes from 6000 to 7000 by Employee Name(Employee ID)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-5 commonFontSize semiBoldFont d-flex flex-row align-items-start">
                        <i class="fa fa-circle dotIcon mt-2 mr-3"></i>
                        <p>20 March,2020 & 4:25 P.M</p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-7  commonFontSize mediumFont">
                        <p><span class="mr-3">:</span>Onboarding Fees Changes from 7000 to 8000 by Employee Name(Employee ID)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>