.paymant-method:hover {
    background: #463267;
    color: #ffffff;
    cursor: pointer;
}

.row{margin-right: 0px;
    margin-left: 0px;}

.paymant-method:focus {
    background: #463267;
}
