
<div class="container-fluid ei-bg-img h-100 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
        <div class="col-xl-4 col-lg-6 col-md-6  ">
            <div class="bg-white px-5 py-4">
                <div class="text-center"> <img src="assets/images/EiWebsite/kyc_logo.png" class="img-fluid"></div>
                <h2 class="text-center my-3 semiBoldFont">Create New Password</h2>
                <form id="form1">
                    <div class="form-group row  ml-0 mr-0">
                        <label for="password " class="commonFontSize mediumFont letterspacing">Create Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                    <i class="fa fa-unlock-alt text-white" aria-hidden="true"></i>
                                    </span>
                            <input id="password" required (keyup)="isValid($event)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" [(ngModel)]="model.password" name="password" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="Enter Password">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.password"></div>
                    </div>
                    <div class="form-group row  ml-0 mr-0">
                        <label for="Cpassword " class="commonFontSize mediumFont letterspacing">Confirm Password</label>
                        <div class="col-sm-12 form-control-inputDiv d-flex flex- rounded p-1 align-items-center shadow-none">
                            <span class="ei-signup-bg-box">
                                    <i class="fa fa-unlock-alt text-white" aria-hidden="true"></i>
                                    </span>
                            <input id="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" match="password,confirmPassword" required (keyup)="isValid($event)" [(ngModel)]="model.confirm_password" name="confirmPassword" class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="password" placeholder="Re-enter Password">
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.confirmPassword"></div>
                    </div>

                    <button type="button" class="mt-1 bg-purple border-0 text-white w-100 text-center p-2 commonFontSize mediumFont " (click)="changePassword()">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-3 "></div>
    </div>
</div>