<app-user-header></app-user-header>

<div class="container contentSpaceTop">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/userWebsite/back-icon.png" class="img-fluid subHeaderImg">
        </div>
    </div>

    <div class="row settingRow bg-light-gray mt-3">
        <h1 class="col-12 pt-3 pb-3 chat_contentBox"> Setting </h1>
        <div class="col-12">            
            <div class="row py-2">

                <div class="col-12 border-bottom mb-3"> 
                    <div class="row mb-3">
                        <div class="col-4"><span class="commonFontSize semiBoldFont">Full Name</span></div>
                        <div class="col-4"><span>Ajju Singh</span></div>
                        <div class="col-4 text-right"><a class="border-0 text-right" data-toggle="collapse" href="#name" role="button" aria-expanded="false" aria-controls="name">Edit</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="name">
                                <div class="card card-body mb-3">
                                    <div class="row">
                                        <div class="col-12 col-md-6 MobileCol6MB">
                                            <div class="widthFull mr-4">
                                                <label for="" class="mediumFont commonFontSize letterspacing"> First Name </label>
                                                <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                                    <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="First Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="widthFull mr-4">
                                                <label for="" class="mediumFont commonFontSize letterspacing"> Last Name </label>
                                                <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                                    <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="First Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 ml-3">
                                            <button type="submit" class="py-2 px-3 border-0 rounded bg-purple regularFont color-white textSpace mt-3">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom mb-3"> 
                    <div class="row mb-3">
                        <div class="col-4"><span class="commonFontSize semiBoldFont">Username</span></div>
                        <div class="col-4"><span>SAjju</span></div>
                        <div class="col-4 text-right"><a class="border-0" data-toggle="collapse" href="#username" role="button" aria-expanded="false" aria-controls="username">Edit</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="username">
                                <div class="card card-body mb-3">
                                    <div class="widthFull mr-4">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> User Name </label>
                                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                            <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom mb-3"> 
                    <div class="row mb-3">
                        <div class="col-4"><span class="commonFontSize semiBoldFont">Email ID</span></div>
                        <div class="col-4"><span>ajju@gmail.com</span></div>
                        <div class="col-4 text-right"><a class="border-0" data-toggle="collapse" href="#emailId" role="button" aria-expanded="false" aria-controls="emailId">Edit</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="emailId">
                                <div class="card card-body mb-3">
                                    <div class="widthFull mr-4">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Email ID </label>
                                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                            <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="email" placeholder="Email ID">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom mb-3"> 
                    <div class="row mb-3">
                        <div class="col-4"><span class="commonFontSize semiBoldFont">Mobile Number</span></div>
                        <div class="col-4"><span>8394847464</span></div>
                        <div class="col-4 text-right"><a class="border-0" data-toggle="collapse" href="#phoneNumber" role="button" aria-expanded="false" aria-controls="phoneNumber">Edit</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="phoneNumber">
                                <div class="card card-body mb-3">
                                    <div class="widthFull mr-4">
                                        <label for="" class="mediumFont commonFontSize letterspacing"> Mobile Number </label>
                                        <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                            <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="tel" placeholder="Mobile Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom mb-3"> 
                    <div class="row mb-3">
                        <div class="col-4"><span class="commonFontSize semiBoldFont">Full Address</span></div>
                        <div class="col-4"><span>asdf, lkjh, qwert</span></div>
                        <div class="col-4 text-right"><a class="border-0" data-toggle="collapse" href="#fullAddress" role="button" aria-expanded="false" aria-controls="fullAddress">Edit</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="fullAddress">
                                <div class="card card-body mb-3">
                                    <div class="row">
                                        <div class="col-12 col-md-4 MobileCol6MB">
                                            <div class="widthFull mr-4">
                                                <label for="" class="mediumFont commonFontSize letterspacing"> Address 1 </label>
                                                <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                                    <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="Address 1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 MobileCol6MB">
                                            <div class="widthFull mr-4">
                                                <label for="" class="mediumFont commonFontSize letterspacing"> Address 2 </label>
                                                <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                                    <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="Address 2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="widthFull mr-4">
                                                <label for="" class="mediumFont commonFontSize letterspacing"> Address 3 </label>
                                                <div class="form-control-inputDiv rounded p-0  border-top shadow-none">
                                                    <input class="form-control-input form-control commonFontSize regularFont letterspacing" type="text" placeholder="Address 3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 ml-3">
                                            <button type="submit" class="py-2 px-3 border-0 rounded bg-purple regularFont color-white textSpace mt-3">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
