<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="Invoice-div bg-white border border-gray mt-3 px-3 pt-3 pb-4">
        <h2 class="commonFontSize semiBoldFont mb-0">Authorisations</h2>
        <div class="row mt-2">
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple">
                    Request Authorisations
                </button>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <button type="button" class="px-3 commonFontSize mediumFont py-4 border-0 subAdminPurpleBtn bg-purple">
                    Request History
                </button>
            </div>
        </div>
    </div>

    <div class="Invoice-div bg-white border border-gray mt-3 px-3 pt-3 pb-5">
        <h2 class="commonFontSize semiBoldFont mb-0">My Authorisations</h2>
        
        <div class="row mt-3">
            <div class="col-12">
                <div class="tableDiv ">
                    <div class="mat-elevation-z1 table-responsive">

                        <table class="table-bordered w-100 onboarding-table-existingEI">
                            <thead>
                                <tr class="bg-Gainsboro">
                                    <th>S.No</th>
                                    <th>Modules</th>
                                    <th>
                                        Sub Module
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </th>
                                    <th>Class</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>1</td>
                                    <td>View EI profile and timeline</td>
                                    <td>NA</td>
                                    <td>B.Com 1A, B.Com 2A</td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>2</td>
                                    <td>View EI profile and timeline</td>
                                    <td>NA</td>
                                    <td>B.Com 1A, B.Com 2A</td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="4">3</td>
                                    <td rowspan="4">Alumni Management</td>
                                    <td>
                                        Un-Select All 
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>View Alumni Details
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr class="">
                                    <td>Verify Alumni
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr class="">
                                    <td>Approve Posts from alumni
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                 <tr class="">
                                    <td rowspan="6">4</td>
                                    <td rowspan="6">Student Management</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>View Student Data
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Verify Student
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Add Students
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Edit Student Details
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Approve Posts by students
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                               <tr class="">
                                    <td>5</td>
                                    <td>Reminder</td>
                                    <td>NA</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="5">6</td>
                                    <td rowspan="5">Student Management</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Play
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Upload
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>By
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Approve Zatchup Starclass Request
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="4">7</td>
                                    <td rowspan="4">Messages</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Message to Students
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Message Other teachers and sub-admin 
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Send Message as EI
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="3">8</td>
                                    <td rowspan="3">Donations</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Add Projects
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Comment on Projects as EI
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="3">9</td>
                                    <td rowspan="3">Lecture Requests</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Add/Withdraw Requests
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Accept/Reject Candidature
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td rowspan="3">10</td>
                                    <td rowspan="3">E-Certificates and e-results cards</td>
                                    <td>Un-Select All
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>Create View and Send E-Certificates and e-results
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>View, Export and Download E-Certificates
                                        <span class="mb-0 p-0 float-right">
                                            <mat-checkbox class="example-margin"> </mat-checkbox>
                                        </span>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>11</td>
                                    <td>Edit Course Details</td>
                                    <td>NA</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr class="">
                                    <td>12</td>
                                    <td>Report/Block Users</td>
                                    <td>NA</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>  