.dpImgDiv {
    width: 12%;
}

.dropdownDiv {
    width: 15%;
    padding: 0;
}

.custom-select {
    background-size: 12%;
    background-position: 94%;
}

.xs-font-size {
    font-size: 0.7rem;
}

.camera-icon {
    width: 35%;
}

.custom-div {
    min-width: 6vw;
    min-height: 12vh;
    max-width: 6vw;
    max-height: 12vh;
}

.card-img-overlay {
    right: 5%;
    top: 5%;
}

.card-img-overlay img {
    width: 30%;
}

.common-btn {
    width: 20%;
}

.users-icon {
    width: 6%;
}

@media only screen and (max-width: 414px) {
    .dropdownDiv {
        width: 45%;
    }
    .custom-div {
        min-width: 20vw;
        min-height: 10vh;
        max-width: 20vw;
        max-height: 10vh;
    }
    .common-btn {
        width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .custom-div {
        min-width: 15vw;
        min-height: 10vh;
        max-width: 15vw;
        max-height: 10vh;
    }
    .camera-icon {
        width: 86%;
    }
    .xs-font-size {
        font-size: 1.3rem;
    }
    .dropdownDiv {
        width: 20%;
    }
}