<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv">
            <div class="col-md-12 d-flex justify-content-start flex-wrap align-items-center">
                <span class="mr-3 cursorStyle">
                    <img src="assets/images/userWebsite/back-icon.png" (click)="goBack()" class="backimg">
                </span>
                <h2 class="commonFontSize semiBoldFont m-0">Students List</h2>
            </div>

        </div>

        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">

            <div class="d-flex flex-wrap align-items-end">
                <div class="widthFull mr-4 mt-3 courseDiv ">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Course</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                                                <select (change)="displayStandardList(model.course)" id="course_id"  [(ngModel)]="model.course" name="course" required class="custom-select  form-control-input" required>
                        <option value=""> Select Course</option>
                        <option value="{{course.id}}" *ngFor="let course of courseList">{{course.course_name}}</option>
                        
                    </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Standard</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select (change)="displayClassList(model.standard)" id="standard_id"  [(ngModel)]="model.standard" name="standard" required class="custom-select  form-control-input" required>
                        <option value=""> Select Standard</option>
                        <option value="{{standard.id}}" *ngFor="let standard of standardList">{{standard.standard_name}}</option>
                        
                    </select>
                    </div>
                </div>
                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Subsection</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select id="class_id"  [(ngModel)]="model.teaching_class" name="class" required class="custom-select  form-control-input" required>
                        <option value=""> Select Class</option>
                        <option value="{{class.id}}" *ngFor="let class of classList">{{class.class_name}}</option>
                         
                    </select>
                    </div>
                </div>

                <div class="widthFull mr-4 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">Gender</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top widthFull">
                        <select [(ngModel)]="model.gender" class="custom-select  form-control-input" required>
                            <option value=""> Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>

                        </select>
                    </div>
                </div>

                <!-- <div class=" mr-4 mt-3 dropdown-lg-Div widthFull">
                    <label for="" class="mediumFont commonFontSize letterspacing">Change Request</label>
                    <div class="form-control-inputDiv shadow-none rounded-0 p-0  border-top">
                        <select class="custom-select  form-control-input" required>
                        <option value=""> Select Gender</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    </div>
                </div> -->
                <button type="button" class="bg-purple text-white px-5 py-2 h-100  border-0 mt-3">Apply</button>


            </div>
        </div>
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mr-2 mb-0">
                    Student Count Per Page</label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select (change)="getStudentList('', '')" [(ngModel)]="model.page_size" name="page_size" class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="">select One</option>                           
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1" (click)="getExportData()"><i class="fa fa-file-excel-o fa-lg mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>

        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource | paginate: config">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchUpID">
                        <mat-header-cell *matHeaderCellDef>zatchUpID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.zatchUpID}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="userID">
                        <mat-header-cell *matHeaderCellDef> Admission Number / User Id </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.userID}}
                        </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.class}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Field_of_change">
                        <mat-header-cell *matHeaderCellDef>Field of Change</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.Field_of_change}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="existing_data">
                        <mat-header-cell *matHeaderCellDef> Existing Field Data </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.existing_data}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="new_data">
                        <mat-header-cell *matHeaderCellDef> New Field Data </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.new_data}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            <i *ngIf="element.kyc_approved==1 && element.approved==1" class="fa fa-check text-green color-green fa-lg mr-3 cursorStyle" title="Approve"></i>
                            <i (click)="goToEiStudentProfilePage(element.studentID)" class="fa fa-eye fa-lg mr-3 color-lightBlue cursorStyle" title="View" aria-hidden="true"></i>
                            <i class="fa fa-ban fa-lg color-red cursorStyle" aria-hidden="true" title="Reject"
                            data-toggle="modal" (click)="openRejectModel(element.studentID)" data-target="#rejectModel"></i>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>
            </div>
            <div class="row" *ngIf="studentList.length==0">
                <div class="col-12 pt-2 pb-2">
                    <p class="text-center dataNotFound pt-4 pb-4">No records found.</p>
                </div>
            </div>
            <pagination-controls *ngIf="studentList.length>0"  (pageChange)="getStudentList($event,'')" class="eiPaginationTag"></pagination-controls>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
              <p style="color: white">Please Wait. </p>
          </ngx-spinner>
        </div>
    </div>
       <!-- rejectModel  -->
       <div class="modal fade" id="rejectModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
       <div class="modal-dialog " role="document">
           <div class="modal-content unverified container-fluid">
               <div class="modal-header align-items-center justify-content-center pb-0 ">
                   <h2 class=" text-center modal-title commonFontSize mediumFont mb-1">Reject</h2>
                   <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                       data-dismiss="modal" aria-label="Close ">
                       <span aria-hidden="true "> &times; </span>
                   </button>
               </div>
               

               <div class="modal-body px-0">
                   <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                   <form id="rejectReason">
                   <div class=" form-group row ">
                    <div class="col-md-12 ">
               <label for="" class=" mediumFont commonFontSize letterspacing">Reason type</label>
               <div class="form-control-inputDiv rounded p-0 shadow-none">
                   <input id="remark" (keyup)="isValid($event)" [(ngModel)]="modelReason.remark" name="remark" required class="form-control-input form-control  commonFontSize regularFont letterspacing" type="text" placeholder="Enter Reason">
               </div>
               <div class="required errorMsg" [innerHtml]="errorDisplay.remark"></div>
           </div>
                       <!-- <div class="col-md-12 "> -->
                           <!-- <label for="Remarks " class=" commonFontSize semiBoldFonttterspacing ">Reason</label> -->
                           <!-- <div class="form-control-inputDiv rounded p-1 shadow-none "> -->
                               <!-- <input [(ngModel)]="modelReason.remark" name="Remark" required /> -->
                               <!-- <select class="custom-select  form-control-input"> -->
                                   <!-- <option value=""> Select Reason</option> -->
                                   <!-- <option value="1">2000</option> -->
                                   <!-- <option value="2">2001</option> -->
                                   <!-- <option value="3">2002</option> -->
                               <!-- </select> -->
                           <!-- </div> -->
                       <!-- </div> -->
                   </div>
                   <div class=" form-group row ">
                       <div class="col-md-12 ">
                           <label for="Remarks "
                               class=" commonFontSize semiBoldFonttterspacing ">Remarks</label>

                           <div class="form-control-inputDiv rounded p-1 shadow-none "><textarea [(ngModel)]="modelReason.rejected_reason" name="description" required
                                   class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                   rows="3 " placeholder="Enter Description "></textarea>
                           </div>
                       </div>
                       <div class="required errorMsg" [innerHtml]="errorDisplay.description"></div>
                   </div>
                   <button (click)="rejectStudent()" type="button "
                       class="bg-purple border-0 text-white text-center px-5 py-2 commonFontSize mediumFont letterspacing ">
                       Submit
                   </button>
                    </form>
               </div>
           </div>
       </div>

   </div>

   <!-- verifiedModel  -->
   <div class="modal fade" id="verifiedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
       <div class="modal-dialog " role="document">
           <div class="modal-content unverified container-fluid">
               <div class="modal-header align-items-center border-0 pb-0 pl-0">
                   <h2 class=" text-center modal-title commonFontSize mediumFont mb-1 ">Verified</h2>
                   <button type="button " class="close rounded-circle border bg-white model-close-btn p-0"
                       data-dismiss="modal" aria-label="Close ">
                       <span aria-hidden="true ">
                           &times;
                           <!-- <i class="fa fa-times text-dark" aria-hidden="true"></i> -->
                       </span>
                   </button>
               </div>
               <div class="modal-body px-0 py-0">
                   <!-- <h2 class="text-center pb-2 border-bottom commonFontSize mediumFont ">Unverified</h2> -->
                   <p class="commonFontSize regularFont letterspacing">Are you sure you want to Verified this
                       member?
                   </p>
                   <p class="commonFontSize regularFont letterspacing text-right">
                       <!-- <span class="mx-3 color-blue">No</span>
                       <span class="mx-2 color-blue">Yes</span> -->
                       <button type="button " (click)="closeModel()"
                           class="bg-Gainsboro px-3 py-2 border-0 mr-3 modalAddStudentsBtn mediumFont letterspacing">No</button>
                       <button type="button"
                           class="bg-Gainsboro py-2 px-3 border-0  modalAddStudentsBtn mediumFont">Yes</button>

                   </p>
               </div>
           </div>
       </div>
   </div>
</div>