<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="UnverifiedAlumni-div bg-white border border-gray mt-3 px-3 py-3">
        <div class="row topDiv mb-1">
            <div class="col-md-5 ">
                <h2 class="commonFontSize semiBoldFont m-0"> Commission List </h2>
            </div>
            <!-- <div class="col-md-7 SearchDiv d-flex flex-row">               
                <div class="form-control-inputDiv rounded p-0 shadow-none ml-2">
                    <input class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing" type="text" placeholder="Search...">
                </div>
                <button type="button" class="bg-dark text-white px-4  h-100 ml-2 border-0 ">Apply</button>
            </div> -->
        </div>
        <!--Start html for filter for alumni list-->
        <div class="filterDiv bg-light-gray px-3 pt-3 pb-4 mt-3">
            <h2 class="commonFontSize semiBoldFont letterspacing mb-0">Filter</h2>
            <div class="d-flex flex-wrap align-items-end"> 
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">State</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select State</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="mr-3 mt-3 widthFull medium-filter-box">
                    <label for="" class="mediumFont commonFontSize letterspacing">City</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none d-flex align-items-center">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select City</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing"> Board/University </label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="currentEI" required>
                            <option value=""> Select Board/University</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="3">D</option>
                            <option value="3">E</option>
                            <option value="3">Unspecified</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">Old Commission</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Commission</option>
                            <option value="1">Profession1</option>
                            <option value="2">Profession2</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">New Commission</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="pastEI" required>
                            <option value=""> Select Commission</option>
                            <option value="1">Profession1</option>
                            <option value="2">Profession2</option>
                            <option value="3">Three</option>

                        </select>
                    </div>
                </div>
                <div class="widthFull mr-3 mt-3">
                    <label for="" class="mediumFont commonFontSize letterspacing">% Commission Change</label>
                    <div class="form-control-inputDiv rounded-0 p-0  border-top widthFull">
                        <select class="custom-select  form-control-input" id="ageGroup" required>
                            <option value=""> Select Commission</option>
                            <option value="1">Profession1</option>
                            <option value="2">Profession2</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <button type="button" class="bg-purple text-white px-5 py-2 h-100 mt-4 border-0 ">Apply</button>

            </div>
        </div>
        <!--End html for filter for alumni list-->
        <!--Start html for filter for No of alumni per page with export button-->
        <div class="row my-3">
            <div class="col-xl-10 col-lg-9 col-md-9 col-8 d-flex flex-row align-items-center ">

                <label for="" class="mediumFont commonFontSize letterspacing mobile-w-35  mr-2 mb-0">Number of Commission Per Page </label>
                <div class="form-control-inputDiv rounded-0 p-0 shadow-none">
                    <select class="custom-select numberDropdown mediumFont text-dark form-control-input pl-2 pr-4 py-0">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-right">
                <button type='button' class="bg-purple text-white border-0 px-3 py-1"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
            </div>
        </div>
        <!--End html for "select no of fees info per page" and Export Button-->
        <!--Start html for fees information table-->
        <div class="tableDiv ">
            <div class="mat-elevation-z1 table-responsive">
                <mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="chekbox">
                        <mat-header-cell *matHeaderCellDef> <input type="checkbox"> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.chekbox}} <input type="checkbox"> </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zatchUpID">
                        <mat-header-cell *matHeaderCellDef> ZatchUp ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.zatchUpID}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="schoolName">
                        <mat-header-cell *matHeaderCellDef> EI Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.schoolName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.state}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.city}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="board">
                        <mat-header-cell *matHeaderCellDef>Board/University </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.board}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="studentZatchup">
                        <mat-header-cell *matHeaderCellDef> Existing Commission </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.studentZatchup}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalAlumnizatchup">
                        <mat-header-cell *matHeaderCellDef> New Commission </mat-header-cell>
                        <mat-cell *matCellDef="let element ">
                            {{element.totalAlumnizatchup}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="commission">
                        <mat-header-cell *matHeaderCellDef> % Change </mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.commission}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

                </mat-table>

            </div>
        </div>
        <button type="button" class="bg-paret-green text-white px-5 py-2 h-100 mt-4 border-0 ">Submit</button>
        <!--End html for fees information table-->
    </div>
</div>