<app-user-header></app-user-header>

<div class="container-fluid contentSpaceTop">
    <div class="row pl-5 pr-5">
        <div class="col-md-8">
            <img class="img-fluid left-Image mt-5" src="assets/images/userWebsite/signup_leftimages.png">
        </div>
        <div class="col-md-4 pl-0">
            <div class="row">
                <div class="col-9">
                    <h2 class="mb-4">Add Course </h2>
                </div>
                 
            </div>

            <form>
                <div class="form-group row justify-content-center" *ngIf="checkincourse">
                    <div class="col-12 text-center ">
                        <div class="round-camera-div mx-auto">
                            <img (click)="fileInput.click()"  class="img-fluid p-2 img_profile" src="{{imageUrl?imageUrl:'assets/images/userWebsite/profile-image.png'}}">
                            <input #fileInput type="file" style="display:none" (change)="fileUploadDocument($event.target.files)"/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="" class="mediumFont commonFontSize letterspacing">Course Type</label>
                        <div class="form-control-inputDiv">                            
                            <input required name="course" [(ngModel)]="model.course_name" class="form-control-input form-control form-control-sm"
                                type="text" placeholder="Enter course">
                        </div>
                    </div>
                    <div class="required errorMsg" [innerHtml]="errorDisplay.course"></div>
                </div>


                <div class="form-group row customWidth">
                    <div class="col-sm-6">
                        <label for="" class="mediumFont commonFontSize letterspacing">Course Up from</label>
                        <div class="form-control-inputDiv">
                            <input autocomplete="off" required [maxDate]="model.end_date" [(ngModel)]="model.start_date" name="start_date" class="form-control-input form-control form-control-sm"
                            type="text" bsDatepicker placeholder="DD-MM-YYYY" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.start_date"></div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="mediumFont commonFontSize letterspacing">Course Up to</label>
                        <div class="form-control-inputDiv">
                            <input autocomplete="off" required [(ngModel)]="model.end_date" [minDate]="model.start_date" name="end_date" class="form-control-input form-control form-control-sm"
                            type="text" bsDatepicker placeholder="DD-MM-YYYY" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                            <div class="required errorMsg"  [innerHtml]="errorDisplay.end_date"></div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group row">
                    <div class="col-sm-12"> 
                        <label for="" class="mediumFont commonFontSize letterspacing">Description</label>                       
                        <div class="form-control-inputDiv">
                            <textarea [(ngModel)]="model.description" id="description" name="description" required
                                class="form-control-input form-control form-control-sm commonFontSize regularFont letterspacing "
                                rows="3 " placeholder="Enter Description "></textarea>
                        </div>
                        <div class="required errorMsg" [innerHtml]="errorDisplay.description"></div>
                    </div>                    
                </div>


                <button type="submit" class="btn common-btn regularFont"
                    (click)="addCourseData()">Add</button>

            </form>
        </div>
    </div>

</div>


<!-- <app-user-footer></app-user-footer> -->