<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">

    <div class="coursePreview-div-white bg-white border border-gray px-3 py-3 mt-3">
        <div class="row topDiv">
            <div class="col-6 ">
                <h2 class="commonFontSize semiBoldFont m-0">Contact Us Messages From EI</h2>
            </div>
        </div>
        <div class="mt-2 border-0 mx-0">
            <h2 class="commonFontSize semiBoldFont m-0">Total Messages</h2>
            <div class="row w-50 mt-2">
                <div class="col-12 border ml-3 pt-2">
                    <p>Resolved Messages</p>

                    <p>Unresolved Messages</p>
                </div>                  
            </div>
        </div>
    </div>
</div>