<app-admin-sidenav></app-admin-sidenav>
<div class="container main-container p-3">
    <div class="KYC-management-div bg-white px-3 pt-2 pb-3">
        <div class="row topDiv mb-1">
            <div class="col-md-5 ">
                <h2 class="commonFontSize semiBoldFont m-0">KYC Approval Management</h2>
            </div>
            <div class="col-md-7 SearchDiv d-flex flex-row">
                <button type="button" class="bg-paret-green color-white px-3 commonFontSize mediumFont py-2 border-0"
                    routerLink="/admin//kyc-configure">Configure Number Of
                    Time User Can Resend KYC</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 MobileCol6MB" style="cursor: pointer;">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize" (click)="kycPendingReqRoute_1('list')">KYC Pending Requests
                    </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycApprovalData"
                        (click)="kycPendingReqRoute_1('list')">
                        {{kycApprovalData.kyc_pending_requests_I.no_of_requests_fresh_signup + kycApprovalData.kyc_pending_requests_I.no_of_requests_kyc_retrigger}}
                    </h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0" (click)="kycPendingReqRoute_1('fresh-singup')">Requests For Fresh Signups:<span
                                class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_I.no_of_requests_fresh_signup}}</span>
                        </p>
                        <p class="mb-0 " (click)="kycPendingReqRoute_1('retriggered')">Requests Because KYC Was
                            Retrigger:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_I.no_of_requests_kyc_retrigger}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB" style="cursor: pointer;">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 mediumFont commonFontSize" (click)="kycPendingReqRoute_2('list')">KYC Pending Requests
                    </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycApprovalData"
                        (click)="kycPendingReqRoute_2('list')">
                        {{kycApprovalData.kyc_pending_requests_II.first_time_submission_count + kycApprovalData.kyc_pending_requests_II.resubmission_count}}
                    </h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0 " (click)="kycPendingReqRoute_2('first-time')">First Time Submission: <span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_II.first_time_submission_count}}</span>
                        </p>
                        <p class="mb-0 " (click)="kycPendingReqRoute_2('re-submission')">Re-submission: <span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_II.resubmission_count}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none" style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize" (click)="kycPendingReqRoute_3('list')">KYC Pending Requests
                    </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycApprovalData"
                        (click)="kycPendingReqRoute_3('list')">
                        {{kycApprovalData.kyc_pending_requests_III.students_alumni_count + kycApprovalData.kyc_pending_requests_III.subadmin_count}}
                    </h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0 "><span (click)="kycPendingReqRoute_3('STUDENTS')">Student</span>/<span
                                (click)="kycPendingReqRoute_3('ALUMNI')">Alumni</span>: <span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_III.students_alumni_count}}</span>
                        </p>
                        <p class="mb-0 " (click)="kycPendingReqRoute_3('EISUBADMIN')">Sub-Admin: <span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_III.subadmin_count}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 MobileCol6MB" style="cursor: pointer;">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize" (click)="kycPendingReqRoute_4('list')">KYC Pending Requests
                    </p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycApprovalData"
                        (click)="kycPendingReqRoute_4('list')">
                        {{kycApprovalData.kyc_pending_requests_IV.aadhar + kycApprovalData.kyc_pending_requests_IV.drivinglicense + kycApprovalData.kyc_pending_requests_IV.passport}}
                    </h2>
                    <div
                        class="p-2  mediumFont commonFontSize Btn-lg-last3Content d-flex flex-column bg-light-secondary">
                        <p class="mb-0" (click)="kycPendingReqRoute_4('Aadhar')">Aadhar:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_IV.aadhar}}</span></p>
                        <p class="mb-0" (click)="kycPendingReqRoute_4('Driving License')">Driving License:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_IV.drivinglicense}}</span>
                        </p>
                        <p class="mb-0" (click)="kycPendingReqRoute_4('Passport')">Passport:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_pending_requests_IV.passport}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="completeKycRequests-div bg-white px-3 py-2 mt-3">
        <h2 class="commonFontSize semiBoldFont">Completed KYC Requests</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none" style="cursor: pointer;"
                    (click)="completedKyc()">
                    <p class="p-2 mediumFont commonFontSize">KYC Requests Completed</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycApprovalData">
                        {{kycApprovalData.kyc_request_completed.approved + kycApprovalData.kyc_request_completed.rejected}}
                    </h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary" >
                        <p class="mb-0" (click)="goToKycApproved()">Approved:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_request_completed.approved}}</span></p>
                        <p class="mb-0 " (click)="goToKycRejected()">Rejected:<span class="ml-2"
                                *ngIf="kycApprovalData">{{kycApprovalData.kyc_request_completed.rejected}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="KYC-signUp-div bg-white px-3 py-2 mt-3">
        <form (ngSubmit)="dateFilterForm.form.valid && getFilteredKYCApproveData()" #dateFilterForm="ngForm"
            autocapitalize="off" autocomplete="off">
            <div class="row">
                <div class="col-12 d-flex flex-wrap align-items-end">
                    <div class="MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Sign Up Date From</label>
                        <input type="text" id="fromDate" name="singupFromDate" placeholder="MM/DD/YYYY"
                            class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                            [(ngModel)]="kycApprovalFromDate" #singupFromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
                            [ngClass]="{ 'is-invalid': dateFilterForm.submitted && singupFromDate.invalid }" required>
                        <div *ngIf="dateFilterForm.submitted && singupFromDate.invalid" class="invalid-feedback">
                            <div *ngIf="singupFromDate.errors.required">Required.</div>
                        </div>
                    </div>

                    <div class="MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Sign Up Date To</label>
                        <input type="text" placeholder="MM/DD/YYYY" id="signupToDate" name="singupToDate"
                            class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                            [(ngModel)]="kycApprovalToDate" #signupToDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
                            [ngClass]="{ 'is-invalid': dateFilterForm.submitted && signupToDate.invalid }" required>
                        <div *ngIf="dateFilterForm.submitted && singupFromDate.invalid" class="invalid-feedback">
                            <div *ngIf="signupToDate.errors.required">Required.</div>
                        </div>
                    </div>

                    <div class="border-0 p-0 shadow-none ">
                        <button type="submit"
                            class="bg-purple border-0 col-flex school-Dashboard-btn text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center align-self-center">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row pt-4">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none">
                    <p class="p-2 mediumFont commonFontSize">Number Of KYC Requests Raised</p>
                    <h2 class="countFontSize text-center semiBoldFont">{{kycRequestsRaised}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last d-flex align-items-start bg-light-secondary">
                        Number Of KYC Requests Raised:<span class="ml-2"> {{kycRequestsRaised}}</span>
                    </p>
                </div>
            </div>

            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none " (click)="completedKyc()"
                    style="cursor: pointer;">
                    <p class="p-2 mediumFont commonFontSize">KYC Requests Completed</p>
                    <h2 class="countFontSize text-center semiBoldFont" *ngIf="kycRequestsCompleted">
                        {{kycRequestsCompleted}}</h2>
                    <div class="p-2  mediumFont commonFontSize Btn-lg-last d-flex flex-column bg-light-secondary">
                        <p class="mb-0" (click)="goToKycApproved()">KYC Requests Approved:<span class="ml-2"
                                *ngIf="kycRequestApproved">{{kycRequestApproved}}</span></p>
                        <p class="mb-0 " (click)="goToKycRejected()">KYC Requests Rejected:<span class="ml-2"
                                *ngIf="kycRequestApproved">{{kycRequestRejected}}</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="KYC-retrigged-div bg-white px-3 py-2 mt-3">
        <h2 class="commonFontSize semiBoldFont">KYC Retriggered Summary</h2>
        <form (ngSubmit)="retriggerFilterForm.form.valid && getFilteredKycRetriggerData()" #retriggerFilterForm="ngForm"
            novalidate>
            <div class="row">
                <div class="col-12 d-flex flex-wrap align-items-end">
                    <div class="MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Retrigger Date From</label>
                        <input type="text" id="retriggerFromDate" name="retriggerFromDate" placeholder="MM/DD/YYYY"
                            class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                            [(ngModel)]="retriggerKycFromDate" #retriggerFromDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
                            [ngClass]="{ 'is-invalid': retriggerFilterForm.submitted && retriggerFromDate.invalid }"
                            required>
                        <div *ngIf="retriggerFilterForm.submitted && retriggerFromDate.invalid"
                            class="invalid-feedback">
                            <div *ngIf="retriggerFromDate.errors.required">Required.</div>
                        </div>
                    </div>

                    <div class="MobileCol6MB mr-2">
                        <label for="" class=" commonFontSize mediumFont letterspacing">Retrigger Date To</label>
                        <input type="text" placeholder="MM/DD/YYYY" id="retriggerToDate" name="retriggerToDate"
                            class="form-control formfocusStyle" bsDatepicker [maxDate]="maxDate"
                            [(ngModel)]="retriggerKycToDate" #retriggerToDate="ngModel"
                            [bsConfig]="{isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
                            [ngClass]="{ 'is-invalid': retriggerFilterForm.submitted && retriggerToDate.invalid }"
                            required>
                        <div *ngIf="retriggerFilterForm.submitted && retriggerToDate.invalid" class="invalid-feedback">
                            <div *ngIf="retriggerToDate.errors.required">Required.</div>
                        </div>
                    </div>

                    <div class="border-0 p-0 shadow-none ">
                        <button type="submit"
                            class="bg-purple border-0 col-flex school-Dashboard-btn text-white px-5 filter-apply-button commonFontSize mediumFont letterspacing justify-content-center align-items-center align-self-center">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row pt-4">
            <div class="col-md-4 MobileCol6MB">
                <div class="form-control-inputDiv  h-100 col-flex rounded-0 p-0 shadow-none ">
                    <p class="p-2 mediumFont commonFontSize">KYC Retriggered </p>
                    <h2 class="countFontSize text-center semiBoldFont">{{kycRetriggered}}</h2>
                    <p
                        class="mb-0 p-2  mediumFont commonFontSize Btn-lg-last d-flex align-items-start bg-light-secondary">
                        Number Of KYC Retriggered:<span class="ml-2">{{kycRetriggered}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>