<app-ei-sidenav></app-ei-sidenav>
<div class="container main-container p-3">

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">My POC Details</h2>
            </div>
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Name <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{poc_details?.first_name}} {{poc_details?.last_name}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{poc_details?.phone}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Email ID <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{poc_details?.email}}</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">Escalation Details</h2>
            </div>
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Name <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.name}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.number}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Email ID <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont border-bottom">
                        <p class="pt-2"> <span> {{zatchup_details?.email_id}} </span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">ZatchUp Details</h2>
            </div>
            <div class="col-md-12">
                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">Registered Office Address <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont">
                        <p class="pt-2"> <span> {{zatchup_details?.registered_office_address}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">GST Details <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont">
                        <p class="pt-2"> <span> {{zatchup_details?.gst_details}} </span></p>
                    </div>
                </div>

                <div class="row ml-0">
                    <div class="col-xl-3 col-lg-4 col-md-3 col-5 commonFontSize mediumFont border-bottom bg-light">
                        <p class="pt-2 d-flex justify-content-between">PAN Number <span>:</span></p>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5 col-7 commonFontSize regularFont">
                        <p class="pt-2"> <span> {{zatchup_details?.pan_number}} </span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="subAdmintable-div bg-white px-3 pt-2 pb-3 mt-3 border">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="commonFontSize semiBoldFont m-0 pt-2 pb-2">Partner Support</h2>
            </div>
            <div class="col-md-5 col-12">
                <form id="contact_poc" #pocDetailsForm="ngForm">
                    <div class="row bg-light pt-3 ml-0">
                        <div class="col-md-12">
                            <label for="" class="mediumFont commonFontSize letterspacing">Issue</label>
                            <div class="form-control-inputDiv rounded-0 p-0  border-top shadow-none">
                                <select class="custom-select form-control-input" id="Issue" name="issue"
                                    [(ngModel)]="modal.issue" (change)="isValid($event)" required>
                                    <option value=""> Select Issue</option>
                                    <option value="1">Select One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="required errorMsg" [innerHtml]="errorDisplay.issue">
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label for="" class="mediumFont commonFontSize letterspacing"> Message </label>
                                <div class="form-control-inputDiv rounded-0 p-0 w-100 border-top shadow-none">
                                    <textarea name="message" (keyup)="isValid($event)" [(ngModel)]="modal.message" required
                                        class="form-control-input form-control  commonFontSize regularFont letterspacing"
                                        type="text" cols="4" rows="5" placeholder="Enter Message"></textarea>
                                </div>
                                <div class="required errorMsg" [innerHtml]="errorDisplay.message">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row ml-0 mr-0 d-flex justify-content-center">
                                <button type="button"
                                    class="bg-paret-green border-0 text-white text-center px-4 py-2 commonFontSize mediumFont letterspacing"
                                    (click)="sendMessage(); pocDetailsForm.reset()"> Sent </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>